<template>

<div class="homeFoot">
      <div class="footCenter">
        <div class="incenter">
          <div class="footleft">
            <div class="footui">
              <span>关于火狐啊</span>
              <ul>
                <li>关于我们</li>
              </ul>
            </div>
            <!-- <div class="footui">
              <span>友情链接</span>
              <ul>
                <li>关于我们</li>

              </ul>
            </div>-->
            <div class="footui1">
              <span>联系我们</span>
              <ul>
                <li>邮箱:HHplan@163.com</li>
                <li>地址:深圳市福田区福田街道岗厦社区福华三路88号财富大厦49FH5</li>
              </ul>
            </div>
          </div>
          <div class="footright">
            <div class="footcode code1">
              <div></div>
              <span>官方公众号</span>
            </div>
            <div class="footcode code2">
              <div></div>
              <span>官方微博</span>
            </div>
          </div>
        </div>
      </div>
      <div class="footButtom">
        <div>
          <span>深圳市圳鹏思信息技术有限公司</span>
          <!-- <span>备案号：XXXXXXXXXXXXX</span> -->
        </div>
      </div>
    </div>
</template>

<script>
  export default {
    name: 'Footer',
    data() {
      return {
        title: 'footer'
      }
    }
  }
</script>

<style lang="less" scoped>
  .homeFoot {
  width: 100%;
  height: 253px;
  background-color: #2d2f39;
  .footCenter {
    width: 100%;
    height: 150px;
    padding-top: 47px;
    .incenter {
      height: 190px;
      width: 75%;
      margin: 0 auto;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .footleft {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        .footui {
          width: 25%;
          color: #ffffff;
          float: left;
          span {
            font-size: 18px;
            display: block;
            margin-bottom: 25px;
          }
          ul {
            width: 300px;
            font-size: 14px;
            li {
              display: inline-block;
              margin-bottom: 10px;
              cursor: pointer;
              font-weight: 600;
              width: 40%;
            }
          }
        }
        .footui1 {
          width: 30%;
          color: #ffffff;
          float: left;
          span {
            font-size: 18px;
            display: block;
            margin-bottom: 25px;
          }
          ul {
            width: 300px;
            height: 150px;
            font-size: 14px;
            li {
              display: block;
              margin-bottom: 5px;
              cursor: pointer;
              font-weight: 600;
              font-size: 12px;
            }
          }
        }
      }
      .footright {
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:-30px;
        .code1 div {
          background-image: url("./../../assets/weibo.jpg");
          background-size: 100% 100%;
          background-repeat: no-repeat;
          margin-bottom: 10px;
        }
        .code2 div {
          background-image: url("./../../assets/weixin.png");
          background-size: 100% 100%;
          background-repeat: no-repeat;
           margin-bottom: 10px;
        }
        .footcode {
          width: 30%;
          float: left;
          display: flex;
          align-items: center;
          flex-direction: column;
          div {
            background-color: #ffffff;
            width: 104px;
            height: 104px;
            line-height: 104px;
            text-align: center;
            color: black;
          }
          span {
            font-weight: 600;
          }
        }
      }
    }
  }
  .footButtom {
    width: 100%;
    height: 52px;
    border-top: 2px solid #202128;
    div {
      height: 52px;
      width: 50%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        color: #ffffff;
        font-size: 15px;
      }
    }
  }
}
</style>
