<template>
  <div class="gameDetails">
    <div class="gameData"></div>
    <div class="gameConter">
      <el-row :gutter="20">
        <el-col :span="4">
          <div class="conterLeft">
            <p>
              <i></i>赛事分析
            </p>
            <ul>
              <li>数据分析</li>
              <li>情报分析</li>
              <li>大神推荐</li>
              <li>积分下注</li>
            </ul>
          </div>
        </el-col>
        <el-col :span="20">
          <div class="conterRight">
            <!-- <div class="areaSelect">
              <button class="isActing">欧服</button>
              <button>亚服</button>
            </div>-->
            <div class="gameProgress">
              <h3>双方综合实力</h3>
            </div>

            <div class="gamePower">
              <h3>双方能力分析</h3>
              <el-tabs type="border-card">
                <el-tab-pane label="主队数据">
                  <ul class="aUi">
                    <li>
                      <font></font>
                      <span></span>
                    </li>
                    <li>
                      <font></font>
                      <span></span>
                    </li>
                    <li>
                      <font></font>
                      <span></span>
                    </li>
                    <li>
                      <font></font>
                      <span></span>
                    </li>
                    <li>
                      <font></font>
                      <span></span>
                    </li>
                    <li>
                      <font></font>
                      <span></span>
                    </li>
                    <li>
                      <font></font>
                      <span></span>
                    </li>
                    <li>
                      <font></font>
                      <span></span>
                    </li>
                    <li>
                      <font></font>
                      <span></span>
                    </li>
                    <li>
                      <font></font>
                      <span></span>
                    </li>
                    <li>
                      <font></font>
                      <span></span>
                    </li>
                    <li>
                      <font></font>
                      <span></span>
                    </li>
                    <li>
                      <font></font>
                      <span></span>
                    </li>
                    <li>
                      <font></font>
                      <span></span>
                    </li>
                    <li>
                      <font></font>
                      <span></span>
                    </li>
                    <li>
                      <font></font>
                      <span></span>
                    </li>
                  </ul>
                </el-tab-pane>
                <el-tab-pane label="客队数据">客队数据</el-tab-pane>
              </el-tabs>
            </div>

            <div class="gameOdds">
              <h3>赛前赔率</h3>
              <div class="oddsTittle">
                <p>指数</p>
                <p>初指</p>
                <p>限时</p>
              </div>

              <div class="oddsItems">
                <p>欧指</p>
                <p>
                  <span>2.58</span>
                  <span>3.45</span>
                  <span>2.26</span>
                </p>
                <p>
                  <span>2.58</span>
                  <span>3.45</span>
                  <span>2.26</span>
                </p>
              </div>
              <div class="oddsItems">
                <p>欧指</p>
                <p>
                  <span>2.58</span>
                  <span>3.45</span>
                  <span>2.26</span>
                </p>
                <p>
                  <span>2.58</span>
                  <span>3.45</span>
                  <span>2.26</span>
                </p>
              </div>
              <div class="oddsItems">
                <p>欧指</p>
                <p>
                  <span>2.58</span>
                  <span>3.45</span>
                  <span>2.26</span>
                </p>
                <p>
                  <span>2.58</span>
                  <span>3.45</span>
                  <span>2.26</span>
                </p>
              </div>
              <div class="oddsItems">
                <p>欧指</p>
                <p>
                  <span>2.58</span>
                  <span>3.45</span>
                  <span>2.26</span>
                </p>
                <p>
                  <span>2.58</span>
                  <span>3.45</span>
                  <span>2.26</span>
                </p>
              </div>
            </div>
            <div class="gameTimely">
              <h3>
                及时交锋
                <el-checkbox v-model="checked" class="checkboxs">同主客</el-checkbox>
                <el-checkbox v-model="checked" class="checkboxs">半场</el-checkbox>
              </h3>
              <div class="gameCalculates">
                <div class="calcData">
                  <span>主胜0场</span>
                  <span>平局0场</span>
                  <span>客胜3场</span>
                  <span>对阵战绩：近2场</span>
                  <span>0胜</span>
                  <span>0平</span>
                  <span>2负</span>

                  <span>
                    胜率
                    <font>0%</font>
                  </span>
                  <span>
                    赢盘
                    <font>60%</font>
                  </span>
                  <span>
                    大球率
                    <font>0.0%</font>
                  </span>
                </div>
              </div>

              <div class="calcTittle">
                <p>日期</p>
                <p>赛事</p>
                <p>主队</p>
                <p>比分</p>
                <p>客队</p>
                <p>大小</p>
              </div>
              <div class="calcItems">
                <span>2019-12-21</span>
                <span>墨西哥杯</span>
                <span>火箭队</span>
                <span>1-0</span>
                <span>公牛队</span>
                <span>2.75</span>
              </div>

              <div class="calcItems">
                <span>2019-12-21</span>
                <span>墨西哥杯</span>
                <span>火箭队</span>
                <span>1-0</span>
                <span>公牛队</span>
                <span>2.75</span>
              </div>

              <div class="calcItems">
                <span>2019-12-21</span>
                <span>墨西哥杯</span>
                <span>火箭队</span>
                <span>1-0</span>
                <span>公牛队</span>
                <span>2.75</span>
              </div>

              <div class="calcItems">
                <span>2019-12-21</span>
                <span>墨西哥杯</span>
                <span>火箭队</span>
                <span>1-0</span>
                <span>公牛队</span>
                <span>2.75</span>
              </div>
            </div>
            <div class="gameRecord">
              <h3>
                双方近期战绩
                <el-checkbox v-model="checked" class="checkboxs">同主客</el-checkbox>
                <el-checkbox v-model="checked" class="checkboxs">同赛事</el-checkbox>
                <el-checkbox v-model="checked" class="checkboxs">半场</el-checkbox>

                <button class="ten">近10</button>
                <button class="twenty">近20</button>
              </h3>
              <div class="gameCalculates">
                <div class="calcData">
                  <span>主胜0场</span>
                  <span>平局0场</span>
                  <span>客胜3场</span>
                  <span>对阵战绩：近2场</span>
                  <span>0胜</span>
                  <span>0平</span>
                  <span>2负</span>

                  <span>
                    胜率
                    <font>0%</font>
                  </span>
                  <span>
                    赢盘
                    <font>60%</font>
                  </span>
                  <span>
                    大球率
                    <font>0.0%</font>
                  </span>
                </div>
              </div>

              <div class="calcTittle">
                <p>日期</p>
                <p>赛事</p>
                <p>主队</p>
                <p>比分</p>
                <p>客队</p>
                <p>大小</p>
              </div>
              <div class="calcItems">
                <span>2019-12-21</span>
                <span>墨西哥杯</span>
                <span>火箭队</span>
                <span>1-0</span>
                <span>公牛队</span>
                <span>2.75</span>
              </div>
              <div class="calcItems">
                <span>2019-12-21</span>
                <span>墨西哥杯</span>
                <span>火箭队</span>
                <span>1-0</span>
                <span>公牛队</span>
                <span>2.75</span>
              </div>
              <div class="calcItems">
                <span>2019-12-21</span>
                <span>墨西哥杯</span>
                <span>火箭队</span>
                <span>1-0</span>
                <span>公牛队</span>
                <span>2.75</span>
              </div>
              <div class="calcItems">
                <span>2019-12-21</span>
                <span>墨西哥杯</span>
                <span>火箭队</span>
                <span>1-0</span>
                <span>公牛队</span>
                <span>2.75</span>
              </div>
            </div>
          </div>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
//电竞页面详情
import { getComputerMatchDetail } from "../../api/api";
import Cookies from "js-cookie";
export default {
  name: "gameDetails",
  data() {
    return {
      checked: true,
      dataList: []
    };
  },
  mounted() {},
  components: {},
  methods: {
    getList() {
      getComputerMatchDetail({
        type: this.$route.query.type,
        matchId: this.$route.query.mid
      })
        .then(res => {
          // console.log(res);
          //   this.dataList = res.data.data;
        })
        .catch(err => {
          this.$message.error(err.message);
        });
    }
  },
  created() {
    this.getList();
  }
};
</script>

<style lang="less" scoped>
.gameDetails {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  padding-top: 20px;
  .isActing {
    color: #ffffff !important;
    background: linear-gradient(
      -30deg,
      rgba(255, 135, 55, 1),
      rgba(254, 85, 58, 1)
    );
  }
  .gameData {
    width: 100%;
    height: 88px;
    border-radius: 12px;
    background-color: #ffffff;
    margin-bottom: 20px;
  }
  .gameConter {
    width: 100%;
    .conterLeft {
      width: 100%;
      height: 514px;
      border-radius: 24px;
      background-color: #ffffff;
      p {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 50px;
        height: 120px;

        i {
          display: inline-block;
          width: 20px;
          height: 20px;
          background-image: url("./../../assets/切图/8.png");
          background-repeat: no-repeat;
          margin-right: 8px;
        }
        color: rgba(0, 0, 0, 1);
        font-size: 16px;
      }
      ul {
        width: 100%;
        height: 380px;
        li {
          text-align: center;
          height: 16%;
          line-height: 60px;
          cursor: pointer;
          color: rgba(153, 153, 153, 1);
          font-size: 16px;
        }
      }
    }
    .conterRight {
      width: 100%;
      height: 100%;
      h3 {
        padding-left: 20px;
        color: rgba(51, 51, 51, 1);
        line-height: 56px;
        font-size: 16px;
        height: 56px;
        border-bottom: 1px solid rgba(234, 234, 234, 1);
      }
      .areaSelect {
        width: 100%;
        height: 72px;
        border-radius: 12px;
        background-color: #ffffff;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        button {
          width: 62px;
          height: 32px;
          outline: none;
          border: none;
          cursor: pointer;
          border-radius: 6px;
          color: rgba(153, 153, 153, 1);
          font-size: 12px;
          background-color: rgba(238, 238, 238, 1);
          margin-left: 20px;
        }
      }
      .gameProgress {
        width: 100%;
        height: 318px;
        border-radius: 12px;
        background-color: #ffffff;
        margin-bottom: 20px;
      }

      .gamePower {
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background-color: #ffffff;
        margin-bottom: 20px;
        .aUi {
          width: 100%;
          height: 100%;
          display: grid;
          grid-template-columns: repeat(4, 25%);
          grid-template-rows: 60px;
          li {
            display: inline-block;
            height: 60px;
            text-align: center;
            line-height: 60px;
            border: 1px solid red;
            margin-right: 0;
            margin-bottom: 0;
          }
        }
      }

      .gameOdds {
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background-color: #ffffff;
        margin-bottom: 20px;
        .oddsTittle {
          display: grid;
          grid-template-columns: 40% 20% 40%;
          grid-template-rows: 52px;
          line-height: 52px;
          text-align: center;
          border-bottom: 1px solid rgba(234, 234, 234, 1);
          font-size: 14px;
          color: rgba(153, 153, 153, 1);
          p:nth-child(2) {
            border-left: 1px solid rgba(234, 234, 234, 1);
            border-right: 1px solid rgba(234, 234, 234, 1);
          }
        }
        .oddsItems {
          display: grid;
          grid-template-columns: 40% 20% 40%;
          grid-template-rows: 52px;
          line-height: 52px;
          text-align: center;
          border-bottom: 1px solid rgba(234, 234, 234, 1);
          font-size: 14px;
          color: rgba(153, 153, 153, 1);
          p:nth-child(2) {
            border-left: 1px solid rgba(234, 234, 234, 1);
            border-right: 1px solid rgba(234, 234, 234, 1);
            display: flex;
            justify-content: space-around;
          }
          p:nth-child(3) {
            display: flex;
            justify-content: space-around;
          }
        }
      }
      .gameTimely {
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background-color: #ffffff;
        margin-bottom: 20px;
        .checkboxs {
          margin-left: 50px;
        }
        .gameCalculates {
          height: 56px;
          line-height: 56px;
          border-bottom: 1px solid rgba(234, 234, 234, 1);
          .calcData {
            width: 60%;
            height: 56px;
            margin: 0 auto;
            span {
              font-size: 12px;
            }
            span:nth-child(1) {
              color: rgba(254, 90, 58, 1);
              margin-right: 20px;
            }
            span:nth-child(2) {
              color: #0069ec;
              margin-right: 20px;
            }
            span:nth-child(3) {
              color: #4fb833;
              margin-right: 50px;
            }
            span:nth-child(4) {
              color: #474747;
              margin-right: 10px;
            }
            span:nth-child(5) {
              color: rgba(254, 90, 58, 1);
              margin-right: 5px;
            }
            span:nth-child(6) {
              color: #0069ec;
              margin-right: 5px;
            }
            span:nth-child(7) {
              color: #4fb833;
              margin-right: 10px;
            }
            span:nth-child(8) {
              color: #474747;
              margin-right: 5px;
              font {
                color: rgba(254, 90, 58, 1);
              }
            }
            span:nth-child(9) {
              color: #474747;
              margin-right: 5px;
              font {
                color: rgba(254, 90, 58, 1);
              }
            }
            span:nth-child(10) {
              color: #474747;
              font {
                color: rgba(254, 90, 58, 1);
              }
            }
          }
        }
        .calcTittle {
          display: grid;
          grid-template-columns: 30% 10% 10% 10% 10% 30%;
          grid-template-rows: 52px;
          line-height: 52px;
          text-align: center;
          border-bottom: 1px solid rgba(234, 234, 234, 1);
          font-size: 14px;
          color: rgba(153, 153, 153, 1);
          p:nth-child(1) {
            text-align: right;
            padding-right: 40px;
          }
          p:nth-child(6) {
            text-align: left;
            padding-left: 40px;
          }
        }
        .calcItems {
          display: grid;
          grid-template-columns: 30% 10% 10% 10% 10% 30%;
          grid-template-rows: 52px;
          line-height: 52px;
          text-align: center;
          border-bottom: 1px solid rgba(234, 234, 234, 1);
          font-size: 14px;
          color: rgba(153, 153, 153, 1);
          span:nth-child(1) {
            text-align: right;
            padding-right: 15px;
            border-right: 1px solid rgba(234, 234, 234, 1);
          }
          span:nth-child(2) {
            border-right: 1px solid rgba(234, 234, 234, 1);
          }
          span:nth-child(3) {
            border-right: 1px solid rgba(234, 234, 234, 1);
          }
          span:nth-child(4) {
            border-right: 1px solid rgba(234, 234, 234, 1);
          }
          span:nth-child(5) {
            border-right: 1px solid rgba(234, 234, 234, 1);
          }
          span:nth-child(6) {
            text-align: left;
            padding-left: 40px;
          }
        }
      }
      .gameRecord {
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background-color: #ffffff;
        margin-bottom: 20px;
        .checkboxs {
          margin-left: 30px;
        }
        button {
          outline: none;
          border: none;
          cursor: pointer;
          width: 61px;
          height: 32px;
          border-radius: 6px;
          color: #ffffff;
          font-size: 12px;
          background: linear-gradient(
            -30deg,
            rgba(255, 135, 55, 1),
            rgba(254, 85, 58, 1)
          );
        }
        .ten {
          margin-left: 50px;
          margin-right: 30px;
        }
        .gameCalculates {
          height: 56px;
          line-height: 56px;
          border-bottom: 1px solid rgba(234, 234, 234, 1);
          .calcData {
            width: 60%;
            height: 56px;
            margin: 0 auto;
            span {
              font-size: 12px;
            }
            span:nth-child(1) {
              color: rgba(254, 90, 58, 1);
              margin-right: 20px;
            }
            span:nth-child(2) {
              color: #0069ec;
              margin-right: 20px;
            }
            span:nth-child(3) {
              color: #4fb833;
              margin-right: 50px;
            }
            span:nth-child(4) {
              color: #474747;
              margin-right: 10px;
            }
            span:nth-child(5) {
              color: rgba(254, 90, 58, 1);
              margin-right: 5px;
            }
            span:nth-child(6) {
              color: #0069ec;
              margin-right: 5px;
            }
            span:nth-child(7) {
              color: #4fb833;
              margin-right: 10px;
            }
            span:nth-child(8) {
              color: #474747;
              margin-right: 5px;
              font {
                color: rgba(254, 90, 58, 1);
              }
            }
            span:nth-child(9) {
              color: #474747;
              margin-right: 5px;
              font {
                color: rgba(254, 90, 58, 1);
              }
            }
            span:nth-child(10) {
              color: #474747;
              font {
                color: rgba(254, 90, 58, 1);
              }
            }
          }
        }
        .calcTittle {
          display: grid;
          grid-template-columns: 30% 10% 10% 10% 10% 30%;
          grid-template-rows: 52px;
          line-height: 52px;
          text-align: center;
          border-bottom: 1px solid rgba(234, 234, 234, 1);
          font-size: 14px;
          color: rgba(153, 153, 153, 1);
          p:nth-child(1) {
            text-align: right;
            padding-right: 40px;
          }
          p:nth-child(6) {
            text-align: left;
            padding-left: 40px;
          }
        }
        .calcItems {
          display: grid;
          grid-template-columns: 30% 10% 10% 10% 10% 30%;
          grid-template-rows: 52px;
          line-height: 52px;
          text-align: center;
          border-bottom: 1px solid rgba(234, 234, 234, 1);
          font-size: 14px;
          color: rgba(153, 153, 153, 1);
          span:nth-child(1) {
            text-align: right;
            padding-right: 15px;
            border-right: 1px solid rgba(234, 234, 234, 1);
          }
          span:nth-child(2) {
            border-right: 1px solid rgba(234, 234, 234, 1);
          }
          span:nth-child(3) {
            border-right: 1px solid rgba(234, 234, 234, 1);
          }
          span:nth-child(4) {
            border-right: 1px solid rgba(234, 234, 234, 1);
          }
          span:nth-child(5) {
            border-right: 1px solid rgba(234, 234, 234, 1);
          }
          span:nth-child(6) {
            text-align: left;
            padding-left: 40px;
          }
        }
      }
    }
  }
}
</style>

