<template>
  <div class="gameDetailsEsports">
    <div class="gameSides">
      <div class="teama">
        <div>FunPlus Phoenix</div>
      </div>
      <div class="teamb">
        <div>Invictus Gaming</div>
      </div>
    </div>

    <div class="gamePlayer">
      <h3>选手数据</h3>
      <div class="playerTittle">
        <span>GimGoon</span>
        <span class="m">上单</span>
        <span class="r">The shy</span>
      </div>
      <div class="playerProgress">
        <div class="playeraProgress">
          <div>1980</div>
        </div>
        <div class="playerbProgress">
          <div class="r">1980</div>
        </div>
      </div>

      <div class="playerRank">
        <div class="rankA">
          <div>提莫</div>
          <div>瑞兹</div>
          <div>潘森</div>
        </div>
        <div class="m">常用英雄</div>
        <div class="rankB">
          <div>提莫</div>
          <div>瑞兹</div>
          <div>潘森</div>
        </div>
      </div>

      <div class="playerTittle">
        <span>GimGoon</span>
        <span class="m">上单</span>
        <span class="r">The shy</span>
      </div>
      <div class="playerProgress">
        <div class="playeraProgress">
          <div>1980</div>
        </div>
        <div class="playerbProgress">
          <div class="r">1980</div>
        </div>
      </div>

      <div class="playerRank">
        <div class="rankA">
          <div>提莫</div>
          <div>瑞兹</div>
          <div>潘森</div>
        </div>
        <div class="m">常用英雄</div>
        <div class="rankB">
          <div>提莫</div>
          <div>瑞兹</div>
          <div>潘森</div>
        </div>
      </div>

      <div class="playerTittle">
        <span>GimGoon</span>
        <span class="m">上单</span>
        <span class="r">The shy</span>
      </div>
      <div class="playerProgress">
        <div class="playeraProgress">
          <div>1980</div>
        </div>
        <div class="playerbProgress">
          <div class="r">1980</div>
        </div>
      </div>

      <div class="playerRank">
        <div class="rankA">
          <div>提莫</div>
          <div>瑞兹</div>
          <div>潘森</div>
        </div>
        <div class="m">常用英雄</div>
        <div class="rankB">
          <div>提莫</div>
          <div>瑞兹</div>
          <div>潘森</div>
        </div>
      </div>

      <div class="playerTittle">
        <span>GimGoon</span>
        <span class="m">上单</span>
        <span class="r">The shy</span>
      </div>
      <div class="playerProgress">
        <div class="playeraProgress">
          <div>1980</div>
        </div>
        <div class="playerbProgress">
          <div class="r">1980</div>
        </div>
      </div>

      <div class="playerRank">
        <div class="rankA">
          <div>提莫</div>
          <div>瑞兹</div>
          <div>潘森</div>
        </div>
        <div class="m">常用英雄</div>
        <div class="rankB">
          <div>提莫</div>
          <div>瑞兹</div>
          <div>潘森</div>
        </div>
      </div>

      <div class="playerTittle">
        <span>GimGoon</span>
        <span class="m">上单</span>
        <span class="r">The shy</span>
      </div>
      <div class="playerProgress">
        <div class="playeraProgress">
          <div>1980</div>
        </div>
        <div class="playerbProgress">
          <div class="r">1980</div>
        </div>
      </div>

      <div class="playerRank">
        <div class="rankA">
          <div>提莫</div>
          <div>瑞兹</div>
          <div>潘森</div>
        </div>
        <div class="m">常用英雄</div>
        <div class="rankB">
          <div>提莫</div>
          <div>瑞兹</div>
          <div>潘森</div>
        </div>
      </div>
    </div>

    <div class="gameAnalysis">
      <h3>比赛分析</h3>

      <div class="playerProgress">
        <div class="playerData">
          <span>4 场</span>
          <span>双方交手胜局</span>
          <span>4 场</span>
        </div>
        <div class="playeraProgress">
          <div>1980</div>
        </div>
        <div class="playerbProgress">
          <div class="r">1980</div>
        </div>
      </div>

      <div class="playerProgress">
        <div class="playerData">
          <span>50%</span>
          <span>一血</span>
          <span>50%</span>
        </div>
        <div class="playeraProgress">
          <div>1980</div>
        </div>
        <div class="playerbProgress">
          <div class="r">1980</div>
        </div>
      </div>

      <div class="playerProgress">
        <div class="playerData">
          <span>50%</span>
          <span>首五杀</span>
          <span>50%</span>
        </div>
        <div class="playeraProgress">
          <div>1980</div>
        </div>
        <div class="playerbProgress">
          <div class="r">1980</div>
        </div>
      </div>

      <div class="playerProgress">
        <div class="playerData">
          <span>50%</span>
          <span>一塔</span>
          <span>50%</span>
        </div>
        <div class="playeraProgress">
          <div>1980</div>
        </div>
        <div class="playerbProgress">
          <div class="r">1980</div>
        </div>
      </div>

      <div class="playerProgress">
        <div class="playerData">
          <span>50%</span>
          <span>首龙</span>
          <span>50%</span>
        </div>
        <div class="playeraProgress">
          <div>1980</div>
        </div>
        <div class="playerbProgress">
          <div class="r">1980</div>
        </div>
      </div>
    </div>

    <div class="gameDish">
      <h3>盘口</h3>
      <h4>系列赛</h4>
      <div class="gameItems">
        <div class="itemA">
          <font>fpx</font>
          <span>1.486</span>
        </div>
        <div class="gameWhy">BO3总比赛胜利</div>
        <div class="itemB">
          <span>2.650</span>
          <font>ig</font>
        </div>
      </div>
      <h4>第一局</h4>
      <div class="gameItems">
        <div class="itemA">
          <font>fpx</font>
          <span>1.486</span>
        </div>
        <div class="gameWhy">第一局胜利</div>
        <div class="itemB">
          <span>2.650</span>
          <font>ig</font>
        </div>
      </div>
      <div class="gameItems">
        <div class="itemA">
          <font>fpx</font>
          <span>1.486</span>
        </div>
        <div class="gameWhy">第一局一血</div>
        <div class="itemB">
          <span>2.650</span>
          <font>ig</font>
        </div>
      </div>
      <div class="gameItems">
        <div class="itemA">
          <font>fpx</font>
          <span>1.486</span>
        </div>
        <div class="gameWhy">第一局一塔</div>
        <div class="itemB">
          <span>2.650</span>
          <font>ig</font>
        </div>
      </div>
      <div class="gameItems">
        <div class="itemA">
          <font>fpx</font>
          <span>1.486</span>
        </div>
        <div class="gameWhy">第一局首小龙</div>
        <div class="itemB">
          <span>2.650</span>
          <font>ig</font>
        </div>
      </div>
      <div class="gameItems">
        <div class="itemA">
          <font>fpx</font>
          <span>1.486</span>
        </div>
        <div class="gameWhy">第一局首大龙</div>
        <div class="itemB">
          <span>2.650</span>
          <font>ig</font>
        </div>
      </div>
      <div class="gameItems">
        <div class="itemA">
          <font>fpx</font>
          <span>1.486</span>
        </div>
        <div class="gameWhy">第一局首五杀</div>
        <div class="itemB">
          <span>2.650</span>
          <font>ig</font>
        </div>
      </div>
      <div class="gameItems">
        <div class="itemA">
          <font>fpx</font>
          <span>1.486</span>
        </div>
        <div class="gameWhy">第一局首十杀</div>
        <div class="itemB">
          <span>2.650</span>
          <font>ig</font>
        </div>
      </div>

      <h4>第二局</h4>
      <div class="gameItems">
        <div class="itemA">
          <font>fpx</font>
          <span>1.486</span>
        </div>
        <div class="gameWhy">第二局胜利</div>
        <div class="itemB">
          <span>2.650</span>
          <font>ig</font>
        </div>
      </div>
      <div class="gameItems">
        <div class="itemA">
          <font>fpx</font>
          <span>1.486</span>
        </div>
        <div class="gameWhy">第二局一血</div>
        <div class="itemB">
          <span>2.650</span>
          <font>ig</font>
        </div>
      </div>
      <div class="gameItems">
        <div class="itemA">
          <font>fpx</font>
          <span>1.486</span>
        </div>
        <div class="gameWhy">第二局一塔</div>
        <div class="itemB">
          <span>2.650</span>
          <font>ig</font>
        </div>
      </div>
      <div class="gameItems">
        <div class="itemA">
          <font>fpx</font>
          <span>1.486</span>
        </div>
        <div class="gameWhy">第二局首小龙</div>
        <div class="itemB">
          <span>2.650</span>
          <font>ig</font>
        </div>
      </div>
      <div class="gameItems">
        <div class="itemA">
          <font>fpx</font>
          <span>1.486</span>
        </div>
        <div class="gameWhy">第二局首大龙</div>
        <div class="itemB">
          <span>2.650</span>
          <font>ig</font>
        </div>
      </div>
      <div class="gameItems">
        <div class="itemA">
          <font>fpx</font>
          <span>1.486</span>
        </div>
        <div class="gameWhy">第二局首五杀</div>
        <div class="itemB">
          <span>2.650</span>
          <font>ig</font>
        </div>
      </div>
      <div class="gameItems">
        <div class="itemA">
          <font>fpx</font>
          <span>1.486</span>
        </div>
        <div class="gameWhy">第二局首十杀</div>
        <div class="itemB">
          <span>2.650</span>
          <font>ig</font>
        </div>
      </div>

      <h4>第三局</h4>
      <div class="gameItems">
        <div class="itemA">
          <font>fpx</font>
          <span>1.486</span>
        </div>
        <div class="gameWhy">第三局胜利</div>
        <div class="itemB">
          <span>2.650</span>
          <font>ig</font>
        </div>
      </div>
      <div class="gameItems">
        <div class="itemA">
          <font>fpx</font>
          <span>1.486</span>
        </div>
        <div class="gameWhy">第三局一血</div>
        <div class="itemB">
          <span>2.650</span>
          <font>ig</font>
        </div>
      </div>
      <div class="gameItems">
        <div class="itemA">
          <font>fpx</font>
          <span>1.486</span>
        </div>
        <div class="gameWhy">第三局一塔</div>
        <div class="itemB">
          <span>2.650</span>
          <font>ig</font>
        </div>
      </div>
      <div class="gameItems">
        <div class="itemA">
          <font>fpx</font>
          <span>1.486</span>
        </div>
        <div class="gameWhy">第三局首小龙</div>
        <div class="itemB">
          <span>2.650</span>
          <font>ig</font>
        </div>
      </div>
      <div class="gameItems">
        <div class="itemA">
          <font>fpx</font>
          <span>1.486</span>
        </div>
        <div class="gameWhy">第三局首大龙</div>
        <div class="itemB">
          <span>2.650</span>
          <font>ig</font>
        </div>
      </div>
      <div class="gameItems">
        <div class="itemA">
          <font>fpx</font>
          <span>1.486</span>
        </div>
        <div class="gameWhy">第三局首五杀</div>
        <div class="itemB">
          <span>2.650</span>
          <font>ig</font>
        </div>
      </div>
      <div class="gameItems">
        <div class="itemA">
          <font>fpx</font>
          <span>1.486</span>
        </div>
        <div class="gameWhy">第三局首十杀</div>
        <div class="itemB">
          <span>2.650</span>
          <font>ig</font>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "gameDetailsEsports",
  data() {
    return {};
  },
  mounted() {},
  components: {},
  methods: {}
};
</script>

<style lang="less" scoped>
.gameDetailsEsports {
  width: 55%;
  height: 100%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 100px;
  .isActing {
    color: #ffffff !important;
    background: linear-gradient(
      -30deg,
      rgba(255, 135, 55, 1),
      rgba(254, 85, 58, 1)
    );
  }
  .gameSides {
    width: 873px;
    height: 60px;
    border-radius: 12px;
    margin: 0 auto 40px auto;
    background: url(./../../assets/切图/30.png) no-repeat center center !important;
    .teama {
      width: 50%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      float: left;
      div {
        padding-right: 100px;
        color: #ffffff;
      }
    }
    .teamb {
      width: 50%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      float: left;
      div {
        padding-left: 100px;
        color: #ffffff;
      }
    }
  }
  .gamePlayer {
    width: 100%;
    height: 100%;
    background-color: rgb(26, 28, 30);
    border-radius: 12px;
    margin-bottom: 50px;
    h3 {
      font-size: 30px;
      padding-left: 30px;
      padding-top: 20px;
    }
    .m {
      text-align: center;
    }
    .r {
      text-align: right;
    }
    .playerTittle {
      width: 94%;
      height: 50px;
      margin-top: 40px;
      margin-bottom: 15px;
      float: left;
      border-radius: 12px;
      background-color: #000000;
      margin-left: 20px;
      padding-left: 20px;
      margin-right: 20px;
      padding-right: 20px;
      display: grid;
      grid-template-columns: 45% 10% 45%;
      grid-template-rows: 50px;
      line-height: 50px;
    }
    .playerProgress {
      width: 95%;
      height: 30px;
      padding: 0px 20px 0px 20px;
      border-radius: 12px;
      margin-bottom: 15px;
      .playeraProgress {
        width: 50%;
        height: 30px;
        line-height: 30px;
        float: left;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        background-color: rgb(65, 149, 193);
        div {
          padding-left: 10px;
        }
      }
      .playerbProgress {
        width: 50%;
        height: 30px;
        line-height: 30px;
        float: left;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        background-color: rgb(185, 65, 66);
        div {
          padding-right: 10px;
        }
      }
    }
    .playerRank {
      width: 100%;
      border-radius: 12px;
      display: grid;
      grid-template-columns: 45% 10% 45%;
      grid-template-rows: 50px;
      line-height: 50px;
      text-align: center;
      .rankA {
        display: grid;
        grid-template-columns: repeat(3, 33.33%);
        grid-template-rows: 50px;
        line-height: 50px;
        text-align: center;
      }
      .rankB {
        display: grid;
        grid-template-columns: repeat(3, 33.33%);
        grid-template-rows: 50px;
        line-height: 50px;
        text-align: center;
      }
    }
  }
  .gameAnalysis {
    width: 100%;
    height: 100%;
    background-color: rgb(26, 28, 30);
    border-radius: 12px;
    margin-bottom: 50px;
    h3 {
      font-size: 30px;
      padding-left: 30px;
      padding-top: 20px;
      margin-bottom: 30px;
    }
    .m {
      text-align: center;
    }
    .r {
      text-align: right;
    }
    .playerTittle {
      width: 94%;
      height: 50px;
      margin-top: 40px;
      margin-bottom: 15px;
      float: left;
      border-radius: 12px;
      background-color: #000000;
      margin-left: 20px;
      padding-left: 20px;
      margin-right: 20px;
      padding-right: 20px;
      display: grid;
      grid-template-columns: 45% 10% 45%;
      grid-template-rows: 50px;
      line-height: 50px;
    }
    .playerProgress {
      width: 95%;
      height: 80px;
      border-radius: 12px;
      margin-bottom: 15px;
      padding: 0px 20px 0px 20px;
      .playerData {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        margin-bottom: 15px;
      }
      .playeraProgress {
        width: 50%;
        height: 30px;
        line-height: 30px;
        float: left;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        background-color: rgb(65, 149, 193);
        div {
          padding-left: 10px;
        }
      }
      .playerbProgress {
        width: 50%;
        height: 30px;
        line-height: 30px;
        float: left;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        background-color: rgb(185, 65, 66);
        div {
          padding-right: 10px;
        }
      }
    }
    .playerRank {
      width: 100%;
      border-radius: 12px;
      display: grid;
      grid-template-columns: 45% 10% 45%;
      grid-template-rows: 50px;
      line-height: 50px;
      text-align: center;
      .rankA {
        display: grid;
        grid-template-columns: repeat(3, 33.33%);
        grid-template-rows: 50px;
        line-height: 50px;
        text-align: center;
      }
      .rankB {
        display: grid;
        grid-template-columns: repeat(3, 33.33%);
        grid-template-rows: 50px;
        line-height: 50px;
        text-align: center;
      }
    }
  }
  .gameDish {
    width: 100%;
    height: 100%;
    background-color: rgb(26, 28, 30);
    border-radius: 12px;
    padding-bottom: 30px;
    h3 {
      font-size: 30px;
      padding-left: 30px;
      padding-top: 20px;
    }
    h4 {
      font-size: 20px;
      padding-top: 20px;
      text-align: center;
    }
    .m {
      text-align: center;
    }
    .r {
      text-align: right;
    }
    .gameItems {
      display: grid;
      grid-template-columns: 40% 20% 40%;
      grid-template-rows: 70px;
      line-height: 70px;
      margin-top: 20px;
      height: 70px;
      background-image: linear-gradient(
        to right,
        rgb(32, 59, 81) 0%,
        rgb(25, 38, 51) 19%,
        rgb(24, 33, 43) 60%,
        rgb(65, 23, 27) 80%,
        rgb(85, 35, 39) 100%
      );
      border-radius: 12px;
      margin-right: 20px;
      margin-left: 20px;
      .itemA {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 100px;
        font {
          font-size: 16px;
          margin-right: 50px;
          color: #ffffff;
        }
        span {
          width: 82px;
          line-height: 50px;
          border-radius: 8px;
          text-align: center;
          height: 50px;
          color: #ffffff;
          font-size: 14px;
          background-color: rgb(46, 114, 162);
        }
      }
      .itemB {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 100px;
        font {
          font-size: 16px;
          margin-left: 50px;
          color: #ffffff;
        }
        span {
          width: 82px;
          line-height: 50px;
          border-radius: 8px;
          text-align: center;
          height: 50px;
          color: #ffffff;
          font-size: 14px;
          background-color: rgb(46, 114, 162);
        }
      }
      .gameWhy {
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        color: #d1cecf;
      }
    }
  }
}
</style>
