<template>
  <div style="position: relative;">
    <div class="gameDeatailsFootball">
      <!-- <div class="gameData"></div> -->
      <div class="gameConter">
        <el-row :gutter="20">
          <!-- <el-col :span="4">
          <div class="conterLeft">
            <p>
              <i></i>赛事分析
            </p>
            <ul>
              <li>数据分析</li>
              <li>情报分析</li>
              <li>大神推荐</li>
              <li>积分竞猜</li>
            </ul>
          </div>
          </el-col>-->
          <el-col :span="24">
            <div class="conterRight">
              <div class="gameRecord">
                <h3>双方近期战绩</h3>
                <div class="recordData">
                  <span>(主){{this.$route.query.aName}} vs (客){{this.$route.query.bName}}</span>
                </div>
                <el-tabs
                  type="border-card"
                  @tab-click="handleClick"
                  v-model="activeName"
                >
                  <el-tab-pane
                    label="主队数据"
                    name="a"
                  >
                    <div class="searchdiv">
                      <span class="searchp">{{this.$route.query.aName}}</span>
                      <font
                        :class="{ 'isActingbtn': tablea==0}"
                        @click="searchA(0)"
                      >全部</font>
                      <font
                        :class="{ 'isActingbtn': tablea==1}"
                        @click="searchA(1)"
                      >主场</font>
                      <font
                        :class="{ 'isActingbtn': tablea==2}"
                        @click="searchA(2)"
                      >客场</font>
                      <strong>联赛</strong>
                      <b
                        v-for="(item, index) in searchListA"
                        :key="index"
                        @click="searchListAs(item)"
                        :class="{ 'isActingbtn': leagueA.indexOf(item)>-1}"
                      >{{item}}</b>
                    </div>

                    <el-table
                      :data="recordListA"
                      style="width: 100%"
                    >
                      <el-table-column
                        prop="matchShortNameZh"
                        label="赛事"
                        width="100"
                        align="center"
                      ></el-table-column>
                      <el-table-column
                        prop="matchStartTime"
                        label="比赛日期"
                        width="110"
                        align="center"
                      >
                        <template slot-scope="scope">
                          <span>{{dateFormat(scope.row.matchStartTime)}}</span>
                        </template>
                      </el-table-column>
                      <el-table-column
                        prop="aTeamShortName"
                        label="主队"
                        width="150"
                        align="center"
                      >
                        <template slot-scope="scope">
                          <span>{{reTurnA(scope.row)}}</span>
                        </template>
                      </el-table-column>
                      <el-table-column
                        prop="matchScore"
                        label="比分"
                        width="70"
                        align="center"
                      ></el-table-column>
                      <el-table-column
                        prop="bTeamShortName"
                        label="客队"
                        width="150"
                        align="center"
                      >
                        <template slot-scope="scope">
                          <span>{{reTurnB(scope.row)}}</span>
                        </template>
                      </el-table-column>
                      <el-table-column
                        prop="halfScore"
                        label="半场"
                        width="70"
                        align="center"
                      ></el-table-column>
                      <el-table-column
                        prop="matchCorner"
                        label="角球"
                        width="70"
                        align="center"
                      ></el-table-column>
                      <el-table-column
                        label="亚盘"
                        align="center"
                      >
                        <el-table-column
                          prop="asianplate"
                          label="主"
                          width="65"
                          align="center"
                        >
                          <template slot-scope="scope">
                            <span>{{judgeNull(scope.row.asianplate,0)}}</span>
                          </template>
                        </el-table-column>
                        <el-table-column
                          prop="asianplate"
                          label="盘口"
                          width="65"
                          align="center"
                        >
                          <template slot-scope="scope">
                            <span>{{judgeNull(scope.row.asianplate,1)}}</span>
                          </template>
                        </el-table-column>
                        <el-table-column
                          prop="asianplate"
                          label="客"
                          width="65"
                          align="center"
                        >
                          <template slot-scope="scope">
                            <span>{{judgeNull(scope.row.asianplate,2)}}</span>
                          </template>
                        </el-table-column>
                      </el-table-column>
                      <el-table-column
                        label="欧赔"
                        align="center"
                      >
                        <el-table-column
                          prop="euroloss"
                          label="主"
                          width="65"
                          align="center"
                        >
                          <template slot-scope="scope">
                            <span>{{judgeNull(scope.row.euroloss,0)}}</span>
                          </template>
                        </el-table-column>
                        <el-table-column
                          prop="euroloss"
                          label="和"
                          width="65"
                          align="center"
                        >
                          <template slot-scope="scope">
                            <span>{{judgeNull(scope.row.euroloss,1)}}</span>
                          </template>
                        </el-table-column>
                        <el-table-column
                          prop="euroloss"
                          label="客"
                          width="65"
                          align="center"
                        >
                          <template slot-scope="scope">
                            <span>{{judgeNull(scope.row.euroloss,2)}}</span>
                          </template>
                        </el-table-column>
                      </el-table-column>

                      <el-table-column
                        prop="isWin"
                        label="胜负"
                        width="50"
                        align="center"
                      >
                        <template slot-scope="scope">
                          <span>{{reTurnWin(scope.row)}}</span>
                        </template>
                      </el-table-column>
                      <el-table-column
                        prop="date"
                        label="亚盘"
                        width="50"
                        align="center"
                      >
                        <template slot-scope="scope">
                          <span>{{reTurnYa(scope.row)}}</span>
                        </template>
                      </el-table-column>
                      <el-table-column
                        prop="sizeBall"
                        label="大小球"
                        width="80"
                        align="center"
                      >
                        <template slot-scope="scope">
                          <span>{{reTurnBig(scope.row.sizeBall)}}</span>
                        </template>
                      </el-table-column>
                    </el-table>
                    <el-pagination
                      @current-change="handleCurrentChange1"
                      :current-page="currentPage1"
                      :page-size="pagesize1"
                      layout="total, prev, pager, next, jumper"
                      :total="total1"
                      v-if="total1>10"
                      style="text-align: right;margin-top: 20px;"
                    ></el-pagination>
                  </el-tab-pane>
                  <el-tab-pane
                    label="客队数据"
                    name="b"
                  >
                    <div class="searchdiv">
                      <span class="searchp">{{this.$route.query.aName}}</span>
                      <font
                        :class="{ 'isActingbtn': tableb==0}"
                        @click="searchB(0)"
                      >全部</font>
                      <font
                        :class="{ 'isActingbtn': tableb==1}"
                        @click="searchB(1)"
                      >主场</font>
                      <font
                        :class="{ 'isActingbtn': tableb==2}"
                        @click="searchB(2)"
                      >客场</font>
                      <strong>联赛</strong>
                      <b
                        v-for="(item, index) in searchListB"
                        :key="index"
                        @click="searchListBs(item)"
                        :class="{ 'isActingbtn': leagueB.indexOf(item)>-1}"
                      >{{item}}</b>
                    </div>
                    <el-table
                      :data="recordListB"
                      style="width: 100%"
                    >
                      <el-table-column
                        prop="matchShortNameZh"
                        label="赛事"
                        width="100"
                        align="center"
                      ></el-table-column>
                      <el-table-column
                        prop="date"
                        label="比赛日期"
                        width="110"
                        align="center"
                      >
                        <template slot-scope="scope">
                          <span>{{dateFormat(scope.row.matchStartTime)}}</span>
                        </template>
                      </el-table-column>
                      <el-table-column
                        prop="aTeamShortName"
                        label="主队"
                        width="150"
                        align="center"
                      >
                        <template slot-scope="scope">
                          <span>{{reTurnA(scope.row)}}</span>
                        </template>
                      </el-table-column>
                      <el-table-column
                        prop="matchScore"
                        label="比分"
                        width="70"
                        align="center"
                      ></el-table-column>
                      <el-table-column
                        prop="bTeamShortName"
                        label="客队"
                        width="150"
                        align="center"
                      >
                        <template slot-scope="scope">
                          <span>{{reTurnB(scope.row)}}</span>
                        </template>
                      </el-table-column>
                      <el-table-column
                        prop="halfScore"
                        label="半场"
                        width="70"
                        align="center"
                      ></el-table-column>
                      <el-table-column
                        prop="matchCorner"
                        label="角球"
                        width="70"
                        align="center"
                      ></el-table-column>
                      <el-table-column
                        label="亚盘"
                        align="center"
                      >
                        <el-table-column
                          prop="asianplate"
                          label="主"
                          width="65"
                          align="center"
                        >
                          <template slot-scope="scope">
                            <span>{{judgeNull(scope.row.asianplate,0)}}</span>
                          </template>
                        </el-table-column>
                        <el-table-column
                          prop="asianplate"
                          label="盘口"
                          width="65"
                          align="center"
                        >
                          <template slot-scope="scope">
                            <span>{{judgeNull(scope.row.asianplate,1)}}</span>
                          </template>
                        </el-table-column>
                        <el-table-column
                          prop="asianplate"
                          label="客"
                          width="65"
                          align="center"
                        >
                          <template slot-scope="scope">
                            <span>{{judgeNull(scope.row.asianplate,2)}}</span>
                          </template>
                        </el-table-column>
                      </el-table-column>
                      <el-table-column
                        label="欧赔"
                        align="center"
                      >
                        <el-table-column
                          prop="euroloss"
                          label="主"
                          width="65"
                          align="center"
                        >
                          <template slot-scope="scope">
                            <span>{{judgeNull(scope.row.euroloss,0)}}</span>
                          </template>
                        </el-table-column>
                        <el-table-column
                          prop="euroloss"
                          label="和"
                          width="65"
                          align="center"
                        >
                          <template slot-scope="scope">
                            <span>{{judgeNull(scope.row.euroloss,1)}}</span>
                          </template>
                        </el-table-column>
                        <el-table-column
                          prop="euroloss"
                          label="客"
                          width="65"
                          align="center"
                        >
                          <template slot-scope="scope">
                            <span>{{judgeNull(scope.row.euroloss,2)}}</span>
                          </template>
                        </el-table-column>
                      </el-table-column>

                      <el-table-column
                        prop="isWin"
                        label="胜负"
                        width="50"
                        align="center"
                      >
                        <template slot-scope="scope">
                          <span>{{reTurnWin(scope.row)}}</span>
                        </template>
                      </el-table-column>
                      <el-table-column
                        prop="date"
                        label="亚盘"
                        width="50"
                        align="center"
                      >
                        <template slot-scope="scope">
                          <span>{{reTurnYa(scope.row)}}</span>
                        </template>
                      </el-table-column>
                      <el-table-column
                        prop="sizeBall"
                        label="大小球"
                        width="80"
                        align="center"
                      >
                        <template slot-scope="scope">
                          <span>{{reTurnBig(scope.row.sizeBall)}}</span>
                        </template>
                      </el-table-column>
                    </el-table>
                    <el-pagination
                      @current-change="handleCurrentChange2"
                      :current-page="currentPage2"
                      :page-size="pagesize2"
                      layout="total, prev, pager, next, jumper"
                      :total="total2"
                      v-if="total2>10"
                      style="text-align: right;margin-top: 20px;"
                    ></el-pagination>
                  </el-tab-pane>
                </el-tabs>
              </div>

              <div class="gameEncounter">
                <h3>双方历史交锋</h3>
                <el-table
                  :data="recordListC"
                  style="width: 100%"
                >
                  <el-table-column
                    prop="matchShortNameZh"
                    label="赛事"
                    width="100"
                    align="center"
                  ></el-table-column>
                  <el-table-column
                    prop="date"
                    label="比赛日期"
                    width="110"
                    align="center"
                  >
                    <template slot-scope="scope">
                      <span>{{dateFormat(scope.row.matchStartTime)}}</span>
                    </template>
                  </el-table-column>
                  <el-table-column
                    prop="aTeamShortName"
                    label="主队"
                    width="150"
                    align="center"
                  >
                    <template slot-scope="scope">
                      <span>{{reTurnA(scope.row)}}</span>
                    </template>
                  </el-table-column>
                  <el-table-column
                    prop="matchScore"
                    label="比分"
                    width="70"
                    align="center"
                  ></el-table-column>
                  <el-table-column
                    prop="bTeamShortName"
                    label="客队"
                    width="150"
                    align="center"
                  >
                    <template slot-scope="scope">
                      <span>{{reTurnB(scope.row)}}</span>
                    </template>
                  </el-table-column>
                  <el-table-column
                    prop="halfScore"
                    label="半场"
                    width="70"
                    align="center"
                  ></el-table-column>
                  <el-table-column
                    prop="matchCorner"
                    label="角球"
                    width="70"
                    align="center"
                  ></el-table-column>
                  <el-table-column
                    label="亚盘"
                    align="center"
                  >
                    <el-table-column
                      prop="asianplate"
                      label="主"
                      width="65"
                      align="center"
                    >
                      <template slot-scope="scope">
                        <span>{{judgeNull(scope.row.asianplate,0)}}</span>
                      </template>
                    </el-table-column>
                    <el-table-column
                      prop="asianplate"
                      label="盘口"
                      width="65"
                      align="center"
                    >
                      <template slot-scope="scope">
                        <span>{{judgeNull(scope.row.asianplate,1)}}</span>
                      </template>
                    </el-table-column>
                    <el-table-column
                      prop="asianplate"
                      label="客"
                      width="65"
                      align="center"
                    >
                      <template slot-scope="scope">
                        <span>{{judgeNull(scope.row.asianplate,2)}}</span>
                      </template>
                    </el-table-column>
                  </el-table-column>
                  <el-table-column
                    label="欧赔"
                    align="center"
                  >
                    <el-table-column
                      prop="euroloss"
                      label="主"
                      width="65"
                      align="center"
                    >
                      <template slot-scope="scope">
                        <span>{{judgeNull(scope.row.euroloss,0)}}</span>
                      </template>
                    </el-table-column>
                    <el-table-column
                      prop="euroloss"
                      label="和"
                      width="65"
                      align="center"
                    >
                      <template slot-scope="scope">
                        <span>{{judgeNull(scope.row.euroloss,1)}}</span>
                      </template>
                    </el-table-column>
                    <el-table-column
                      prop="euroloss"
                      label="客"
                      width="65"
                      align="center"
                    >
                      <template slot-scope="scope">
                        <span>{{judgeNull(scope.row.euroloss,2)}}</span>
                      </template>
                    </el-table-column>
                  </el-table-column>

                  <el-table-column
                    prop="isWin"
                    label="胜负"
                    width="50"
                    align="center"
                  >
                    <template slot-scope="scope">
                      <span>{{reTurnWin(scope.row)}}</span>
                    </template>
                  </el-table-column>
                  <el-table-column
                    prop="date"
                    label="亚盘"
                    width="50"
                    align="center"
                  >
                    <template slot-scope="scope">
                      <span>{{reTurnYa(scope.row)}}</span>
                    </template>
                  </el-table-column>
                  <el-table-column
                    prop="sizeBall"
                    label="大小球"
                    width="100"
                    align="center"
                  >
                    <template slot-scope="scope">
                      <span>{{reTurnBig(scope.row.sizeBall)}}</span>
                    </template>
                  </el-table-column>
                </el-table>
                <el-pagination
                  @current-change="handleCurrentChange3"
                  :current-page="currentPage3"
                  :page-size="pagesize3"
                  layout="total, prev, pager, next, jumper"
                  :total="total3"
                  v-if="total3>10"
                  style="text-align: right;margin-top: 20px;"
                ></el-pagination>
              </div>

              <div class="gameIntegral">
                <h3>联赛积分</h3>
                <el-table
                  :data="integralList"
                  style="width: 100%"
                >
                  <el-table-column
                    prop="teamName"
                    label="球队名称"
                    width="150"
                    align="center"
                  ></el-table-column>
                  <el-table-column
                    prop="position"
                    label="排名"
                    width="60"
                    align="center"
                  ></el-table-column>
                  <el-table-column
                    prop="pts"
                    label="积分"
                    width="120"
                    align="center"
                  ></el-table-column>
                  <el-table-column
                    prop="played"
                    label="已赛场数"
                    width="120"
                    align="center"
                  ></el-table-column>
                  <el-table-column
                    prop="won"
                    label="胜场数"
                    width="120"
                    align="center"
                  ></el-table-column>
                  <el-table-column
                    prop="drawn"
                    label="平场数"
                    width="120"
                    align="center"
                  ></el-table-column>
                  <el-table-column
                    prop="lost"
                    label="失败场数"
                    width="120"
                    align="center"
                  ></el-table-column>
                  <el-table-column
                    prop="goals"
                    label="进球数"
                    width="120"
                    align="center"
                  ></el-table-column>
                  <el-table-column
                    prop="awayGoals"
                    label="客场进球数"
                    width="120"
                    align="center"
                  ></el-table-column>
                  <el-table-column
                    prop="against"
                    label="失球数"
                    width="120"
                    align="center"
                  ></el-table-column>
                  <el-table-column
                    prop="diff"
                    label="净胜球数"
                    width="120"
                    align="center"
                  ></el-table-column>
                </el-table>
              </div>
              <div class="gameTimely">
                <h3>进球走势</h3>
                <div class="gameMain">
                  <div class="teamA">
                    <h5>
                      <img
                        :src="webList.aLogo"
                        alt="主队logo"
                      />
                      {{this.$route.query.aName}}
                    </h5>
                    <div class="aTittle">
                      <span></span>
                      <span>0-15`</span>
                      <span>15-30`</span>
                      <span>30-45`</span>
                      <span>45-60`</span>
                      <span>60-75`</span>
                      <span>75-90`</span>
                    </div>
                    <div class="aAll">
                      <span>总</span>
                      <span>{{movementsListhome.all.scored[0][0]!=null?movementsListhome.all.scored[0][0]:"-"}}</span>
                      <span>{{movementsListhome.all.scored[1][0]!=null?movementsListhome.all.scored[1][0]:"-"}}</span>
                      <span>{{movementsListhome.all.scored[2][0]!=null?movementsListhome.all.scored[2][0]:"-"}}</span>
                      <span>{{movementsListhome.all.scored[3][0]!=null?movementsListhome.all.scored[3][0]:"-"}}</span>
                      <span>{{movementsListhome.all.scored[4][0]!=null?movementsListhome.all.scored[4][0]:"-"}}</span>
                      <span>{{movementsListhome.all.scored[5][0]!=null?movementsListhome.all.scored[5][0]:"-"}}</span>
                    </div>
                    <div class="aMain">
                      <span>主</span>
                      <span>{{movementsListhome.home.scored[0][0]!=null?movementsListhome.home.scored[0][0]:"-"}}</span>
                      <span>{{movementsListhome.home.scored[1][0]!=null?movementsListhome.home.scored[1][0]:"-"}}</span>
                      <span>{{movementsListhome.home.scored[2][0]!=null?movementsListhome.home.scored[2][0]:"-"}}</span>
                      <span>{{movementsListhome.home.scored[3][0]!=null?movementsListhome.home.scored[3][0]:"-"}}</span>
                      <span>{{movementsListhome.home.scored[4][0]!=null?movementsListhome.home.scored[4][0]:"-"}}</span>
                      <span>{{movementsListhome.home.scored[5][0]!=null?movementsListhome.home.scored[5][0]:"-"}}</span>
                    </div>
                    <div class="aVisit">
                      <span>客</span>
                      <span>{{movementsListhome.away.scored[0][0]!=null?movementsListhome.away.scored[0][0]:"-"}}</span>
                      <span>{{movementsListhome.away.scored[1][0]!=null?movementsListhome.away.scored[1][0]:"-"}}</span>
                      <span>{{movementsListhome.away.scored[2][0]!=null?movementsListhome.away.scored[2][0]:"-"}}</span>
                      <span>{{movementsListhome.away.scored[3][0]!=null?movementsListhome.away.scored[3][0]:"-"}}</span>
                      <span>{{movementsListhome.away.scored[4][0]!=null?movementsListhome.away.scored[4][0]:"-"}}</span>
                      <span>{{movementsListhome.away.scored[5][0]!=null?movementsListhome.away.scored[5][0]:"-"}}</span>
                    </div>
                  </div>
                  <div class="teamB">
                    <h5>
                      <img
                        :src="webList.bLogo"
                        alt="客队logo"
                      />
                      {{this.$route.query.bName}}
                    </h5>
                    <div class="bTittle">
                      <span></span>
                      <span>0-15`</span>
                      <span>15-30`</span>
                      <span>30-45`</span>
                      <span>45-60`</span>
                      <span>60-75`</span>
                      <span>75-90`</span>
                    </div>
                    <div class="bAll">
                      <span>总</span>
                      <span>{{movementsListaway.all.scored[0][0]!=null?movementsListaway.all.scored[0][0]:"-"}}</span>
                      <span>{{movementsListaway.all.scored[1][0]!=null?movementsListaway.all.scored[1][0]:"-"}}</span>
                      <span>{{movementsListaway.all.scored[2][0]!=null?movementsListaway.all.scored[2][0]:"-"}}</span>
                      <span>{{movementsListaway.all.scored[3][0]!=null?movementsListaway.all.scored[3][0]:"-"}}</span>
                      <span>{{movementsListaway.all.scored[4][0]!=null?movementsListaway.all.scored[4][0]:"-"}}</span>
                      <span>{{movementsListaway.all.scored[5][0]!=null?movementsListaway.all.scored[5][0]:"-"}}</span>
                    </div>
                    <div class="bMain">
                      <span>主</span>
                      <span>{{movementsListaway.home.scored[0][0]!=null?movementsListaway.home.scored[0][0]:"-"}}</span>
                      <span>{{movementsListaway.home.scored[1][0]!=null?movementsListaway.home.scored[1][0]:"-"}}</span>
                      <span>{{movementsListaway.home.scored[2][0]!=null?movementsListaway.home.scored[2][0]:"-"}}</span>
                      <span>{{movementsListaway.home.scored[3][0]!=null?movementsListaway.home.scored[3][0]:"-"}}</span>
                      <span>{{movementsListaway.home.scored[4][0]!=null?movementsListaway.home.scored[4][0]:"-"}}</span>
                      <span>{{movementsListaway.home.scored[5][0]!=null?movementsListaway.home.scored[5][0]:"-"}}</span>
                    </div>
                    <div class="bVisit">
                      <span>客</span>
                      <span>{{movementsListaway.away.scored[0][0]!=null?movementsListaway.away.scored[0][0]:"-"}}</span>
                      <span>{{movementsListaway.away.scored[1][0]!=null?movementsListaway.away.scored[1][0]:"-"}}</span>
                      <span>{{movementsListaway.away.scored[2][0]!=null?movementsListaway.away.scored[2][0]:"-"}}</span>
                      <span>{{movementsListaway.away.scored[3][0]!=null?movementsListaway.away.scored[3][0]:"-"}}</span>
                      <span>{{movementsListaway.away.scored[4][0]!=null?movementsListaway.away.scored[4][0]:"-"}}</span>
                      <span>{{movementsListaway.away.scored[5][0]!=null?movementsListaway.away.scored[5][0]:"-"}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="gameInjured">
                <h3>
                  伤停信息
                  <span
                    :class="{ 'isActing': teamName==1}"
                    @click="onClickTeam(1)"
                  >主队</span>
                  <span
                    :class="{ 'isActing': teamName==2}"
                    @click="onClickTeam(2)"
                  >客队</span>
                </h3>
                <el-table
                  :data="injuredList"
                  style="width: 100%"
                  v-if="teamName==1"
                >
                  <el-table-column
                    prop="name"
                    label="球员名称"
                    width="190"
                    align="center"
                  ></el-table-column>
                  <el-table-column
                    prop="position"
                    label="球员位置"
                    width="190"
                    align="center"
                  ></el-table-column>
                  <el-table-column
                    prop="reason"
                    label="伤停原因"
                    width="190"
                    align="center"
                  ></el-table-column>
                  <el-table-column
                    prop="missed_matches"
                    label="影响场次"
                    width="190"
                    align="center"
                  ></el-table-column>
                  <el-table-column
                    prop="start_time"
                    label="开始时间"
                    width="190"
                    align="center"
                  >
                    <template slot-scope="scope">
                      <span>{{dateFormat(scope.row.start_time)}}</span>
                    </template>
                  </el-table-column>
                  <el-table-column
                    prop="end_time"
                    label="归队时间"
                    width="190"
                    align="center"
                  >
                    <template slot-scope="scope">
                      <span>{{dateFormat(scope.row.end_time)}}</span>
                    </template>
                  </el-table-column>
                  <el-table-column
                    prop="type"
                    label="目前状态"
                    width="190"
                    align="center"
                  >
                    <template slot-scope="scope">
                      <span>{{returnType(scope.row.type)}}</span>
                    </template>
                  </el-table-column>
                </el-table>

                <el-table
                  :data="injuredList2"
                  style="width: 100%"
                  v-if="teamName==2"
                >
                  <el-table-column
                    prop="name"
                    label="球员名称"
                    width="190"
                    align="center"
                  ></el-table-column>
                  <el-table-column
                    prop="position"
                    label="球员位置"
                    width="190"
                    align="center"
                  ></el-table-column>
                  <el-table-column
                    prop="reason"
                    label="伤停原因"
                    width="190"
                    align="center"
                  ></el-table-column>
                  <el-table-column
                    prop="missed_matches"
                    label="影响场次"
                    width="190"
                    align="center"
                  ></el-table-column>
                  <el-table-column
                    prop="start_time"
                    label="开始时间"
                    width="190"
                    align="center"
                  >
                    <template slot-scope="scope">
                      <span>{{dateFormat(scope.row.start_time)}}</span>
                    </template>
                  </el-table-column>
                  <el-table-column
                    prop="end_time"
                    label="归队时间"
                    width="190"
                    align="center"
                  >
                    <template slot-scope="scope">
                      <span>{{dateFormat(scope.row.end_time)}}</span>
                    </template>
                  </el-table-column>
                  <el-table-column
                    prop="type"
                    label="目前状态"
                    width="190"
                    align="center"
                  >
                    <template slot-scope="scope">
                      <span>{{returnType(scope.row.type)}}</span>
                    </template>
                  </el-table-column>
                </el-table>
              </div>
            </div>
          </el-col>
        </el-row>
      </div>
      <button
        class="betBut"
        @click="releaseTopic(webList.namiId)"
      >发布分析
      </button>
      <el-dialog
        :visible.sync="centerDialogVisible"
        width="843px"
        center
        class="diglog"
        :show-close="false"
        :close-on-click-modal="false"
        close-on-press-escape
      >
        <p
          slot="title"
          class="dialogTittle"
        >
          <i></i>发布分析
        </p>
        <div class="dialogConter">
          <div class="formItems items4">
            <span>填写标题</span>
            <input
              type="text"
              placeholder="请输入"
              v-model="from.gfTitle"
            />
          </div>
          <div class="formItems items6">
            <span>所需积分</span>
            <input
              type="number"
              placeholder="请输入"
              v-model="from.buyIntegral"
              @click="noFue"
              @keyup="noFue"
            />
          </div>
          <div class="formItems items2">
            <span>选择胜利队伍</span>
            <select
              v-model="from.winTeamName"
              placeholder="请选择"
            >
              <option value="平局">平局</option>
              <option :value="returnAname(webList)+','+webList.aTeamId">{{returnAname(webList)}}</option>
              <option :value="returnBname(webList)+','+webList.bTeamId">{{returnBname(webList)}}</option>
            </select>
          </div>
          <div class="formItems items7">
            <span>图片上传</span>
            <el-upload
              class="upload-demo"
              :http-request="submitUpload"
              ref='upload'
              action
              drag
              :limit="1"
              :on-exceed="handleExceed"
            >
              <i class="el-icon-upload"></i>
              <div class="el-upload__text">
                将文件拖到此处，或
                <em>点击上传</em>
              </div>
              <!-- <div class="el-upload__tip" slot="tip">只能上传jpg/png文件，且不超过500kb</div> -->
            </el-upload>
          </div>

          <div class="formItems items5">
            <span>填写详情</span>
            <!-- <textarea name id cols="80" rows="14"></textarea> -->
            <editor-bar
              v-model="detail"
              :isClear="isClear"
              @change="change"
            ></editor-bar>
          </div>
        </div>
        <div
          slot="footer"
          class="dialogFooter"
        >
          <button
            @click="centerDialogVisible = false"
            class="cancel"
          >取 消
          </button>
          <button
            @click.stop="release"
            class="determine"
          >发 布
          </button>
        </div>
      </el-dialog>
    </div>
    <div class="homeFoot">
      <div class="footCenter">
        <div class="incenter">
          <div class="footleft">
            <div class="footui">
              <span>关于火狐</span>
              <ul>
                <li>关于我们</li>
              </ul>
            </div>
            <!-- <div class="footui">
              <span>友情链接</span>
              <ul>
                <li>关于我们</li>

              </ul>
            </div>-->
            <div class="footui1">
              <span>联系我们</span>
              <ul>
                <li>邮箱:HHplan@163.com</li>
                <li>地址:深圳市福田区福田街道岗厦社区福华三路88号财富大厦49FH5</li>
              </ul>
            </div>
          </div>
          <div class="footright">
            <div class="footcode code1">
              <div></div>
              <span>官方公众号</span>
            </div>
            <div class="footcode code2">
              <div></div>
              <span>官方公众号</span>
            </div>
          </div>
        </div>
      </div>
      <div class="footButtom">
        <div>
          <span>深圳市圳鹏思信息技术有限公司</span>
          <!-- <span>备案号：XXXXXXXXXXXXX</span> -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {
    getFootballMatchanAlysis,
    getTeamMatchHistory,
    getTeamsBattle,
    getFootballMatchPoints,
    addGreatForecast,
    selectUserByUserId
  } from "../../api/api";
  import Cookies from "js-cookie";
  import EditorBar from "./../../components/wangeditor";

  export default {
    name: "gameDeatailsFootball",
    data() {
      return {
        centerDialogVisible: false,
        articleList: [],
        gameClassification: 1,
        isClear: false,
        detail: "",
        from: {
          uId: Cookies.get("uId"),
          type: 1,
          gameType: 0,
          buyIntegral: "",
          matchId: "",
          gfTitle: "",
          gfContent: "",
          gfPic: "",
          aTeamId: "",
          bTeamId: "",
          winTeamName: "",
          aTeamName: "",
          bTeamName: ""
        },

        activeName: "a",
        teamName: 1,
        tablea: 0,
        tableb: 0,
        leagueA: "",
        leagueB: "",
        teamList: [],
        searchListA: [],
        searchListB: [],
        recordListA: [],
        recordListB: [],
        recordListC: [],
        integralList: [],
        movementsListhome: {
          all: {scored: [[], [], [], [], [], []]},
          away: {scored: [[], [], [], [], [], []]},
          home: {scored: [[], [], [], [], [], []]}
        },
        movementsListaway: {
          all: {scored: [[], [], [], [], [], []]},
          away: {scored: [[], [], [], [], [], []]},
          home: {scored: [[], [], [], [], [], []]}
        },
        webList: {},
        injuredList: [],
        injuredList2: [],
        currentPage1: 1,
        pagesize1: 10,
        total1: 0,
        currentPage2: 1,
        pagesize2: 10,
        total2: 0,
        currentPage3: 1,
        pagesize3: 10,
        total3: 0
      };
    },
    mounted() {
      this.searchA(0)
    },
    components: {EditorBar},
    methods: {
      returnAname(val) {
        if (val.aTeamShortName != "" && val.aTeamShortName != null) {
          return val.aTeamShortName;
        } else if (val.aTeamName != "" && val.aTeamName != null) {
          return val.aTeamName;
        }
        return "-";
      },
      returnBname(val) {
        if (val.bTeamShortName != "" && val.bTeamShortName != null) {
          return val.bTeamShortName;
        } else if (val.bTeamName != "" && val.bTeamName != null) {
          return val.bTeamName;
        }
        return "-";
      },
      noFue() {
        this.from.buyIntegral =
          this.from.buyIntegral >= 0 ? this.from.buyIntegral : 0;
      },
      submitUpload(content) {
        //自定义的上传图片的方法
        //1. 创建formData 利用AXIOS传递

        let formData = new FormData();
        formData.append("file", content.file);
        this.api({
          url: "/upload/img",
          method: "post",
          data: formData
        })
          .then(data => {
            this.from.gfPic = data.data;
          })
          .catch(err => {
            this.$message.error(err.message);
          });
      },
      handleExceed(files, fileList) {
        this.$message.warning(
          `当前限制选择 1 个文件，本次选择了 ${
            files.length
          } 个文件，共选择了 ${files.length + fileList.length} 个文件`
        );
      },
      release() {
        if (this.from.gfTitle == "") {
          this.$message.warning("标题不得为空");
        } else if (this.from.buyIntegral == "") {
          this.$message.warning("所需积分不得为空");
        } else if (this.from.gfPic == "") {
          this.$message.warning("图片不得为空");
        } else if (this.detail == "") {
          this.$message.warning("所需积分不得为空");
        } else if (this.from.winTeamName == "") {
          this.$message.warning("选择胜利队伍不得为空");
        } else {
          if (this.from.winTeamName == "平局") {
            var str1 = "平局";
            var str2 = 0;
          } else {
            var str1 = this.from.winTeamName.split(",")[0];
            var str2 = this.from.winTeamName.split(",")[1];
          }
          addGreatForecast({
            uId: this.from.uId,
            matchId: this.from.matchId,
            type: 1,
            gameType: 0,
            buyIntegral: this.from.buyIntegral,
            gfTitle: this.from.gfTitle,
            gfContent: this.detail,
            gfPic: this.from.gfPic,
            aTeamId: this.webList.aTeamId,
            bTeamId: this.webList.bTeamId,
            winTeamId: str2,
            winTeamName: str1,
            aTeamName: this.returnAname(this.webList),
            bTeamName: this.returnBname(this.webList)
          })
            .then(res => {
              if (res.data.flag) {
                this.$message.success(res.data.msg);
              } else {
                this.$message.success("发布分析成功");
              }
              this.centerDialogVisible = false;
              this.getList();
            })
            .catch(err => {
              this.$message.error(err.message);
            });
        }
      },
      change(val) {
        this.from.gfContent = val;
      },
      releaseTopic(nameid) {
        // console.log(nameid);
        if (Cookies.get("uId")) {
          selectUserByUserId({
            userId: Cookies.get("uId")
          })
            .then(res => {
              if (res.data.isGreatGod === 2) {
                this.centerDialogVisible = true;
                this.from = {
                  uId: Cookies.get("uId"),
                  type: 1,
                  gameType: 0,
                  buyIntegral: "",
                  gfTitle: "",
                  gfContent: "",
                  gfPic: "",
                  matchId: nameid,
                  aTeamId: "",
                  bTeamId: "",
                  win_team_id: "",
                  win_team_name: "",
                  aTeamName: "",
                  bTeamName: ""
                };
                this.detail = "";
                this.$refs.upload.clearFiles();
              } else {
                this.$message.warning("你还不是大神,无法发布分析");
              }
            })
            .catch(err => {
              this.$message.error(err.message);
            });
        } else {
          this.$message.warning("请先登录");
        }
      },
      searchListAs(val) {
        if (this.leagueA == "") {
          this.leagueA = val;
        } else {
          if (this.leagueA.indexOf(val) > -1) {
            this.leagueA.replace(val, "");
          } else {
            this.leagueA += val;
          }
        }
      },
      searchListBs(val) {
        if (this.leagueB == "") {
          this.leagueB = val;
        } else {
          if (this.leagueB.indexOf(val) > -1) {
            this.leagueB.replace(val, "");
          } else {
            this.leagueB += val;
          }
        }
      },
      searchA(val) {
        this.tablea = val;
        this.currentPage1 = 1;
        this.getList2();
      },
      searchB(val) {
        this.tableb = val;
        this.currentPage2 = 1;
        this.getList3();
      },
      handleCurrentChange1(val) {
        this.currentPage1 = val;
        this.getList2();
      },

      handleCurrentChange2(val) {
        this.currentPage2 = val;
        this.getList3();
      },
      handleCurrentChange3(val) {
        this.currentPage3 = val;
        this.getList4();
      },
      returnType(val) {
        switch (val) {
          case 0:
            return "未知";
            break;
          case 1:
            return "受伤";
            break;
          default:
            return "停赛";
            break;
        }
      },
      onClickTeam(val) {
        this.teamName = val;
      },
      handleClick(tab, event) {
        // console.log(tab);
        // console.log(event);
      },
      reTurnBig(val) {
        if (val != "" && val != null) {
          return val.split(",")[0];
        } else {
          return "-";
        }
      },
      reTurnYa(val) {
        var num1 = 0;
        var num2 = 0;
        if (val.asianplate != null && val.asianplate != "") {
          if (
            val.asianplate.split(",")[1] != null &&
            val.asianplate.split(",")[1] != ""
          ) {
            num1 =
              num1 +
              Number(val.asianplate.split(",")[1]) +
              Number(val.matchScore.split("-")[0]);
            num2 = num2 + Number(val.matchScore.split("-")[1]);

            if (num1 > num2) {
              return "胜";
            } else if (num1 < num2) {
              return "输";
            } else {
              return "和";
            }
          }
        }
        return "-";
      },
      judgeNull(val, num) {
        if (val != "" && val != null) {
          return val.split(",")[num];
        }
        return "-";
      },
      reTurnWin(item) {
        switch (item.isWin) {
          case 1:
            return "胜";
            break;
          case 0:
            return "平";
            break;
          default:
            return "负";
            break;
        }
      },
      reTurnA(item) {
        if (item.aTeamShortName != null && item.aTeamShortName != "") {
          return item.aTeamShortName;
        } else if (item.aTeamName != null && item.aTeamName != "") {
          return item.aTeamName;
        }
      },
      reTurnB(item) {
        if (item.bTeamShortName != null && item.bTeamShortName != "") {
          return item.bTeamShortName;
        } else if (item.bTeamName != null && item.bTeamName != "") {
          return item.bTeamName;
        }
      },
      dateFormat(time) {
        var date = new Date(time);
        var year = date.getFullYear();
        /* 在日期格式中，月份是从0开始的，因此要加0
         * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
         * */
        var month =
          date.getMonth() + 1 < 10
            ? "0" + (date.getMonth() + 1)
            : date.getMonth() + 1;
        var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
        var hours =
          date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
        var minutes =
          date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
        var seconds =
          date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
        // 拼接
        return year + "-" + month + "-" + day;
      },
      async getList() {
        getFootballMatchanAlysis({
          namiId: this.$route.query.namiId
        })
          .then(res => {
            console.log(res.data.webBallMatch);
            this.webList = res.data.webBallMatch;
            //   this.movementsList = res.data.goalDistribution;
            if (res.data.goalDistribution !== null) {
              if (Object.keys(res.data.goalDistribution.home).length != 0) {
                this.movementsListhome.all.scored =
                  res.data.goalDistribution.home.all.scored;
                this.movementsListhome.home.scored =
                  res.data.goalDistribution.home.home.scored;
                this.movementsListhome.away.scored =
                  res.data.goalDistribution.home.away.scored;
              }
              if (Object.keys(res.data.goalDistribution.away).length != 0) {
                this.movementsListaway.all.scored =
                  res.data.goalDistribution.away.all.scored;
                this.movementsListaway.home.scored =
                  res.data.goalDistribution.away.home.scored;
                this.movementsListaway.away.scored =
                  res.data.goalDistribution.away.away.scored;
              }
            }

            this.injuredList = res.data.injury.home;
            this.injuredList2 = res.data.injury.away;
            //   this.dataList = res.data.data;
          })
          .catch(err => {
            this.$message.error(err.message);
          });

        await this.getList2();
        await this.getList3();
        await this.getList4();
        await this.getList5();
      },
      getList2() {
        getTeamMatchHistory({
          current: this.currentPage1,
          size: 10,
          searchStr1: this.leagueA,
          searchInt1: this.$route.query.aTeamId,
          searchInt2: this.tablea,
          searchInt3: this.$route.query.namiId
        })
          .then(res => {
            this.recordListA = res.data.webBallMatchPage.records;
            this.searchListA = res.data.matchNameList;
            this.total1 = res.data.webBallMatchPage.total;
            this.leagueA = "";
            if (this.searchListA.length > 0) {
              if (this.searchListA.length > 1) {
                this.searchListA.map(items => {
                  this.leagueA += items + ",";
                });
              } else {
                this.leagueA = items;
              }
            } else {
              this.leagueA = "";
            }
          })
          .catch(err => {
            this.$message.error(err.message);
          });
      },
      getList3() {
        getTeamMatchHistory({
          current: this.currentPage2,
          size: 10,
          searchStr1: this.leagueB,
          searchInt1: this.$route.query.bTeamId,
          searchInt2: this.tableb,
          searchInt3: this.$route.query.namiId
        })
          .then(res => {
            this.recordListB = res.data.webBallMatchPage.records;
            this.searchListB = res.data.matchNameList;
            this.total2 = res.data.webBallMatchPage.total;
            this.leagueB = "";
            if (this.searchListB.length > 0) {
              if (this.searchListB.length > 1) {
                this.searchListB.map(items => {
                  this.leagueB += items + ",";
                });
              } else {
                this.leagueB = items;
              }
            } else {
              this.leagueB = "";
            }
          })
          .catch(err => {
            this.$message.error(err.message);
          });
      },
      getList4() {
        getTeamsBattle({
          current: this.currentPage3,
          size: 10,
          searchInt1: this.$route.query.aTeamId,
          searchInt2: this.$route.query.bTeamId
        })
          .then(res => {
            this.recordListC = res.data.records;
            this.total3 = res.data.total;
          })
          .catch(err => {
            this.$message.error(err.message);
          });
      },
      getList5() {
        getFootballMatchPoints({
          current: 1,
          size: 30,
          searchInt1: 0,
          searchInt2: this.$route.query.matchId,
          searchInt3: this.$route.query.seasonId
        })
          .then(res => {
            this.integralList = res.data.records;
          })
          .catch(err => {
            this.$message.error(err.message);
          });
      }
    },
    created() {
      this.$nextTick(() => {
        this.getList();
      });
    }
  };
</script>

<style lang="less" scoped>
  .diglog {
    .dialogTittle {
      color: rgba(51, 51, 51, 1);
      font-size: 20px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80px;

      i {
        margin-right: 10px;
        background-image: url("./../../assets/切图/16.png");
        background-repeat: no-repeat;
        display: inline-block;
        width: 25px;
        height: 22px;
      }
    }

    .dialogConter {
      .formItems {
        margin-bottom: 30px;

        span {
          font-size: 16px;
          color: rgba(153, 153, 153, 1);
        }
      }

      .items1 {
        .isSelcectBtn {
          color: #ffffff !important;
          background: linear-gradient(0deg,
          rgba(254, 85, 58, 1),
          rgba(255, 135, 55, 1)) !important;
        }

        button {
          width: 70px;
          height: 44px;
          background-color: rgba(240, 240, 240, 1);
          border-radius: 12px;
          border: none;
          outline: none;
          cursor: pointer;
          font-size: 16px;
          margin-right: 30px;
          font-weight: 400;
        }
      }

      .items2 {
        select {
          margin-left: 2px;
          width: 42%;
          background: rgba(247, 247, 247, 1);
          height: 55px;
          border-radius: 12px;
          outline: none;
          border: none;
          padding-left: 20px;
          padding-right: 20px;
          cursor: pointer;

          option {
            height: 50px;
            outline: none;
            display: block;
          }
        }
      }

      .items3 {
        select {
          margin-left: 30px;
          width: 40%;
          border-radius: 12px;
          background: rgba(247, 247, 247, 1);
          height: 55px;
          outline: none;
          border: none;
          padding-left: 20px;
          padding-right: 20px;

          option {
            height: 50px;
            outline: none;
            display: block;
          }
        }
      }

      .items4 {
        display: flex;
        align-items: center;

        input {
          width: 40%;
          padding-left: 20px;
          font-size: 13px;
          outline: none;
          height: 55px;
          border: none;
          border-radius: 12px;
          background: rgba(247, 247, 247, 1);
          margin-left: 35px;
        }
      }

      .items5 {
        display: flex;
        align-items: flex-start;

        span {
          width: 100px;
        }

        // textarea {
        //   padding-top: 10px;
        //   padding-left: 20px;
        //   color: rgba(199, 199, 199, 1);
        //   font-size: 16px;
        //   outline: none;
        //   border: none;
        //   border-radius: 12px;
        //   background: rgba(247, 247, 247, 1);
        //   margin-left: 30px;
        // }
      }

      .items6 {
        display: flex;
        align-items: center;

        input {
          width: 40%;
          padding-left: 20px;
          font-size: 13px;
          outline: none;
          height: 55px;
          border: none;
          border-radius: 12px;
          background: rgba(247, 247, 247, 1);
          margin-left: 35px;
        }
      }

      .items7 .upload-demo {
        display: inline-flex;
        margin-left: 35px;
      }
    }

    .dialogFooter {
      height: 96px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .cancel {
        margin-right: 61px;
        width: 88px;
        height: 46px;
        background-color: RGBA(255, 232, 225, 1);
        border-radius: 6px;
        cursor: pointer;
        border: none;
        outline: none;
        color: rgba(254, 95, 57, 1);
      }

      .determine {
        width: 88px;
        height: 46px;
        background: linear-gradient(0deg,
        rgba(254, 85, 58, 1),
        rgba(255, 135, 55, 1));
        border-radius: 6px;
        cursor: pointer;
        border: none;
        outline: none;
        color: rgba(255, 255, 255, 1);
      }
    }
  }

  .gameDeatailsFootball {
    width: 1332.09px;
    height: 100%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 100px;

    .isActing {
      color: rgba(255, 135, 55, 1);
    }

    .isActingbtn {
      color: #ffffff !important;
      background: linear-gradient(-30deg,
      rgba(255, 135, 55, 1),
      rgba(254, 85, 58, 1));
      border: none !important;
    }

    .betBut {
      position: absolute;
      top: 700px;
      right: 7%;
      z-index: 50;
      outline: none;
      border: none;
      cursor: pointer;
      background: linear-gradient(-30deg,
      rgba(255, 135, 55, 1),
      rgba(254, 85, 58, 1));
      border-radius: 50%;
      width: 80px;
      height: 80px;
      color: #ffffff;
    }

    .gameData {
      width: 100%;
      height: 88px;
      border-radius: 12px;
      background-color: #ffffff;
      margin-bottom: 20px;
    }

    .gameConter {
      width: 100%;

      .conterLeft {
        width: 100%;
        height: 100%;
        border-radius: 24px;
        background-color: #ffffff;

        p {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding-left: 50px;
          height: 60px;

          i {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-image: url("./../../assets/切图/8.png");
            background-repeat: no-repeat;
            margin-right: 8px;
          }

          color: rgba(0, 0, 0, 1);
          font-size: 16px;
        }

        ul {
          width: 100%;
          height: 100%;

          li {
            text-align: center;
            height: 16%;
            line-height: 60px;
            cursor: pointer;
            color: rgba(153, 153, 153, 1);
            font-size: 16px;
          }
        }
      }

      .conterRight {
        width: 100%;
        height: 100%;

        h3 {
          color: rgba(51, 51, 51, 1);
          line-height: 56px;
          font-size: 16px;
          height: 56px;
          border-bottom: 1px solid rgba(234, 234, 234, 1);
        }

        .areaSelect {
          width: 100%;
          height: 72px;
          border-radius: 12px;
          background-color: #ffffff;
          margin-bottom: 20px;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          button {
            width: 62px;
            height: 32px;
            outline: none;
            border: none;
            cursor: pointer;
            border-radius: 6px;
            color: rgba(153, 153, 153, 1);
            font-size: 12px;
            background-color: rgba(238, 238, 238, 1);
            margin-left: 20px;
          }
        }

        .gameProgress {
          width: 100%;
          height: 318px;
          border-radius: 12px;
          background-color: #ffffff;
          margin-bottom: 20px;
        }

        .gamePower {
          width: 100%;
          height: 100%;
          border-radius: 12px;
          background-color: #ffffff;
          margin-bottom: 20px;

          .aUi {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(4, 25%);
            grid-template-rows: 60px;

            li {
              display: inline-block;
              height: 60px;
              text-align: center;
              line-height: 60px;
              border: 1px solid red;
              margin-right: 0;
              margin-bottom: 0;
            }
          }
        }

        .gameRecord {
          width: 100%;
          height: 100%;
          border-radius: 12px;
          background-color: #ffffff;
          margin-bottom: 20px;
          padding-left: 15px;
          padding-right: 15px;
          padding-bottom: 15px;

          .searchdiv {
            margin-bottom: 20px;
            height: 40px;
            line-height: 38px;

            .searchp {
              color: #322b2c;
              font-size: 16px;
              font-weight: 400;
            }

            font {
              height: 38px;
              display: inline-block;
              width: 60px;
              font-size: 14px;
              border: 1px solid black;
              text-align: center;
              color: #333333;
              cursor: pointer;
              margin-left: 20px;
            }

            strong {
              height: 38px;
              display: inline-block;
              font-weight: normal;
              padding-right: 8px;
              padding-left: 8px;
              font-size: 16px;
              text-align: center;
              color: #333333;
              margin-left: 10px;
              margin-right: 3px;
            }

            b {
              height: 38px;
              display: inline-block;
              padding-right: 8px;
              padding-left: 8px;
              font-size: 14px;
              font-weight: normal;
              border: 1px solid black;
              text-align: center;
              color: #333333;
              cursor: pointer;
              margin-right: 20px;
            }
          }

          .recordData {
            width: 100%;
            height: 60px;
            line-height: 60px;

            span {
              color: #322b2c;
            }
          }
        }

        .gameEncounter {
          width: 100%;
          height: 100%;
          border-radius: 12px;
          background-color: #ffffff;
          margin-bottom: 20px;
          padding-left: 15px;
          padding-right: 15px;
          padding-bottom: 15px;
        }

        .gameIntegral {
          width: 100%;
          height: 100%;
          border-radius: 12px;
          background-color: #ffffff;
          margin-bottom: 20px;
          padding-left: 15px;

          .oddsTittle {
            display: grid;
            grid-template-columns: 40% 20% 40%;
            grid-template-rows: 52px;
            line-height: 52px;
            text-align: center;
            border-bottom: 1px solid rgba(234, 234, 234, 1);
            font-size: 14px;
            color: rgba(153, 153, 153, 1);

            p:nth-child(2) {
              border-left: 1px solid rgba(234, 234, 234, 1);
              border-right: 1px solid rgba(234, 234, 234, 1);
            }
          }

          .oddsItems {
            display: grid;
            grid-template-columns: 40% 20% 40%;
            grid-template-rows: 52px;
            line-height: 52px;
            text-align: center;
            border-bottom: 1px solid rgba(234, 234, 234, 1);
            font-size: 14px;
            color: rgba(153, 153, 153, 1);

            p:nth-child(2) {
              border-left: 1px solid rgba(234, 234, 234, 1);
              border-right: 1px solid rgba(234, 234, 234, 1);
              display: flex;
              justify-content: space-around;
            }

            p:nth-child(3) {
              display: flex;
              justify-content: space-around;
            }
          }
        }

        .gameTimely {
          width: 100%;
          height: 600px;
          border-radius: 12px;
          background-color: #ffffff;
          margin-bottom: 20px;
          padding-left: 15px;

          .gameMain {
            width: 100%;
            height: 500px;
            display: grid;
            grid-template-columns: 48% 48%;
            grid-template-rows: 500px;
            grid-column-gap: 30px;

            .teamA {
              width: 100%;
              height: 500px;

              h5 {
                height: 60px;
                line-height: 60px;
                border-bottom: 1px solid #cccccc;
                color: #606266;
                display: flex;
                align-items: center;

                img {
                  width: 40px;
                  height: 40px;
                  display: inline-block;
                  margin-right: 10px;
                  margin-left: 20px;
                }
              }

              .aTittle {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                grid-template-rows: 100px;
                line-height: 100px;
                text-align: center;
                color: #606266;
              }

              .aAll {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                grid-template-rows: 100px;
                line-height: 100px;
                text-align: center;
                color: #606266;
              }

              .aMain {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                grid-template-rows: 100px;
                line-height: 100px;
                text-align: center;
                color: #606266;
              }

              .aVisit {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                grid-template-rows: 100px;
                line-height: 100px;
                text-align: center;
                color: #606266;
              }
            }

            .teamB {
              width: 100%;
              height: 500px;

              h5 {
                height: 60px;
                line-height: 60px;
                border-bottom: 1px solid #cccccc;
                color: #606266;
                display: flex;
                align-items: center;

                img {
                  width: 40px;
                  height: 40px;
                  display: inline-block;
                  margin-right: 10px;
                  margin-left: 20px;
                }
              }

              .bTittle {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                grid-template-rows: 100px;
                line-height: 100px;
                text-align: center;
                color: #606266;
              }

              .bAll {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                grid-template-rows: 100px;
                line-height: 100px;
                text-align: center;
                color: #606266;
              }

              .bMain {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                grid-template-rows: 100px;
                line-height: 100px;
                text-align: center;
                color: #606266;
              }

              .bVisit {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                grid-template-rows: 100px;
                line-height: 100px;
                text-align: center;
                color: #606266;
              }
            }
          }
        }

        .gameInjured {
          width: 100%;
          height: 100%;
          border-radius: 12px;
          background-color: #ffffff;
          margin-bottom: 20px;
          padding: 15px;

          h3 {
            span {
              font-size: 16px;
              margin-left: 30px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .homeFoot {
    width: 100%;
    height: 253px;
    background-color: #2d2f39;

    .footCenter {
      width: 100%;
      height: 150px;
      padding-top: 47px;

      .incenter {
        height: 190px;
        width: 75%;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .footleft {
          width: 60%;
          height: 100%;
          display: flex;
          justify-content: flex-end;

          .footui {
            width: 25%;
            color: #ffffff;
            float: left;

            span {
              font-size: 18px;
              display: block;
              margin-bottom: 25px;
            }

            ul {
              width: 300px;
              font-size: 14px;

              li {
                display: inline-block;
                margin-bottom: 10px;
                cursor: pointer;
                font-weight: 600;
                width: 40%;
              }
            }
          }

          .footui1 {
            width: 30%;
            color: #ffffff;
            float: left;

            span {
              font-size: 18px;
              display: block;
              margin-bottom: 25px;
            }

            ul {
              width: 300px;
              height: 150px;
              font-size: 14px;

              li {
                display: block;
                margin-bottom: 5px;
                cursor: pointer;
                font-weight: 600;
                font-size: 12px;
              }
            }
          }
        }

        .footright {
          width: 35%;
          display: flex;
          align-items: center;
          justify-content: center;

          .code1 div {
            background-image: url("./../../assets/weibo.jpg");
            background-size: 100% 100%;
            background-repeat: no-repeat;
          }

          .footcode {
            width: 30%;
            float: left;
            display: flex;
            align-items: center;
            flex-direction: column;

            div {
              background-color: #ffffff;
              width: 104px;
              height: 104px;
              line-height: 104px;
              text-align: center;
              color: black;
            }

            span {
              font-weight: 600;
            }
          }
        }
      }
    }

    .footButtom {
      width: 100%;
      height: 52px;
      border-top: 2px solid #202128;

      div {
        height: 52px;
        width: 50%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          color: #ffffff;
          font-size: 15px;
        }
      }
    }
  }
</style>
