<template>
  <div>
    <!-- 顶部导航栏 -->
    <div style="width: 100%;margin:0 auto;background: #333">
      <el-menu
        :default-active="activeIndex"
        class="el-menu-demo"
        mode="horizontal"
        @select="handleSelect"
        background-color="#333333"
        text-color="#ffffff"
        active-text-color="#FF8737"
      >
        <el-menu-item index="1">足球</el-menu-item>
        <el-menu-item index="2">篮球</el-menu-item>
        <el-menu-item index="3">电竞</el-menu-item>
      </el-menu>
    </div>
    <div
      class="bbsdetails"
      :class="[{ bbsfoot: activeIndex==1 }, { bbsBask: activeIndex==2 },{ bbssport: activeIndex==3 }]"
    >
      <div class="bbsBack">
        <div class="backDiv" @click="()=>{this.$router.back()}">
          <img src="../../assets/arrow_left.png" />
          <span>返回</span>
        </div>
        <el-row :gutter="20">
          <el-col :span="24">
            <div class="bbsRight">
              <div class="conterTop">
                <div class="conterLeft">
                  <div class="toptittle">
                    <!--标题-->
                    <span>{{articleDetails.aTitle}}</span>
                    <div class="time">
                      <span
                        style="float: right;margin-right: 30px;margin-bottom: -13px;font-size: 12px;color: #9c9c9c;display: inline-block"
                      >
                        <i class="eye"></i>
                        {{articleDetails.lookCount}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <i
                          class="ren"
                        ></i>
                        <span
                          :class="{ 'isActings': articleDetails.isCollectionArticle=='1'}"
                        >{{articleDetails.collectionCount}}</span>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <i
                          class="xx"
                        ></i>
                        <span>{{articleDetails.remarkCount}}</span>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{jetLag}}前发布
                      </span>
                    </div>
                  </div>
                  <div class="topInformation">
                    <div class="informationLeft"></div>
                  </div>

                  <div class="topImg">
                    <div class="vhtml" v-html="articleDetails.aContent"></div>
                    <div class="starBut1" v-if="articleDetails.isLikeArticle==0" @click="onLike(0)">
                      <img src="./../../assets/切图/28.png" alt="星" />
                      <p>{{articleDetails.likeCount}}</p>
                    </div>
                    <div class="starBut" v-if="articleDetails.isLikeArticle==1" @click="onLike(1)">
                      <img src="./../../assets/切图/28.png" alt="星" />
                      <p>{{articleDetails.likeCount}}</p>
                    </div>
                    <div class="collectdiv">
                      <div class="collectionBtn">
                        <span
                          v-if="articleDetails.isCollectionArticle==0"
                          @click="doArticleCollection"
                        >收藏</span>

                        <span
                          v-if="articleDetails.isCollectionArticle==1"
                          class="isCollection"
                          @click="doArticleCollection"
                        >取消收藏</span>

                        <span>收藏数量{{articleDetails.collectionCount}}</span>

                        <span v-if="collectionFlag" @click="onCollection">编辑</span>
                      </div>
                    </div>
                  </div>

                  <div class="conterBut">
                    <div class="contTextarea">
                      <textarea v-model="textarea" placeholder="发表你的评论吧"></textarea>
                      <button @click="addRemark">评论</button>
                    </div>

                    <div class="contComments">
                      <p>
                        全部评论啊
                        <span>({{articleDetails.remarkCount}})</span>
                      </p>
                      <div class="contItems" v-for="(item, index) in remarkList" :key="index">
                        <div class="itemsLeft">
                          <img src="./../../assets/头像.png" alt="头像" />
                        </div>
                        <div class="itemsRight">
                          <span>{{item.nickName}}</span>
                          <p>{{item.arContent}}</p>
                          <font>{{latTime(item.createTime)}}前</font>
                        </div>
                      </div>

                      <el-pagination
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        :page-size="pagesize"
                        layout="total, prev, pager, next, jumper"
                        :total="total"
                        v-if="total>5"
                        style="text-align: right;margin-top: 20px;"
                      ></el-pagination>
                    </div>
                  </div>
                </div>
                <div class="conterRight" style="margin-left: 30px">
                  <div class="rightTop">
                    <div>
                      <div class="informationRight">
                        <img :src="articleDetails.headUrl" alt="football" />
                      </div>
                      <div class="inforOf">
                        <span>{{articleDetails.nickName}}</span>
                        <br />
                        <span style="font-size: 12px">这个人比较懒，什么都没有留下</span>
                      </div>
                    </div>
                  </div>
                  <div class="rightBut">
                    <p class="hotTittle">热门文章</p>
                    <div
                      class="writeDiv"
                      v-for="(item,i) in writeList"
                      :key="i"
                      @click="jumpWriteD(item.aId)"
                    >
                      <div class="weiteIndex">
                        <span :class="[{ num1: i+1==1 }, { num2: i+1==2 },{ num3: i+1==3 }]">{{i+1}}</span>
                      </div>
                      <div class="writeLeft">
                        <span :title="item.aTitle">{{item.aTitle}}</span>
                      </div>
                      <div class="writeRight">
                        <p>
                          {{item.lookCount}}&nbsp;
                          <span>次浏览量</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </el-col>
        </el-row>
      </div>
    </div>
    <el-dialog
      :visible.sync="centerDialogVisible"
      width="843px"
      center
      class="diglog"
      :show-close="false"
      :close-on-click-modal="false"
      close-on-press-escape
    >
      <p slot="title" class="dialogTittle">
        <i></i>编辑话题
      </p>
      <div class="dialogConter">
        <div class="formItems items4">
          <span>填写标题</span>
          <input type="text" placeholder="请输入" v-model="from.aTitle" />
        </div>

        <div class="formItems items5">
          <span>填写详情</span>
          <!-- <textarea name id cols="80" rows="14"></textarea> -->
          <editor-bar v-model="detail" :isClear="isClear" @change="change"></editor-bar>
        </div>
      </div>
      <div slot="footer" class="dialogFooter">
        <button @click="centerDialogVisible = false" class="cancel">取 消</button>
        <button @click="modifyThe" class="determine">修 改</button>
      </div>
    </el-dialog>
    <Footer />
  </div>
</template>

<script>
//论坛版块详情
import Cookies from "js-cookie";
import {
  getArticleByAid,
  getRemarkList,
  doArticleLike,
  addRemark,
  doArticleCollection,
  updateArticle,
  getHotArticle,
  getFootballTeamMatchScore,
  getTopArticle
} from "../../api/api";
import { get_time_diff, get_time_diff2 } from "../../utils/data";
import EditorBar from "../../components/wangeditor";
import Footer from "../footer/footer";

export default {
  name: "bbsdetails",
  data() {
    return {
      currentPage: 1,
      pagesize: 5,
      total: 0,
      aid: "",
      likeTime: true,
      collectionTime: true,
      theGame: "football",
      activeIndex: "1",
      articleDetails: {},
      remarkList: [],
      writeList: [],
      jetLag: "",
      textarea: "",
      collectionFlag: false,
      centerDialogVisible: false,
      isClear: false,
      detail: "",
      from: {
        uId: Cookies.get("uId"),
        agId: "",
        aId: "",
        aTitle: "",
        aContent: "",
        file: ""
      },
      typeId: this.$route.query
    };
  },
  mounted() {},
  components: {
    Footer,
    EditorBar
  },
  methods: {
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getCommentsList();
    },
    jumpWriteD(aids) {
      this.aid = aids;
      this.getList();
    },
    modifyThe() {
      updateArticle({
        uId: Cookies.get("uId"),
        aId: this.$route.query.aid,
        agId: this.$route.query.agId,
        aTitle: this.from.aTitle,
        aContent: this.detail,
        file: ""
      })
        .then(res => {
          this.centerDialogVisible = false;
          this.getList();
          this.getCommentsList();
        })
        .catch(err => {});
    },
    change(val) {
      this.from.aContent = val;
    },
    onCollection() {
      this.centerDialogVisible = true;
      this.from.aTitle = this.articleDetails.aTitle;
      this.detail = this.articleDetails.aContent;
    },
    doArticleCollection() {
      if (Cookies.get("uId") != null && Cookies.get("uId") != "") {
        if (this.collectionTime) {
          doArticleCollection({
            uId: Cookies.get("uId"),
            aId: this.$route.query.aid
          })
            .then(res => {
              if (res.data.flag) {
                this.$message.success(res.data.msg);
              } else {
                this.$message.success("收藏成功");
              }
              this.getList();
              this.getCommentsList();
              var self = this;
              this.collectionTime = false;
              var time2 = setTimeout(function() {
                self.collectionTime = true;
                clearTimeout(time2);
              }, 2000);
            })
            .catch(err => {});
        }
      } else {
        this.$message.warning("请先登录");
      }
    },
    addRemark() {
      if (this.textarea == "") {
        this.$message.info("评论为空,请先填写你要发表的评论。");
        return false;
      }
      addRemark({
        uId: Cookies.get("uId"),
        aId: this.$route.query.aid,
        arContent: this.textarea
      })
        .then(res => {
          if (res.data.flag) {
            this.$message.success(res.data.msg);
          } else {
            this.$message.success("评论成功");
          }
          this.textarea = "";
          this.getCommentsList();
        })
        .catch(err => {});
    },
    onLike() {
      if (Cookies.get("uId") != null && Cookies.get("uId") != "") {
        if (this.likeTime) {
          doArticleLike({
            uId: Cookies.get("uId"),
            aId: this.$route.query.aid
          })
            .then(res => {
              this.getList();
              this.getCommentsList();
              var self = this;
              this.likeTime = false;
              var time1 = setTimeout(function() {
                self.likeTime = true;
                clearTimeout(time1);
              }, 2000);
            })
            .catch(err => {});
        }
      } else {
        this.$message.warning("请先登录");
      }
    },
    latTime(time) {
      var date = new Date(time);
      return get_time_diff(date.getTime());
    },
    handleSelect(key, keyPath) {
      Cookies.set("pageIndex", key);
      switch (key) {
        case "1":
          this.$router.push({
            path: "/bbs",
            query: {
              key: 1
            }
          });
          break;
        case "2":
          this.$router.push({
            path: "/bbs",
            query: {
              key: 2
            }
          });
          break;
        case "3":
          this.$router.push({
            path: "/bbs",
            query: {
              key: 3
            }
          });
          break;
        case "4":
          this.$router.push({
            path: "/bbs",
            query: {
              key: 4
            }
          });
          break;
        default:
          break;
      }
    },
    getCommentsList() {
      getRemarkList({
        current: this.currentPage,
        size: this.pagesize,
        searchInt1: this.$route.query.aid
      })
        .then(res => {
          this.total = res.data.total;
          this.remarkList = res.data.records;
        })
        .catch(err => {});
    },
    getWriteList() {
      getTopArticle({
        current: 1,
        size: 10,
        searchInt1: this.typeId
      })
        .then(res => {
          this.writeList = res.data.records;
        })
        .catch(err => {});
    },

    getList() {
      getArticleByAid({
        aId: this.aid,
        uId: Cookies.get("uId") == null ? 0 : Cookies.get("uId")
      })
        .then(res => {
          this.articleDetails = res.data;
          var date = new Date(res.data.createTime);
          this.activeIndex = res.data.type.toString();
          this.jetLag = get_time_diff(date.getTime());
          if (res.data.uId == Cookies.get("uId")) {
            this.collectionFlag = true;
          }
        })
        .catch(err => {});
    },
    jumpTo(addrees, game) {
      this.$router.push({
        path: addrees
      });
      this.theGame = game;
    }
  },
  created() {
    if (this.$route.query.type) {
      this.typeId = this.$route.query.type;
    }
    if (this.$route.query.aid) {
      this.aid = this.$route.query.aid;
    }
    this.getList();
    this.getWriteList();
    this.getCommentsList();
  }
};
</script>

<style lang="less" scoped>
.diglog {
  .dialogTittle {
    color: rgba(51, 51, 51, 1);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;

    i {
      margin-right: 10px;
      background-image: url("./../../assets/切图/16.png");
      background-repeat: no-repeat;
      display: inline-block;
      width: 25px;
      height: 22px;
    }
  }

  .dialogConter {
    .formItems {
      margin-bottom: 30px;

      span {
        font-size: 16px;
        color: rgba(153, 153, 153, 1);
      }
    }

    .items1 {
      .isSelcectBtn {
        color: #ffffff !important;
        background: linear-gradient(
          0deg,
          rgba(254, 85, 58, 1),
          rgba(255, 135, 55, 1)
        ) !important;
      }

      button {
        width: 70px;
        height: 44px;
        background-color: rgba(240, 240, 240, 1);
        border-radius: 12px;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 16px;
        margin-right: 30px;
        font-weight: 400;
      }
    }

    .items2 {
      select {
        margin-left: 30px;
        width: 40%;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        height: 55px;
        outline: none;
        border: none;
        padding-left: 20px;
        padding-right: 20px;

        option {
          height: 50px;
          outline: none;
          display: block;
        }
      }
    }

    .items3 {
      select {
        margin-left: 30px;
        width: 40%;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        height: 55px;
        outline: none;
        border: none;
        padding-left: 20px;
        padding-right: 20px;

        option {
          height: 50px;
          outline: none;
          display: block;
        }
      }
    }

    .items4 {
      display: flex;
      align-items: center;

      input {
        width: 40%;
        padding-left: 20px;
        color: rgba(199, 199, 199, 1);
        font-size: 16px;
        outline: none;
        height: 55px;
        border: none;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        margin-left: 35px;
      }
    }

    .items5 {
      display: flex;
      align-items: flex-start;

      span {
        width: 100px;
      }

      // textarea {
      //   padding-top: 10px;
      //   padding-left: 20px;
      //   color: rgba(199, 199, 199, 1);
      //   font-size: 16px;
      //   outline: none;
      //   border: none;
      //   border-radius: 12px;
      //   background: rgba(247, 247, 247, 1);
      //   margin-left: 30px;
      // }
    }

    .items6 {
      display: flex;
      align-items: center;

      input {
        width: 40%;
        padding-left: 20px;
        color: rgba(199, 199, 199, 1);
        font-size: 16px;
        outline: none;
        height: 55px;
        border: none;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        margin-left: 20px;
      }
    }

    .items7 .upload-demo {
      display: inline-flex;
      margin-left: 35px;
    }
  }

  .dialogFooter {
    height: 96px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .cancel {
      margin-right: 61px;
      width: 88px;
      height: 46px;
      background-color: RGBA(255, 232, 225, 1);
      border-radius: 6px;
      cursor: pointer;
      border: none;
      outline: none;
      color: rgba(254, 95, 57, 1);
    }

    .determine {
      width: 88px;
      height: 46px;
      background: linear-gradient(
        0deg,
        rgba(254, 85, 58, 1),
        rgba(255, 135, 55, 1)
      );
      border-radius: 6px;
      cursor: pointer;
      border: none;
      outline: none;
      color: rgba(255, 255, 255, 1);
    }
  }
}

.bbsfoot {
  background-image: url("./../../assets/切图/36.jpg");
}

.bbsBask {
  background-image: url("./../../assets/切图/35.jpg");
}

.bbssport {
  background-image: url("./../../assets/切图/34.jpg");
}

.bbsdetails {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 20px;

  .bbsBack {
    .backDiv {
      width: 54px;
      cursor: pointer;
      img {
        width: 10px;
        height: 14px;
        margin-right: 6px;
      }
      display: flex;
      color: #000;
    }
    width: 1200px;
    /*width: 70%;*/
    height: 100%;
    min-height: 1089px;
    margin: 0 auto;

    .isActing {
      color: #fe5e3a !important;
    }

    .isActings {
      color: orange !important;
    }

    .bbsLeft {
      .bbsLeftNavigation {
        border-radius: 24px;
        width: 232px;
        height: 270px;
        background-color: #ffffff;
        padding-top: 20px;

        .navigationTittle {
          p {
            font-size: 16px;
            text-align: center;
            color: rgba(0, 0, 0, 1);
            font-weight: Regular;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
              margin-right: 8px;
              width: 20px;
              height: 20px;
              display: inline-block;
              background-image: url("./../../assets/信息小.png");
              background-repeat: no-repeat;
            }
          }
        }

        .navigationUl {
          li {
            cursor: pointer;
            font-size: 16px;
            color: #999999;
            height: 80px;
            line-height: 80px;
            text-align: center;
          }
        }
      }
    }

    .bbsRight {
      /*border: 1px solid #bababa;*/
      width: 100%;
      height: 100%;

      .conterTop {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
        /*background-color: #ffffff;*/
        border-radius: 6px;
        display: flex;
        /*justify-content: space-between;*/

        .conterLeft {
          width: 60%;
          height: 100%;
          /*border-right: 1px;*/
          background-color: #ffffff;
          border-style: double;
          border-width: 1px;
          border-radius: 15px 15px 15px 15px;
          margin-left: 10%;

          .conterBut {
            width: 100%;
            height: 100%;
            margin-top: 20px;
            margin-bottom: 10px;
            background-color: #ffffff;
            border-radius: 6px;

            .contTextarea {
              height: 160px;
              border-bottom: 1px solid rgba(242, 242, 242, 1);
              padding-left: 15px;
              padding-top: 15px;
              margin: 10px auto;

              textarea {
                background-color: rgba(249, 249, 249, 1);
                outline: none;
                width: 640px;
                height: 100px;
                border-color: #8c939d;
                border-style: solid;
                border-width: 1px;
              }

              button {
                margin-top: 6px;
                margin-right: 30px;
                float: right;
                outline: none;
                cursor: pointer;
                border: none;
                color: #ffffff;
                font-size: 8px;
                width: 66px;
                height: 28px;
                background: linear-gradient(
                  0deg,
                  rgba(254, 85, 58, 1),
                  rgba(255, 135, 55, 1)
                );
                border-radius: 3px;
              }
            }

            .contComments {
              padding-left: 15px;
              padding-right: 15px;
              padding-top: 20px;
              min-height: 30px;

              p {
                color: rgba(51, 51, 51, 1);
                font-size: 10px;
                margin-bottom: 24px;

                span {
                  color: RGBA(154, 154, 154, 1);
                  font-size: 10px;
                }
              }

              .contItems {
                height: 150px;

                .itemsLeft {
                  float: left;
                  width: 30px;
                  height: 100%;
                  line-height: 150px;

                  img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                  }
                }

                .itemsRight {
                  float: left;
                  margin-left: 20px;

                  span {
                    margin-top: 40px;
                    display: block;
                    font-size: 8px;
                    color: rgba(51, 51, 51, 1);
                  }

                  p {
                    margin-top: 20px;
                    margin-bottom: 0px;
                    font-size: 7px;
                    color: rgba(102, 102, 102, 1);
                  }

                  font {
                    margin-top: 20px;
                    display: block;
                    font-size: 7px;
                    color: rgba(194, 194, 194, 1);
                  }
                }
              }
            }
          }

          .toptittle {
            text-align: center;
            padding: 15px;
            font-size: 25px;
            color: rgba(0, 0, 0, 1);
            border-bottom: 1px solid rgb(174, 174, 174);
            font-weight: bold;

            .isCollection {
              color: orange;
            }
          }

          .time {
            display: inline-block;
            width: 100%;
          }

          .topInformation {
            height: 20px;
            width: 100%;

            .informationLeft {
              float: left;
              margin-left: 20px;

              p {
                color: rgba(153, 153, 153, 1);
                font-size: 7px;
                margin-top: 20px;
              }

              span {
                font-size: 6px;
                color: rgba(153, 153, 153, 1);
              }
            }
          }

          .topImg {
            word-wrap: break-word;
            height: 100%;
            padding-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 15px;

            div {
              color: rgba(102, 102, 102, 1);
              margin-bottom: 9.5px;
              line-height: 24px;
            }

            img {
              display: block;
              margin-bottom: 20px;
            }

            .starBut {
              width: 95px;
              height: 52px;
              cursor: pointer;
              margin: 60px auto 0 auto;
              background: linear-gradient(
                0deg,
                rgba(254, 85, 58, 1),
                rgba(255, 135, 55, 1)
              );
              border-radius: 26px;

              img {
                margin: 8px 30px 0 37px;
                width: 20px;
                height: 20px;
                display: inline-block;
                background-image: url("./../../assets/星.png");
                background-repeat: no-repeat;
              }

              p {
                font-size: 9px;
                color: rgba(255, 255, 255, 1);
                line-height: 10px;
                text-align: center;
              }
            }

            .starBut1 {
              width: 95px;
              height: 52px;
              cursor: pointer;
              margin: 60px auto 0 auto;
              background: gray;
              border-radius: 26px;

              img {
                margin: 8px 30px 0 37px;
                width: 20px;
                height: 20px;
                display: inline-block;
                background-image: url("./../../assets/星.png");
                background-repeat: no-repeat;
              }

              p {
                font-size: 9px;
                color: rgba(255, 255, 255, 1);
                line-height: 10px;
                text-align: center;
              }
            }

            .collectdiv {
              display: flex;
              align-items: center;
              justify-content: center;

              .collectionBtn {
                padding-left: 20px;
                display: block;
                margin-top: 15px;
                text-align: center;
                float: right;

                span:nth-child(1) {
                  cursor: pointer;
                  margin-right: 20px;
                }

                span:nth-child(2) {
                  margin-right: 20px;
                }

                span:nth-child(3) {
                  cursor: pointer;
                  margin-right: 50px;
                }
              }
            }
          }
        }

        .conterRight {
          width: 33%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background-color: #ffffff;
          border-radius: 15px 15px 15px 15px;
          border: 1px solid;

          .rightTop {
            /*height: 164px;*/
            margin-left: 20px;
            margin-top: 20px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            border-bottom: 1px solid #efefef;

            .informationRight {
              margin-top: 15px;
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                display: inline-block;
                width: 65px;
                height: 65px;
                border-radius: 50%;
                margin-right: 8px;
                border-width: 1px;
                border-style: solid;
              }

              span {
                color: rgba(102, 102, 102, 1);
                font-size: 8px;
              }
            }

            p {
              text-align: center;
              color: rgba(153, 153, 153, 1);
              font-size: 7px;
              margin-top: 10px;
            }

            .inforOf {
              margin-top: 15px;
              text-align: center;
              margin-left: -10px;

              div {
                float: left;
              }

              /*.eye {*/
              /*  display: flex;*/
              /*  justify-content: center;*/
              /*  align-content: center;*/
              /*  i {*/
              /*    width: 20px;*/
              /*    height: 20px;*/
              /*    display: inline-block;*/
              /*    margin-right: 5px;*/
              /*    background-image: url("./../../assets/切图/10.png");*/
              /*    background-repeat: no-repeat;*/
              /*  }*/
              /*}*/
              /*.ren {*/
              /*  display: flex;*/
              /*  justify-content: center;*/
              /*  align-content: center;*/
              /*  margin-left: 30px;*/
              /*  i {*/
              /*    width: 20px;*/
              /*    height: 20px;*/
              /*    display: inline-block;*/
              /*    margin-right: 5px;*/
              /*    background-image: url("./../../assets/切图/15.png");*/
              /*    background-repeat: no-repeat;*/
              /*  }*/
              /*}*/
              /*.xx {*/
              /*  display: flex;*/
              /*  justify-content: center;*/
              /*  align-content: center;*/
              /*  margin-left: 30px;*/
              /*  i {*/
              /*    width: 20px;*/
              /*    height: 20px;*/
              /*    display: inline-block;*/
              /*    margin-right: 5px;*/
              /*    background-image: url("./../../assets/切图/14.png");*/
              /*    background-repeat: no-repeat;*/
              /*  }*/
              /*}*/
            }
          }

          .rightBut {
            width: 100%;
            height: 100%;
            margin-bottom: 20px;

            .hotTittle {
              width: calc(100% - 10px);
              height: 60px;
              line-height: 60px;
              padding-left: 10px;
              font-size: 16px;
              background-color: #ffffff;
              /*border-bottom: solid;*/
              /*border-bottom-color: #b3b1b1;*/
              /*border-bottom-width: 1px;*/
              /*border-top: solid;*/
              /*border-top-color: #b3b1b1;*/
              /*border-top-width: 1px;*/
            }

            .writeDiv {
              height: 40px;
              width: 100%;
              font-size: 12px;
              margin-top: 3px;
              background-color: #ffffff;
              cursor: pointer;

              .weiteIndex {
                float: left;
                width: 10%;
                font-size: 14px;
                line-height: 20px;

                .num1 {
                  color: #fff;
                  background: #bf2c24;
                }

                .num2 {
                  color: #fff;
                  background: #e67225;
                }

                .num3 {
                  color: #fff;
                  background: #e6bf25;
                }

                span {
                  margin-left: 10px;
                  margin-top: 11px;
                  color: #666;
                  background: #ededed;
                  text-align: center;
                  display: block;
                  overflow: hidden;
                  width: 20px;
                  height: 20px;
                }
              }

              .writeLeft {
                float: left;
                width: 60%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 12px;
                height: 100%;
                line-height: 40px;
                color: #000000;
              }

              .writeRight {
                float: left;
                height: 100%;
                margin-left: 20px;
                line-height: 40px;

                p:nth-child(1) {
                  font-size: 10px;
                  color: #999999;

                  span {
                    color: orange;
                  }
                }
              }
            }

            .hotWriteItems {
              width: calc(100% - 10px);
              height: 40px;
              line-height: 40px;
              padding-left: 10px;
              font-size: 14px;
              color: #999999;
              background-color: #e4e2e0;
              margin-bottom: 2px;
              cursor: pointer;
            }
          }
        }
      }

      .conterBut {
        width: 100%;
        height: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
        background-color: #ffffff;
        border-radius: 6px;

        .contTextarea {
          height: 160px;
          border-bottom: 1px solid rgba(242, 242, 242, 1);
          display: block;
          margin: 5px auto;

          textarea {
            resize: none;
            background-color: rgba(249, 249, 249, 1);
            width: 640px;
            height: 100px;
            border: none;
            outline: none;
          }

          button {
            margin-top: 6px;
            margin-right: 30px;
            float: right;
            outline: none;
            cursor: pointer;
            border: none;
            color: #ffffff;
            font-size: 8px;
            width: 66px;
            height: 28px;
            background: linear-gradient(
              0deg,
              rgba(254, 85, 58, 1),
              rgba(255, 135, 55, 1)
            );
            border-radius: 3px;
          }
        }

        .contComments {
          padding-left: 15px;
          padding-right: 15px;
          padding-top: 20px;
          min-height: 30px;

          p {
            color: rgba(51, 51, 51, 1);
            font-size: 10px;
            margin-bottom: 24px;

            span {
              color: RGBA(154, 154, 154, 1);
              font-size: 10px;
            }
          }

          .contItems {
            height: 150px;

            .itemsLeft {
              float: left;
              width: 30px;
              height: 100%;
              line-height: 150px;

              img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
              }
            }

            .itemsRight {
              float: left;
              margin-left: 20px;

              span {
                margin-top: 40px;
                display: block;
                font-size: 8px;
                color: rgba(51, 51, 51, 1);
              }

              p {
                margin-top: 20px;
                margin-bottom: 0px;
                font-size: 7px;
                color: rgba(102, 102, 102, 1);
              }

              font {
                margin-top: 20px;
                display: block;
                font-size: 7px;
                color: rgba(194, 194, 194, 1);
              }
            }
          }
        }
      }
    }
  }

  .homeFoot {
    width: 100%;
    height: 253px;
    background-color: #2d2f39;

    .footCenter {
      width: 100%;
      height: 150px;
      padding-top: 47px;

      .incenter {
        height: 190px;
        width: 75%;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .footleft {
          width: 60%;
          height: 100%;
          display: flex;
          justify-content: flex-end;

          .footui {
            width: 25%;
            color: #ffffff;
            float: left;

            span {
              font-size: 18px;
              display: block;
              margin-bottom: 25px;
            }

            ul {
              width: 300px;
              font-size: 14px;

              li {
                display: inline-block;
                margin-bottom: 10px;
                cursor: pointer;
                font-weight: 600;
                width: 40%;
              }
            }
          }

          .footui1 {
            width: 30%;
            color: #ffffff;
            float: left;

            span {
              font-size: 18px;
              display: block;
              margin-bottom: 25px;
            }

            ul {
              width: 300px;
              height: 150px;
              font-size: 14px;

              li {
                display: block;
                margin-bottom: 5px;
                cursor: pointer;
                font-weight: 600;
                font-size: 12px;
              }
            }
          }
        }

        .footright {
          width: 35%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: -30px;
          .code1 div {
            background-image: url("./../../assets/weibo.jpg");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            margin-bottom: 10px;
          }
          .code2 div {
            background-image: url("./../../assets/weixin.png");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            margin-bottom: 10px;
          }

          .footcode {
            width: 30%;
            float: left;
            display: flex;
            align-items: center;
            flex-direction: column;

            div {
              background-color: #ffffff;
              width: 104px;
              height: 104px;
              line-height: 104px;
              text-align: center;
              color: black;
            }

            span {
              font-weight: 600;
            }
          }
        }
      }
    }

    .footButtom {
      width: 100%;
      height: 52px;
      border-top: 2px solid #202128;

      div {
        height: 52px;
        width: 50%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          color: #ffffff;
          font-size: 15px;
        }
      }
    }
  }
}
</style>
<style>
.vhtml > p > img {
  width: 40% !important;
  display: block;
  margin: 20px auto;
}

.vhtml > div > img {
  width: 40% !important;
  padding-left: 30%;
  max-width: 668px;
}

.time > span {
  display: flex;
  justify-content: center;
  align-content: center;
}

.eye {
  width: 20px;
  height: 20px;
  display: inline-block;
  /*margin-right: 5px;*/
  margin-bottom: -7px;
  background-image: url("./../../assets/切图/10.png");
  background-repeat: no-repeat;
}

.ren {
  width: 20px;
  height: 20px;
  display: inline-block;
  /*margin-right: 5px;*/
  margin-bottom: -5px;
  background-image: url("./../../assets/切图/15.png");
  background-repeat: no-repeat;
}

.xx {
  width: 20px;
  height: 20px;
  display: inline-block;
  /*margin-right: 5px;*/
  margin-bottom: -7px;
  background-image: url("./../../assets/切图/14.png");
  background-repeat: no-repeat;
  background-size: 17px;
}
</style>
<style lang="less">
.vhtml {
  img {
    max-width: 668px;
  }
}
</style>
