<template>
  <div>
    <!-- 顶部导航栏 -->
    <div class="navigationMenu">
      <div class="menuCenter">
        <ul class="navigationMenuUi">
          <li @click="selectGame(1)" :class="{ 'isActing': pageIndex=='1'}">足球</li>
          <li @click="selectGame(2)" :class="{ 'isActing': pageIndex=='2'}">篮球</li>
          <li @click="selectGame(3)" :class="{ 'isActing': pageIndex=='3'}">电竞</li>
        </ul>
        <div class="buttonList">
          <i></i>
          <button @click="releaseTopic">发布话题</button>
        </div>
      </div>
    </div>
    <div
      class="bbs"
      :class="[{ bbsfoot: pageIndex==1 }, { bbsBask: pageIndex==2 },{ bbssport: pageIndex==3 }]"
    >
      <div style="padding: 5px;"></div>
      <div
        class="bbs_con"
        v-for="(item,i) in articleList"
        :key="i"
        @click="jumpTos(item.type,item.aId,item.agId)"
        v-bind:class="{yuo:i==0,you:i==articleList.length-1}"
      >
        <img
          style="width:45px;height:45px;border-radius:50%;position: absolute"
          :src="item.headUrl"
        />
        <div style="float: right;width: 15%;">
          <img
            style="margin-left:-140px;
                      height:188px;
                      width: 300px;
                      border-radius: 5px;
                      background-color: black;
                   "
            :src="item.aPic"
          />
        </div>
        <div style="padding: 0 50px;float: right;width: 85%;position: relative">
          <p
            style="font-size:20px; color: #272727;width: 80%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-weight: 900;line-height: 30px;
            cursor: pointer;"
          >{{item.aTitle}}</p>
          <span class="newti">{{item.aSubtitle}}</span>
          <span style="color:#b4b4b4;float: left;font-weight: 700;">{{item.nickName}}</span>
          <span style="margin-right: 60%;float: right;color: #919191">{{item.createTime}}</span>
          <div
            style="position: absolute;left: 64%;top: 30%;padding: 10px 20px;background-color: #ff5943;color: white;"
            v-if="item.isTop==1"
          >置顶</div>
          <div style="position: absolute;left: 43%;bottom:0;width: 30%">
            <i class="jk"></i>
            <span style="padding-right: 10px;">{{item.lookCount}}</span>

            <i class="dk"></i>
            <span style="padding-right: 10px;">{{item.collectionCount}}</span>
            <i class="ck"></i>
            <span style="padding-right: 10px;">{{item.remarkCount}}</span>
          </div>
        </div>
        <div style="clear: both"></div>
      </div>
      <div class="bbs_page_bar">
        <el-pagination
          background
          @current-change="handleCurrentChange"
          :current-page="currentPage"
          :page-size="pagesize"
          layout="total, prev, pager, next, jumper"
          :total="total"
          v-if="total>10"
          class="bbs_page_con"
        ></el-pagination>
      </div>
    </div>
    <el-dialog
      :visible.sync="centerDialogVisible"
      width="843px"
      center
      class="diglog"
      :close-on-click-modal="false"
      close-on-press-escape
      :before-close="closeel"
    >
      <p slot="title" class="dialogTittle">
        <i></i>发布话题
      </p>
      <div class="dialogConter">
        <div class="formItems items1">
          <span>选择分类:</span>
          <button
            v-if="gameClassification==1"
            style="margin-left: 22px;"
            class="isSelcectBtn"
            @click="classSelect(1)"
          >足球</button>
          <button v-else style="margin-left: 22px;" @click="classSelect(1)">足球</button>

          <button v-if="gameClassification==2" class="isSelcectBtn" @click="classSelect(2)">篮球</button>
          <button v-else @click="classSelect(2)">篮球</button>

          <button v-if="gameClassification==3" class="isSelcectBtn" @click="classSelect(3)">电竞</button>
          <button v-else @click="classSelect(3)">电竞</button>
        </div>
        <div class="formItems items4">
          <span>填写标题</span>
          <input type="text" placeholder="请输入" v-model="from.aTitle" />
        </div>
        <div class="formItems items6">
          <span>填写副标题</span>
          <input type="text" placeholder="请输入" v-model="from.aSubtitle" />
        </div>
        <div class="formItems items7">
          <span>图片上传</span>
 <el-upload
            :http-request="submitUpload"
            action="http://47.104.109.132:8083/upload/img"
            class="upload-demo"
            ref="upload"
            drag
            :limit="1"
            :on-exceed="handleExceed"
            :before-remove="reqDeletePic"
          >
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">
              将文件拖到此处，或
              <em>点击上传</em>
            </div>
          </el-upload>
        </div>
        <div class="formItems items5">
          <span>填写详情</span>
          <!-- <textarea name id cols="80" rows="14"></textarea> -->
          <editor-bar v-model="detail" :isClear="isClear" @change="change"></editor-bar>
        </div>
      </div>
      <div slot="footer" class="dialogFooter">
        <button @click="closeel" class="cancel">取 消</button>
        <div @click="release" class="determine" v-preventReClick>发 布</div>
      </div>
    </el-dialog>
    <Footer />
  </div>
</template>

<script>
//论坛版块
import {
  getArticleList,
  getLeagueList,
  addArticle,
  getFootballMatchOption,
  getBasketballMatchOption
} from "../../api/api";
import EditorBar from "./../../components/wangeditor";
import Cookies from "js-cookie";
import Footer from "../footer/footer";
import preventReClick from "../../utils/preventReClick"; //防多次点击，重复提交

export default {
  name: "bbs",
  data() {
    return {
      currentPage: 1,
      pagesize: 15,
      total: 0,
      pageIndex: "1",
      centerDialogVisible: false,
      articleList: [],
      leagueList: [],
      gameClassification: 1,
      isClear: false,
      detail: "",
      from: {
        uId: Cookies.get("uId"),
        agId: "",
        type: "",
        gameType: "",
        aSubtitle: "",
        aTitle: "",
        aContent: "",
        aPic: ""
      }
    };
  },
  mounted() {},
  created() {
    if (this.$route.query.key) {
      this.pageIndex = this.$route.query.key;
      this.gameClassification = this.$route.query.key;
      this.from.type = this.$route.query.key;
    } else {
      this.pageIndex =
        Cookies.get("pageIndex") != null ? Cookies.get("pageIndex") : "1";
      this.gameClassification = this.pageIndex;
      this.from.type = this.pageIndex;
    }

    this.getList();
  },
  components: {
    Footer,
    EditorBar
  },
  methods: {
    closeel() {
      this.centerDialogVisible = false;
      location.reload();
    },
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getList();
      // console.log(`当前页: ${val}`);
    },
    selectGame(val) {
      this.pageIndex = val;
      this.gameClassification = val;
      this.from.type = val;
      Cookies.set("pageIndex", val);
      this.getList();
    },
    submitUpload(content) {
      //自定义的上传图片的方法
      //1. 创建formData 利用AXIOS传递
      // console.log(content);
 let formData = new FormData();
      formData.append("file", content.file);
      this.api({
        url: "/upload/img",
        method: "post",
        data: formData
      })
        .then(data => {
          this.from.aPic = data.data;
          this.$message.success("图片上传成功");
        })
        .catch(err => {
          this.$message.error(err);
        });
    },
    handleExceed(files, fileList) {
      this.$message.warning(
        `当前限制选择 1 个文件，本次选择了 ${
          files.length
        } 个文件，共选择了 ${files.length + fileList.length} 个文件`
      );
    },
    reqDeletePic(file, fileList) {
      this.$confirm("删除当前图片, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.$message({
            type: "info",
            message: "删除成功"
          });
          this.from.aPic = "";
          fileList.length = fileList.length - 1;
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
      return false; // 这是重点,不管上面的操作结果如何都返回false
    },
    getLeague() {
      this.getList2();
    },
    release() {
     if (this.from.aTitle == "") {
        this.$message.warning("标题不得为空");
      } else if (this.from.aSubtitle == "") {
        this.$message.warning("副标题不得为空");
      } else if (this.from.aPic == "") {
        this.$message.warning("图片不能为空");
      } else if (this.from.aContent == "") {
        this.$message.warning("详情不能为空");
      } else {
        this.$message.success("发布文章成功");
        addArticle({
          uId: this.from.uId,
          type: this.from.type,
          gameType: this.from.gameType,
          agId: this.from.agId,
          aSubtitle: this.from.aSubtitle,
          aTitle: this.from.aTitle,
          aContent: this.from.aContent,
          aPic: this.from.aPic
        })
          .then(res => {
            if (res.data.flag) {
              this.$message.success(res.data.msg);
            } else {
              this.$message.success("发布文章成功");
            }
            this.$refs.upload.clearFiles();
            this.centerDialogVisible = false;
            this.getList();
            location.reload();
          })
          .catch(err => {});
      }
    },
    change(val) {
      this.from.aContent = val;
    },
    classSelect(nums) {
      this.gameClassification = nums;
      this.from.type = nums;
    },
    releaseTopic() {
      if (Cookies.get("uId")) {
        this.centerDialogVisible = true;
        this.from.uId = Cookies.get("uId");
        this.from.agId = "";
        this.from.gameType = "";
        this.from.aSubtitle = "";
        this.from.aTitle = "";
        this.from.aContent = "";
        this.from.aPic = "";
        this.detail = "";
      } else {
        this.$message.warning("请先登录");
      }
    },
    getList() {
      getArticleList({
        current: this.currentPage,
        size: this.pagesize,
        searchInt1: this.pageIndex,
        searchInt2: "",
        searchInt3: "",
        searchStr1: ""
      })
        .then(res => {
          this.articleList = res.data.records;
          this.total = res.data.total;
        })
        .catch(err => {
        });
    },

    getList2() {
      getLeagueList({
        current: 1,
        size: 100,
        searchInt1: this.from.gameType
      })
        .then(res => {
          this.leagueList = res.data.records;
        })
        .catch(err => {
        });
    },
    jumpTos(type, aid, agId) {
      this.$router.push({
        path: "/bbs/bbsdetails",
        query: {
          type: type,
          aid: aid,
          agId: agId
        }
      });
    }
  }
};
</script>

<style lang="less" scoped>
.diglog {
  .dialogTittle {
    color: rgba(51, 51, 51, 1);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;

    i {
      margin-right: 10px;
      background-image: url("./../../assets/切图/16.png");
      background-repeat: no-repeat;
      display: inline-block;
      width: 25px;
      height: 22px;
    }
  }

  .dialogConter {
    .formItems {
      margin-bottom: 30px;

      span {
        font-size: 16px;
        color: rgba(153, 153, 153, 1);
      }
    }

    .items1 {
      .isSelcectBtn {
        color: #ffffff !important;
        background: linear-gradient(
          0deg,
          rgba(254, 85, 58, 1),
          rgba(255, 135, 55, 1)
        ) !important;
      }

      button {
        width: 80px;
        height: 44px;
        background-color: rgba(240, 240, 240, 1);
        border-radius: 12px;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 16px;
        margin-right: 30px;
        font-weight: lighter;
      }
    }

    .items2 {
      select {
        margin-left: 30px;
        width: 40%;
        background: rgba(247, 247, 247, 1);
        height: 55px;
        outline: none;
        border: none;
        padding-left: 20px;
        padding-right: 20px;

        option {
          height: 50px;
          outline: none;
          display: block;
        }
      }
    }

    .items3 {
      select {
        margin-left: 30px;
        width: 40%;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        height: 55px;
        outline: none;
        border: none;
        padding-left: 20px;
        padding-right: 20px;

        option {
          height: 50px;
          outline: none;
          display: block;
        }
      }
    }

    .items4 {
      display: flex;
      align-items: center;

      input {
        width: 40%;
        padding-left: 20px;
        font-size: 16px;
        outline: none;
        height: 55px;
        border: none;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        margin-left: 35px;
      }
    }

    .items5 {
      display: flex;
      align-items: flex-start;

      span {
        width: 100px;
      }

      // textarea {
      //   padding-top: 10px;
      //   padding-left: 20px;
      //   color: rgba(199, 199, 199, 1);
      //   font-size: 16px;
      //   outline: none;
      //   border: none;
      //   border-radius: 12px;
      //   background: rgba(247, 247, 247, 1);
      //   margin-left: 30px;
      // }
    }

    .items6 {
      display: flex;
      align-items: center;

      input {
        width: 40%;
        padding-left: 20px;
        font-size: 16px;
        outline: none;
        height: 55px;
        border: none;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        margin-left: 20px;
      }
    }

    .items7 .upload-demo {
      display: inline-flex;
      margin-left: 35px;
    }
  }

  .dialogFooter {
    height: 96px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .cancel {
      margin-right: 61px;
      width: 88px;
      height: 46px;
      background-color: RGBA(255, 232, 225, 1);
      border-radius: 6px;
      cursor: pointer;
      border: none;
      outline: none;
      color: rgba(254, 95, 57, 1);
    }

    .determine {
      width: 88px;
      height: 46px;
      line-height: 46px;
      background: linear-gradient(
        0deg,
        rgba(254, 85, 58, 1),
        rgba(255, 135, 55, 1)
      );
      border-radius: 6px;
      cursor: pointer;
      border: none;
      outline: none;
      color: rgba(255, 255, 255, 1);
    }
  }
}

.navigationMenu {
  width: 100%;
  height: 40px;
  background-color: rgb(51, 51, 51);

  .isActing {
    color: #ffffff !important;
    background: linear-gradient(
      -30deg,
      rgba(255, 135, 55, 1),
      rgba(254, 85, 58, 1)
    );
  }

  .menuCenter {
    width: 1200px;
    height: 40px;
    margin: 0 auto;

    .navigationMenuUi {
      float: left;

      li {
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        height: 40px;
        width: 68px;
        float: left;
        margin-right: 85px;
        line-height: 40px;
        color: rgba(255, 255, 255, 1);
        text-align: center;
      }
    }

    .buttonList {
      float: right;
      height: 40px;
      width: 15%;
      display: flex;
      align-items: center;

      i {
        background-image: url("./../../assets/切图/17.png");
        background-repeat: no-repeat;
        display: inline-block;
        width: 20px;
        height: 20px;
      }

      button {
        width: 80px;
        cursor: pointer;
        border: none;
        outline: none;
        height: 20px;
        color: rgba(255, 255, 255, 1);
        background-color: transparent;
      }
    }
  }
}

.bbsfoot {
  background-image: url("./../../assets/切图/36.jpg");
}

.bbsBask {
  background-image: url("./../../assets/切图/35.jpg");
}

.bbssport {
  background-image: url("./../../assets/切图/34.jpg");
}

.bbs {
  width: 100%;
  height: 100%;
  min-height: 1089px;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  .bbs_con {
    border-bottom: 1px solid #f0f0f0;
    width: 900px;
    min-height: 36px;
    margin: 0 140px;
    // background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    padding: 10px 0;
    .newti {
      width: 80%;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      color: rgb(145, 145, 145);
      font-size: smaller;
      line-height: 28px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: box;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      height: 89px;
      margin-bottom: 55px;
      font-size: 14px;
    }
  }

  .bbs_page_bar {
    width: 100%;

    .bbs_page_con {
      text-align: center;
      width: 900px;
      margin: 0 auto;
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  .bbsBack {
    width: 1332.09px;
    height: 100%;
    margin: 0 auto;

    .isActing {
      color: #fe5e3a !important;
    }

    .isActings {
      color: orange !important;
    }

    .bbsLeft {
      .bbsLeftNavigation {
        border-radius: 24px;
        width: 232px;
        height: 270px;
        background-color: #ffffff;
        padding-top: 20px;

        .navigationTittle {
          p {
            font-size: 16px;
            text-align: center;
            color: rgba(0, 0, 0, 1);
            font-weight: Regular;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
              margin-right: 8px;
              width: 20px;
              height: 20px;
              display: inline-block;
              background-image: url("./../../assets/信息小.png");
              background-repeat: no-repeat;
            }
          }
        }

        .navigationUl {
          li {
            cursor: pointer;
            font-size: 16px;
            color: #999999;
            height: 80px;
            line-height: 80px;
            text-align: center;
          }
        }
      }
    }

    .bbsRight {
      width: 100%;
      height: 100%;
      padding-top: 20px;
      display: grid;
      grid-template-columns: repeat(2, 49.2%);
      grid-template-rows: 197px;
      grid-row-gap: 20px;
      grid-column-gap: 20px;

      .bbsItems {
        height: 197px !important;
        background-color: red;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.06);
        border-radius: 12px;
        cursor: pointer;
        postion: relative;

        .itemsTop {
          height: 120px;
          width: 95%;
          padding-top: 18px;
          padding-left: 20px;

          .topLeft {
            float: left;

            img {
              width: 151px;
              height: 110px;
              background-size: 100% 100%;
            }
          }

          .topRight {
            float: left;
            height: 110px;
            width: 64%;
            margin-left: 15px;

            .topTittle {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              color: rgba(0, 0, 0, 1);
              font-size: 18px;
            }

            .topConter {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              -webkit-box-orient: vertical;
              margin-top: 20px;
              color: rgba(153, 153, 153, 1);
              font-size: 14px;
            }

            .topIntegral {
              margin-top: 30px;

              div {
                float: left;
              }

              .eye {
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                  background-image: url("./../../assets/切图/10.png");
                  background-repeat: no-repeat;
                  display: inline-block;
                  width: 20px;
                  height: 16px;
                }

                span {
                  margin-left: 5px;
                  font-size: 12px;
                  color: rgba(153, 153, 153, 1);
                }
              }

              .ren {
                margin-left: 20%;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                  background-image: url("./../../assets/切图/15.png");
                  background-repeat: no-repeat;
                  display: inline-block;
                  width: 16px;
                  height: 20px;
                }

                span {
                  margin-left: 5px;
                  font-size: 12px;
                  color: rgba(153, 153, 153, 1);
                }
              }

              .xinxi {
                margin-left: 20%;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                  background-image: url("./../../assets/切图/14.png");
                  background-repeat: no-repeat;
                  display: inline-block;
                  width: 20px;
                  height: 20px;
                }

                span {
                  margin-left: 5px;
                  font-size: 12px;
                  color: rgba(153, 153, 153, 1);
                }
              }
            }
          }
        }

        .itemsBut {
          background-color: #f9f9f9;
          height: 60px;
          line-height: 60px;
          width: 100%;
          border-radius: 12px;

          div {
            margin-left: 31px;
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 37px;
              height: 37px;
              border-radius: 50%;
            }

            font {
              margin-left: 10px;
              font-size: 13px;
              color: rgba(102, 102, 102, 1);
            }
          }

          span {
            margin-right: 36px;
            float: right;
            font-size: 14px;
            color: rgba(153, 153, 153, 1);
          }
        }
      }
    }
  }
}

.homeFoot {
  width: 100%;
  height: 253px;
  background-color: #2d2f39;

  .footCenter {
    width: 100%;
    height: 150px;
    padding-top: 47px;

    .incenter {
      height: 190px;
      width: 75%;
      margin: 0 auto;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      .footleft {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: flex-end;

        .footui {
          width: 25%;
          color: #ffffff;
          float: left;

          span {
            font-size: 18px;
            display: block;
            margin-bottom: 25px;
          }

          ul {
            width: 300px;
            font-size: 14px;

            li {
              display: inline-block;
              margin-bottom: 10px;
              cursor: pointer;
              font-weight: 600;
              width: 40%;
            }
          }
        }

        .footui1 {
          width: 30%;
          color: #ffffff;
          float: left;

          span {
            font-size: 18px;
            display: block;
            margin-bottom: 25px;
          }

          ul {
            width: 300px;
            height: 150px;
            font-size: 14px;

            li {
              display: block;
              margin-bottom: 5px;
              cursor: pointer;
              font-weight: 600;
              font-size: 12px;
            }
          }
        }
      }

      .footright {
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -30px;
        .code1 div {
          background-image: url("./../../assets/weibo.jpg");
          background-size: 100% 100%;
          background-repeat: no-repeat;
          margin-bottom: 10px;
        }
        .code2 div {
          background-image: url("./../../assets/weixin.png");
          background-size: 100% 100%;
          background-repeat: no-repeat;
          margin-bottom: 10px;
        }

        .footcode {
          width: 30%;
          float: left;
          display: flex;
          align-items: center;
          flex-direction: column;

          div {
            background-color: #ffffff;
            width: 104px;
            height: 104px;
            line-height: 104px;
            text-align: center;
            color: black;
          }

          span {
            font-weight: 600;
          }
        }
      }
    }
  }

  .footButtom {
    width: 100%;
    height: 52px;
    border-top: 2px solid #202128;

    div {
      height: 52px;
      width: 50%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        color: #ffffff;
        font-size: 15px;
      }
    }
  }
}

.d4 {
  postion: absolute !important;
  width: 60px;
  height: 60px;
  float: right;
}

.jk {
  vertical-align: middle;
  background-image: url("./../../assets/切图/10.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 16px;
  margin-top: -2px;
  padding-right: 4px;
  transform: scale(0.8, 0.8);
}

.dk {
  padding-right: 4px;
  margin-top: -7px;
  vertical-align: middle;
  background-image: url("./../../assets/切图/15.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 20px;
  transform: scale(0.9, 0.9);
}

.ck {
  padding-right: 4px;
  margin-top: -9px;
  vertical-align: middle;
  background-image: url("./../../assets/切图/14.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  transform: scale(0.7, 0.7);
}
</style>
<style>
.el-pagination__total {
  color: black !important;
}

.el-pagination__jump {
  color: black !important;
}

.yuo {
  border-radius: 15px 15px 0 0;
}

.you {
  border-radius: 0 0 15px 15px;
}
</style>
