<template>
  <div>
    <img
      style="position: fixed;left: 0px;top:0px;z-index: -22;width: 100%;height: 100%"
      src="./../../assets/切图/36.jpg"
    />
    <div class="football customer_style">
      <div class="footBack">
        <el-row :gutter="20">
          <!-- 左部导航栏取消弹框，只做占位作用 -->
          <div style="height:290px;width:133.2px;float:left">
            <!--<div class="navigationLeft isScroll">
              <div class="navigationLeftBut">
                <p class="navigationTittle">热门赛事</p>
                <ul class="navigationButUi">
                  &lt;!&ndash; <li>
                  <span class="isActing">NBA</span>
                  </li>&ndash;&gt;
                  <li
                    v-for="(item, index) in eventList"
                    :key="index"
                    :class="{ 'isActing': eventAct==item.matchId}"
                    @click="eventSearch(item.matchId)"
                  >
                    <span class="txt_color">{{item.shortMatchName}}</span>
                  </li>
                </ul>
              </div>
            </div>-->
          </div>

          <el-col :span="18">
            <div class="contentCenter">
              <!--星期时间条-->
              <div class="weekBar">
                <div v-show="this.dataType === 'eSport'" class="weekBarDisable" />
                <div class="arrow_left" @click="()=>this.getLastWeek()" />
                <div class="con">
                  <!--本周-->
                  <div class="week_contain">
                    <div
                      class="ele"
                      v-for="(ele,index) in curWeekData"
                      :key="index"
                      :style="{color:curDayBtn===ele.day?'#fe5a3a':''}"
                      @click="()=>getDayDate(ele.val,ele.day)"
                    >
                      {{ele.date}}
                      <span>{{ele.day}}</span>
                    </div>
                  </div>
                </div>
                <div class="arrow_right" @click="()=>this.getNextWeek()" />
              </div>
              <!-- 菜单分类 -->
              <div class="btn_kinds">
                <span
                  v-for="(ele,index) in btn_kinds"
                  :key="index"
                  :class="btn_kinds_index === index?'active':''"
                  @click="()=>changeGameKinds(index)"
                >{{ele}}</span>
              </div>
              <!-- 足球、篮球数据列表 -->
              <div
                v-show="this.dataType !== 'eSport'"
                class="contentShow"
                v-loading="loading"
                element-loading-spinner="el-icon-loading"
                element-loading-background="rgba(0, 0, 0, 0)"
              >
                <div class="gamesTittle">
                  <ul class="gamesTittleUi">
                    <li>
                      <span>联赛名称</span>
                    </li>
                    <li>
                      <span>状态</span>
                    </li>
                    <li>
                      <span>时间</span>
                    </li>
                    <li>
                      <span>主队</span>
                    </li>
                    <li>
                      <span>比分</span>
                    </li>
                    <li>
                      <span>客队</span>
                    </li>
                    <li>
                      <span>半场</span>
                    </li>
                    <li>
                      <span>角球</span>
                    </li>
                    <li class="typeBox">
                      <span>赔率</span>
                      <div>
                        <el-checkbox-group
                          v-model="checkedCities"
                          :min="1"
                          :max="3"
                          @change="selectChanged"
                        >
                          <el-checkbox v-for="city in isSelect" :label="city" :key="city">{{city}}</el-checkbox>
                        </el-checkbox-group>
                      </div>
                    </li>
                    <li>
                      <span>操作</span>
                    </li>
                  </ul>
                </div>
                <div class="games">
                  <div class="gamesTopTime">
                    <el-date-picker
                      v-model="dataNums"
                      type="date"
                      @change="changeData"
                      placeholder="选择日期"
                      value-format="timestamp"
                      style="margin-left:30px"
                    ></el-date-picker>
                    <el-button type="warning" plain size="mini" @click="optintype(0)">全部</el-button>
                    <el-button type="warning" plain size="mini" title="已完成" @click="optintype(1)">完场</el-button>
                    <el-button type="warning" plain size="mini" @click="optintype(2)">未完场</el-button>

                    <div class="screeningButRight">
                      <div class="searchBox">
                        <input
                          type="text"
                          class="searchBoxInput"
                          placeholder="赛事名称"
                          v-model="search"
                        />
                        <img src="./../../assets/搜索.png" alt="搜索图标" />
                      </div>
                    </div>
                  </div>

                  <div class="gamesBut">
                    <div
                      class="gamesButItem"
                      v-for="(item, index) in gameList"
                      :key="index"
                      style="position: relative"
                    >
                      <ul class="gamesItemUi">
                        <li>
                          <div style="float: left;width: 40%;">
                            <img
                              style="max-height: 30px;max-width:30px;display:inline-block;margin-top: 14px;"
                              :src="item.matchLogo"
                            />
                          </div>
                          <div style="float: right;width: 60%">
                            <span
                              style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"
                            >{{item.matchShortNameZh?item.matchShortNameZh:'--'}}</span>
                          </div>
                          <div style="clear:both"></div>
                        </li>
                        <li>
                          <div class="newstatus" v-show="dataType=='football'">
                            <span v-if="item.matchType==0">比赛异常</span>
                            <span v-else-if="item.matchType==1">未开赛</span>
                            <span v-else-if="item.matchType==2">上半场</span>
                            <span v-else-if="item.matchType==3">中场</span>
                            <span v-else-if="item.matchType==4">下半场</span>
                            <span v-else-if="item.matchType==5">加时赛</span>
                            <span v-else-if="item.matchType==6">加时赛（弃用）</span>
                            <span v-else-if="item.matchType==7">点球大战</span>
                            <span v-else-if="item.matchType==8">完场</span>
                            <span v-else-if="item.matchType==9">推迟</span>
                            <span v-else-if="item.matchType==10">中断</span>
                            <span v-else-if="item.matchType==11">腰斩</span>
                            <span v-else-if="item.matchType==12">取消</span>
                            <span v-else-if="item.matchType==13">待定</span>
                          </div>
                          <div class="newstatus" v-show="dataType=='basketball'">
                            <span v-if="item.matchType==0">比赛异常</span>
                            <span v-else-if="item.matchType==1">未开赛</span>
                            <span v-else-if="item.matchType==2">第一节</span>
                            <span v-else-if="item.matchType==3">第一节完</span>
                            <span v-else-if="item.matchType==4">第二节</span>
                            <span v-else-if="item.matchType==5">第二节完</span>
                            <span v-else-if="item.matchType==6">第三节</span>
                            <span v-else-if="item.matchType==7">第三节完</span>
                            <span v-else-if="item.matchType==8">第四节</span>
                            <span v-else-if="item.matchType==9">加时</span>
                            <span v-else-if="item.matchType==10">完场</span>
                            <span v-else-if="item.matchType==11">中断</span>
                            <span v-else-if="item.matchType==12">取消</span>
                            <span v-else-if="item.matchType==13">延期</span>
                            <span v-else-if="item.matchType==14">腰斩</span>
                            <span v-else-if="item.matchType==15">待定</span>
                          </div>
                          <span>{{dateFormatTime(item.matchStartTime)}}</span>
                        </li>
                        <li>
                          <div class="litop">
                            <span :title="reAname(item)" class="spanp">{{reAname(item)}}</span>
                            <img style="height:22px;padding-top: 14px" :src="item.aLogo" />
                            <div class="score">
                              <span v-if="!item.matchScore" style="color: black;display: block">-</span>
                              <span v-else style="color: black;display: block;">{{item.matchScore}}</span>
                            </div>
                            <img style="height:22px;padding-top: 14px" :src="item.bLogo" />
                            <span :title="reBname(item)" class="spanp">{{reBname(item)}}</span>
                          </div>
                        </li>
                        <li>
                          <span>{{item.halfScore?item.halfScore:'--'}}</span>
                        </li>

                        <li>
                          <span>{{item.matchCorner?item.matchCorner:'--'}}</span>
                        </li>
                        <li class="spliceLi">
                          <table class="table table-bordered table-hover">
                            <thead>
                              <tr>
                                <th v-if="!item.isYa">亚</th>
                                <th v-if="!item.isOu">欧</th>
                                <th v-if="!item.isBall">大</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td v-if="!item.isYa">{{returnIndex(item.asianplate,0)}}</td>
                                <td v-if="!item.isOu">{{returnIndex(item.euroloss,0)}}</td>
                                <td v-if="!item.isBall">{{returnIndex(item.sizeBall,0)}}</td>
                              </tr>
                              <tr>
                                <td v-if="!item.isYa">{{returnIndex(item.asianplate,1)}}</td>
                                <td v-if="!item.isOu">{{returnIndex(item.euroloss,1)}}</td>
                                <td v-if="!item.isBall">{{returnIndex(item.sizeBall,1)}}</td>
                              </tr>
                              <tr>
                                <td v-if="!item.isYa">{{returnIndex(item.asianplate,2)}}</td>
                                <td v-if="!item.isOu">{{returnIndex(item.euroloss,2)}}</td>
                                <td v-if="!item.isBall">{{returnIndex(item.sizeBall,2)}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </li>
                        <li
                          @click="jumpD(item.namiId,item.aTeamId,item.bTeamId,reAname(item),reBname(item),item.matchId,item.seasonId,item.matchNameZh)"
                        >
                          <button class="viewButton">析</button>
                        </li>
                        <li @click="jumpG(item.namiId)">
                          <button class="viewButton">荐</button>
                        </li>
                        <li @click="releaseTopic(item.namiId,item)">
                          <button class="viewButton">单</button>
                        </li>
                        <li
                          @click="onBet(item.aTeamId,item.bTeamId,reAname(item),reBname(item),item.namiId,item.euroloss,item.euroloss,item.matchNameZh,item.matchStartTime,item.matchType,item)"
                        >
                          <button class="viewButton">竞</button>
                        </li>
                      </ul>
                    </div>
                    <div class="noStyle" v-show="gameList.length==0">暂无数据</div>
                  </div>
                </div>

                <el-pagination
                  background
                  @current-change="handleCurrentChange"
                  :current-page="currentPage"
                  :page-size="pagesize"
                  layout="total, prev, pager, next, jumper"
                  :total="total"
                  v-if="total>5"
                  style="text-align: right;margin-top: 20px;"
                ></el-pagination>
              </div>

              <!-- 电竞数据列表 -->
              <eSports v-show="this.dataType === 'eSport'" />
            </div>
          </el-col>
        </el-row>
      </div>

      <el-dialog
        :visible.sync="dialogvalue"
        width="843px"
        center
        class="diglog"
        :show-close="false"
        :close-on-click-modal="false"
        close-on-press-escape
      >
        <p slot="title" class="dialogTittle">
          <i></i>积分竞猜
        </p>
        <div class="dialogConter">
          <div class="formItems items2">
            <span>选择队伍</span>
            <!-- <select v-model="teams" @change="getodds">
              <option value>请选择</option>
              <option value="0">平局</option>
              <option
                v-for="(item, index) in teamList"
                :key="index"
                :value="item.value"
              >{{item.label}}</option>
            </select>-->
            <select v-model="from.winTeamName" placeholder="请选择" @change="getodds">
              <option value="平局">平局</option>
              <option :value="returnAname(webList)+','+webList.aTeamId">{{returnAname(webList)}}</option>
              <option :value="returnBname(webList)+','+webList.bTeamId">{{returnBname(webList)}}</option>
            </select>
          </div>
          <div class="formItems items6">
            <span>目前赔率</span>
            <input type="text" placeholder v-model="oddsnum" disabled="disabled" />
          </div>
          <div class="formItems items6">
            <span>竞猜分数</span>
            <input type="number" placeholder v-model="betScore" @click="noFue" @keyup="noFue" />
          </div>
          <div class="formItems items6">
            <span>剩余分数</span>
            <input type="text" placeholder v-model="lastbetScore" disabled="disabled" />
          </div>
        </div>
        <div slot="footer" class="dialogFooter">
          <button @click="dialogvalue = false" class="cancel">取 消</button>
          <button @click.stop="betSuccess" class="determine">竞 猜</button>
        </div>
      </el-dialog>

      <!--    发布分析弹出-->
      <el-dialog
        :visible.sync="centerDialogVisible"
        width="843px"
        center
        class="diglog1"
        :close-on-click-modal="false"
        close-on-press-escape
      >
        <p slot="title" class="dialogTittle">
          <i></i>发布分析
          <span
            style="font-size: 12px;font-weight: initial;position: absolute;top: 78px;color: red"
          >大神发布推荐为初盘推荐，如果需要进行即时推荐可以在输入框中进行填写发布</span>
        </p>

        <div class="dialogConter">
          <div class="formItems items4">
            <span>填写标题</span>
            <input type="text" placeholder="请输入" v-model="from.gfTitle" />
          </div>
          <div class="formItems items6">
            <span>所需积分</span>
            <input
              type="number"
              placeholder="请输入"
              v-model="from.buyIntegral"
              @click="noFue1"
              @keyup="noFue1"
            />
          </div>
          <div class="formItems items2">
            <span>选择胜利队伍</span>
            <select v-model="from.winTeamName" placeholder="请选择">
              <option value="平局">平局</option>
              <option :value="returnAname(webList)+','+webList.aTeamId">{{returnAname(webList)}}</option>
              <option :value="returnBname(webList)+','+webList.bTeamId">{{returnBname(webList)}}</option>
            </select>
          </div>

          <!-- <div class="formItems items7">
          <span>图片上传</span>

          <el-upload
            :http-request="submitUpload"

            action="http://47.104.109.132:8083/upload/img"
            class="upload-demo"
            ref='upload'
            drag
            :limit="1"
            :on-exceed="handleExceed"
          >
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">
              将文件拖到此处，或
              <em>点击上传</em>
            </div>
          </el-upload>
          </div>-->

          <div class="formItems items5">
            <span>填写详情</span>
            <editor-bar v-model="detail" :isClear="isClear" @change="change"></editor-bar>
          </div>
        </div>
        <div slot="footer" class="dialogFooter">
          <button @click="centerDialogVisible = false" class="cancel">取 消</button>
          <button @click="release" class="determine" v-preventReClick>发 布</button>
        </div>
      </el-dialog>
      <el-dialog
        class="openthn"
        title="火狐策略网站公告"
        :visible.sync="dialogVisible"
        width="30%"
        :before-close="handleClose"
      >
        <p style="font-weight: bold;font-size: 16px;">尊敬的用户您好：</p>
        <p>火狐策略网已在各大平台正式发布，为了迎合广大彩民的喜好，满足彩民朋友的需求，现策略网向各位用户发起建议征集活动。</p>
        <p>只要你有想法，提出的建议是有利于网站未来可持续发展，即可联系我们的网站客服人员进行意见反馈，建设性意见包括但不限于网站风格、页面内容、网站活动等。</p>
        <p>一经采用，即可获得1000积分奖励，积分可用于购买策略网红单&兑换现金红包。</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <div style="clear: both;"></div>
        <p style="float: left">客服qq：【644525573】</p>
        <div style="clear: both;"></div>
        <p style="float: right">2020-02-18</p>
        <div style="clear: both;"></div>
        <p style="float: right;font-size: 12px;">本公告最终解释权归属于火狐策略网。</p>
        <span slot="footer" class="dialog-footer">
          <el-button @click="handleClose()">确 定</el-button>
        </span>
      </el-dialog>
      <remote-js src="http://pv.sohu.com/cityjson?ie=utf-8"></remote-js>
    </div>
    <Footer />
  </div>
</template>

<script>
// 足球版块
import {
  getFootballTeamMatchingName,
  getFootballTeamMatchScore,
  getHomePageNews,
  getHomePagePlans,
  getFootballMatchList,
  getHotMatchList,
  getCarouseList,
  selectUserByUserId,
  addMatchBet,
  addDetailsLog,
  addGreatForecast,
  getFootballMatchanAlysis,
  getBasketballMatchList,
  getComputerMatchList
} from "../../api/api";
import { DateTime } from "../../utils/dateTime";
import Cookies from "js-cookie";
import EditorBar from "./../../components/wangeditor";
import Footer from "../footer/footer";
import eSports from "./eSports";
import preventReClick from "../../utils/preventReClick";
export default {
  name: "football",
  data() {
    return {
      //分类菜单
      btn_kinds: ["足球", "篮球", "电竞"],
      //分类菜单下标
      btn_kinds_index: 0,
      //点击分类后，改变请求类别:只有足球和篮球，电竞作为组件引入,默认为足球
      dataType: "football",

      curDayBtn: 0,
      //真正当天值，用来判断是不是今天
      realToday: new Date().getTime(),
      //初始化当前时间，之后每次上翻或下翻一周都继续加减
      initTime: new Date().getTime(),
      //本周数据
      curWeekData: [
        {
          date: "周一",
          day: "4-13",
          val: []
        },
        {
          date: "周二",
          day: "4-14",
          val: []
        },
        {
          date: "周三",
          day: "4-15",
          val: []
        },
        {
          date: "周四",
          day: "4-16",
          val: []
        },
        {
          date: "周五",
          day: "4-17",
          val: []
        },
        {
          date: "周六",
          day: "4-18",
          val: []
        },
        {
          date: "周日",
          day: "4-19",
          val: []
        }
      ],

      dialogVisible: true,
      dataNums: Date.parse(new Date()).toString(),

      aid: "",
      bid: "",
      namiIds: "",
      oddtime: "",
      matchName: "",
      euroddsnum: "",
      teams: "",
      oddsnum: "",
      betScore: "",
      lastbetScore: "",
      dialogvalue: false,

      search: "",
      eventAct: "",
      eventSearchs: "",
      scroll: "",
      teamList: [],
      gameList: [],
      eventList: [],
      picList: [],
      currentPage: 1,
      pagesize: 20,
      total: 0,
      loading: false,
      // 发布分析
      centerDialogVisible: false,
      from: {
        uId: Cookies.get("uId"),
        type: 1,
        gameType: 0,
        buyIntegral: "",
        matchId: "",
        gfTitle: "",
        gfContent: "",
        gfPic: "",
        aTeamId: "",
        bTeamId: "",
        winTeamName: "",
        aTeamName: "",
        bTeamName: ""
      },
      webList: {},
      isClear: false,
      detail: "",
      searchInt5: 0,
      timer: false,
      isSelect: ["欧盘", "亚盘", "大小球"],
      checkedCities: ["欧盘", "亚盘", "大小球"],
      isSe: ""
    };
  },
  mounted() {
    window.addEventListener("scroll", this.menu);
  },
  components: {
    eSports,
    Footer,
    "remote-js": {
      render(createElement) {
        return createElement("script", {
          attrs: { type: "text/javascript", src: this.src }
        });
      },
      props: {
        src: { type: String, required: true }
      }
    },
    EditorBar
  },
  watch: {
    search: {
      handler(value) {
        if (this.timer) {
          clearTimeout(this.timer);
        }
        this.timer = setTimeout(() => {
          this.getList();
        }, 500);
      },
      deep: true
    }
  },
  methods: {
    selectChanged(value) {
      this.newValue = value;
      if (value.includes("欧盘")) {
        this.gameList.map(cur => (cur.isOu = false));
      } else {
        this.gameList.map(cur => (cur.isOu = true));
      }
      if (value.includes("亚盘")) {
        this.gameList.map(cur => (cur.isYa = false));
      } else {
        this.gameList.map(cur => (cur.isYa = true));
      }
      if (value.includes("大小球")) {
        this.gameList.map(cur => (cur.isBall = false));
      } else {
        this.gameList.map(cur => (cur.isBall = true));
      }
      this.gameList = [...this.gameList];
    },
    //点击足球/篮球/电竞改变数据请求
    changeGameKinds(index) {
      this.btn_kinds_index = index;
      //请求足球/篮球/电竞列表
      if (index === 0) {
        this.dataType = "football";
        // this.getFootball();
      } else if (index === 1) {
        this.dataType = "basketball";
        // this.getBasketball();
      } else if (index === 2) {
        this.dataType = "eSport";
        // this.getEsport();
      }
      this.getList();
    },
    //点击那一天获取那一天的数据
    getDayDate(val, index) {
      this.curDayBtn = index;
      const time = new Date(
        new Date().getFullYear() + "/" + val[0] + "/" + val[1] + " 0:00:00:000"
      ).getTime();
      //更新数据
      this.dataNums = time;
      this.currentPage = 1;
      this.getList();
      // this.getList9();
    },
    //获取本周数据
    getCurWeek() {
      let day = new Date().getDay() ? new Date().getDay() : 7;
      this.curDayBtn =
        new Date(this.initTime).getMonth() +
        1 +
        "-" +
        new Date(this.initTime).getDate();
      //每天毫秒值
      const oneDay = 24 * 60 * 60 * 1000;
      //当前值
      const curTime = this.initTime - (day - 1) * oneDay;
      var weekday = new Array(7);
      weekday[0] = "日";
      weekday[1] = "一";
      weekday[2] = "二";
      weekday[3] = "三";
      weekday[4] = "四";
      weekday[5] = "五";
      weekday[6] = "六";
      let arr = [];
      for (let x = 0; x < 7; x++) {
        const curVal = oneDay * x + curTime;
        if (curVal === this.realToday) {
          arr.push({
            date: "今天",
            day:
              new Date(curVal).getMonth() +
              1 +
              "-" +
              new Date(curVal).getDate(),
            val: [new Date(curVal).getMonth() + 1, new Date(curVal).getDate()]
          });
        } else {
          arr.push({
            date:
              "周" +
              (new Date(curVal).getDay() === 0
                ? "天"
                : weekday[new Date(curVal).getDay()]),
            day:
              new Date(curVal).getMonth() +
              1 +
              "-" +
              new Date(curVal).getDate(),
            val: [new Date(curVal).getMonth() + 1, new Date(curVal).getDate()]
          });
        }
      }

      this.curWeekData = arr;
    },
    //获取本周及上周数据
    getLastWeek() {
      let day = new Date().getDay() ? new Date().getDay() : 7;
      //每天毫秒值
      const oneDay = 24 * 60 * 60 * 1000;
      //当前值减7天
      this.initTime -= oneDay * 7;
      const curTime = this.initTime - (day - 1) * oneDay;
      var weekday = new Array(7);
      weekday[0] = "日";
      weekday[1] = "一";
      weekday[2] = "二";
      weekday[3] = "三";
      weekday[4] = "四";
      weekday[5] = "五";
      weekday[6] = "六";
      let arr = [];
      for (let x = 0; x < 7; x++) {
        const curVal = oneDay * x + curTime;
        if (curVal === this.realToday) {
          arr.push({
            date: "今天",
            day:
              new Date(curVal).getMonth() +
              1 +
              "-" +
              new Date(curVal).getDate(),
            val: [new Date(curVal).getMonth() + 1, new Date(curVal).getDate()]
          });
        } else {
          arr.push({
            date:
              "周" +
              (new Date(curVal).getDay() === 0
                ? "天"
                : weekday[new Date(curVal).getDay()]),
            day:
              new Date(curVal).getMonth() +
              1 +
              "-" +
              new Date(curVal).getDate(),
            val: [new Date(curVal).getMonth() + 1, new Date(curVal).getDate()]
          });
        }
      }
      this.curWeekData = arr;
    },
    //获取本周及下周数据
    getNextWeek() {
      let day = new Date().getDay() ? new Date().getDay() : 7;
      //每天毫秒值
      const oneDay = 24 * 60 * 60 * 1000;
      //当前值加7天
      this.initTime += oneDay * 7;
      const curTime = this.initTime - (day - 1) * oneDay;
      var weekday = new Array(7);
      weekday[0] = "日";
      weekday[1] = "一";
      weekday[2] = "二";
      weekday[3] = "三";
      weekday[4] = "四";
      weekday[5] = "五";
      weekday[6] = "六";
      let arr = [];
      for (let x = 0; x < 7; x++) {
        const curVal = oneDay * x + curTime;
        if (curVal === this.realToday) {
          arr.push({
            date: "今天",
            day:
              new Date(curVal).getMonth() +
              1 +
              "-" +
              new Date(curVal).getDate(),
            val: [new Date(curVal).getMonth() + 1, new Date(curVal).getDate()]
          });
        } else {
          arr.push({
            date:
              "周" +
              (new Date(curVal).getDay() === 0
                ? "天"
                : weekday[new Date(curVal).getDay()]),
            day:
              new Date(curVal).getMonth() +
              1 +
              "-" +
              new Date(curVal).getDate(),
            val: [new Date(curVal).getMonth() + 1, new Date(curVal).getDate()]
          });
        }
      }
      this.curWeekData = arr;
    },

    handleClose() {
      this.dialogVisible = false;
      sessionStorage.setItem("dialogVisible", false);
    },
    optintype(i) {
      if (i == 0) {
        this.searchInt5 = 0;
      } else if (i == 1) {
        this.searchInt5 = 2;
      } else if (i == 2) {
        this.searchInt5 = 1;
      }
      this.getList();
    },
    returnAname(val) {
      if (val.aTeamShortName != "" && val.aTeamShortName != null) {
        return val.aTeamShortName;
      } else if (val.aTeamName != "" && val.aTeamName != null) {
        return val.aTeamName;
      }
      return "-";
    },
    returnBname(val) {
      if (val.bTeamShortName != "" && val.bTeamShortName != null) {
        return val.bTeamShortName;
      } else if (val.bTeamName != "" && val.bTeamName != null) {
        return val.bTeamName;
      }
      return "-";
    },
    submitUpload(content) {
      //自定义的上传图片的方法
      //1. 创建formData 利用AXIOS传递

      let formData = new FormData();
      formData.append("file", content.file);
      this.api({
        url: "/upload/img",
        method: "post",
        data: formData
      })
        .then(data => {
          this.from.gfPic = data.data;
        })
        .catch(err => {
          // this.$message.error(err.message);
        });
    },
    handleExceed(files, fileList) {
      this.$message.warning(
        `当前限制选择 1 个文件，本次选择了 ${
          files.length
        } 个文件，共选择了 ${files.length + fileList.length} 个文件`
      );
    },
    release() {
      // console.log(this.from.winTeamName == "", "==?this.from.winTeamName");
      if (this.from.gfTitle == "") {
        this.$message.warning("标题不得为空");
      } else if (this.from.buyIntegral == "") {
        this.$message.warning("所需积分不得为空");
      }
      // else if (this.from.gfPic == "") {
      //     this.$message.warning("图片不得为空");
      // }
      else if (this.detail == "") {
        this.$message.warning("详情不能为空");
      } else if (
        this.from.winTeamName == "" ||
        this.from.winTeamName == undefined
      ) {
        this.$message.warning("选择胜利队伍不得为空");
      } else {
        if (this.from.winTeamName == "平局") {
          var str1 = "平局";
          var str2 = 0;
        } else {
          var str1 = this.from.winTeamName.split(",")[0];
          var str2 = this.from.winTeamName.split(",")[1];
        }
        addGreatForecast({
          uId: this.from.uId,
          matchId: this.from.matchId,
          type: this.btn_kinds_index + 1,
          gameType: 0,
          buyIntegral: this.from.buyIntegral,
          gfTitle: this.from.gfTitle,
          gfContent: this.detail,
          gfPic: this.from.gfPic,
          aTeamId: this.webList.aTeamId,
          bTeamId: this.webList.bTeamId,
          winTeamId: str2,
          winTeamName: str1,
          aTeamName: this.returnAname(this.webList),
          bTeamName: this.returnBname(this.webList)
        })
          .then(res => {
            if (res.data.flag) {
              this.$message.success(res.data.msg);
            } else {
              this.$message.success("发布分析成功");
            }
            this.centerDialogVisible = false;
            this.getList9();
          })
          .catch(err => {
            // this.$message.error(err.message);
          });
      }
    },
    change(val) {
      this.from.gfContent = val;
    },
    // async getList9() {
    //   getFootballMatchanAlysis({
    //     namiId: this.$route.query.namiId
    //   })
    //     .then(res => {
    //       console.log(res.data.webBallMatch);
    //       this.webList = res.data.webBallMatch;
    //       //   this.movementsList = res.data.goalDistribution;
    //       if (res.data.goalDistribution !== null) {
    //         if (Object.keys(res.data.goalDistribution.home).length != 0) {
    //           this.movementsListhome.all.scored =
    //             res.data.goalDistribution.home.all.scored;
    //           this.movementsListhome.home.scored =
    //             res.data.goalDistribution.home.home.scored;
    //           this.movementsListhome.away.scored =
    //             res.data.goalDistribution.home.away.scored;
    //         }
    //         if (Object.keys(res.data.goalDistribution.away).length != 0) {
    //           this.movementsListaway.all.scored =
    //             res.data.goalDistribution.away.all.scored;
    //           this.movementsListaway.home.scored =
    //             res.data.goalDistribution.away.home.scored;
    //           this.movementsListaway.away.scored =
    //             res.data.goalDistribution.away.away.scored;
    //         }
    //       }
    //       this.injuredList = res.data.injury.home;
    //       this.injuredList2 = res.data.injury.away;
    //       //   this.dataList = res.data.data;
    //     })
    //     .catch(err => {
    //       this.$message.error(err.message);
    //     });

    //   // await this.getList4();
    // },
    noFue1() {
      this.from.buyIntegral =
        this.from.buyIntegral >= 0 ? this.from.buyIntegral : 0;
    },
    releaseTopic(nameid, item) {
      this.webList = item;
      if (Cookies.get("uId")) {
        selectUserByUserId({
          userId: Cookies.get("uId")
        })
          .then(res => {
            if (res.data.isGreatGod === 2) {
              this.centerDialogVisible = true;
              this.from = {
                uId: Cookies.get("uId"),
                type: this.btn_kinds_index + 1,
                gameType: 0,
                buyIntegral: "",
                gfTitle: "",
                gfContent: "",
                gfPic: "",
                matchId: nameid,
                aTeamId: "",
                bTeamId: "",
                win_team_id: "",
                win_team_name: "",
                aTeamName: "",
                bTeamName: ""
              };
              this.detail = "";
              // this.$refs.upload.clearFiles();
            } else {
              this.$message.warning("你还不是大神,无法发布分析");
            }
          })
          .catch(err => {
            // this.$message.error(err.message);
          });
      } else {
        this.$message.warning("请先登录");
      }
    },
    noFue() {
      this.betScore = this.betScore >= 0 ? this.betScore : 0;
    },

    changeData(val) {
      this.dataNums = val;
      this.currentPage = 1;
      this.getList();
    },
    getweek() {
      let date = new DateTime();
      return date.getWeek();
    },
    getodds(event) {
      if (event.target.value.split(",")[1] == this.aid) {
        this.oddsnum = this.oddtime.split(",")[0];
      } else if (event.target.value.split(",")[1] == this.bid) {
        this.oddsnum = this.oddtime.split(",")[2];
      } else {
        this.oddsnum = this.oddtime.split(",")[1];
      }
      //  console.log('22',event.target.value.split(",")[0],event.target.value.split(",")[1], this.oddsnum,this.oddtime);
    },
    // getList10() {
    //   addMatchBet({
    //     type: this.btn_kinds_index+1,
    //     gameType: 0,
    //     matchId: this.namiIds,
    //     uId: Cookies.get("uId"),
    //     winTeamId: this.teams,
    //     betIntrgral: this.betScore,
    //     betValue: this.oddsnum,
    //     betTimeOdd: this.euroddsnum,
    //     matchName: this.matchName,
    //     aTeamName: this.teamList[0].label,
    //     bTeamName: this.teamList[1].label
    //   })
    //     .then(res => {
    //       this.dialogvalue = false;
    //       this.$message({
    //         type: "success",
    //         message: "竞猜成功!"
    //       });
    //     })
    //     .catch(err => {});
    // },
    betSuccess() {
      if (this.oddsnum == "") {
        this.$message({
          type: "warning",
          message: "目前赔率为空,无法竞猜"
        });
      } else if (this.betScore == "") {
        this.$message({
          type: "warning",
          message: "请先填写所要竞猜的分数"
        });
      } else {
        if (this.from.winTeamName == "平局") {
          var str1 = "平局";
          var str2 = 0;
        } else {
          var str1 = this.from.winTeamName.split(",")[0];
          var str2 = this.from.winTeamName.split(",")[1];
        }
        console.log("adasd", str1, str2);
        this.$confirm("你确认以当前赔率下单?", "竞猜确认", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        })
          .then(() => {
            addMatchBet({
              type: this.btn_kinds_index + 1,
              matchId: this.namiIds,
              uId: Cookies.get("uId"),
              winTeamId: str2,
              winTeamName: str1,
              betIntrgral: this.betScore,
              betValue: this.oddsnum,
              betTimeOdd: this.euroddsnum,
              matchName: this.matchName,
              aTeamName: this.returnAname(this.webList),
              bTeamName: this.returnBname(this.webList)
            })
              .then(res => {
                // console.log("竞猜成功", res);
                this.dialogvalue = false;
                this.$message({
                  type: "success",
                  message: "竞猜成功!"
                });
              })
              .catch(err => {});
            return false;
          })
          .catch(() => {
            this.$message({
              type: "info",
              message: "已取消竞猜"
            });
          });
      }
    },
    getList9() {
      selectUserByUserId({
        userId: Cookies.get("uId")
      })
        .then(res => {
          this.lastbetScore = res.data.integral;
        })
        .catch(err => {
          // this.$message.error(err.message);
        });
    },
    onBet(
      aid,
      bid,
      aname,
      bname,
      namiId,
      odd,
      eurodd,
      matchname,
      starttime,
      matchType,
      item
    ) {
      //   var d = new Date(Date.parse(starttime.replace(/-/g, "/")));
      //   var curDate = new Date();
      //   console.log(d >= curDate);
      this.webList = item;
      if (this.dataType == "football") {
        switch (matchType) {
          case 0:
            this.$message.warning("比赛异常,无法竞猜");
            return false;
            break;
          case 2:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 3:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 4:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 5:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 6:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 7:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 8:
            this.$message.warning("该比赛已结束,无法竞猜");
            return false;
            break;
          default:
            console.log("tg");
        }
      } else if (this.dataType == "basketball") {
        switch (matchType) {
          case 0:
            this.$message.warning("比赛异常,无法竞猜");
            return false;
            break;
          case 2:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 3:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 4:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 5:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 6:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 7:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 8:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 9:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 10:
            this.$message.warning("该比赛已结束,无法竞猜");
            return false;
            break;
          default:
            console.log("tg");
        }
      }
      //   if (d <= curDate) {
      //     this.$message.warning("该比赛已开始,无法竞猜");
      //     return false;
      //   } else {

      //   }
      if (odd == null || eurodd == null || odd == "" || eurodd == "") {
        this.$message.warning("该比赛还未出现赔率,无法竞猜");
        return false;
      }

      if (Cookies.get("uId") != "" && Cookies.get("uId") != null) {
        this.dialogvalue = true;
        this.getList9();
        this.namiIds = namiId;
        this.aid = aid;
        this.bid = bid;
        if (odd != "" && odd != null) {
          this.oddtime = odd;
        } else {
          this.oddsnum = "";
        }
        // this.teamList = [];
        // this.teamList.push(
        //   {
        //     label: aname,
        //     value: aid
        //   },
        //   {
        //     label: bname,
        //     value: bid
        //   }
        // );
        this.euroddsnum = eurodd;
        this.matchName = matchname;
      } else {
        this.$message.warning("请先登录");
      }
    },
    returnIndex(val, index) {
      if (val != "" && val != null) {
        return val.split(",")[index];
      } else {
        return "-";
      }
    },
    // onSearch() {
    //   this.currentPage = 1;
    //   this.getList();
    // },
    /*eventSearch(val) {
        if (this.eventAct != val) {
          this.eventSearchs = val;
          this.eventAct = val;
          this.getList();
        } else {
          this.eventSearchs = "";
          this.eventAct = "";
          this.getList();
        }
      },*/
    menu() {
      this.scroll =
        document.documentElement.scrollTop || document.body.scrollTop;
    },
    returnVersion() {
      var userAgent = navigator.userAgent; //取得浏览器的userAgent字符串
      var isOpera = userAgent.indexOf("Opera") > -1;
      if (isOpera) {
        return "Opera";
      } //判断是否Opera浏览器
      if (userAgent.indexOf("Firefox") > -1) {
        return "FF";
      } //判断是否Firefox浏览器
      if (userAgent.indexOf("Chrome") > -1) {
        return "Chrome";
      }
      if (userAgent.indexOf("Safari") > -1) {
        return "Safari";
      } //判断是否Safari浏览器
      if (
        userAgent.indexOf("compatible") > -1 &&
        userAgent.indexOf("MSIE") > -1 &&
        !isOpera
      ) {
        return "IE";
      } //判断是否IE浏览器
    },
    //埋点注释
    jumpD(
      namiId,
      aTeamId,
      bTeamId,
      aName,
      bName,
      matchId,
      seasonId,
      matchNameZh
    ) {
      // console.log(namiId, "==>测试id是否有传进");
      // var ips = returnCitySN["cip"];
      addDetailsLog({
        uId: Cookies.get("uId") != "" ? Cookies.get("uId") : 0,
        ip: "",
        type: 1,
        namiId: namiId,
        aTeamName: aName,
        bTeamName: bName,
        browseEnd: this.returnVersion(),
        matchName: matchNameZh
      })
        .then(res => {
          this.$router.push({
            path: "/gamedetailsfootball",
            query: {
              namiId: namiId,
              aTeamId: aTeamId,
              bTeamId: bTeamId,
              aName: aName,
              bName: bName,
              matchId: matchId,
              seasonId: seasonId
            }
          });
        })
        .catch(err => {
          // this.$message.error(err.message);
        });
    },

    jumpG(namiId) {
      this.$router.push({
        path: "/godindex",
        query: {
          matchId: namiId
        }
      });
    },
    reternOdd(item, val) {
      if (item.euroloss != "" && item.euroloss != null) {
        return item.euroloss.split(",")[val];
      } else {
        return "-";
      }
    },
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getList();
    },
    reAname(val) {
      if (val.aTeamName != "" && val.aTeamName != null) {
        return val.aTeamName;
      } else if (val.aTeamShortName != "" && val.aTeamShortName != null) {
        return val.aTeamShortName;
      }
    },

    reBname(val) {
      if (val.bTeamName != "" && val.bTeamName != null) {
        return val.bTeamName;
      } else if (val.bTeamShortName != "" && val.bTeamShortName != null) {
        return val.bTeamShortName;
      }
    },
    dateFormat(time) {
      var date = new Date(time);
      var year = date.getFullYear();
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      var month =
        date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1;
      var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
      var hours =
        date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
      var minutes =
        date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
      var seconds =
        date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
      // 拼接
      return year + "-" + month + "-" + day;
    },
    dateFormatTime(time) {
      var date = new Date(time);
      var year = date.getFullYear();
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      var month =
        date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1;
      var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
      var hours =
        date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
      var minutes =
        date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
      var seconds =
        date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
      // 拼接
      return hours + ":" + minutes;
    },
    getList() {
      this.loading = true;

      if (this.dataType === "football") {
        getFootballMatchList({
          current: this.currentPage,
          size: this.pagesize,
          searchStr1: this.search, //模糊查询
          searchInt5: this.searchInt5, //0  全部 1 为开场 2 完结 3为未开赛)
          date: this.dataNums
        })
          .then(res => {
            this.loading = false;

            this.gameList = res.data.records;
            this.total = res.data.total;

            if (this.newValue.includes("欧盘")) {
              this.gameList.map(cur => (cur.isOu = false));
            } else {
              this.gameList.map(cur => (cur.isOu = true));
            }
            if (this.newValue.includes("亚盘")) {
              this.gameList.map(cur => (cur.isYa = false));
            } else {
              this.gameList.map(cur => (cur.isYa = true));
            }
            if (this.newValue.includes("大小球")) {
              this.gameList.map(cur => (cur.isBall = false));
            } else {
              this.gameList.map(cur => (cur.isBall = true));
            }
            this.gameList = [...this.gameList];
          })
          .catch(err => {
            this.loading = false;
          });
      } else if (this.dataType === "basketball") {
        getBasketballMatchList({
          current: this.currentPage,
          size: this.pagesize,
          date: this.dataNums,
          searchStr1: this.search, //模糊查询
          searchInt5: this.searchInt5 //0  全部 1 为开场 2 完结 3为未开赛)
        })
          .then(res => {
            this.loading = false;

            this.gameList = res.data.records;
            this.total = res.data.total;

            if (this.newValue.includes("欧盘")) {
              this.gameList.map(cur => (cur.isOu = false));
            } else {
              this.gameList.map(cur => (cur.isOu = true));
            }
            if (this.newValue.includes("亚盘")) {
              this.gameList.map(cur => (cur.isYa = false));
            } else {
              this.gameList.map(cur => (cur.isYa = true));
            }
            if (this.newValue.includes("大小球")) {
              this.gameList.map(cur => (cur.isBall = false));
            } else {
              this.gameList.map(cur => (cur.isBall = true));
            }
            this.gameList = [...this.gameList];
          })
          .catch(err => {
            this.loading = false;
          });
      } else {
      }
    }
  },
  created() {
    this.getCurWeek();
    this.getList(this.dataType);
    if (
      sessionStorage.getItem("dialogVisible") != "undefined" &&
      sessionStorage.getItem("dialogVisible") == "false"
    ) {
      this.dialogVisible = false;
    }
  },
  destroyed() {
    clearInterval(this.timer);
  }
};
</script>

<style>
.clear {
  clear: both;
}

.customer_style .el-carousel__indicators--horizontal {
  bottom: 0;
  right: 3%;
  left: unset;
  transform: translateX(0%);
}

.customer_style .el-carousel__button {
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.customer_style .swiper_pic_info {
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 13px;
  transform: translateX(-50%);
}
</style>

<style lang="less" scoped>
.weekBar {
  position: relative;
  width: 100%;
  height: 100px;
  margin: 15px auto;
  background: white;

  .weekBarDisable {
    position: absolute;
    width: 100%;
    height: 100px;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9;
  }

  .arrow_left {
    background: url("../../assets/arrow_left.png") no-repeat 50% 50%;
    background-size: 50%;
    width: 73px;
    height: 100px;
    cursor: pointer;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    float: left;

    &:hover {
      opacity: 0.7;
    }
  }

  .arrow_right {
    background: url("../../assets/arrow_right.png") no-repeat 50% 50%;
    background-size: 50%;
    width: 73px;
    height: 100px;
    cursor: pointer;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    float: right;

    &:hover {
      opacity: 0.7;
    }
  }

  .con {
    position: relative;
    width: 861px;
    height: 100px;
    float: left;
    overflow: hidden;

    .week_contain {
      transition: left 0.6s;
      position: absolute;
      top: 0;
      left: 0;
      width: 1710px;
      height: 100px;
      display: grid;
      grid-template-columns: 123px 123px 123px 123px 123px 123px 123px 123px 123px 123px 123px 123px 123px 123px;

      .ele {
        margin-top: 20px;
        line-height: 30px;
        text-align: center;
        color: black;
        font-size: 25px;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }

        span {
          display: block;
          font-size: 20px;
        }
      }
    }
  }
}

.btn_kinds {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 10px;

  span {
    display: inline-block;
    width: 85px;
    height: 40px;
    line-height: 38px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background: white;
    margin-right: 10px;
    cursor: pointer;
  }

  .active {
    border-color: rgb(254, 90, 58);
    color: rgb(254, 90, 58);
  }
}

.diglog {
  .dialogTittle {
    position: relative;
    color: rgba(51, 51, 51, 1);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;

    i {
      margin-right: 10px;
      background-image: url("./../../assets/切图/16.png");
      background-repeat: no-repeat;
      display: inline-block;
      width: 25px;
      height: 22px;
    }
  }

  .dialogConter {
    height: 330px;

    .formItems {
      margin-bottom: 30px;

      span {
        font-size: 16px;
        color: rgba(153, 153, 153, 1);
      }
    }

    .items1 {
      .isSelcectBtn {
        color: #ffffff !important;
        background: linear-gradient(
          0deg,
          rgba(254, 85, 58, 1),
          rgba(255, 135, 55, 1)
        ) !important;
      }

      button {
        width: 70px;
        height: 44px;
        background-color: rgba(240, 240, 240, 1);
        border-radius: 12px;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 16px;
        margin-right: 30px;
        font-weight: 400;
      }
    }

    .items2 {
      display: flex;
      align-items: center;
      justify-content: center;

      select {
        margin-left: 20px;
        width: 42%;
        background: rgba(247, 247, 247, 1);
        height: 55px;
        outline: none;
        border: none;
        padding-left: 20px;

        option {
          height: 50px;
          outline: none;
          display: block;
        }
      }
    }

    .items3 {
      select {
        margin-left: 30px;
        width: 40%;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        height: 55px;
        outline: none;
        border: none;
        padding-left: 20px;
        padding-right: 20px;

        option {
          height: 50px;
          outline: none;
          display: block;
        }
      }
    }

    .items4 {
      display: flex;
      align-items: center;

      input {
        width: 40%;
        padding-left: 20px;
        font-size: 16px;
        outline: none;
        height: 55px;
        border: none;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        margin-left: 35px;
      }
    }

    .items5 {
      display: flex;
      align-items: flex-start;

      span {
        width: 100px;
      }
    }

    .items6 {
      display: flex;
      align-items: center;
      justify-content: center;

      input {
        width: 40%;
        padding-left: 20px;
        font-size: 16px;
        outline: none;
        height: 55px;
        border: none;
        background: rgba(247, 247, 247, 1);
        margin-left: 20px;
      }
    }

    .items7 .upload-demo {
      display: inline-flex;
      margin-left: 35px;
    }
  }

  .dialogFooter {
    height: 96px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .cancel {
      margin-right: 61px;
      width: 88px;
      height: 46px;
      background-color: RGBA(255, 232, 225, 1);
      border-radius: 6px;
      cursor: pointer;
      border: none;
      outline: none;
      color: rgba(254, 95, 57, 1);
    }

    .determine {
      width: 88px;
      height: 46px;
      background: linear-gradient(
        0deg,
        rgba(254, 85, 58, 1),
        rgba(255, 135, 55, 1)
      );
      border-radius: 6px;
      cursor: pointer;
      border: none;
      outline: none;
      color: rgba(255, 255, 255, 1);
    }
  }
}

.football {
  width: 100%;
  height: 100%;
  min-height: 1603px;
  padding-bottom: 100px;
  /*background-image: url("./../../assets/切图/36.jpg");*/
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;

  .footBack {
    width: 1353px;
    height: 100%;
    margin: 0 auto;

    .con_ele_lump {
      width: 1010px;
      height: auto;
      margin: 0 auto;
      margin-top: 20px;

      .Shuffling {
        width: 730px;
        height: 330px;
        border-radius: 12px;
        float: left;
      }

      .data_table {
        width: 1010px;
        height: auto;
        box-sizing: border-box;
        border: 1px solid #eaeaea;
        background-color: white;
        border-radius: 12px;
        position: relative;
        margin-top: 30px;

        .data_table_ele {
          line-height: 40px;
          color: #fe5a3a;
          font-weight: bold;
          text-align: center;
          width: 1010px;
          height: 40px;
          border-bottom: 1px solid #eaeaea;
          display: grid;
          grid-template-columns: 100px 230px 230px 100px 70px 70px 70px 70px 70px;

          .search_bar {
            position: absolute;
            top: 3px;
            left: 80px;
            width: 140px;
            height: 32px;
            border: 1px solid rgba(233, 233, 233, 1);
            border-radius: 5px;

            input {
              display: inherit;
              background: transparent;
              border: none;
              width: 140px;
              height: 30px;
              line-height: 30px;
              padding-left: 30px;
            }

            img {
              position: relative;
              top: -31px;
              left: 7px;
              cursor: pointer;
            }
          }
        }

        .data_table_ele_normal {
          line-height: 50px;
          color: black;
          text-align: center;
          width: 1010px;
          height: 50px;
          border-bottom: 1px solid #eaeaea;
          display: grid;
          grid-template-columns: 100px 230px 230px 100px 70px 70px 70px 70px 70px;

          .team {
            img {
              position: relative;
              top: 5px;
              margin: 0 10px;
              display: inline-block;
              width: 30px;
              height: auto;
            }
          }

          .red {
            color: red;
          }

          .ready {
            color: green;
          }
        }
      }

      .scroll_info {
        background-color: white;
        width: 270px;
        height: 330px;
        box-sizing: border-box;
        border: 1px solid #eaeaea;
        border-radius: 12px;
        overflow: hidden;
        float: right;

        .menu {
          display: grid;
          padding-top: 12px;
          padding-bottom: 10px;
          border-bottom: 1px solid #eaeaea;
          background: #f6f6f6;
          grid-template-columns: auto 80px 80px;

          .title {
            font-size: 16px;
            font-weight: bold;
            color: black;
            margin-left: 13px;
          }

          .btn {
            cursor: pointer;
            background: white;
            width: 70px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            box-sizing: border-box;
            border: 1px solid #eaeaea;
            border-radius: 3px;
            margin: 0 auto;
          }
        }

        .menu_tab {
          display: grid;
          padding-top: 7px;
          padding-bottom: 7px;
          border-bottom: 1px solid #eaeaea;
          background: #f6f6f6;
          grid-template-columns: auto 75px;

          .title {
            font-size: 16px;
            font-weight: bold;
            color: #fe5a3a;
            text-align: left;
            text-indent: 10px;
            line-height: 26px;
          }

          .btn {
            cursor: pointer;
            background: white;
            width: 48px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            box-sizing: border-box;
            border: 1px solid #eaeaea;
            border-radius: 3px;
            margin: 0 auto;

            &:hover {
              background: #fe5a3a;
              color: white;
            }
          }

          .active {
            cursor: pointer;
            background: #fe5a3a;
            color: white;
            width: 48px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            box-sizing: border-box;
            border: 1px solid #eaeaea;
            border-radius: 3px;
            margin: 0 auto;
          }

          .btn_more {
            cursor: pointer;
            background: white;
            width: 70px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border: 1px solid #eaeaea;
            border-radius: 3px;
          }
        }

        .content {
          width: 270px;
          height: 281px;
          overflow-y: hidden;

          li {
            width: 240px;
            color: black;
            height: 31px;
            overflow: hidden;
            line-height: 31px;
            margin: 0 auto;
            cursor: pointer;
          }
        }

        .data_content {
          width: 270px;
          height: 281px;

          .data_ele_title {
            background: #9c9c9c;
            color: black;
            text-align: left;
            line-height: 28px;

            .data_ele_title_con {
              top: 0;
              left: 0;
              position: relative;
              width: 270px;
              height: 27px;
              overflow: hidden;

              .btn_left_scroll {
                background: url("../../assets/btn_left_scroll.png") no-repeat
                  #9c9c9c;
                position: absolute;
                top: 0;
                left: 0;
                width: 27px;
                height: 27px;
                cursor: pointer;
                z-index: 9;
              }

              .btn_right_scroll {
                background: url("../../assets/btn_right_scroll.png") no-repeat
                  #9c9c9c;
                position: absolute;
                top: 0;
                right: 0;
                width: 27px;
                height: 27px;
                cursor: pointer;
                z-index: 9;
              }

              .data_ele_span {
                transition: all 0.5s;
                top: 0;
                left: 30px;
                position: absolute;
                display: inline-flex;
                width: auto;
                height: 27px;
              }
            }

            span {
              text-align: center;
              display: inline-block;
              width: 65px;
              height: auto;
              cursor: pointer;
            }
          }

          .data_ele_win_lose {
            color: black;
            line-height: 28px;

            span {
              text-align: center;
              display: inline-block;
              width: 130px;
              height: auto;
              cursor: pointer;
            }
          }

          .data_ele {
            color: black;
            display: grid;
            grid-template-columns: 50px 110px 110px;
            text-align: center;
            line-height: 37px;
          }
        }
      }

      .con_plan {
        width: 730px;
        height: 367px;
        overflow: hidden;
        border-radius: 12px;
        float: left;

        .menu {
          box-sizing: border-box;
          display: grid;
          border-bottom: 1px solid #eaeaea;
          grid-template-columns: auto 80px 80px;
          line-height: 36px;

          .menus_bar {
            ul {
              text-align: center;

              li {
                position: relative;
                bottom: -1px;
                display: inline-block;
                width: 60px;
                height: 36px;
                margin: auto 3px;
                border: 1px solid #eaeaea;
                background: white;
                cursor: pointer;
                border-radius: 4px 4px 0 0;

                &:hover {
                  background: #fe5a3a;
                  color: white;
                }
              }

              li.active {
                background: #fe5a3a;
                color: white;
              }
            }
          }

          .title {
            font-size: 16px;
            font-weight: bold;
            color: #fe5a3a;
            margin-left: 13px;
          }

          .btn {
            cursor: pointer;
            background: white;
            width: 70px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            box-sizing: border-box;
            border: 1px solid #eaeaea;
            border-radius: 3px;
            margin: 0 auto;
            margin-top: 5px;
          }
        }

        .menus_con {
          width: 730px;
          height: auto;

          .con_left {
            margin-top: 17px;
            background: white;
            padding: 10px;
            width: 360px;
            height: auto;
            border: 1px solid #eaeaea;
            border-radius: 6px;
            float: left;
          }

          .con_right {
            margin-top: 17px;
            background: white;
            padding: 10px;
            width: 360px;
            height: auto;
            border: 1px solid #eaeaea;
            border-radius: 6px;
            float: right;
          }

          .con_detail {
            display: grid;
            grid-template-columns: auto 260px;

            .detail_title {
              color: black;
              font-size: 12px;
              height: 30px;
              overflow: hidden;
              line-height: 35px;
              border-bottom: 1px solid #9c9c9c;
            }

            img {
              margin-left: 15px;
              width: 45px;
              height: 45px;
            }

            img.userPhoto {
              position: relative;
              top: -15px;
            }

            .span_left {
              float: left;
              color: #4fb833;
              line-height: 24px;
            }

            .span_right {
              font-size: 14px;
              float: right;
              color: #4fb833;
              line-height: 24px;
              width: 200px;
              text-align: right;
            }

            .span_left_black {
              float: left;
              color: black;
              line-height: 46px;
            }

            .span_right_black {
              float: right;
              color: black;
              line-height: 46px;
            }
          }
        }
      }
    }

    .isScroll {
      position: absolute;
      top: 160px;
      height: 285px;
      width: 133.2px;
      z-index: 50;
    }

    .isScrolls {
      position: fixed;
      top: 250px;
      right: 0px;
      height: 285px;
      width: 7%;
      z-index: 50;
    }

    .Shuffling {
      width: 100%;
      height: 330px;
      border-radius: 12px;
    }

    .screening {
      margin-top: 20px;
      width: 100%;
      height: 60px;

      .screeningBut {
        width: 100%;
        height: 60px;
        background-color: #ffffff;

        .screeningButRight {
          float: right;
          height: 60px;
          line-height: 60px;
          margin-right: 10px;
          width: 254px;
          display: flex;
          align-items: center;

          .searchBox {
            padding-right: 30px;
            position: relative;

            .searchBoxInput {
              border: none;
              outline: none;
              width: 164px;
              padding-left: 20px;
              padding-right: 50px;
              font-size: 13px;
              height: 35px;
              line-height: 35px;
              background-color: rgba(246, 246, 246, 1);
            }

            img {
              cursor: pointer;
              width: 19px;
              height: 18px;
              position: absolute;
              right: 50px;
              top: 27px;
            }
          }
        }
      }
    }

    .gamesTittle {
      background-color: transparent;
      width: 100%;
      height: 50px;

      .gamesTittleUi {
        height: 50px;
        display: grid;
        grid-template-columns: 10% 5% 5% 10% 14% 10% 5% 5% 22% 16%;
        grid-template-rows: 50px;
        .el-checkbox {
          margin-right: 0px;
          margin-left: 5px;
        }
        .typeBox {
          display: flex;
          div {
            font-size: 12px;
            color: #000000;
          }
        }
        .scoreCard {
          display: inline-grid;
          grid-template-columns: repeat(3, 33.33%);
        }

        li {
          float: left;
          cursor: pointer;
          font-size: 16px;
          color: #ffffff;
          font-weight: 600;
          height: 50px;
          line-height: 50px;
          text-align: center;

          span {
            color: #fe5a3a;
          }
        }
      }
    }

    .games {
      margin-bottom: 20px;
      background-color: chocolate;
      width: 100%;
      height: 100%;
      border-radius: 12px;
      border-width: 1px;
      border-color: #eaeaea;
      border-style: double;

      .screeningButRight {
        float: right;
        height: 60px;
        line-height: 60px;
        margin-right: 10px;
        width: 254px;
        display: flex;
        align-items: center;

        .searchBox {
          padding-right: 30px;
          position: relative;

          .searchBoxInput {
            border: none;
            outline: none;
            width: 164px;
            padding-left: 20px;
            padding-right: 50px;
            font-size: 13px;
            height: 35px;
            line-height: 35px;
            background-color: rgba(246, 246, 246, 1);
          }

          img {
            cursor: pointer;
            width: 19px;
            height: 18px;
            position: absolute;
            right: 50px;
            top: 21px;
          }
        }
      }

      .gamesTopTime {
        height: 60px;
        width: 100%;
        line-height: 60px;
        background-color: #ffffff;
        border-bottom: 1px solid #eaeaea;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;

        span {
          font-size: 20px;
          color: #999999;
          margin-left: 20px;
        }
      }

      .gamesBut {
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
        .newstatus {
          span {
            color: red;
            padding-right: 20px;
          }
        }
        .gamesButItem:last-child {
          border-bottom-right-radius: 12px;
          border-bottom-left-radius: 12px;

          .gamesItemUi {
            border-bottom-right-radius: 12px;
            border-bottom-left-radius: 12px;
          }
        }

        .noStyle {
          width: 100%;
          height: 110px;
          line-height: 110px;
          background-color: #ffffff;
          border-bottom: 1px solid #eaeaea;
          color: #000000;
          font-size: 22px;
          font-weight: 600;
          text-align: center;
        }

        .gamesButItem {
          width: 100%;
          height: 105px;
          line-height: 110px;
          background-color: #ffffff;
          border-bottom: 1px solid #eaeaea;

          .gamesItemUi {
            height: 52px;
            display: grid;
            grid-template-columns: 10% 10% 34% 5% 5% 20% 4% 4% 4% 4%;
            grid-template-rows: 55px;

            .gameLogo {
              height: 45px;
              width: 34px;
              display: inline-block;
            }

            .spliceLi {
              table {
                position: relative;
                width: 100%;
                display: block;
                color: #333333;
                background: white;
                font-size: 12px;
              }
              tbody {
                line-height: 20px;
              }

              thead {
                float: left;
              }

              tbody tr {
                display: inline-block;
              }
              td {
                width: 40px;
              }
              th {
                width: 40px;
              }
              th,
              td {
                height: 30px;
                display: block;
                border: 1px solid #333333;

                line-height: 36px;
                text-align: center;
              }
            }

            li:nth-child(2) {
              color: #333333;
              font-size: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              /*flex-direction: column;*/
              line-height: 20px;
            }

            li:nth-child(3) {
              color: #333333;
              width: 100%;
              font-size: 10px;
              // display: grid;
              // grid-template-columns: 40% 20% 40% 100%;
              // grid-template-rows: 55px;
              .litop {
                height: 50%;
                display: grid;
                grid-template-columns: 32% 8% 20% 8% 32% 100%;
                grid-template-rows: 55px;
                /*margin-top: 25px;*/

                img {
                  width: 30px !important;
                  height: auto !important;
                }

                .score {
                  margin: auto;
                  display: inline-block;
                  width: 36px;
                  height: 26px;
                  border-radius: 6px;
                  /*background: linear-gradient(-30deg,*/
                  /*rgb(255, 201, 98),*/
                  /*rgb(254, 136, 53));*/
                  text-align: center;
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  span {
                    font-size: 16px;
                    color: #ffffff;
                  }
                }
              }

              .libtn {
                height: 50%;
                background-color: #fff2f0;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                img {
                  width: 20px;
                  height: 20px;
                  margin-right: 5px;
                  display: inline-block;
                }

                span {
                  font-size: 16px;
                  color: #fe5a3a;
                }
              }
            }

            li:nth-child(4) {
              color: #333333;
              font-size: 10px;
            }

            li:nth-child(5) {
              color: #333333;
              font-size: 10px;
            }

            li {
              float: left;
              font-size: 14px;
              color: #999999;
              height: 55px;
              line-height: 55px;
              text-align: center;

              .dish {
                color: #999999;
                font-size: 16px;
              }

              .dishNumber {
                color: #fe5e39;
                font-size: 20px;
              }
            }

            .viewButton {
              border: none;
              outline: none;
              cursor: pointer;
              height: 100%;
              font-size: 14px;
              color: #fe553a;
              font-weight: 600;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}

/*弹窗样式*/
.diglog1 {
  .dialogTittle {
    color: rgba(51, 51, 51, 1);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;

    i {
      margin-right: 10px;
      background-image: url("./../../assets/切图/16.png");
      background-repeat: no-repeat;
      display: inline-block;
      width: 25px;
      height: 22px;
    }
  }

  .dialogConter {
    .formItems {
      margin-bottom: 30px;

      span {
        font-size: 16px;
        color: rgba(153, 153, 153, 1);
      }
    }

    .items1 {
      .isSelcectBtn {
        color: #ffffff !important;
        background: linear-gradient(
          0deg,
          rgba(254, 85, 58, 1),
          rgba(255, 135, 55, 1)
        ) !important;
      }

      button {
        width: 70px;
        height: 44px;
        background-color: rgba(240, 240, 240, 1);
        border-radius: 12px;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 16px;
        margin-right: 30px;
        font-weight: 400;
      }
    }

    .items2 {
      select {
        margin-left: 2px;
        width: 42%;
        background: rgba(247, 247, 247, 1);
        height: 55px;
        border-radius: 12px;
        outline: none;
        border: none;
        padding-left: 20px;
        padding-right: 20px;
        cursor: pointer;

        option {
          height: 50px;
          outline: none;
          display: block;
        }
      }
    }

    .items3 {
      select {
        margin-left: 30px;
        width: 40%;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        height: 55px;
        outline: none;
        border: none;
        padding-left: 20px;
        padding-right: 20px;

        option {
          height: 50px;
          outline: none;
          display: block;
        }
      }
    }

    .items4 {
      display: flex;
      align-items: center;

      input {
        width: 40%;
        padding-left: 20px;
        font-size: 13px;
        outline: none;
        height: 55px;
        border: none;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        margin-left: 35px;
      }
    }

    .items5 {
      display: flex;
      align-items: flex-start;

      span {
        width: 100px;
      }
    }

    .items6 {
      display: flex;
      align-items: center;

      input {
        width: 40%;
        padding-left: 20px;
        font-size: 13px;
        outline: none;
        height: 55px;
        border: none;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        margin-left: 35px;
      }
    }

    .items7 .upload-demo {
      display: inline-flex;
      margin-left: 35px;
    }
  }

  .dialogFooter {
    height: 96px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .cancel {
      margin-right: 61px;
      width: 88px;
      height: 46px;
      background-color: RGBA(255, 232, 225, 1);
      border-radius: 6px;
      cursor: pointer;
      border: none;
      outline: none;
      color: rgba(254, 95, 57, 1);
    }

    .determine {
      width: 88px;
      height: 46px;
      background: linear-gradient(
        0deg,
        rgba(254, 85, 58, 1),
        rgba(255, 135, 55, 1)
      );
      border-radius: 6px;
      cursor: pointer;
      border: none;
      outline: none;
      color: rgba(255, 255, 255, 1);
    }
  }
}
</style>
<style>
.el-button + .el-button {
  margin: 0px !important;
}

.openthn > .el-dialog > .el-dialog__header {
  height: 55px !important;
  background-color: rgb(212, 69, 69);
  color: white;
  border-radius: 30px 30px 0 0;
}

.openthn > .el-dialog > .el-dialog__header > .el-dialog__title {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.openthn
  > .el-dialog
  > .el-dialog__header
  > .el-dialog__headerbtn
  > .el-icon-close {
  color: white;
}

.openthn > .el-dialog,
.el-pager li {
  background-color: white;
}

.openthn > .el-dialog {
  border-radius: 30px;
}

.el-pagination__total {
  color: #39373b !important;
}

.el-pagination__jump {
  color: #39373b !important;
}

.spanp {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  line-height: 55px;
}

/*.txt_color{*/
/*  background-image: -webkit-linear-gradient(-30deg,rgba(255,135,55,1),rgba(254,85,58,1));*/
/*-webkit-background-clip: text;*/
/*-webkit-text-fill-color: transparent;*/
/*}*/

.isActing {
  background-image: -webkit-linear-gradient(
    -30deg,
    rgba(255, 135, 55, 1),
    rgba(254, 85, 58, 1)
  ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
</style>
