<template>
  <div>
    <img
      style="position: fixed;left: 0px;top:0px;z-index: -22;width: 100%;height: 100%"
      src="./../../assets/切图/36.jpg"
    />
    <div class="football customer_style">
      <div class="footBack">
        <el-row :gutter="20">
          <!-- 左部导航栏取消弹框，只做占位作用 -->
          <div style="height:290px;width:133.2px;float:left">
            <!--<div class="navigationLeft isScroll">
              <div class="navigationLeftBut">
                <p class="navigationTittle">热门赛事</p>
                <ul class="navigationButUi">
                  &lt;!&ndash; <li>
                  <span class="isActing">NBA</span>
                  </li>&ndash;&gt;
                  <li
                    v-for="(item, index) in eventList"
                    :key="index"
                    :class="{ 'isActing': eventAct==item.matchId}"
                    @click="eventSearch(item.matchId)"
                  >
                    <span class="txt_color">{{item.shortMatchName}}</span>
                  </li>
                </ul>
              </div>
            </div>-->
          </div>

          <el-col :span="18">
            <div class="contentCenter">
              <div class="con_ele_lump">
                <div class="Shuffling">
                  <el-carousel :interval="4000" arrow="always">
                    <!-- <el-carousel-item>
                      <span class="swiper_pic_info">图片信息</span>
                      <img src="../../assets/swipe/image_2020-04-08_15-31-27.png" style="width:100%;height:100%;cursor: pointer;"@click="jumpPic(7)"/>
                    </el-carousel-item>
                    <el-carousel-item>
                      <span class="swiper_pic_info">图片信息</span>
                      <img src="../../assets/swipe/image_2020-04-08_15-31-37.png" style="width:100%;height:100%;cursor: pointer;"@click="jumpPic(9)"/>
                    </el-carousel-item>
                    <el-carousel-item>
                      <span class="swiper_pic_info">图片信息</span>
                      <img src="../../assets/swipe/image_2020-04-08_15-31-44.png" style="width:100%;height:100%;cursor: pointer;"@click="jumpPic(null)"/>
                    </el-carousel-item>-->
                    <el-carousel-item v-for="(item, index) in picList" :key="index">
                      <span class="swiper_pic_info">{{item.name}}</span>
                      <img
                        :src="item.pic"
                        alt="轮播图"
                        style="width:100%;height:100%;cursor: pointer;"
                        @click="jumpPic(item.backstageActiveId)"
                      />
                    </el-carousel-item>
                  </el-carousel>
                </div>
                <div class="scroll_info">
                  <div class="menu">
                    <div class="title">精彩推荐</div>
                    <div class="btn" @click="this.changeNewsList">换一批</div>
                    <div class="btn" @click="()=>{this.$router.push('/bbs')}">更多 >></div>
                  </div>
                  <div class="content">
                    <ul>
                      <li
                        v-for="(ele,index) in curNewsArr"
                        :key="index"
                        @click="jumpTos(ele.type,ele.aId,ele.agId)"
                      >{{ele.aTitle}}</li>
                    </ul>
                  </div>
                </div>
                <div class="clear"></div>
              </div>

              <div class="con_ele_lump">
                <!-- 策略分析模块START -->

                <div class="con_plan">
                  <div class="menu">
                    <div>
                      <div class="title">策略分析</div>
                      <div>
                        <button :class="this.homePlansType===1?'active':''" @click="getType(1)">足球</button>
                        <button :class="this.homePlansType===2?'active':''" @click="getType(2)">篮球</button>
                        <button :class="this.homePlansType===3?'active':''" @click="getType(3)">电竞</button>
                      </div>
                    </div>
                    <div>
                      <div @click="this.changePlansList">换一批</div>
                      <div @click="()=>{this.$router.push('/godindex')}">更多 >></div>
                    </div>
                  </div>

                  <div class="menus_con" v-if="this.homePlansArr.length>0">
                    <div
                      class="con_left"
                      v-for="(cur,inx) in homePlansArr"
                      :key="inx"
                      @click="goStrategy(cur.uId,
                                  cur.gfId,
                                  cur.nickName,
                                  cur.matchShortName,
                                  cur.aTeamShortName,
                                  cur.bTeamShortName,
                                  cur.euroloss,
                                  cur.createTime,)
                                  "
                    >
                      <div class="con_detail">
                        <img :src="cur.matchLogo" />
                        <div class="con_detail_div">
                          <span class="span_left" style="color:deepskyblue">{{cur.matchShortName}}</span>
                          <span
                            class="span_right"
                            style="color:red"
                          >{{cur.aTeamShortName}}VS{{cur.bTeamShortName}}</span>
                          <span class="span_left">{{dateFormat(cur.matchStartTime)}}</span>
                          <div class="span_right" style="width:70px" v-show="homePlansType==1">
                            <span v-if="cur.matchTypeStatus==0">比赛异常</span>
                            <span v-else-if="cur.matchTypeStatus==1">未开赛</span>
                            <span v-else-if="cur.matchTypeStatus==2">上半场</span>
                            <span v-else-if="cur.matchTypeStatus==3">中场</span>
                            <span v-else-if="cur.matchTypeStatus==4">下半场</span>
                            <span v-else-if="cur.matchTypeStatus==5">加时赛</span>
                            <span v-else-if="cur.matchTypeStatus==6">加时赛（弃用）</span>
                            <span v-else-if="cur.matchTypeStatus==7">点球大战</span>
                            <span v-else-if="cur.matchTypeStatus==8">完场</span>
                            <span v-else-if="cur.matchTypeStatus==9">推迟</span>
                            <span v-else-if="cur.matchTypeStatus==10">中断</span>
                            <span v-else-if="cur.matchTypeStatus==11">腰斩</span>
                            <span v-else-if="cur.matchTypeStatus==12">取消</span>
                            <span v-else-if="cur.matchTypeStatus==13">待定</span>
                          </div>
                          <div class="span_right" style="width:70px" v-show="homePlansType==2">
                            <span v-if="cur.matchTypeStatus==0">比赛异常</span>
                            <span v-else-if="cur.matchTypeStatus==1">未开赛</span>
                            <span v-else-if="cur.matchTypeStatus==2">第一节</span>
                            <span v-else-if="cur.matchTypeStatus==3">第一节完</span>
                            <span v-else-if="cur.matchTypeStatus==4">第二节</span>
                            <span v-else-if="cur.matchTypeStatus==5">第二节完</span>
                            <span v-else-if="cur.matchTypeStatus==6">第三节</span>
                            <span v-else-if="cur.matchTypeStatus==7">第三节完</span>
                            <span v-else-if="cur.matchTypeStatus==8">第四节</span>
                            <span v-else-if="cur.matchTypeStatus==9">加时</span>
                            <span v-else-if="cur.matchTypeStatus==10">完场</span>
                            <span v-else-if="cur.matchTypeStatus==11">中断</span>
                            <span v-else-if="cur.matchTypeStatus==12">取消</span>
                            <span v-else-if="cur.matchTypeStatus==13">延期</span>
                            <span v-else-if="cur.matchTypeStatus==14">腰斩</span>
                            <span v-else-if="cur.matchTypeStatus==15">待定</span>
                          </div>
                          <div class="span_right" style="width:70px" v-show="homePlansType==3">
                            <span v-if="cur.matchTypeStatus==0">未开始</span>
                            <span v-else-if="cur.matchTypeStatus==1">进行中</span>
                            <span v-else-if="cur.matchTypeStatus==2">已结束</span>
                            <span v-else-if="cur.matchTypeStatus==3">已延期</span>
                            <span v-else-if="cur.matchTypeStatus==4">已删除</span>
                          </div>
                        </div>
                        <span />
                        <span class="detail_title">{{cur.gfTitle}}</span>
                        <span class="buyInteg">{{cur.buyIntegral}}积分</span>
                        <img class="userPhoto" :src="cur.headUrl" />
                        <div>
                          <span class="span_left_black">{{cur.nickName}}</span>
                          <span class="span_right_black">{{cur.createTime}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="menus_con" v-else>暂无数据</div>
                </div>
                <!-- 策略分析模块END -->

                <div class="scroll_info" style="height: 365px">
                  <div class="menu_tab">
                    <div class="title">
                      <p>比赛数据</p>
                      <span
                        v-for="(ele,index) in btn_kinds"
                        :key="index"
                        :class="btn_kinds_tab=== index?'acrt':''"
                        @click="clickGetTeamTab(index)"
                      >{{ele}}</span>
                    </div>

                    <!-- <div class="btn_more">更多>></div> -->
                  </div>

                  <div v-if="btn_kinds_tab===0" class="data_content">
                    <div class="data_ele_title">
                      <div class="data_ele_title_con">
                        <div class="btn_left_scroll" @click="this.teamBarLeft"></div>
                        <div class="btn_right_scroll" @click="this.teamBarRight"></div>
                        <div
                          class="data_ele_span"
                          id="data_ele_span"
                          :style="{left:teamMenuBarEleWidth+'px'}"
                        >
                          <span
                            v-for="(ele,index) in footballTeamName"
                            :key="index"
                            :class="teamName_Index=== index?'acrb':''"
                            @click="clickGetTeamRank(ele['matchName'],index,ele)"
                          >{{ele.matchName}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="data_ele">
                      <span>
                        <b>名次</b>
                      </span>
                      <span>
                        <b>球队</b>
                      </span>
                      <span>
                        <b>胜/平/负</b>
                      </span>
                    </div>
                    <div class="data_ele" v-for="(ele,index) in teamWinLose" :key="index">
                      <span>{{index+1}}</span>
                      <span>{{ele.teamName}}</span>
                      <span>{{ele.won}}/{{ele.drawn}}/{{ele.lost}}</span>
                    </div>
                  </div>
                  <div v-if="btn_kinds_tab===1" class="data_content">敬请期待</div>
                  <div v-if="btn_kinds_tab===2" class="data_content">
                    <div class="compute">
                      <span
                        v-for="(ele,index) in btn_compu"
                        :key="index"
                        :class="btn_compu_Index=== index?'acrt':''"
                        @click="clickGetTeamComp(index)"
                      >{{ele}}</span>
                    </div>

                    <div class="data_ele_title">
                      <div class="data_ele_title_con">
                        <div class="btn_left_scroll" @click="this.teamBarLeft"></div>
                        <div class="btn_right_scroll" @click="this.teamBarRight"></div>
                        <div
                          class="data_ele_span"
                          id="data_ele_span"
                          :style="{left:teamMenuBarEleWidth+'px'}"
                        >
                          <span
                            v-for="(ele,index) in computerTeamName"
                            :key="index"
                            :class="teamName_Index_Coum=== index?'acrb':''"
                            @click="clickGetTeamComputer(ele['matchName'],index,ele)"
                          >{{ele.matchName}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="data_ele">
                      <span>
                        <b>名次</b>
                      </span>
                      <span>
                        <b>球队</b>
                      </span>
                      <span>
                        <b>胜/平/负</b>
                      </span>
                    </div>
                    <div class="data_ele" v-for="(ele,index) in computerWinLose" :key="index">
                      <span>{{index+1}}</span>
                      <span>{{changeGameType(ele)}}</span>
                      <span>{{changeGameRank(ele)}}</span>
                    </div>
                  </div>
                </div>
                <div class="clear"></div>
              </div>

              <!-- 数据列表 -->
              <div class="btn_kinds">
                <b class="btn_ti">今日比赛</b>
                <button
                  v-for="(ele,index) in btn_kinds"
                  :key="index"
                  :class="btn_kinds_index === index?'active':''"
                  @click="()=>changeGameKinds(index)"
                >{{ele}}</button>
              </div>
              <div
                v-show="this.dataType !== 'eSport'"
                class="contentShow"
                v-loading="loading"
                element-loading-spinner="el-icon-loading"
                element-loading-background="rgba(0, 0, 0, 0)"
              >
                <div class="gamesTittle">
                  <ul class="gamesTittleUi">
                    <li>
                      <span>联赛名称</span>
                    </li>
                    <li>
                      <span>状态</span>
                    </li>
                    <li>
                      <span>时间</span>
                    </li>
                    <li>
                      <span>主队</span>
                    </li>
                    <li>
                      <span>比分</span>
                    </li>
                    <li>
                      <span>客队</span>
                    </li>
                    <li>
                      <span>半场</span>
                    </li>
                    <li>
                      <span>角球</span>
                    </li>
                    <li class="typeBox">
                      <span>赔率</span>
                      <div>
                        <el-checkbox-group
                          v-model="checkedCities"
                          :min="1"
                          :max="3"
                          @change="selectChanged"
                        >
                          <el-checkbox v-for="city in isSelect" :label="city" :key="city">{{city}}</el-checkbox>
                        </el-checkbox-group>
                      </div>
                    </li>
                    <li>
                      <span>操作</span>
                    </li>
                  </ul>
                </div>
                <div class="games">
                  <div class="gamesTopTime">
                    <el-date-picker
                      v-model="dataNums"
                      type="date"
                      @change="changeData"
                      placeholder="选择日期"
                      value-format="timestamp"
                      style="margin-left:30px"
                    ></el-date-picker>
                    <el-button type="warning" plain size="mini" @click="optintype(0)">全部</el-button>
                    <el-button type="warning" plain size="mini" title="已完成" @click="optintype(1)">完场</el-button>
                    <el-button type="warning" plain size="mini" @click="optintype(2)">未完场</el-button>

                    <div class="screeningButRight">
                      <div class="searchBox">
                        <input
                          type="text"
                          class="searchBoxInput"
                          placeholder="赛事名称"
                          v-model="search"
                        />
                        <img src="./../../assets/搜索.png" alt="搜索图标" />
                      </div>
                    </div>
                  </div>

                  <div class="gamesBut">
                    <div
                      class="gamesButItem"
                      v-for="(item, index) in gameList"
                      :key="index"
                      style="position: relative"
                    >
                      <ul class="gamesItemUi">
                        <li>
                          <div style="float: left;width: 40%;">
                            <img
                              style="max-height: 30px;max-width:30px;display:inline-block;margin-top: 14px;"
                              :src="item.matchLogo"
                            />
                          </div>
                          <div style="float: right;width: 60%">
                            <span
                              style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"
                            >{{item.matchShortNameZh}}</span>
                          </div>
                          <div style="clear:both"></div>
                        </li>
                        <li>
                          <div class="newstatus" v-show="dataType=='football'">
                            <span v-if="item.matchType==0">比赛异常</span>
                            <span v-else-if="item.matchType==1">未开赛</span>
                            <span v-else-if="item.matchType==2">上半场</span>
                            <span v-else-if="item.matchType==3">中场</span>
                            <span v-else-if="item.matchType==4">下半场</span>
                            <span v-else-if="item.matchType==5">加时赛</span>
                            <span v-else-if="item.matchType==6">加时赛（弃用）</span>
                            <span v-else-if="item.matchType==7">点球大战</span>
                            <span v-else-if="item.matchType==8">完场</span>
                            <span v-else-if="item.matchType==9">推迟</span>
                            <span v-else-if="item.matchType==10">中断</span>
                            <span v-else-if="item.matchType==11">腰斩</span>
                            <span v-else-if="item.matchType==12">取消</span>
                            <span v-else-if="item.matchType==13">待定</span>
                          </div>
                          <div class="newstatus" v-show="dataType=='basketball'">
                            <span v-if="item.matchType==0">比赛异常</span>
                            <span v-else-if="item.matchType==1">未开赛</span>
                            <span v-else-if="item.matchType==2">第一节</span>
                            <span v-else-if="item.matchType==3">第一节完</span>
                            <span v-else-if="item.matchType==4">第二节</span>
                            <span v-else-if="item.matchType==5">第二节完</span>
                            <span v-else-if="item.matchType==6">第三节</span>
                            <span v-else-if="item.matchType==7">第三节完</span>
                            <span v-else-if="item.matchType==8">第四节</span>
                            <span v-else-if="item.matchType==9">加时</span>
                            <span v-else-if="item.matchType==10">完场</span>
                            <span v-else-if="item.matchType==11">中断</span>
                            <span v-else-if="item.matchType==12">取消</span>
                            <span v-else-if="item.matchType==13">延期</span>
                            <span v-else-if="item.matchType==14">腰斩</span>
                            <span v-else-if="item.matchType==15">待定</span>
                          </div>
                          <span>{{dateFormatTime(item.matchStartTime)}}</span>
                        </li>
                        <li>
                          <div class="litop">
                            <span :title="reAname(item)" class="spanp">{{reAname(item)}}</span>
                            <img style="height:22px;padding-top: 14px" :src="item.aLogo" />
                            <div class="score">
                              <span v-if="!item.matchScore" style="color: black;display: block">-</span>
                              <span v-else style="color: black;display: block;">{{item.matchScore}}</span>
                            </div>
                            <img style="height:22px;padding-top: 14px" :src="item.bLogo" />
                            <span :title="reBname(item)" class="spanp">{{reBname(item)}}</span>
                          </div>
                        </li>
                        <li>
                          <span>{{item.halfScore?item.halfScore:'--'}}</span>
                        </li>

                        <li>
                          <span>{{item.matchCorner?item.matchCorner:'--'}}</span>
                        </li>
                        <li class="spliceLi">
                          <table class="table table-bordered table-hover">
                            <thead>
                              <tr>
                                <th v-if="!item.isYa">亚</th>
                                <th v-if="!item.isOu">欧</th>
                                <th v-if="!item.isBall">大</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td v-if="!item.isYa">{{returnIndex(item.asianplate,0)}}</td>
                                <td v-if="!item.isOu">{{returnIndex(item.euroloss,0)}}</td>
                                <td v-if="!item.isBall">{{returnIndex(item.sizeBall,0)}}</td>
                              </tr>
                              <tr>
                                <td v-if="!item.isYa">{{returnIndex(item.asianplate,1)}}</td>
                                <td v-if="!item.isOu">{{returnIndex(item.euroloss,1)}}</td>
                                <td v-if="!item.isBall">{{returnIndex(item.sizeBall,1)}}</td>
                              </tr>
                              <tr>
                                <td v-if="!item.isYa">{{returnIndex(item.asianplate,2)}}</td>
                                <td v-if="!item.isOu">{{returnIndex(item.euroloss,2)}}</td>
                                <td v-if="!item.isBall">{{returnIndex(item.sizeBall,2)}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </li>
                        <li
                          @click="jumpD(item.namiId,item.aTeamId,item.bTeamId,reAname(item),reBname(item),item.matchId,item.seasonId,item.matchNameZh)"
                        >
                          <button class="viewButton">析</button>
                        </li>
                        <li @click="jumpG(item.namiId)">
                          <button class="viewButton">荐</button>
                        </li>
                        <li @click="releaseTopic(item.namiId,item)">
                          <button class="viewButton">单</button>
                        </li>
                        <li
                          @click="onBet(item.aTeamId,item.bTeamId,reAname(item),reBname(item),item.namiId,item.euroloss,item.euroloss,item.matchNameZh,item.matchStartTime,item.matchType,item)"
                        >
                          <button class="viewButton">竞</button>
                        </li>
                      </ul>
                    </div>
                    <div class="noStyle" v-show="gameList.length==0">暂无数据</div>
                  </div>
                </div>

                <el-pagination
                  background
                  @current-change="handleCurrentChange"
                  :current-page="currentPages"
                  :page-size="pagesizes"
                  layout="total, prev, pager, next, jumper"
                  :total="total"
                  v-if="total>5"
                  style="text-align: right;margin-top: 20px;"
                ></el-pagination>
              </div>
              <!-- 电竞数据列表 -->
              <eSports v-show="this.dataType === 'eSport'" />
            </div>
          </el-col>
        </el-row>
      </div>

      <el-dialog
        :visible.sync="dialogvalue"
        width="843px"
        center
        class="diglog"
        :show-close="false"
        :close-on-click-modal="false"
        close-on-press-escape
      >
        <p slot="title" class="dialogTittle">
          <i></i>积分竞猜
        </p>
        <div class="dialogConter">
          <div class="formItems items2">
            <span>选择队伍</span>
            <select v-model="from.winTeamName" placeholder="请选择" @change="getodds">
              <option value="平局">平局</option>
              <option :value="returnAname(webList)+','+webList.aTeamId">{{returnAname(webList)}}</option>
              <option :value="returnBname(webList)+','+webList.bTeamId">{{returnBname(webList)}}</option>
            </select>
          </div>
          <div class="formItems items6">
            <span>目前赔率</span>
            <input type="text" placeholder v-model="oddsnum" disabled="disabled" />
          </div>
          <div class="formItems items6">
            <span>竞猜分数</span>
            <input type="number" placeholder v-model="betScore" @click="noFue" @keyup="noFue" />
          </div>
          <div class="formItems items6">
            <span>剩余分数</span>
            <input type="text" placeholder v-model="lastbetScore" disabled="disabled" />
          </div>
        </div>
        <div slot="footer" class="dialogFooter">
          <button @click="dialogvalue = false" class="cancel">取 消</button>
          <button @click.stop="betSuccess" class="determine">竞 猜</button>
        </div>
      </el-dialog>

      <!--    发布分析弹出-->
      <el-dialog
        :visible.sync="centerDialogVisible"
        width="843px"
        center
        class="diglog1"
        :close-on-click-modal="false"
        close-on-press-escape
      >
        <p slot="title" class="dialogTittle">
          <i></i>发布分析
          <span
            style="font-size: 12px;font-weight: initial;position: absolute;top: 78px;color: red"
          >大神发布推荐为初盘推荐，如果需要进行即时推荐可以在输入框中进行填写发布</span>
        </p>

        <div class="dialogConter">
          <div class="formItems items4">
            <span>填写标题</span>
            <input type="text" placeholder="请输入" v-model="from.gfTitle" />
          </div>
          <div class="formItems items6">
            <span>所需积分</span>
            <input
              type="number"
              placeholder="请输入"
              v-model="from.buyIntegral"
              @click="noFue1"
              @keyup="noFue1"
            />
          </div>
          <div class="formItems items2">
            <span>选择胜利队伍</span>
            <select v-model="from.winTeamName" placeholder="请选择">
              <option value="平局">平局</option>
              <option :value="returnAname(webList)+','+webList.aTeamId">{{returnAname(webList)}}</option>
              <option :value="returnBname(webList)+','+webList.bTeamId">{{returnBname(webList)}}</option>
            </select>
          </div>

          <!-- <div class="formItems items7">
          <span>图片上传</span>

          <el-upload
            :http-request="submitUpload"

            action="http://47.104.109.132:8083/upload/img"
            class="upload-demo"
            ref='upload'
            drag
            :limit="1"
            :on-exceed="handleExceed"
          >
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">
              将文件拖到此处，或
              <em>点击上传</em>
            </div>
          </el-upload>
          </div>-->

          <div class="formItems items5">
            <span>填写详情</span>
            <editor-bar v-model="detail" :isClear="isClear" @change="change"></editor-bar>
          </div>
        </div>
        <div slot="footer" class="dialogFooter">
          <button @click="centerDialogVisible = false" class="cancel">取 消</button>
          <button @click="release" class="determine" v-preventReClick>发 布</button>
        </div>
      </el-dialog>
      <el-dialog
        class="openthn"
        title="火狐策略网站公告"
        :visible.sync="dialogVisible"
        width="30%"
        :before-close="handleClose"
      >
        <p style="font-weight: bold;font-size: 16px;">尊敬的用户您好：</p>
        <p>火狐策略网已在各大平台正式发布，为了迎合广大彩民的喜好，满足彩民朋友的需求，现策略网向各位用户发起建议征集活动。</p>
        <p>只要你有想法，提出的建议是有利于网站未来可持续发展，即可联系我们的网站客服人员进行意见反馈，建设性意见包括但不限于网站风格、页面内容、网站活动等。</p>
        <p>一经采用，即可获得1000积分奖励，积分可用于购买策略网红单&兑换现金红包。</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <div style="clear: both;"></div>
        <p style="float: left">客服qq：【644525573】</p>
        <div style="clear: both;"></div>
        <p style="float: right">2020-02-18</p>
        <div style="clear: both;"></div>
        <p style="float: right;font-size: 12px;">本公告最终解释权归属于火狐策略网。</p>
        <span slot="footer" class="dialog-footer">
          <el-button @click="handleClose()">确 定</el-button>
        </span>
      </el-dialog>
      <remote-js src="http://pv.sohu.com/cityjson?ie=utf-8"></remote-js>
    </div>
    <Footer />
  </div>
</template>

<script>
// 足球版块
import {
  getFootballTeamMatchingName,
  getFootballTeamMatchScore,
  getHomePageNews,
  getHomePagePlans,
  getFootballMatchList,
  getHotMatchList,
  getCarouseList,
  selectUserByUserId,
  addMatchBet,
  addDetailsLog,
  addGreatForecast,
  getFootballMatchanAlysis,
  isBuyGreatForccast,
  getFootballMatchingName,
  getBasketballMatchList,
  getComputerMatchList,
  getComputerTeamInLeagueRank,
  buyGreateForecast,
  getTopArticle,
  getComputerAllStatus
} from "../../api/api";
import { DateTime } from "../../utils/dateTime";
import Cookies from "js-cookie";
import EditorBar from "./../../components/wangeditor";
import Footer from "../footer/footer";
import qs from "qs";
import { Debounce } from "../../utils/debou";
import preventReClick from "../../utils/preventReClick";

//引入mock
// import Mock from '../../mock';
import eSports from "./eSports";
export default {
  name: "football",
  data() {
    return {
      /** 获取数据分析-足球战队胜负榜 */
      teamWinLose: [],
      /** 获取数据分析-足球战队胜负榜 end */
      /** 获取数据分析-足球战队 */
      // 首页：获取数据分析-足球战队获取赛季赛事名称单个菜单条长度
      teamMenuBarEleWidth: 30,
      // 首页：获取数据分析-足球战队获取赛季赛事名称菜单总长度
      teamMenuBarAllWidth: NaN,
      // 首页：获取数据分析-足球战队获取赛季赛事名称
      footballTeamName: [],
      //首页:获取数据分析-电竞赛事名称
      computerTeamName: [],
      //首页:获取数据分析-电竞赛事排名列表
      computerWinLose: [],
      //首页策略分析,一次只存4个数据
      homePlansArr: [],
      //首页策略分析类型
      //1是足球2是篮球3是电竞
      homePlansType: 1,
      //首页策略分析总页数
      homePlansPages: 0,
      //首页策略分析当前页
      curPlansPage: 1,
      //首页精彩推荐文章
      homePageNews: [],
      //首页精彩推荐文章页数
      curNewsPage: 1,
      /** 获取数据分析-足球战队 end */
      //计算后当前页精彩推荐文章数
      curNewsArr: [],
      //精彩推荐
      currents: 1,

      dialogVisible: true,
      dataNums: Date.parse(new Date()).toString(),
      btn_kinds: ["足球", "篮球", "电竞"],
      btn_compu: ["LOL", "DATA2", "CS:GO"],
      btn_compu_Index: 0,
      //分类菜单下标
      btn_kinds_index: 0,
      btn_kinds_tab: 0,
      dataType: "football", //默认足球
      teamName_Index: 0,
      teamName_Index_Coum: 0,
      leagueIdIndex: 0,
      seasonIndex: 0,
      aid: "",
      bid: "",
      namiIds: "",
      oddtime: "",
      matchName: "",
      euroddsnum: "",
      teams: "",
      oddsnum: "",
      betScore: "",
      lastbetScore: "",
      dialogvalue: false,

      search: "",
      eventAct: "",
      eventSearchs: "",
      scroll: "",
      teamList: [],
      gameList: [],
      eventList: [],
      picList: [],
      currentPage: 1,
      currentPages: 1,
      pagesize: 20,
      pagesizes: 12,
      total: 0,
      loading: false,
      // 发布分析
      centerDialogVisible: false,
      from: {
        uId: Cookies.get("uId"),
        type: 1,
        gameType: 0,
        buyIntegral: "",
        matchId: "",
        gfTitle: "",
        gfContent: "",
        gfPic: "",
        aTeamId: "",
        bTeamId: "",
        winTeamName: "",
        aTeamName: "",
        bTeamName: ""
      },
      webList: {},
      isClear: false,
      detail: "",
      searchInt5: 0,
      ubh: false,
      timer: null,
      isSelect: ["欧盘", "亚盘", "大小球"],
      checkedCities: ["欧盘", "亚盘", "大小球"],
      isSe: "",
      dataNums: Date.parse(new Date()).toString()
    };
  },
  mounted() {
    window.addEventListener("scroll", this.menu);
  },
  components: {
    eSports,
    Footer,
    "remote-js": {
      render(createElement) {
        return createElement("script", {
          attrs: { type: "text/javascript", src: this.src }
        });
      },
      props: {
        src: { type: String, required: true }
      }
    },
    EditorBar
  },
  methods: {
    getTopArticles() {
      let params = {
        current: this.currents,
        size: 9
      };
      getTopArticle(params).then(res => {
        this.curNewsArr = res.data.records;
      });
    },
    selectChanged(value) {
      this.newValue = value;
      if (value.includes("欧盘")) {
        this.gameList.map(cur => (cur.isOu = false));
      } else {
        this.gameList.map(cur => (cur.isOu = true));
      }
      if (value.includes("亚盘")) {
        this.gameList.map(cur => (cur.isYa = false));
      } else {
        this.gameList.map(cur => (cur.isYa = true));
      }
      if (value.includes("大小球")) {
        this.gameList.map(cur => (cur.isBall = false));
      } else {
        this.gameList.map(cur => (cur.isBall = true));
      }
      this.gameList = [...this.gameList];
    },
    getNewHome() {
      getHomePagePlans({
        current: this.curPlansPage,
        size: 4,
        searchInt1: this.homePlansType
        // searchInt2:"",
        // searchStr1: "",
        // searchInt4:'',
        // date:'',
        // searchInt5:''
      })
        .then(res => {
          if (res.data) {
            this.homePlansArr = res.data.records;
          }
        })
        .catch(errs => {
          console.log(errs);
        });
    },
    //  策略分析tab切换
    getType(i) {
      this.homePlansType = i;
      this.curPlansPage = 1;
      this.getNewHome();
    },
    //点击足球/篮球/电竞改变数据请求
    changeGameKinds(index) {
      this.btn_kinds_index = index;
      //请求足球/篮球/电竞列表
      if (index === 0) {
        this.dataType = "football";
      } else if (index === 1) {
        this.dataType = "basketball";
      } else if (index === 2) {
        this.dataType = "eSport";
      }
      this.getList();
    },
    //判断是否进入策略详情页

    goStrategy(uId, gfId, nickName, match, aname, bname, odd, time) {
      // console.log("是否购买大神推荐", Cookies.get("uId"), uId);
      if (Cookies.get("uId")) {
        isBuyGreatForccast({
          userId: Cookies.get("uId"),
          gfId: gfId
        })
          .then(res => {
            this.$router.push({
              path: "/goddetails",
              query: {
                uid: uId,
                gfId: gfId,
                nickName: nickName,
                match: match,
                aname: aname,
                bname: bname,
                odd: odd,
                time: time
              }
            });
          })
          .catch(err => {
            this.$confirm(err + ",请问是否需要购买此文章?", "确认购买", {
              confirmButtonText: "确定",
              cancelButtonText: "取消",
              type: "warning"
            })
              .then(() => {
                buyGreateForecast({
                  userId: Cookies.get("uId"),
                  gfId: gfId
                })
                  .then(res => {
                    this.$message.success("购买成功");
                    this.$router.push({
                      path: "/goddetails",
                      query: {
                        uid: uId,
                        gfId: gfId,
                        nickName: nickName,
                        match: match,
                        aname: aname,
                        bname: bname,
                        odd: odd,
                        time: time
                      }
                    });
                  })
                  .catch(err => {
                    this.$message.error(err);
                  });
              })
              .catch(() => {
                this.$message({
                  type: "info",
                  message: "已取消购买"
                });
              });
          });
      } else {
        this.$message.warning("请先登录");
      }
    },
    //数据分析菜单条左移动
    teamBarLeft() {
      if (this.teamMenuBarEleWidth > -this.teamMenuBarAllWidth) {
        this.teamMenuBarEleWidth -= 65;
      }
    },
    //数据分析菜单条右移动
    teamBarRight() {
      if (this.teamMenuBarEleWidth < 30) {
        this.teamMenuBarEleWidth += 65;
      }
    },

    // 点击足球，篮球，电竞切换数据
    clickGetTeamTab(index) {
      this.btn_kinds_tab = index;
      // console.log("x1___111", this.btn_kinds_tab, this.btn_compu_Index);

      // this.getNewScore();
      // this.getNewComuputer();
    },
    //点击队名获取排名
    clickGetTeamRank(teamName, index, ele) {
      this.teamName_Index = index;
      this.seasonIndex = ele.seasonId;
      this.getHomeFootballTeamMatchScore();
      // console.log("teamName", teamName, this.teamName_Index, ele);
    },
    //点击lol，data，csgo队名获取排名-电竞
    clickGetTeamComputer(teamName, index, ele) {
      this.teamName_Index_Coum = index;
      this.leagueIdIndex = ele.leagueId;
      this.getNewScore();
      // console.log("电竞teamName", this.leagueIdIndex);
    },
    //点击lol，data，csgo种类获取赛事-电竞
    clickGetTeamComp(index) {
      this.btn_compu_Index = index;
      this.getNewComuputer();
      // console.log("电竞----", this.btn_compu_Index);
    },
    //新的足球赛事名字
    getNewMatch() {
      getFootballMatchingName({}).then(res => {
        this.teamMenuBarAllWidth = res.data.length * 65 - 270;
        this.footballTeamName = res.data;
        this.seasonIndex = this.footballTeamName[0].seasonId;
        this.getHomeFootballTeamMatchScore();
        //  console.log('足球赛季名称',this.btn_kinds_tab, this.seasonIndex,this.footballTeamName[0].seasonId)
        // console.log('足球赛事名称',this.footballTeamName)
      });
    },
    getNewComuputer() {
      getComputerMatchList({
        current: this.currentPage,
        size: this.pagesize,
        searchInt1: this.btn_compu_Index + 1,
        searchStr1: this.eventSearchs,
        searchStr2: this.search
      }).then(res => {
        this.computerTeamName = res.data.records;
        this.leagueIdIndex = this.computerTeamName[0].leagueId;
        this.getNewScore();
        //  console.log('电竞888',this.btn_compu_Index,this.computerTeamName)
      });
    },
    getNewScore() {
      getComputerTeamInLeagueRank({
        current: this.currentPage,
        size: 7,
        searchStr1: this.leagueIdIndex,
        searchInt1: this.btn_compu_Index + 1
      }).then(res => {
        if (res) {
          this.computerWinLose = res.data.records;
        }

        //  console.log('电竞排名',this.computerWinLose)
      });
    },
    // 首页：获取数据分析-足球站队战绩排名列表
    getHomeFootballTeamMatchScore() {
      getFootballTeamMatchScore({
        current: "1",
        size: "10",
        searchInt1: this.seasonIndex
      })
        .then(res => {
          this.teamWinLose = res.data.records;
        })
        .catch(errs => {
          console.log(errs);
        });
    },
    //点击精彩推荐后跳转到bbs详情页
    jumpTos(type, aid, agId) {
      this.$router.push({
        path: "/bbs/bbsdetails",
        query: {
          type: type,
          aid: aid,
          agId: agId
        }
      });
    },
    //换一批策略分析,就是切换下一页

    changePlansList() {
      this.curPlansPage += 1;
      if (this.homePlansArr.length < 4) {
        this.curPlansPage = 1;
      }
      this.getNewHome();
      // console.log("xxx", this.curPlansPage, this.homePlansArr.length);
    },

    //换一批精彩推荐
    changeNewsList() {
      this.currents += 1;
      if (this.curNewsArr.length < 9) {
        this.currents = 1;
      }
      this.getTopArticles();
    },

    handleClose() {
      this.dialogVisible = false;
      sessionStorage.setItem("dialogVisible", false);
    },
    optintype(i) {
      if (i == 0) {
        this.searchInt5 = 0;
      } else if (i == 1) {
        this.searchInt5 = 2;
      } else if (i == 2) {
        this.searchInt5 = 1;
      }
      this.getList();
    },
    returnAname(val) {
      if (val.aTeamShortName != "" && val.aTeamShortName != null) {
        return val.aTeamShortName;
      } else if (val.aTeamName != "" && val.aTeamName != null) {
        return val.aTeamName;
      }
      return "-";
    },
    returnBname(val) {
      if (val.bTeamShortName != "" && val.bTeamShortName != null) {
        return val.bTeamShortName;
      } else if (val.bTeamName != "" && val.bTeamName != null) {
        return val.bTeamName;
      }
      return "-";
    },
    submitUpload(content) {
      //自定义的上传图片的方法
      //1. 创建formData 利用AXIOS传递

      let formData = new FormData();
      formData.append("file", content.file);
      this.api({
        url: "/upload/img",
        method: "post",
        data: formData
      })
        .then(data => {
          this.from.gfPic = data.data;
        })
        .catch(err => {
          this.$message.error(err);
        });
    },
    handleExceed(files, fileList) {
      this.$message.warning(
        `当前限制选择 1 个文件，本次选择了 ${
          files.length
        } 个文件，共选择了 ${files.length + fileList.length} 个文件`
      );
    },
    release() {
      // console.log(this.from.winTeamName == "", "==?this.from.winTeamName");
      if (this.from.gfTitle == "") {
        this.$message.warning("标题不得为空");
      } else if (this.from.buyIntegral == "") {
        this.$message.warning("所需积分不得为空");
      }
      // else if (this.from.gfPic == "") {
      //     this.$message.warning("图片不得为空");
      // }
      else if (this.detail == "") {
        this.$message.warning("详情不能为空");
      } else if (
        this.from.winTeamName == "" ||
        this.from.winTeamName == undefined
      ) {
        this.$message.warning("选择胜利队伍不得为空");
      } else {
        if (this.from.winTeamName == "平局") {
          var str1 = "平局";
          var str2 = 0;
        } else {
          var str1 = this.from.winTeamName.split(",")[0];
          var str2 = this.from.winTeamName.split(",")[1];
        }
        addGreatForecast({
          uId: this.from.uId,
          matchId: this.from.matchId,
          type: this.btn_kinds_index + 1,
          buyIntegral: this.from.buyIntegral,
          gfTitle: this.from.gfTitle,
          gfContent: this.detail,
          gfPic: this.from.gfPic,
          aTeamId: this.webList.aTeamId,
          bTeamId: this.webList.bTeamId,
          winTeamId: str2,
          winTeamName: str1,
          aTeamName: this.returnAname(this.webList),
          bTeamName: this.returnBname(this.webList)
        })
          .then(res => {
            if (res.data.flag) {
              this.$message.success(res.data.msg);
            } else {
              this.$message.success("发布分析成功");
            }
            this.centerDialogVisible = false;
            this.getList9();
            this.getList();
          })
          .catch(err => {
            this.$message.error(err);
          });
      }
    },
    change(val) {
      this.from.gfContent = val;
    },
    // async getList9() {
    //   getFootballMatchanAlysis({
    //     namiId: this.$route.query.namiId
    //   })
    //     .then(res => {
    //      console.log('ixixiddddddd',res.data.webBallMatch);
    //       this.webList = res.data.webBallMatch;
    //       //   this.movementsList = res.data.goalDistribution;
    //       if (res.data.goalDistribution !== null) {
    //         if (Object.keys(res.data.goalDistribution.home).length != 0) {
    //           this.movementsListhome.all.scored =
    //             res.data.goalDistribution.home.all.scored;
    //           this.movementsListhome.home.scored =
    //             res.data.goalDistribution.home.home.scored;
    //           this.movementsListhome.away.scored =
    //             res.data.goalDistribution.home.away.scored;
    //         }
    //         if (Object.keys(res.data.goalDistribution.away).length != 0) {
    //           this.movementsListaway.all.scored =
    //             res.data.goalDistribution.away.all.scored;
    //           this.movementsListaway.home.scored =
    //             res.data.goalDistribution.away.home.scored;
    //           this.movementsListaway.away.scored =
    //             res.data.goalDistribution.away.away.scored;
    //         }
    //       }
    //       this.injuredList = res.data.injury.home;
    //       this.injuredList2 = res.data.injury.away;
    //       //   this.dataList = res.data.data;
    //     })
    //     .catch(err => {
    //       this.$message.error(err.message);
    //     });

    //   // await this.getList2();
    //   // await this.getList3();
    //   await this.getList4();
    //   await this.getList5();
    // },
    noFue1() {
      this.from.buyIntegral =
        this.from.buyIntegral >= 0 ? this.from.buyIntegral : 0;
    },
    releaseTopic(nameid, item) {
      //  console.log("ddd", item);
      this.webList = item;
      if (Cookies.get("uId")) {
        selectUserByUserId({
          userId: Cookies.get("uId")
        })
          .then(res => {
            if (res.data.isGreatGod === 2) {
              this.centerDialogVisible = true;
              this.from = {
                uId: Cookies.get("uId"),
                type: this.btn_kinds_index + 1,
                buyIntegral: "",
                gfTitle: "",
                gfContent: "",
                gfPic: "",
                matchId: nameid,
                aTeamId: "",
                bTeamId: "",
                win_team_id: "",
                win_team_name: "",
                aTeamName: "",
                bTeamName: ""
              };
              this.detail = "";
              //  this.$nextTick(() => {
              //         this.$refs.upload.clearFiles();
              //       });
            } else {
              this.$message.warning("你还不是大神,无法发布分析");
            }
          })
          .catch(err => {
            this.$message.error(err);
          });
      } else {
        this.$message.warning("请先登录");
      }
    },
    noFue() {
      this.betScore = this.betScore >= 0 ? this.betScore : 0;
    },

    changeData(val) {
      this.dataNums = val;
      this.currentPage = 1;
      this.getList();
      this.getList9();
      // console.log("时间", this.dataNums, val);
    },
    getweek() {
      let date = new DateTime();
      return date.getWeek();
    },
    getodds(event) {
      if (event.target.value.split(",")[1] == this.aid) {
        this.oddsnum = this.oddtime.split(",")[0];
      } else if (event.target.value.split(",")[1] == this.bid) {
        this.oddsnum = this.oddtime.split(",")[2];
      } else {
        this.oddsnum = this.oddtime.split(",")[1];
      }
      //  console.log('22',event.target.value.split(",")[0],event.target.value.split(",")[1],this.aid, this.oddsnum,this.oddtime);
    },
    // getList10() {
    //   addMatchBet({
    //     type:this.btn_kinds_index+1 ,
    //     matchId: this.namiIds,
    //     uId: Cookies.get("uId"),
    //     winTeamId: this.teams,
    //     betIntrgral: this.betScore,
    //     betValue: this.oddsnum,
    //     betTimeOdd: this.euroddsnum,
    //     matchName: this.matchName,
    //     aTeamName: this.teamList[0].label,
    //     bTeamName: this.teamList[1].label
    //   })
    //     .then(res => {
    //       // console.log("竞猜成功", res);
    //       this.dialogvalue = false;
    //       this.$message({
    //         type: "success",
    //         message: "竞猜成功!"
    //       });
    //     })
    //     .catch(err => {});
    // },
    betSuccess() {
      if (this.oddsnum == "") {
        this.$message({
          type: "warning",
          message: "目前赔率为空,无法竞猜"
        });
      } else if (this.betScore == "") {
        this.$message({
          type: "warning",
          message: "请先填写所要竞猜的分数"
        });
      } else {
        if (this.from.winTeamName == "平局") {
          var str1 = "平局";
          var str2 = 0;
        } else {
          var str1 = this.from.winTeamName.split(",")[0];
          var str2 = this.from.winTeamName.split(",")[1];
        }
        console.log("adasd", str1, str2);
        this.$confirm("你确认以当前赔率下单?", "竞猜确认", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        })
          .then(() => {
            addMatchBet({
              type: this.btn_kinds_index + 1,
              matchId: this.namiIds,
              uId: Cookies.get("uId"),
              winTeamId: str2,
              winTeamName: str1,
              betIntrgral: this.betScore,
              betValue: this.oddsnum,
              betTimeOdd: this.euroddsnum,
              matchName: this.matchName,
              aTeamName: this.returnAname(this.webList),
              bTeamName: this.returnBname(this.webList)
            })
              .then(res => {
                // console.log("竞猜成功", res);
                this.dialogvalue = false;
                this.$message({
                  type: "success",
                  message: "竞猜成功!"
                });
              })
              .catch(err => {});
            return false;
          })
          .catch(() => {
            this.$message({
              type: "info",
              message: "已取消竞猜"
            });
          });
      }
    },
    getList9() {
      selectUserByUserId({
        userId: Cookies.get("uId")
      })
        .then(res => {
          // console.log(res);
          this.lastbetScore = res.data.integral;
        })
        .catch(err => {
          this.$message.error(err);
        });
    },
    onBet(
      aid,
      bid,
      aname,
      bname,
      namiId,
      odd,
      eurodd,
      matchname,
      starttime,
      matchType,
      item
    ) {
      this.webList = item;
      if (this.dataType == "football") {
        switch (matchType) {
          case 0:
            this.$message.warning("比赛异常,无法竞猜");
            return false;
            break;
          case 2:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 3:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 4:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 5:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 6:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 7:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 8:
            this.$message.warning("该比赛已结束,无法竞猜");
            return false;
            break;
          default:
            console.log("tg");
        }
      } else if (this.dataType == "basketball") {
        switch (matchType) {
          case 0:
            this.$message.warning("比赛异常,无法竞猜");
            return false;
            break;
          case 2:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 3:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 4:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 5:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 6:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 7:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 8:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 9:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 10:
            this.$message.warning("该比赛已结束,无法竞猜");
            return false;
            break;
          default:
            console.log("tg");
        }
      }
      if (odd == null || eurodd == null || odd == "" || eurodd == "") {
        this.$message.warning("该比赛还未出现赔率,无法竞猜");
        return false;
      }

      if (Cookies.get("uId") != "" && Cookies.get("uId") != null) {
        this.dialogvalue = true;
        this.getList9();
        this.namiIds = namiId;
        this.aid = aid;
        this.bid = bid;
        if (odd != "" && odd != null) {
          this.oddtime = odd;
        } else {
          this.oddsnum = "";
        }
        // this.teamList = [];
        // this.teamList.push(
        //   {
        //     label: aname,
        //     value: aid
        //   },
        //   {
        //     label: bname,
        //     value: bid
        //   }
        // );

        this.euroddsnum = eurodd;
        this.matchName = matchname;
      } else {
        this.$message.warning("请先登录");
      }
    },
    returnIndex(val, index) {
      if (val != "" && val != null) {
        return val.split(",")[index];
      } else {
        return "-";
      }
    },
    changeGameType(item) {
      if (this.btn_compu_Index === 2) {
        return item.name;
      } else if (this.btn_compu_Index == 0) {
        return item.leagueName;
      } else {
        return item.teamShortName;
      }
    },
    changeGameRank(item) {
      if (this.btn_compu_Index === 0) {
        return item.score;
      } else if (this.btn_compu_Index === 1) {
        return item.rank;
      } else {
        return item.worldRank;
      }
    },
    jumpPic(val) {
      // console.log(val, "haahahahah");
      this.$router.push({
        path: "/actdetails",
        query: {
          baId: val
        }
      });
    },

    /*eventSearch(val) {
        if (this.eventAct != val) {
          this.eventSearchs = val;
          this.eventAct = val;
          this.getList();
        } else {
          this.eventSearchs = "";
          this.eventAct = "";
          this.getList();
        }
      },*/
    menu() {
      this.scroll =
        document.documentElement.scrollTop || document.body.scrollTop;
    },
    returnVersion() {
      var userAgent = navigator.userAgent; //取得浏览器的userAgent字符串
      var isOpera = userAgent.indexOf("Opera") > -1;
      if (isOpera) {
        return "Opera";
      } //判断是否Opera浏览器
      if (userAgent.indexOf("Firefox") > -1) {
        return "FF";
      } //判断是否Firefox浏览器
      if (userAgent.indexOf("Chrome") > -1) {
        return "Chrome";
      }
      if (userAgent.indexOf("Safari") > -1) {
        return "Safari";
      } //判断是否Safari浏览器
      if (
        userAgent.indexOf("compatible") > -1 &&
        userAgent.indexOf("MSIE") > -1 &&
        !isOpera
      ) {
        return "IE";
      } //判断是否IE浏览器
    },
    //埋点注释
    jumpD(
      namiId,
      aTeamId,
      bTeamId,
      aName,
      bName,
      matchId,
      seasonId,
      matchNameZh
    ) {
      // console.log(namiId, "==>测试id是否有传进");
      // var ips = returnCitySN["cip"];
      addDetailsLog({
        uId: Cookies.get("uId") != "" ? Cookies.get("uId") : 0,
        ip: "",
        type: 1,
        namiId: namiId,
        aTeamName: aName,
        bTeamName: bName,
        browseEnd: this.returnVersion(),
        matchName: matchNameZh
      })
        .then(res => {
          this.$router.push({
            path: "/gamedetailsfootball",
            query: {
              namiId: namiId,
              aTeamId: aTeamId,
              bTeamId: bTeamId,
              aName: aName,
              bName: bName,
              matchId: matchId,
              seasonId: seasonId
            }
          });
        })
        .catch(err => {
          this.$message.error(err);
        });
    },

    jumpG(namiId) {
      this.$router.push({
        path: "/godindex",
        query: {
          matchId: namiId,
          type: this.btn_kinds_index + 1
        }
      });
    },
    reternOdd(item, val) {
      if (item.euroloss != "" && item.euroloss != null) {
        return item.euroloss.split(",")[val];
      } else {
        return "-";
      }
    },
    handleCurrentChange(val) {
      this.currentPages = val;
      this.getList();
    },
    reAname(val) {
      if (val.aTeamName != "" && val.aTeamName != null) {
        return val.aTeamName;
      } else if (val.aTeamShortName != "" && val.aTeamShortName != null) {
        return val.aTeamShortName;
      }
    },

    reBname(val) {
      if (val.bTeamName != "" && val.bTeamName != null) {
        return val.bTeamName;
      } else if (val.bTeamShortName != "" && val.bTeamShortName != null) {
        return val.bTeamShortName;
      }
    },
    dateFormat(time) {
      var date = new Date(time);
      var year = date.getFullYear();
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      var month =
        date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1;
      var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
      var hours =
        date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
      var minutes =
        date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
      var seconds =
        date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
      // 拼接
      return year + "-" + month + "-" + day;
    },
    dateFormatTime(time) {
      var date = new Date(time);
      var year = date.getFullYear();
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      var month =
        date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1;
      var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
      var hours =
        date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
      var minutes =
        date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
      var seconds =
        date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
      // 拼接
      return hours + ":" + minutes;
    },
    getList() {
      this.loading = true;

      if (this.dataType === "football") {
        getFootballMatchList({
          current: this.currentPages,
          size: this.pagesizes,
          searchStr1: this.search, //模糊查询
          searchInt5: this.searchInt5, //0  全部 1 为开场 2 完结 3为未开赛)
          date: this.dataNums
        })
          .then(res => {
            this.loading = false;

            this.gameList = res.data.records;
            this.total = res.data.total;
            if (this.newValue.includes("欧盘")) {
              this.gameList.map(cur => (cur.isOu = false));
            } else {
              this.gameList.map(cur => (cur.isOu = true));
            }
            if (this.newValue.includes("亚盘")) {
              this.gameList.map(cur => (cur.isYa = false));
            } else {
              this.gameList.map(cur => (cur.isYa = true));
            }
            if (this.newValue.includes("大小球")) {
              this.gameList.map(cur => (cur.isBall = false));
            } else {
              this.gameList.map(cur => (cur.isBall = true));
            }
            this.gameList = [...this.gameList];
          })
          .catch(err => {
            this.loading = false;
          });
      } else if (this.dataType === "basketball") {
        getBasketballMatchList({
          current: this.currentPages,
          size: this.pagesizes,
          date: this.dataNums,
          searchStr1: this.search, //模糊查询
          searchInt5: this.searchInt5 //0  全部 1 为开场 2 完结 3为未开赛)
        })
          .then(res => {
            this.loading = false;

            this.gameList = res.data.records;
            this.total = res.data.total;
            if (this.newValue.includes("欧盘")) {
              this.gameList.map(cur => (cur.isOu = false));
            } else {
              this.gameList.map(cur => (cur.isOu = true));
            }
            if (this.newValue.includes("亚盘")) {
              this.gameList.map(cur => (cur.isYa = false));
            } else {
              this.gameList.map(cur => (cur.isYa = true));
            }
            if (this.newValue.includes("大小球")) {
              this.gameList.map(cur => (cur.isBall = false));
            } else {
              this.gameList.map(cur => (cur.isBall = true));
            }
            this.gameList = [...this.gameList];

            // console.log("did11", value);
          })
          .catch(err => {
            this.loading = false;

            {
            }
          });
      } else {
        // getComputerMatchList({
        //   current: this.currentPage,
        //   size: this.pagesize,
        //   searchInt1: this.gameType,
        //   searchStr1: this.eventSearchs,
        //   searchStr2: this.search,
        // })
        //   .then(res => {
        //     this.gameList = res.data.records;
        //     this.total = res.data.total;
        //     this.gameList.map(a => {
        //       if (a.gameOdd) {
        //         a.oddgame =
        //           a.gameOdd
        //             .toString()
        //             .substring(0, a.gameOdd.toString().indexOf("-")) +
        //           " " +
        //           a.gameOdd
        //             .toString()
        //             .substring(
        //               a.gameOdd.toString().indexOf("-") + 1,
        //               a.gameOdd.toString().length
        //             );
        //       }
        //     });
        //   })
        //   .catch(err => {
        //     this.$message.error(err.message);
        //   });
      }
    },
    getList2() {
      getHotMatchList({
        type: 1
      })
        .then(res => {
          this.eventList = res.data;
        })
        .catch(err => {
          this.$message.error(err);
        });
    },
    //获取swipe图片
    getList3() {
      getCarouseList({})
        .then(res => {
          // console.log(res, "222222");
          res.data.map(x => {
            if (x.pic != null && x.pic != "") {
              this.picList.push(x);
            }
          });
          // console.log(this.picList);
        })
        .catch(err => {
          this.$message.error(err);
        });
    },
    otn() {
      this.ubh = true;
      this.getList();
    }
  },
  watch: {
    search: {
      handler(value) {
        if (this.timer) {
          clearTimeout(this.timer);
        }
        this.timer = setTimeout(() => {
          this.getList();
        }, 500);
      },
      deep: true
    }
  },
  created() {
    this.getTopArticles();
    this.getNewHome();
    this.getNewMatch();
    this.getNewComuputer();
    this.getNewScore();
    this.getHomeFootballTeamMatchScore();
    this.getList();

    // this.getList2();
    this.getList3();
    // console.log(sessionStorage.getItem("dialogVisible") == "false", "==>");
    if (
      sessionStorage.getItem("dialogVisible") != "undefined" &&
      sessionStorage.getItem("dialogVisible") == "false"
    ) {
      this.dialogVisible = false;
    }
  },
  mounted() {
    // this.getList()
    // const that = this;
    // getHomePagePlans({
    //   current: 1,
    //   size: 4,
    //   searchInt1: this.homePlansType,
    //   searchStr1: "",
    //   searchInt4: 1
    // })
    //   .then(res => {
    //     this.homePlansArr = res.data.records;
    //     this.homePlansPages = res.pages;
    //   })
    //   .catch(errs => {
    //     console.log(errs);
    //   });

    //获取首页精彩推荐
    // getHomePageNews({
    //   type: 1
    // })
    //   .then(res => {
    //     that.homePageNews = res.data.records;
    //     //获取完毕后填充一次新闻
    //     that.curNewsPage = 1;
    //     that.curNewsArr = that.homePageNews.slice(0, 9);
    //   })
    //   .catch(errs => {
    //     console.log(errs);
    //   });

    if (this.timer) {
      clearInterval(this.timer);
    } else {
      this.timer = setInterval(() => {
        //获取数据
        setTimeout(this.otn());
      }, 10000);
    }
  },
  destroyed() {
    clearInterval(this.timer);
  }
};
</script>

<style>
.clear {
  clear: both;
}

.customer_style .el-carousel__indicators--horizontal {
  bottom: 0;
  right: 3%;
  left: unset;
  transform: translateX(0%);
}

.customer_style .el-carousel__button {
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.customer_style .swiper_pic_info {
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 13px;
  transform: translateX(-50%);
}
</style>

<style lang="less" scoped>
.diglog {
  .dialogTittle {
    position: relative;
    color: rgba(51, 51, 51, 1);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;

    i {
      margin-right: 10px;
      background-image: url("./../../assets/切图/16.png");
      background-repeat: no-repeat;
      display: inline-block;
      width: 25px;
      height: 22px;
    }
  }

  .dialogConter {
    height: 330px;

    .formItems {
      margin-bottom: 30px;

      span {
        font-size: 16px;
        color: rgba(153, 153, 153, 1);
      }
    }

    .items1 {
      .isSelcectBtn {
        color: #ffffff !important;
        background: linear-gradient(
          0deg,
          rgba(254, 85, 58, 1),
          rgba(255, 135, 55, 1)
        ) !important;
      }

      button {
        width: 70px;
        height: 44px;
        background-color: rgba(240, 240, 240, 1);
        border-radius: 12px;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 16px;
        margin-right: 30px;
        font-weight: 400;
      }
    }

    .items2 {
      display: flex;
      align-items: center;
      justify-content: center;

      select {
        margin-left: 20px;
        width: 42%;
        background: rgba(247, 247, 247, 1);
        height: 55px;
        outline: none;
        border: none;
        padding-left: 20px;

        option {
          height: 50px;
          outline: none;
          display: block;
        }
      }
    }

    .items3 {
      select {
        margin-left: 30px;
        width: 40%;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        height: 55px;
        outline: none;
        border: none;
        padding-left: 20px;
        padding-right: 20px;

        option {
          height: 50px;
          outline: none;
          display: block;
        }
      }
    }

    .items4 {
      display: flex;
      align-items: center;

      input {
        width: 40%;
        padding-left: 20px;
        font-size: 16px;
        outline: none;
        height: 55px;
        border: none;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        margin-left: 35px;
      }
    }

    .items5 {
      display: flex;
      align-items: flex-start;

      span {
        width: 100px;
      }

      // textarea {
      //   padding-top: 10px;
      //   padding-left: 20px;
      //   color: rgba(199, 199, 199, 1);
      //   font-size: 16px;
      //   outline: none;
      //   border: none;
      //   border-radius: 12px;
      //   background: rgba(247, 247, 247, 1);
      //   margin-left: 30px;
      // }
    }

    .items6 {
      display: flex;
      align-items: center;
      justify-content: center;

      input {
        width: 40%;
        padding-left: 20px;
        font-size: 16px;
        outline: none;
        height: 55px;
        border: none;
        background: rgba(247, 247, 247, 1);
        margin-left: 20px;
      }
    }

    .items7 .upload-demo {
      display: inline-flex;
      margin-left: 35px;
    }
  }

  .dialogFooter {
    height: 96px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .cancel {
      margin-right: 61px;
      width: 88px;
      height: 46px;
      background-color: RGBA(255, 232, 225, 1);
      border-radius: 6px;
      cursor: pointer;
      border: none;
      outline: none;
      color: rgba(254, 95, 57, 1);
    }

    .determine {
      width: 88px;
      height: 46px;
      background: linear-gradient(
        0deg,
        rgba(254, 85, 58, 1),
        rgba(255, 135, 55, 1)
      );
      border-radius: 6px;
      cursor: pointer;
      border: none;
      outline: none;
      color: rgba(255, 255, 255, 1);
    }
  }
}

.football {
  width: 100%;
  height: 100%;
  min-height: 1603px;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;

  .footBack {
    width: 1353px;
    height: 100%;
    margin: 0 auto;

    .con_ele_lump {
      width: 1010px;
      height: auto;
      margin: 0 auto;
      margin-top: 20px;

      .Shuffling {
        width: 730px;
        height: 330px;
        border-radius: 12px;
        float: left;
      }

      .data_table {
        width: 1010px;
        height: auto;
        box-sizing: border-box;
        border: 1px solid #eaeaea;
        background-color: white;
        border-radius: 12px;
        position: relative;
        margin-top: 30px;

        .data_table_ele {
          line-height: 40px;
          color: #fe5a3a;
          font-weight: bold;
          text-align: center;
          width: 1010px;
          height: 40px;
          border-bottom: 1px solid #eaeaea;
          display: grid;
          grid-template-columns: 100px 230px 230px 100px 70px 70px 70px 70px 70px;

          .search_bar {
            position: absolute;
            top: 3px;
            left: 80px;
            width: 140px;
            height: 32px;
            border: 1px solid rgba(233, 233, 233, 1);
            border-radius: 5px;

            input {
              display: inherit;
              background: transparent;
              border: none;
              width: 140px;
              height: 30px;
              line-height: 30px;
              padding-left: 30px;
            }

            img {
              position: relative;
              top: -31px;
              left: 7px;
              cursor: pointer;
            }
          }
        }

        .data_table_ele_normal {
          line-height: 50px;
          color: black;
          text-align: center;
          width: 1010px;
          height: 50px;
          border-bottom: 1px solid #eaeaea;
          display: grid;
          grid-template-columns: 100px 230px 230px 100px 70px 70px 70px 70px 70px;

          .team {
            img {
              position: relative;
              top: 5px;
              margin: 0 10px;
              display: inline-block;
              width: 30px;
              height: auto;
            }
          }

          .red {
            color: red;
          }

          .ready {
            color: green;
          }
        }
      }

      .scroll_info {
        background-color: white;
        width: 270px;
        height: 330px;
        box-sizing: border-box;
        border: 1px solid #eaeaea;
        border-radius: 12px;
        overflow: hidden;
        float: right;

        .menu {
          display: grid;
          padding-top: 12px;
          padding-bottom: 10px;
          border-bottom: 1px solid #eaeaea;
          background: #f6f6f6;
          grid-template-columns: auto 80px 80px;

          .title {
            font-size: 16px;
            font-weight: bold;
            color: black;
            margin-left: 13px;
          }

          .btn {
            cursor: pointer;
            background: white;
            width: 70px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            box-sizing: border-box;
            border: 1px solid #eaeaea;
            border-radius: 3px;
            margin: 0 auto;
          }
        }

        .menu_tab {
          display: grid;
          padding-top: 7px;
          padding-bottom: 7px;
          border-bottom: 1px solid #eaeaea;
          background: #f6f6f6;
          grid-template-columns: auto 75px;

          .title {
            display: flex;
            font-size: 14px;
            font-weight: bold;

            text-align: left;
            text-indent: 10px;
            line-height: 26px;
            .acrt {
              color: #fe5a3a;
            }
          }

          .btn {
            cursor: pointer;
            background: white;
            width: 48px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            box-sizing: border-box;
            border: 1px solid #eaeaea;
            border-radius: 3px;
            margin: 0 auto;

            &:hover {
              background: #fe5a3a;
              color: white;
            }
          }

          .active {
            cursor: pointer;
            background: #fe5a3a;
            color: white;
            width: 48px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            box-sizing: border-box;
            border: 1px solid #eaeaea;
            border-radius: 3px;
            margin: 0 auto;
          }

          .btn_more {
            cursor: pointer;
            background: white;
            width: 70px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border: 1px solid #eaeaea;
            border-radius: 3px;
          }
        }

        .content {
          width: 270px;
          height: 281px;
          overflow-y: hidden;

          li {
            width: 240px;
            color: black;
            height: 31px;
            overflow: hidden;
            line-height: 31px;
            margin: 0 auto;
            cursor: pointer;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          li:hover {
            color: red;
          }
        }

        .data_content {
          width: 270px;
          height: 281px;
          .compute {
            display: flex;
            .acrt {
              color: #fe5a3a;
            }
            span {
              font-size: 14px;
              font-weight: bold;

              text-align: left;
              text-indent: 10px;
              line-height: 26px;
            }
          }
          .data_ele_title {
            background: #9c9c9c;
            color: black;
            text-align: left;
            line-height: 28px;

            .data_ele_title_con {
              top: 0;
              left: 0;
              position: relative;
              width: 270px;
              height: 27px;
              overflow: hidden;

              .btn_left_scroll {
                background: url("../../assets/btn_left_scroll.png") no-repeat
                  #9c9c9c;
                position: absolute;
                top: 0;
                left: 0;
                width: 27px;
                height: 27px;
                cursor: pointer;
                z-index: 9;
              }

              .btn_right_scroll {
                background: url("../../assets/btn_right_scroll.png") no-repeat
                  #9c9c9c;
                position: absolute;
                top: 0;
                right: 0;
                width: 27px;
                height: 27px;
                cursor: pointer;
                z-index: 9;
              }

              .data_ele_span {
                transition: all 0.5s;
                top: 0;
                left: 30px;
                position: absolute;
                display: inline-flex;
                width: auto;
                height: 27px;
                .acrb {
                  color: chartreuse;
                }
              }
            }

            span {
              text-align: center;
              display: inline-block;
              width: 65px;
              height: auto;
              cursor: pointer;
            }
          }

          .data_ele_win_lose {
            color: black;
            line-height: 28px;

            span {
              text-align: center;
              display: inline-block;
              width: 130px;
              height: auto;
              cursor: pointer;
            }
          }

          .data_ele {
            color: black;
            display: grid;
            grid-template-columns: 50px 110px 110px;
            text-align: center;
            line-height: 37px;
            font-size: 15px;
          }
        }
      }

      .con_plan {
        width: 730px;
        height: 367px;
        overflow: hidden;
        border-radius: 12px;
        float: left;

        .menu {
          box-sizing: border-box;
          display: grid;
          border-bottom: 3px solid #eaeaea;
          grid-template-columns: auto 80px 5px;
          height: 40px;
          padding-bottom: 10px;
          > div:last-child {
            margin-left: -31px;
            align-items: flex-end;
            div {
              cursor: pointer;
              background: white;
              border: 1px solid;
              margin: 0px 0px 0px -23px;
              width: 70px;
              height: 24px;
              line-height: 24px;
              text-align: center;
              border-radius: 3px;
            }
          }
          > div {
            display: flex;
            // border: 1px solid red;
            justify-content: left;

            > div:last-child {
              margin-left: 14px;
              .active {
                background: deepskyblue;
                color: white;
              }
              button {
                height: 30px;
                width: 60px;
                border: 1px solid #dcdfe6;
                background: #fdf6ec;
                cursor: pointer;
                color: #000000;
                &:hover {
                  background: deepskyblue;
                  color: white;
                }
              }
            }
          }
          // .menus_bar {
          //   ul {
          //     text-align: center;

          //     li {
          //       position: relative;
          //       bottom: -1px;
          //       display: inline-block;
          //       width: 60px;
          //       height: 36px;
          //       margin: auto 3px;
          //       border: 1px solid #eaeaea;
          //       background: white;
          //       cursor: pointer;
          //       border-radius: 4px 4px 0 0;

          //       &:hover {
          //         background: #fe5a3a;
          //         color: white;
          //       }
          //     }

          //     li.active {
          //       background: #fe5a3a;
          //       color: white;
          //     }
          //   }
          // }

          .title {
            font-size: 16px;
            font-weight: bold;
            color: #fe5a3a;
            margin-left: 13px;
          }
          .btnTye {
            display: flex;
          }

          .btn {
            cursor: pointer;
            background: white;
            width: 70px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            box-sizing: border-box;
            border: 1px solid #eaeaea;
            border-radius: 3px;
            margin: 0 auto;
            margin-top: 5px;
          }
        }

        .menus_con {
          width: 730px;
          height: auto;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          .con_left {
            // margin-top: 17px;
            background: white;
            padding: 10px;
            width: 360px;
            height: auto;
            border: 1px solid #9c9c9c;
            border-radius: 6px;
            height: 146px;
            display: flex;
            color: #000;
            font-size: 16px;
            // float: left;
            cursor: pointer;
            .con_img {
              display: flex;
              flex-direction: column;
              width: 50px;
              border: 1px solid;
              justify-content: space-between;
              align-items: center;
              img {
                width: 45px;
                height: 45px;
                border-radius: 30px;
              }
            }
            .con_tbs {
              flex: 1;
              line-height: 28px;
              .tbs {
                display: flex;
                justify-content: space-around;
                .tbs_tit {
                  color: deepskyblue;
                  width: 90px;
                  border: 1px solid;
                }
                .tbs_bt {
                  flex: 1;
                  font-size: 14px;
                  color: red;
                  line-height: 24px;
                  text-align: right;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  overflow: hidden;
                }
              }
            }
          }

          // .con_right {
          //   cursor: pointer;
          //   margin-top: 17px;
          //   background: white;
          //   padding: 10px;
          //   width: 360px;
          //   height: auto;
          //   border: 1px solid #9c9c9c;
          //   border-radius: 6px;
          //   float: right;
          // }

          .con_detail {
            display: grid;
            grid-template-columns: auto 260px;
            position: relative;
            .con_detail_div {
              display: flex;
              flex-flow: wrap;
              justify-content: space-between;
            }
            .detail_title {
              color: black;
              font-size: 12px;
              height: 30px;
              line-height: 35px;
              border-bottom: 1px solid #eaeaea;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .buyInteg {
              color: burlywood;
              position: absolute;
              top: 112px;
              right: 0;
              font-size: 14px;
              font-weight: 600;
            }
            img {
              margin-left: 15px;
              width: 45px;
              height: 45px;
              border-radius: 30px;
            }

            img.userPhoto {
              position: relative;
              top: -15px;
            }

            .span_left {
              // float: left;
              width: 100px;
              color: #4fb833;
              line-height: 24px;
            }

            .span_right {
              font-size: 14px;
              // float: right;
              color: red;
              line-height: 24px;
              // width: 200px;
              text-align: right;
              text-overflow: ellipsis;
              line-clamp: 2;
              overflow: hidden;
              white-space: nowrap;
              width: 60%;
            }

            .span_left_black {
              float: left;
              color: black;
              line-height: 46px;
            }

            .span_right_black {
              float: right;
              color: black;
              line-height: 46px;
            }
          }
        }
      }
    }

    .isScroll {
      position: absolute;
      top: 160px;
      height: 285px;
      width: 133.2px;
      z-index: 50;
    }

    .isScrolls {
      position: fixed;
      top: 250px;
      right: 0px;
      height: 285px;
      width: 7%;
      z-index: 50;
    }

    .Shuffling {
      width: 100%;
      height: 330px;
      border-radius: 12px;
    }

    .screening {
      margin-top: 20px;
      width: 100%;
      height: 60px;

      .screeningBut {
        width: 100%;
        height: 60px;
        background-color: #ffffff;

        .screeningButRight {
          float: right;
          height: 60px;
          line-height: 60px;
          margin-right: 10px;
          width: 254px;
          display: flex;
          align-items: center;

          .searchBox {
            padding-right: 30px;
            position: relative;

            .searchBoxInput {
              border: none;
              outline: none;
              width: 164px;
              padding-left: 20px;
              padding-right: 50px;
              font-size: 13px;
              height: 35px;
              line-height: 35px;
              background-color: rgba(246, 246, 246, 1);
            }

            img {
              cursor: pointer;
              width: 19px;
              height: 18px;
              position: absolute;
              right: 50px;
              top: 27px;
            }
          }
        }
      }
    }
    .btn_kinds {
      width: 100%;
      height: auto;
      margin: 0 auto;
      margin-top: 10px;
      .btn_ti {
        color: #000;
      }
      button {
        height: 30px;
        width: 60px;
        border: 1px solid #dcdfe6;
        background: #fdf6ec;
        cursor: pointer;
        color: #000000;
      }
      button:nth-child(2) {
        margin-left: 27px;
      }
      button:nth-child(3) {
        margin: 0 3px;
      }
      .active {
        background: deepskyblue;
        color: white;
      }
    }
    .gamesTittle {
      background-color: transparent;
      width: 100%;
      height: 50px;

      .gamesTittleUi {
        height: 50px;
        display: grid;
        grid-template-columns: 10% 5% 5% 10% 14% 10% 5% 5% 22% 16%;
        grid-template-rows: 50px;
        .el-checkbox {
          margin-right: 0px;
          margin-left: 5px;
        }
        .typeBox {
          display: flex;
          div {
            font-size: 12px;
            color: #000000;
          }
        }
        .scoreCard {
          display: inline-grid;
          grid-template-columns: repeat(3, 33.33%);
        }

        li {
          float: left;
          cursor: pointer;
          font-size: 16px;
          color: #ffffff;
          font-weight: 600;
          height: 50px;
          line-height: 50px;
          text-align: center;

          span {
            color: #fe5a3a;
          }
        }
      }
    }

    .games {
      margin-bottom: 20px;
      background-color: chocolate;
      width: 100%;
      height: 100%;
      border-radius: 12px;
      border-width: 1px;
      border-color: #eaeaea;
      border-style: double;

      .screeningButRight {
        float: right;
        height: 60px;
        line-height: 60px;
        margin-right: 10px;
        width: 254px;
        display: flex;
        align-items: center;

        .searchBox {
          padding-right: 30px;
          position: relative;

          .searchBoxInput {
            border: none;
            outline: none;
            width: 164px;
            padding-left: 20px;
            padding-right: 50px;
            font-size: 13px;
            height: 35px;
            line-height: 35px;
            background-color: rgba(246, 246, 246, 1);
          }

          img {
            cursor: pointer;
            width: 19px;
            height: 18px;
            position: absolute;
            right: 50px;
            top: 21px;
          }
        }
      }

      .gamesTopTime {
        height: 60px;
        width: 100%;
        line-height: 60px;
        background-color: #ffffff;
        border-bottom: 1px solid #eaeaea;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;

        span {
          font-size: 20px;
          color: #999999;
          margin-left: 20px;
        }
      }

      .gamesBut {
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
        .newstatus {
          span {
            color: red;
            padding-right: 20px;
          }
        }
        .gamesButItem:last-child {
          border-bottom-right-radius: 12px;
          border-bottom-left-radius: 12px;

          .gamesItemUi {
            border-bottom-right-radius: 12px;
            border-bottom-left-radius: 12px;
          }
        }

        .noStyle {
          width: 100%;
          height: 110px;
          line-height: 110px;
          background-color: #ffffff;
          border-bottom: 1px solid #eaeaea;
          color: #000000;
          font-size: 22px;
          font-weight: 600;
          text-align: center;
        }

        .gamesButItem {
          width: 100%;
          height: 105px;
          line-height: 110px;
          background-color: #ffffff;
          border-bottom: 1px solid #eaeaea;

          .gamesItemUi {
            height: 52px;
            display: grid;
            grid-template-columns: 10% 10% 34% 5% 5% 20% 4% 4% 4% 4%;
            grid-template-rows: 55px;

            .gameLogo {
              height: 45px;
              width: 34px;
              display: inline-block;
            }

            .spliceLi {
              table {
                position: relative;
                width: 100%;
                display: block;
                color: #333333;
                background: white;
                font-size: 12px;
              }
              tbody {
                line-height: 20px;
              }

              thead {
                float: left;
              }

              tbody tr {
                display: inline-block;
              }
              td {
                width: 40px;
              }
              th {
                width: 40px;
              }
              // th:nth-child(2) {
              //   border-top: none;
              //   border-bottom: none;
              // }
              // td:nth-child(2) {
              //   border-top: none;
              //   border-bottom: none;
              // }
              th,
              td {
                height: 30px;
                display: block;
                border: 1px solid #333333;

                line-height: 36px;
                text-align: center;
              }
            }

            li:nth-child(2) {
              color: #333333;
              font-size: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              /*flex-direction: column;*/
              line-height: 20px;
            }

            li:nth-child(3) {
              color: #333333;
              width: 100%;
              font-size: 10px;
              // display: grid;
              // grid-template-columns: 40% 20% 40% 100%;
              // grid-template-rows: 55px;
              .litop {
                height: 50%;
                display: grid;
                grid-template-columns: 32% 8% 20% 8% 32% 100%;
                grid-template-rows: 55px;
                /*margin-top: 25px;*/

                img {
                  width: 30px !important;
                  height: auto !important;
                }

                .score {
                  margin: auto;
                  display: inline-block;
                  width: 36px;
                  height: 26px;
                  border-radius: 6px;
                  /*background: linear-gradient(-30deg,*/
                  /*rgb(255, 201, 98),*/
                  /*rgb(254, 136, 53));*/
                  text-align: center;
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  span {
                    font-size: 16px;
                    color: #ffffff;
                  }
                }
              }

              .libtn {
                height: 50%;
                background-color: #fff2f0;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                img {
                  width: 20px;
                  height: 20px;
                  margin-right: 5px;
                  display: inline-block;
                }

                span {
                  font-size: 16px;
                  color: #fe5a3a;
                }
              }
            }

            li:nth-child(4) {
              color: #333333;
              font-size: 10px;
            }

            li:nth-child(5) {
              color: #333333;
              font-size: 10px;
            }

            li {
              float: left;
              font-size: 14px;
              color: #999999;
              height: 55px;
              line-height: 55px;
              text-align: center;

              .dish {
                color: #999999;
                font-size: 16px;
              }

              .dishNumber {
                color: #fe5e39;
                font-size: 20px;
              }
            }

            .viewButton {
              border: none;
              outline: none;
              cursor: pointer;
              height: 100%;
              font-size: 14px;
              color: #fe553a;
              font-weight: 600;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}

/*弹窗样式*/
.diglog1 {
  .dialogTittle {
    color: rgba(51, 51, 51, 1);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;

    i {
      margin-right: 10px;
      background-image: url("./../../assets/切图/16.png");
      background-repeat: no-repeat;
      display: inline-block;
      width: 25px;
      height: 22px;
    }
  }

  .dialogConter {
    .formItems {
      margin-bottom: 30px;

      span {
        font-size: 16px;
        color: rgba(153, 153, 153, 1);
      }
    }

    .items1 {
      .isSelcectBtn {
        color: #ffffff !important;
        background: linear-gradient(
          0deg,
          rgba(254, 85, 58, 1),
          rgba(255, 135, 55, 1)
        ) !important;
      }

      button {
        width: 70px;
        height: 44px;
        background-color: rgba(240, 240, 240, 1);
        border-radius: 12px;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 16px;
        margin-right: 30px;
        font-weight: 400;
      }
    }

    .items2 {
      select {
        margin-left: 2px;
        width: 42%;
        background: rgba(247, 247, 247, 1);
        height: 55px;
        border-radius: 12px;
        outline: none;
        border: none;
        padding-left: 20px;
        padding-right: 20px;
        cursor: pointer;

        option {
          height: 50px;
          outline: none;
          display: block;
        }
      }
    }

    .items3 {
      select {
        margin-left: 30px;
        width: 40%;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        height: 55px;
        outline: none;
        border: none;
        padding-left: 20px;
        padding-right: 20px;

        option {
          height: 50px;
          outline: none;
          display: block;
        }
      }
    }

    .items4 {
      display: flex;
      align-items: center;

      input {
        width: 40%;
        padding-left: 20px;
        font-size: 13px;
        outline: none;
        height: 55px;
        border: none;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        margin-left: 35px;
      }
    }

    .items5 {
      display: flex;
      align-items: flex-start;

      span {
        width: 100px;
      }

      // textarea {
      //   padding-top: 10px;
      //   padding-left: 20px;
      //   color: rgba(199, 199, 199, 1);
      //   font-size: 16px;
      //   outline: none;
      //   border: none;
      //   border-radius: 12px;
      //   background: rgba(247, 247, 247, 1);
      //   margin-left: 30px;
      // }
    }

    .items6 {
      display: flex;
      align-items: center;

      input {
        width: 40%;
        padding-left: 20px;
        font-size: 13px;
        outline: none;
        height: 55px;
        border: none;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        margin-left: 35px;
      }
    }

    .items7 .upload-demo {
      display: inline-flex;
      margin-left: 35px;
    }
  }

  .dialogFooter {
    height: 96px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .cancel {
      margin-right: 61px;
      width: 88px;
      height: 46px;
      background-color: RGBA(255, 232, 225, 1);
      border-radius: 6px;
      cursor: pointer;
      border: none;
      outline: none;
      color: rgba(254, 95, 57, 1);
    }

    .determine {
      width: 88px;
      height: 46px;
      background: linear-gradient(
        0deg,
        rgba(254, 85, 58, 1),
        rgba(255, 135, 55, 1)
      );
      border-radius: 6px;
      cursor: pointer;
      border: none;
      outline: none;
      color: rgba(255, 255, 255, 1);
    }
  }
}
</style>
<style>
.el-button + .el-button {
  margin: 0px !important;
}

.openthn > .el-dialog > .el-dialog__header {
  height: 55px !important;
  background-color: rgb(212, 69, 69);
  color: white;
  border-radius: 30px 30px 0 0;
}

.openthn > .el-dialog > .el-dialog__header > .el-dialog__title {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.openthn
  > .el-dialog
  > .el-dialog__header
  > .el-dialog__headerbtn
  > .el-icon-close {
  color: white;
}

.openthn > .el-dialog,
.el-pager li {
  background-color: white;
}

.openthn > .el-dialog {
  border-radius: 30px;
}

.el-pagination__total {
  color: #39373b !important;
}

.el-pagination__jump {
  color: #39373b !important;
}

.spanp {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  line-height: 55px;
}

/*.txt_color{*/
/*  background-image: -webkit-linear-gradient(-30deg,rgba(255,135,55,1),rgba(254,85,58,1));*/
/*-webkit-background-clip: text;*/
/*-webkit-text-fill-color: transparent;*/
/*}*/

.isActing {
  background-image: -webkit-linear-gradient(
    -30deg,
    rgba(255, 135, 55, 1),
    rgba(254, 85, 58, 1)
  ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
</style>
