<template>
  <div>
    <img
      style="position: fixed;left: 0px;top:0px;z-index: -22;width: 100%;height: 100%"
      src="./../../assets/切图/34.jpg"
    />
    <div class="eSports customer_style">
      <div class="sportBack">
        <el-row :gutter="20">
          <!-- 左部导航栏 -->
          <el-col :span="18">
            <div class="contentCenter">
              <!-- 数据列表 -->
              <div
                class="contentShow"
                v-loading="loading"
                element-loading-spinner="el-icon-loading"
                element-loading-background="rgba(0, 0, 0, 0)"
              >
                <div class="screening">
                  <div class="screeningTop">
                    <ul class="screeningTopUi">
                      <li>
                        <span :class="{ 'isActing': gameType==0}" @click="gameSelct(0)">全部</span>
                      </li>
                      <li>
                        <img src="./../../assets/切图/32.png" alt="游戏图标" />
                        <span :class="{ 'isActing': gameType==1}" @click="gameSelct(1)">英雄联盟</span>
                      </li>
                      <li>
                        <img src="./../../assets/切图/31.png" alt="游戏图标" />
                        <span :class="{ 'isActing': gameType==2}" @click="gameSelct(2)">刀塔2</span>
                      </li>
                      <li>
                        <img src="./../../assets/切图/33.png" alt="游戏图标" />
                        <span :class="{ 'isActing': gameType==3}" @click="gameSelct(3)">反恐精英</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="gamesTittle">
                  <ul class="gamesTittleUi">
                    <li>
                      <span>游戏名称</span>
                    </li>
                    <li>
                      <span>时间</span>
                    </li>
                    <li>
                      <span>队伍</span>
                      .
                    </li>

                    <li>
                      <span>击杀比</span>
                    </li>
                    <li>
                      <span>初盘</span>
                    </li>
                    <li>
                      <span>推荐</span>
                    </li>
                    <li>
                      <span>单子</span>
                    </li>
                    <li>
                      <span>竞猜</span>
                    </li>
                  </ul>
                </div>
                <div class="games">
                  <div class="gamesTopTime">
                    <span>{{dateFormat(new Date())}} {{getweek()}}</span>
                    <div class="screeningButRight">
                      <div class="searchBox">
                        <input
                          v-model="search"
                          type="text"
                          class="searchBoxInput"
                          placeholder="赛事名称"
                        />
                        <img src="./../../assets/搜索.png" alt="搜索图标" />
                      </div>
                    </div>
                  </div>
                  <div class="gamesBut">
                    <div
                      class="gamesButItem"
                      v-for="(item, index) in gameList"
                      :key="index"
                      v-show="gameList.length>0"
                    >
                      <ul class="gamesItemUi">
                        <li>
                          <!-- <img src="./../../assets/cs.jpg" alt="游戏图标" class="gameLogo" /> -->
                          <div style="float: left;width: 40%;">
                            <img
                              style="max-height: 30px;max-width:30px;display:inline-block;margin-top: 14px;"
                              :src="item.matchLogo"
                            />
                          </div>
                          <div style="float: right;width: 60%">
                            <span
                              style="white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;"
                            >{{reTurnType(item.gameType)}}</span>
                          </div>
                          <div style="clear:both"></div>
                        </li>
                        <li>
                          <div style="float: right">
                            <span v-if="item.status==0" style="color: red;padding-right: 20px">未开始</span>
                            <span
                              v-else-if="item.status==1"
                              style="color: red;padding-right: 20px"
                            >进行中</span>
                            <span
                              v-else-if="item.status==2"
                              style="color: red;padding-right: 20px"
                            >已结束</span>
                            <span
                              v-else-if="item.status==3"
                              style="color: red;padding-right: 20px"
                            >已延期</span>
                            <span
                              v-else-if="item.status==4"
                              style="color: red;padding-right: 20px"
                            >已删除</span>
                          </div>
                          <span style="float: left">{{dateFormatTime(item.startTime)}}</span>
                        </li>
                        <li>
                          <div class="litop">
                            <span :title="reAname(item)" class="spanp">{{reAname(item)}}</span>
                            <img style="height:22px;padding-top: 14px" :src="item.aLogo" />
                            <div class="score" style="position: relative">
                              <span style="color: black" v-if="!item.teamScore">-</span>
                              <span style="color: black" v-else>{{item.teamScore}}</span>
                            </div>
                            <img style="height:22px;padding-top: 14px" :src="item.bLogo" />
                            <span :title="reBname(item)" class="spanp">{{reBname(item)}}</span>
                          </div>
                        </li>
                        <li>
                          <span>{{item.killCount?item.killCount:'--'}}</span>
                        </li>
                        <li>
                          <span>{{item.oddgame?item.oddgame:'--'}}</span>
                        </li>
                        <li @click="jumpG(item.matchId)">
                          <button class="viewButton">荐</button>
                        </li>
                        <li @click="releaseTopic(item.matchId,item)">
                          <button class="viewButton">单</button>
                        </li>
                        <li
                          @click="onBet(item.aTeamId,item.bTeamId,reAname(item),reBname(item),item.matchId,item.gameOdd,item.matchName,item.gameType,item.startTime)"
                        >
                          <button class="viewButton">竞</button>
                        </li>
                      </ul>
                    </div>
                    <div class="noStyle" v-show="gameList.length==0">暂无数据</div>
                  </div>
                </div>
                <el-pagination
                  background
                  @current-change="handleCurrentChange"
                  :current-page="currentPage"
                  :page-size="pagesize"
                  layout="total, prev, pager, next, jumper"
                  :total="total"
                  v-if="total>5"
                  style="text-align: right;margin-top: 20px;"
                ></el-pagination>
              </div>
            </div>
          </el-col>
        </el-row>
      </div>

      <!--    发布分析弹出-->
      <el-dialog
        :visible.sync="centerDialogVisible"
        width="843px"
        center
        class="diglog1"
        :show-close="false"
        :close-on-click-modal="false"
        close-on-press-escape
      >
        <p slot="title" class="dialogTittle">
          <i></i>发布分析
          <span
            style="font-size: 12px;font-weight: initial;position: absolute;top: 78px;color: red"
          >大神发布推荐为初盘推荐，如果需要进行即时推荐可以在输入框中进行填写发布</span>
        </p>
        <div class="dialogConter">
          <div class="formItems items4">
            <span>填写标题</span>
            <input type="text" placeholder="请输入" v-model="from.gfTitle" />
          </div>
          <div class="formItems items6">
            <span>所需积分</span>
            <input
              type="number"
              placeholder="请输入"
              v-model="from.buyIntegral"
              @click="noFue1"
              @keyup="noFue1"
            />
          </div>
          <div class="formItems items2">
            <span>选择胜利队伍</span>
            <select v-model="from.winTeamName" placeholder="请选择">
              <!-- <option value="平局">平局</option> -->
              <option :value="returnAname(webList)+','+webList.aTeamId">{{returnAname(webList)}}</option>
              <option :value="returnBname(webList)+','+webList.bTeamId">{{returnBname(webList)}}</option>
            </select>
          </div>
          <!-- <div class="formItems items7">
          <span>图片上传</span>

          <el-upload
            :http-request="submitUpload"

            action="http://47.104.109.132:8083/upload/img"
            class="upload-demo"
            ref='upload'
            drag
            :limit="1"
            :on-exceed="handleExceed"
          >
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">
              将文件拖到此处，或
              <em>点击上传</em>
            </div>
          </el-upload>
          </div>-->

          <div class="formItems items5">
            <span>填写详情</span>
            <!-- <textarea name id cols="80" rows="14"></textarea> -->
            <editor-bar v-model="detail" :isClear="isClear" @change="change"></editor-bar>
          </div>
        </div>
        <div slot="footer" class="dialogFooter">
          <button @click="centerDialogVisible = false" class="cancel">取 消</button>
          <button @click="release" class="determine" v-preventReClick>发 布</button>
        </div>
      </el-dialog>

      <!-- 竟单弹出 -->
      <el-dialog
        :visible.sync="dialogvalue"
        width="843px"
        center
        class="diglog"
        :show-close="false"
        :close-on-click-modal="false"
        close-on-press-escape
      >
        <p slot="title" class="dialogTittle">
          <i></i>积分竞猜
        </p>
        <div class="dialogConter">
          <div class="formItems items2">
            <span>选择队伍</span>
            <select v-model="teams" @change="getodds">
              <option value>请选择</option>
              <!-- <option value="0">平局</option> -->
              <option
                v-for="(item, index) in teamList"
                :key="index"
                :value="item.value"
              >{{item.label}}</option>
            </select>
          </div>
          <div class="formItems items6">
            <span>目前赔率</span>
            <input type="text" placeholder v-model="oddsnum" disabled="disabled" />
          </div>
          <div class="formItems items6">
            <span>竞猜分数</span>
            <input type="number" placeholder v-model="betScore" @click="noFue" @keyup="noFue" />
          </div>
          <div class="formItems items6">
            <span>剩余分数</span>
            <input type="text" placeholder v-model="lastbetScore" disabled="disabled" />
          </div>
        </div>
        <div slot="footer" class="dialogFooter">
          <button @click="dialogvalue = false" class="cancel">取 消</button>
          <button @click.stop="betSuccess" class="determine">竞 猜</button>
        </div>
      </el-dialog>
    </div>
  </div>
</template>

<script>
// 电竞版块
import {
  getFootballTeamMatchingName,
  getFootballTeamMatchScore,
  getHomePageNews,
  getHomePagePlans,
  getFootballMatchList,
  getFootballMatchanAlysis,
  getBasketballMatchList,
  addMatchBet,
  addDetailsLog,
  getBasketballMatchAnalysis,
  getComputerMatchList,
  getHotMatchList,
  getCarouseList,
  addGreatForecast,
  selectUserByUserId,
  getComputerAllStatus
} from "../../api/api";
import EditorBar from "./../../components/wangeditor";
import { DateTime } from "../../utils/dateTime";
import Cookies from "js-cookie";
import Footer from "../footer/footer";
import preventReClick from "../../utils/preventReClick";

//引入mock
import Mock from "../../mock";

export default {
  name: "eSports",
  data() {
    return {
      /** 获取数据分析-足球战队胜负榜 */
      teamWinLose: [],
      /** 获取数据分析-足球战队胜负榜 end */
      /** 获取数据分析-足球战队 */
      // 首页：获取数据分析-足球战队获取赛季赛事名称单个菜单条长度
      teamMenuBarEleWidth: 30,
      // 首页：获取数据分析-足球战队获取赛季赛事名称菜单总长度
      teamMenuBarAllWidth: NaN,
      // 首页：获取数据分析-足球战队获取赛季赛事名称
      footballTeamName: [],
      //首页策略分析,一次只存4个数据
      homePlansArr: [],
      //首页策略分析类型
      //1是足球2是篮球3是电竞
      homePlansType: 3,
      //首页策略分析总页数
      homePlansPages: 0,
      //首页策略分析当前页
      curPlansPage: 1,
      //首页精彩推荐文章
      homePageNews: [],
      //首页精彩推荐文章页数
      curNewsPage: 1,
      /** 获取数据分析-足球战队 end */
      //计算后当前页精彩推荐文章数
      curNewsArr: [],
      dataNums: Date.parse(new Date()).toString(),
      aid: "",
      bid: "",
      gameTypeId: "",
      matchId: "",
      oddtime: "",
      matchName: "",
      euroddsnum: "",
      teams: "",
      oddsnum: "",
      betScore: "",
      lastbetScore: "",
      dialogvalue: false,
      teamList: [],
      search: "",
      eventAct: "",
      eventSearchs: "",
      scroll: "",
      gameType: 0,
      gameList: [],
      eventList: [],
      picList: [],
      screenWidth: document.body.clientWidth,
      currentPage: 1,
      pagesize: 20,
      total: 0,

      // 发布分析
      centerDialogVisible: false,
      from: {
        uId: Cookies.get("uId"),
        type: 3,
        gameType: 0,
        buyIntegral: "",
        matchId: "",
        gfTitle: "",
        gfContent: "",
        gfPic: "",
        aTeamId: "",
        bTeamId: "",
        winTeamName: "",
        aTeamName: "",
        bTeamName: ""
      },
      webList: {},
      isClear: false,
      detail: "",
      getnumberi: "",
      searchInt5: 0,
      timer: null,
      loading: false
    };
  },
  watch: {
    search: {
      handler(value) {
        if (this.timer) {
          clearTimeout(this.timer);
        }
        this.timer = setTimeout(() => {
          this.getList();
        }, 500);
      },
      deep: true
    },
    screenWidth(val) {
      // 为了避免频繁触发resize函数导致页面卡顿，使用定时器
      if (!this.timer) {
        // 一旦监听到的screenWidth值改变，就将其重新赋给data里的screenWidth
        this.screenWidth = val;
        this.timer = true;
        let that = this;
        setTimeout(function() {
          // 打印screenWidth变化的值
          // console.log(that.screenWidth);
          that.timer = false;
        }, 400);
      }
    }
  },
  mounted() {
    const that = this;
    window.addEventListener("scroll", this.menu);
    window.onresize = () => {
      return (() => {
        window.screenWidth = document.body.clientWidth;
        that.screenWidth = window.screenWidth;
        // console.log(that.screenWidth);
      })();
    };
  },
  components: { EditorBar },
  methods: {
    returnAname(val) {
      // console.log(val, '==>测试输出啥玩意')
      if (val.aName != "" && val.aName != null) {
        return val.aName;
      } else if (val.aTeamName != "" && val.aTeamName != null) {
        return val.aTeamName;
      }
      return "-";
    },
    returnBname(val) {
      if (val.bName != "" && val.bName != null) {
        return val.bName;
      } else if (val.bTeamName != "" && val.bTeamName != null) {
        return val.bTeamName;
      }
      return "-";
    },
    submitUpload(content) {
      //自定义的上传图片的方法
      //1. 创建formData 利用AXIOS传递

      let formData = new FormData();
      formData.append("file", content.file);
      this.api({
        url: "/upload/img",
        method: "post",
        data: formData
      })
        .then(data => {
          this.from.gfPic = data.data;
        })
        .catch(err => {
          this.$message.error(err.message);
        });
    },
    handleExceed(files, fileList) {
      this.$message.warning(
        `当前限制选择 1 个文件，本次选择了 ${
          files.length
        } 个文件，共选择了 ${files.length + fileList.length} 个文件`
      );
    },
    release() {
      if (this.from.gfTitle == "") {
        this.$message.warning("标题不得为空");
      } else if (this.from.buyIntegral == "") {
        this.$message.warning("所需积分不得为空");
      }
      // else if (this.from.gfPic == "") {
      //     this.$message.warning("图片不得为空");
      // }
      else if (this.detail == "") {
        this.$message.warning("详情不能为空");
      } else if (this.from.winTeamName == "") {
        this.$message.warning("选择胜利队伍不得为空");
      } else {
        if (this.from.winTeamName == "平局") {
          var str1 = "平局";
          var str2 = 0;
        } else {
          var str1 = this.from.winTeamName.split(",")[0];
          var str2 = this.from.winTeamName.split(",")[1];
        }
        // console.log(this.webList.gameType, this.from.winTeamName,"==?this.gameType");
        addGreatForecast({
          uId: this.from.uId,
          matchId: this.webList.matchId,
          type: 3,
          gameType: this.webList.gameType,
          buyIntegral: this.from.buyIntegral,
          gfTitle: this.from.gfTitle,
          gfContent: this.detail,
          gfPic: this.from.gfPic,
          aTeamId: this.webList.aTeamId,
          bTeamId: this.webList.bTeamId,
          winTeamId: str2,
          winTeamName: str1,
          aTeamName: this.returnAname(this.webList),
          bTeamName: this.returnBname(this.webList)
        })
          .then(res => {
            if (res.data.flag) {
              this.$message.success(res.data.msg);
            } else {
              this.$message.success("发布分析成功");
            }
            this.centerDialogVisible = false;
            this.getList9();
            this.getList();
          })
          .catch(err => {
            this.$message.error(err.message);
          });
      }
    },
    change(val) {
      this.from.gfContent = val;
    },
    // async getList12() {
    //   getFootballMatchanAlysis({
    //     namiId: this.$route.query.namiId
    //   })
    //     .then(res => {
    //       console.log(res.data.webBallMatch);
    //       this.webList = res.data.webBallMatch;
    //       //   this.movementsList = res.data.goalDistribution;
    //       if (res.data.goalDistribution !== null) {
    //         if (Object.keys(res.data.goalDistribution.home).length != 0) {
    //           this.movementsListhome.all.scored =
    //             res.data.goalDistribution.home.all.scored;
    //           this.movementsListhome.home.scored =
    //             res.data.goalDistribution.home.home.scored;
    //           this.movementsListhome.away.scored =
    //             res.data.goalDistribution.home.away.scored;
    //         }
    //         if (Object.keys(res.data.goalDistribution.away).length != 0) {
    //           this.movementsListaway.all.scored =
    //             res.data.goalDistribution.away.all.scored;
    //           this.movementsListaway.home.scored =
    //             res.data.goalDistribution.away.home.scored;
    //           this.movementsListaway.away.scored =
    //             res.data.goalDistribution.away.away.scored;
    //         }
    //       }
    //       this.injuredList = res.data.injury.home;
    //       this.injuredList2 = res.data.injury.away;
    //       //   this.dataList = res.data.data;
    //     })
    //     .catch(err => {
    //       this.$message.error(err.message);
    //     });

    //   await this.getList2();
    //   await this.getList3();
    //   await this.getList4();
    //   await this.getList5();
    // },
    noFue1() {
      this.from.buyIntegral =
        this.from.buyIntegral >= 0 ? this.from.buyIntegral : 0;
    },
    releaseTopic(nameid, item) {
      // console.log(item, "==?item");

      this.webList = item;
      this.getnumberi = item.gameType;
      // console.log("nameid", nameid,this.getnumberi);

      if (Cookies.get("uId")) {
        selectUserByUserId({
          userId: Cookies.get("uId")
        })
          .then(res => {
            if (res.data.isGreatGod === 2) {
              this.centerDialogVisible = true;
              this.from = {
                uId: Cookies.get("uId"),
                type: 3,
                gameType: this.getnumberi,
                buyIntegral: "",
                gfTitle: "",
                gfContent: "",
                gfPic: "",
                matchId: nameid,
                aTeamId: "",
                bTeamId: "",
                win_team_id: "",
                win_team_name: "",
                aTeamName: "",
                bTeamName: ""
              };
              this.detail = "";
              // this.$refs.upload.clearFiles();
            } else {
              this.$message.warning("你还不是大神,无法发布分析");
            }
          })
          .catch(err => {
            this.$message.error(err.message);
          });
      } else {
        this.$message.warning("请先登录");
      }
    },
    noFue() {
      this.betScore = this.betScore >= 0 ? this.betScore : 0;
    },
    getodds(event) {
      // console.log("222", event.target.value);
      if (event.target.value == this.aid) {
        this.oddsnum = this.oddtime
          .toString()
          .substring(0, this.oddtime.toString().indexOf("-"));
      } else if (event.target.value == this.bid) {
        this.oddsnum = this.oddtime
          .toString()
          .substring(
            this.oddtime.toString().indexOf("-") + 1,
            this.oddtime.toString().length
          );
      }
      // console.log('d222',
      //    this.oddtime.toString().substring(0, this.oddtime.toString().indexOf("-")),
      //   this.oddtime.toString().substring(this.oddtime.toString().indexOf("-") + 1,this.oddtime.toString().length))
    },
    getList10() {
      addMatchBet({
        type: 3,
        gameType: this.gameTypeId,
        matchId: this.matchId,
        uId: Cookies.get("uId"),
        winTeamId: this.teams,
        betIntrgral: this.betScore,
        betValue: this.oddsnum,
        betTimeOdd: this.euroddsnum,
        matchName: this.matchName,
        aTeamName: this.teamList[0].label,
        bTeamName: this.teamList[1].label
      })
        .then(res => {
          console.log(res);
          this.dialogvalue = false;
          this.$message({
            type: "success",
            message: "竞猜成功!"
          });
        })
        .catch(err => {});
    },
    betSuccess() {
      // this.getList10();
      if (this.oddsnum == "") {
        this.$message({
          type: "warning",
          message: "目前赔率为空,无法竞猜"
        });
      } else if (this.betScore == "") {
        this.$message({
          type: "warning",
          message: "请先填写所要竞猜的分数"
        });
      } else {
        this.$confirm("你确认以当前赔率下单?", "竞猜确认", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        })
          .then(() => {
            this.getList10();
            return false;
          })
          .catch(() => {
            this.$message({
              type: "info",
              message: "已取消竞猜"
            });
          });
      }
    },
    getList9() {
      selectUserByUserId({
        userId: Cookies.get("uId")
      })
        .then(res => {
          // console.log(res);
          this.lastbetScore = res.data.integral;
        })
        .catch(err => {
          this.$message.error(err.message);
        });
    },
    onBet(
      aid,
      bid,
      aname,
      bname,
      matchId,
      odd,
      matchname,
      gameType,
      starttime
    ) {
      var d = new Date(Date.parse(starttime.replace(/-/g, "/")));
      var curDate = new Date();
      console.log(d >= curDate);
      if (d <= curDate) {
        this.$message.warning("该比赛已开始,无法竞猜");
        return false;
      }
      if (Cookies.get("uId") != "" && Cookies.get("uId") != null) {
        if (odd == null || odd == "") {
          this.$message.warning("该比赛还未出现赔率,无法竞猜");
          return false;
        }
        this.dialogvalue = true;
        this.getList9();
        this.aid = aid;
        this.bid = bid;
        this.matchId = matchId;
        this.gameTypeId = gameType;
        // console.log('hahhad',this.gameTypeId, this.matchId)
        if (odd != "" && odd != null) {
          this.oddtime = odd;
        } else {
          this.oddsnum = "";
        }

        this.teamList = [];
        this.teamList.push(
          {
            label: aname,
            value: aid
          },
          {
            label: bname,
            value: bid
          }
        );
        // console.log('d222',
        //  this.oddtime.toString().substring(0, this.oddtime.toString().indexOf("-")),
        // this.oddtime.toString().substring(this.oddtime.toString().indexOf("-") + 1,this.oddtime.toString().length))
        this.euroddsnum = odd.toString();
        this.matchName = matchname;
      } else {
        this.$message.warning("请先登录");
      }
    },
    getweek() {
      let date = new DateTime();
      return date.getWeek();
    },
    menu() {
      this.scroll =
        document.documentElement.scrollTop || document.body.scrollTop;
      // console.log(this.scroll);
    },
    jumpG(matchId) {
      this.$router.push({
        path: "/godindex",
        query: {
          godId: matchId,
          type: 3
        }
      });
    },
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getList();
    },
    reTurnType(val) {
      switch (val) {
        case 1:
          return "英雄联盟";
          break;
        case 2:
          return "刀塔2";
          break;

        default:
          return "反恐精英";
          break;
      }
    },

    reAname(val) {
      if (val.aTeamName != "" && val.aTeamName != null) {
        return val.aTeamName;
      } else if (val.aTeamAlias != "" && val.aTeamAlias != null) {
        return val.aTeamAlias;
      } else if (val.aName != "" && val.aName != null) {
        return val.aName;
      }
    },

    reBname(val) {
      if (val.bTeamName != "" && val.bTeamName != null) {
        return val.bTeamName;
      } else if (val.bTeamAlias != "" && val.bTeamAlias != null) {
        return val.bTeamAlias;
      } else if (val.bName != "" && val.bName != null) {
        return val.bName;
      }
    },
    dateFormat(time) {
      var date = new Date(time);
      var year = date.getFullYear();
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      var month =
        date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1;
      var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
      var hours =
        date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
      var minutes =
        date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
      var seconds =
        date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
      // 拼接
      return year + "-" + month + "-" + day;
    },
    dateFormatTime(time) {
      var date = new Date(time);
      var year = date.getFullYear();
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      var month =
        date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1;
      var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
      var hours =
        date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
      var minutes =
        date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
      var seconds =
        date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
      // 拼接
      return hours + ":" + minutes;
    },
    gameSelct(val) {
      this.gameType = val;
      this.getList();
    },
    getList() {
      this.loading = true;
      getComputerAllStatus({
        current: this.currentPage,
        size: this.pagesize,
        searchInt1: this.gameType, //(游戏类型  1 LOL 2DOTA 3CS:GO
        searchStr1: this.search, //模糊查询
        searchInt5: 0, //0  全部 1 为开场 2 完结 3为未开赛
        date: this.dataNums
      })
        .then(res => {
          this.loading = false;

          this.gameList = res.data.records;
          this.total = res.data.total;
          this.gameList.map(a => {
            if (a.gameOdd) {
              a.oddgame =
                a.gameOdd
                  .toString()
                  .substring(0, a.gameOdd.toString().indexOf("-")) +
                " " +
                a.gameOdd
                  .toString()
                  .substring(
                    a.gameOdd.toString().indexOf("-") + 1,
                    a.gameOdd.toString().length
                  );
            }
          });
        })
        .catch(err => {
          this.$message.error(err.message);
          this.loading = false;
        });
    }
  },
  created() {
    this.getList();
  },

  destroyed() {
    clearInterval(this.timer);
  }
};
</script>

<style lang="less" scoped>
.eSports {
  width: 100%;
  height: 100%;
  min-height: 1603px;
  padding-bottom: 100px;
  /*background-image: url("./../../assets/切图/34.jpg");*/
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;

  .sportBack {
    width: 1353px;
    height: 100%;
    margin: 0 auto;

    .isScroll {
      position: absolute;
      top: 160px;
      height: 285px;
      width: 133.2px;
      z-index: 50;
    }

    .isScrolls {
      position: fixed;
      top: 250px;
      right: 0px;
      height: 285px;
      width: 7%;
      z-index: 50;
    }

    .bannerImg {
      width: inherit;
      height: inherit;
      min-height: 360px;
      min-width: 1400px;
    }

    .Shuffling {
      width: 100%;
      height: 330px;
      border-radius: 12px;
    }

    .con_ele_lump {
      width: 1010px;
      height: auto;
      margin: 0 auto;
      margin-top: 20px;

      .Shuffling {
        width: 730px;
        height: 330px;
        border-radius: 12px;
        float: left;
      }

      .data_table {
        width: 1010px;
        height: auto;
        box-sizing: border-box;
        border: 1px solid #eaeaea;
        background-color: white;
        border-radius: 12px;
        position: relative;
        margin-top: 30px;

        .data_table_ele {
          line-height: 40px;
          color: #fe5a3a;
          font-weight: bold;
          text-align: center;
          width: 1010px;
          height: 40px;
          border-bottom: 1px solid #eaeaea;
          display: grid;
          grid-template-columns: 100px 230px 230px 100px 70px 70px 70px 70px 70px;

          .search_bar {
            position: absolute;
            top: 3px;
            left: 80px;
            width: 140px;
            height: 32px;
            border: 1px solid rgba(233, 233, 233, 1);
            border-radius: 5px;

            input {
              display: inherit;
              background: transparent;
              border: none;
              width: 140px;
              height: 30px;
              line-height: 30px;
              padding-left: 30px;
            }

            img {
              position: relative;
              top: -31px;
              left: 7px;
              cursor: pointer;
            }
          }
        }

        .data_table_ele_normal {
          line-height: 50px;
          color: black;
          text-align: center;
          width: 1010px;
          height: 50px;
          border-bottom: 1px solid #eaeaea;
          display: grid;
          grid-template-columns: 100px 230px 230px 100px 70px 70px 70px 70px 70px;

          .team {
            img {
              position: relative;
              top: 5px;
              margin: 0 10px;
              display: inline-block;
              width: 30px;
              height: auto;
            }
          }

          .red {
            color: red;
          }

          .ready {
            color: green;
          }
        }
      }

      .scroll_info {
        background-color: white;
        width: 270px;
        height: 330px;
        box-sizing: border-box;
        border: 1px solid #eaeaea;
        border-radius: 12px;
        overflow: hidden;
        float: right;

        .menu {
          display: grid;
          padding-top: 12px;
          padding-bottom: 10px;
          border-bottom: 1px solid #eaeaea;
          background: #f6f6f6;
          grid-template-columns: auto 80px 80px;

          .title {
            font-size: 16px;
            font-weight: bold;
            color: black;
            margin-left: 13px;
          }

          .btn {
            cursor: pointer;
            background: white;
            width: 70px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            box-sizing: border-box;
            border: 1px solid #eaeaea;
            border-radius: 3px;
            margin: 0 auto;
          }
        }

        .menu_tab {
          display: grid;
          padding-top: 7px;
          padding-bottom: 7px;
          border-bottom: 1px solid #eaeaea;
          background: #f6f6f6;
          grid-template-columns: auto 75px;

          .title {
            font-size: 16px;
            font-weight: bold;
            color: #fe5a3a;
            text-align: left;
            text-indent: 10px;
            line-height: 26px;
          }

          .btn {
            cursor: pointer;
            background: white;
            width: 48px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            box-sizing: border-box;
            border: 1px solid #eaeaea;
            border-radius: 3px;
            margin: 0 auto;

            &:hover {
              background: #fe5a3a;
              color: white;
            }
          }

          .active {
            cursor: pointer;
            background: #fe5a3a;
            color: white;
            width: 48px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            box-sizing: border-box;
            border: 1px solid #eaeaea;
            border-radius: 3px;
            margin: 0 auto;
          }

          .btn_more {
            cursor: pointer;
            background: white;
            width: 70px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border: 1px solid #eaeaea;
            border-radius: 3px;
          }
        }

        .content {
          width: 270px;
          height: 281px;
          overflow-y: hidden;

          li {
            width: 240px;
            color: black;
            height: 31px;
            overflow: hidden;
            line-height: 31px;
            margin: 0 auto;
            cursor: pointer;
          }
        }

        .data_content {
          width: 270px;
          height: 281px;

          .data_ele_title {
            background: #9c9c9c;
            color: black;
            text-align: left;
            line-height: 28px;

            .data_ele_title_con {
              top: 0;
              left: 0;
              position: relative;
              width: 270px;
              height: 27px;
              overflow: hidden;

              .btn_left_scroll {
                background: url("../../assets/btn_left_scroll.png") no-repeat
                  #9c9c9c;
                position: absolute;
                top: 0;
                left: 0;
                width: 27px;
                height: 27px;
                cursor: pointer;
                z-index: 9;
              }

              .btn_right_scroll {
                background: url("../../assets/btn_right_scroll.png") no-repeat
                  #9c9c9c;
                position: absolute;
                top: 0;
                right: 0;
                width: 27px;
                height: 27px;
                cursor: pointer;
                z-index: 9;
              }

              .data_ele_span {
                transition: all 0.5s;
                top: 0;
                left: 30px;
                position: absolute;
                display: inline-flex;
                width: auto;
                height: 27px;
              }
            }

            span {
              text-align: center;
              display: inline-block;
              width: 65px;
              height: auto;
              cursor: pointer;
            }
          }

          .data_ele_win_lose {
            color: black;
            line-height: 28px;

            span {
              text-align: center;
              display: inline-block;
              width: 130px;
              height: auto;
              cursor: pointer;
            }
          }

          .data_ele {
            color: black;
            display: grid;
            grid-template-columns: 50px 110px 110px;
            text-align: center;
            line-height: 37px;
          }
        }
      }

      .con_plan {
        width: 730px;
        height: 367px;
        overflow: hidden;
        border-radius: 12px;
        float: left;

        .menu {
          box-sizing: border-box;
          display: grid;
          border-bottom: 1px solid #eaeaea;
          grid-template-columns: auto 80px 80px;
          line-height: 36px;

          .menus_bar {
            ul {
              text-align: center;

              li {
                position: relative;
                bottom: -1px;
                display: inline-block;
                width: 60px;
                height: 36px;
                margin: auto 3px;
                border: 1px solid #eaeaea;
                background: white;
                cursor: pointer;
                border-radius: 4px 4px 0 0;

                &:hover {
                  background: #fe5a3a;
                  color: white;
                }
              }

              li.active {
                background: #fe5a3a;
                color: white;
              }
            }
          }

          .title {
            font-size: 16px;
            font-weight: bold;
            color: #fe5a3a;
            margin-left: 13px;
          }

          .btn {
            cursor: pointer;
            background: white;
            width: 70px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            box-sizing: border-box;
            border: 1px solid #eaeaea;
            border-radius: 3px;
            margin: 0 auto;
            margin-top: 5px;
          }
        }

        .menus_con {
          width: 730px;
          height: auto;

          .con_left {
            margin-top: 17px;
            background: white;
            padding: 10px;
            width: 360px;
            height: auto;
            border: 1px solid #eaeaea;
            border-radius: 6px;
            float: left;
          }

          .con_right {
            margin-top: 17px;
            background: white;
            padding: 10px;
            width: 360px;
            height: auto;
            border: 1px solid #eaeaea;
            border-radius: 6px;
            float: right;
          }

          .con_detail {
            display: grid;
            grid-template-columns: auto 260px;

            .detail_title {
              color: black;
              font-size: 12px;
              height: 30px;
              overflow: hidden;
              line-height: 35px;
              border-bottom: 1px solid #9c9c9c;
            }

            img {
              margin-left: 15px;
              width: 45px;
              height: 45px;
            }

            img.userPhoto {
              position: relative;
              top: -15px;
            }

            .span_left {
              float: left;
              color: #4fb833;
              line-height: 24px;
            }

            .span_right {
              font-size: 14px;
              float: right;
              color: #4fb833;
              line-height: 24px;
              width: 200px;
              text-align: right;
            }

            .span_left_black {
              float: left;
              color: black;
              line-height: 46px;
            }

            .span_right_black {
              float: right;
              color: black;
              line-height: 46px;
            }
          }
        }
      }
    }

    .screening {
      margin-top: 20px;
      width: 100%;
      height: 50px;
      border-radius: 12px;

      .grayLine {
        width: 100%;
        height: 1px;
        background-color: #eaeaea;
      }

      .screeningTop {
        width: 100%;
        height: 50px;
        border-radius: 12px;
        background-color: #111111;

        .screeningTopUi {
          padding-left: 21px;
          height: 50px;
          border-radius: 12px;

          li {
            cursor: pointer;
            float: left;
            height: 50px;
            line-height: 50px;
            width: 100px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: 20px;
              height: 20px;
              margin-right: 5px;
              display: inline-block;
            }

            span {
              font-size: 16px;
              color: #999999;
            }
          }
        }
      }

      .screeningBut {
        width: 100%;
        height: 60px;
        background-color: #ffffff;

        .screeningButRight {
          float: right;
          height: 60px;
          line-height: 60px;
          margin-right: 10px;
          width: 254px;
          display: flex;
          align-items: center;

          .searchBox {
            padding-right: 30px;
            position: relative;

            .searchBoxInput {
              border: none;
              outline: none;
              width: 164px;
              padding-left: 20px;
              padding-right: 50px;
              font-size: 13px;
              height: 35px;
              line-height: 35px;
              background-color: rgba(246, 246, 246, 1);
            }

            img {
              cursor: pointer;
              width: 19px;
              height: 18px;
              position: absolute;
              right: 50px;
              top: 25px;
            }
          }
        }
      }
    }

    .gamesTittle {
      background-color: transparent;
      width: 100%;
      height: 50px;

      .gamesTittleUi {
        height: 50px;
        display: grid;
        grid-template-columns: 15% 15% 30% 11% 13% 5% 5% 5%;
        grid-template-rows: 50px;

        li {
          float: left;
          cursor: pointer;
          font-size: 16px;
          color: #ffffff;
          font-weight: 600;
          height: 50px;
          line-height: 50px;
          text-align: center;

          span {
            color: #fe5a3a;
          }
        }
      }
    }

    .games {
      margin-bottom: 20px;
      background-color: chocolate;
      width: 100%;
      height: 100%;
      border-radius: 12px;
      border-width: 1px;
      border-color: #eaeaea;
      border-style: double;

      .screeningButRight {
        float: right;
        height: 60px;
        line-height: 60px;
        margin-right: 10px;
        width: 254px;
        display: flex;
        align-items: center;
        border-radius: 12px;

        .searchBox {
          padding-right: 30px;
          position: relative;

          .searchBoxInput {
            border: none;
            outline: none;
            width: 164px;
            padding-left: 20px;
            padding-right: 50px;
            font-size: 13px;
            height: 35px;
            line-height: 35px;
            background-color: rgba(246, 246, 246, 1);
          }

          img {
            cursor: pointer;
            width: 19px;
            height: 18px;
            position: absolute;
            right: 50px;
            top: 21px;
          }
        }
      }

      .gamesTopTime {
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        height: 60px;
        width: 100%;
        line-height: 60px;
        background-color: #ffffff;
        border-bottom: 1px solid #eaeaea;

        span {
          font-size: 20px;
          color: #999999;
          margin-left: 20px;
        }
      }

      .gamesBut:last-child {
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;

        .gamesButItem {
          border-bottom-right-radius: 12px;
          border-bottom-left-radius: 12px;

          .gamesItemUi {
            border-bottom-right-radius: 12px;
            border-bottom-left-radius: 12px;
          }
        }
      }

      .gamesBut {
        width: 100%;
        height: 100%;
        background-color: #ffffff;

        .noStyle {
          width: 100%;
          height: 110px;
          line-height: 110px;
          background-color: #ffffff;
          border-bottom: 1px solid #eaeaea;
          color: #000000;
          font-size: 22px;
          font-weight: 600;
          text-align: center;
        }

        .gamesButItem {
          width: 100%;
          height: 55px;
          background-color: #ffffff;
          border-bottom: 1px solid #eaeaea;

          .gamesItemUi {
            height: 55px;
            display: grid;
            grid-template-columns: 15% 15% 30% 11% 13% 5% 5% 5%;
            grid-template-rows: 55px;

            .scorItem {
              width: 100%;
              height: 55px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

              p {
                color: #999999;
                font-size: 12px;
                height: 20px;
                line-height: 20px !important;
                display: block;
                z-index: 100;
              }

              .score {
                display: inline-block;
                width: 79px;
                height: 34px;
                line-height: 34px;
                background-color: #ffede1;
                border-radius: 6px;
                text-align: center;

                span {
                  font-size: 16px;
                  color: RGBA(254, 94, 57, 1);
                }
              }
            }

            .gameLogo {
              height: 45px;
              width: 34px;
              display: inline-block;
            }

            li:first-child {
              display: flex;
              align-items: center;
              justify-content: center;
            }

            li:nth-child(2) {
              color: #333333;
              font-size: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              /*flex-direction: column;*/
              line-height: 20px;
            }

            li:nth-child(3) {
              color: #333333;
              width: 100%;
              font-size: 10px;

              .litop {
                height: 50%;
                display: grid;
                grid-template-columns: 32% 8% 20% 8% 32% 100%;
                grid-template-rows: 55px;

                img {
                  width: 30px !important;
                  height: auto !important;
                }

                .score {
                  margin: auto;
                  display: inline-block;
                  width: 36px;
                  height: 26px;
                  border-radius: 6px;
                  /*background: linear-gradient(*/
                  /*  -30deg,*/
                  /*  rgba(255, 135, 55, 1),*/
                  /*  rgba(254, 85, 58, 1)*/
                  /*);*/
                  text-align: center;
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  span {
                    font-size: 16px;
                    color: #ffffff;
                  }
                }

                span {
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  line-height: 55px;
                }
              }

              .libtn {
                height: 50%;
                background-color: #fff2f0;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                img {
                  width: 20px;
                  height: 20px;
                  margin-right: 5px;
                  display: inline-block;
                }

                span {
                  font-size: 16px;
                  color: #fe5a3a;
                }
              }
            }

            li {
              float: left;
              font-size: 14px;
              color: #999999;
              height: 55px;
              line-height: 55px;
              text-align: center;

              .dish {
                color: #999999;
                font-size: 16px;
              }

              .dishNumber {
                color: #fe5e39;
                font-size: 20px;
              }
            }

            .viewButton {
              border: none;
              outline: none;
              cursor: pointer;
              height: 100%;
              font-size: 14px;
              color: #fe553a;
              font-weight: 600;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}

/*弹窗样式*/
.diglog1 {
  .dialogTittle {
    color: rgba(51, 51, 51, 1);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;

    i {
      margin-right: 10px;
      background-image: url("./../../assets/切图/16.png");
      background-repeat: no-repeat;
      display: inline-block;
      width: 25px;
      height: 22px;
    }
  }

  .dialogConter {
    .formItems {
      margin-bottom: 30px;

      span {
        font-size: 16px;
        color: rgba(153, 153, 153, 1);
      }
    }

    .items1 {
      .isSelcectBtn {
        color: #ffffff !important;
        background: linear-gradient(
          0deg,
          rgba(254, 85, 58, 1),
          rgba(255, 135, 55, 1)
        ) !important;
      }

      button {
        width: 70px;
        height: 44px;
        background-color: rgba(240, 240, 240, 1);
        border-radius: 12px;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 16px;
        margin-right: 30px;
        font-weight: 400;
      }
    }

    .items2 {
      select {
        margin-left: 2px;
        width: 42%;
        background: rgba(247, 247, 247, 1);
        height: 55px;
        border-radius: 12px;
        outline: none;
        border: none;
        padding-left: 20px;
        padding-right: 20px;
        cursor: pointer;

        option {
          height: 50px;
          outline: none;
          display: block;
        }
      }
    }

    .items3 {
      select {
        margin-left: 30px;
        width: 40%;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        height: 55px;
        outline: none;
        border: none;
        padding-left: 20px;
        padding-right: 20px;

        option {
          height: 50px;
          outline: none;
          display: block;
        }
      }
    }

    .items4 {
      display: flex;
      align-items: center;

      input {
        width: 40%;
        padding-left: 20px;
        font-size: 13px;
        outline: none;
        height: 55px;
        border: none;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        margin-left: 35px;
      }
    }

    .items5 {
      display: flex;
      align-items: flex-start;

      span {
        width: 100px;
      }

      // textarea {
      //   padding-top: 10px;
      //   padding-left: 20px;
      //   color: rgba(199, 199, 199, 1);
      //   font-size: 16px;
      //   outline: none;
      //   border: none;
      //   border-radius: 12px;
      //   background: rgba(247, 247, 247, 1);
      //   margin-left: 30px;
      // }
    }

    .items6 {
      display: flex;
      align-items: center;

      input {
        width: 40%;
        padding-left: 20px;
        font-size: 13px;
        outline: none;
        height: 55px;
        border: none;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        margin-left: 35px;
      }
    }

    .items7 .upload-demo {
      display: inline-flex;
      margin-left: 35px;
    }
  }

  .dialogFooter {
    height: 96px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .cancel {
      margin-right: 61px;
      width: 88px;
      height: 46px;
      background-color: RGBA(255, 232, 225, 1);
      border-radius: 6px;
      cursor: pointer;
      border: none;
      outline: none;
      color: rgba(254, 95, 57, 1);
    }

    .determine {
      width: 55px;
      height: 46px;
      background: linear-gradient(
        0deg,
        rgba(254, 85, 58, 1),
        rgba(255, 135, 55, 1)
      );
      border-radius: 6px;
      cursor: pointer;
      border: none;
      outline: none;
      color: rgba(255, 255, 255, 1);
    }
  }
}
.diglog {
  .dialogTittle {
    color: rgba(51, 51, 51, 1);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;

    i {
      margin-right: 10px;
      background-image: url("./../../assets/切图/16.png");
      background-repeat: no-repeat;
      display: inline-block;
      width: 25px;
      height: 22px;
    }
  }

  .dialogConter {
    .formItems {
      margin-bottom: 30px;

      span {
        font-size: 16px;
        color: rgba(153, 153, 153, 1);
      }
    }

    .items1 {
      .isSelcectBtn {
        color: #ffffff !important;
        background: linear-gradient(
          0deg,
          rgba(254, 85, 58, 1),
          rgba(255, 135, 55, 1)
        ) !important;
      }

      button {
        width: 70px;
        height: 44px;
        background-color: rgba(240, 240, 240, 1);
        border-radius: 12px;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 16px;
        margin-right: 30px;
        font-weight: 400;
      }
    }

    .items2 {
      select {
        margin-left: 30px;
        width: 40%;
        background: rgba(247, 247, 247, 1);
        height: 55px;
        outline: none;
        border: none;
        padding-left: 20px;
        padding-right: 20px;

        option {
          height: 50px;
          outline: none;
          display: block;
        }
      }
    }

    .items3 {
      select {
        margin-left: 30px;
        width: 40%;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        height: 55px;
        outline: none;
        border: none;
        padding-left: 20px;
        padding-right: 20px;

        option {
          height: 50px;
          outline: none;
          display: block;
        }
      }
    }

    .items4 {
      display: flex;
      align-items: center;

      input {
        width: 40%;
        padding-left: 20px;
        font-size: 16px;
        outline: none;
        height: 55px;
        border: none;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        margin-left: 35px;
      }
    }

    .items5 {
      display: flex;
      align-items: flex-start;

      span {
        width: 100px;
      }

      // textarea {
      //   padding-top: 10px;
      //   padding-left: 20px;
      //   color: rgba(199, 199, 199, 1);
      //   font-size: 16px;
      //   outline: none;
      //   border: none;
      //   border-radius: 12px;
      //   background: rgba(247, 247, 247, 1);
      //   margin-left: 30px;
      // }
    }

    .items6 {
      display: flex;
      align-items: center;

      input {
        width: 40%;
        padding-left: 20px;
        font-size: 16px;
        outline: none;
        height: 55px;
        border: none;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        margin-left: 35px;
      }
    }

    .items7 .upload-demo {
      display: inline-flex;
      margin-left: 35px;
    }
  }

  .dialogFooter {
    height: 96px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .cancel {
      margin-right: 61px;
      width: 88px;
      height: 46px;
      background-color: RGBA(255, 232, 225, 1);
      border-radius: 6px;
      cursor: pointer;
      border: none;
      outline: none;
      color: rgba(254, 95, 57, 1);
    }

    .determine {
      width: 88px;
      height: 46px;
      background: linear-gradient(
        0deg,
        rgba(254, 85, 58, 1),
        rgba(255, 135, 55, 1)
      );
      border-radius: 6px;
      cursor: pointer;
      border: none;
      outline: none;
      color: rgba(255, 255, 255, 1);
    }
  }
}
</style>
<style>
.clear {
  clear: both;
}

.customer_style .el-carousel__indicators--horizontal {
  bottom: 0;
  right: 3%;
  left: unset;
  transform: translateX(0%);
}

.customer_style .el-carousel__button {
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.customer_style .swiper_pic_info {
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 13px;
  transform: translateX(-50%);
}
.el-pagination__total {
  color: #39373b !important;
}

.el-pagination__jump {
  color: #39373b !important;
}

.spanp {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  line-height: 55px;
}
</style>

