<template>
  <div>
    <img style="position: fixed;left: 0px;top:0px;z-index: -22;width: 100%;height: 100%" src="./../../assets/切图/36.jpg">
    <div class="football customer_style">
      <div class="footBack">
        <el-row :gutter="20">
          <!-- 左部导航栏 -->
          <div style="height:290px;width:133.2px;float:left">
            <div class="navigationLeft isScroll">
              <div class="navigationLeftBut">
                <p class="navigationTittle">热门赛事</p>
                <ul class="navigationButUi">
                  <!-- <li>
                  <span class="isActing">NBA</span>
                  </li>-->
                  <li
                    v-for="(item, index) in eventList"
                    :key="index"
                    :class="{ 'isActing': eventAct==item.matchId}"
                    @click="eventSearch(item.matchId)"
                  >
                    <span class="txt_color">{{item.shortMatchName}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <el-col :span="18">
            <div class="contentCenter">
              <div class="con_ele_lump">
                <div class="Shuffling">
                  <el-carousel :interval="4000" arrow="always">
                    <el-carousel-item>
                      <span class="swiper_pic_info">图片信息</span>
                      <img src="../../assets/swipe/image_2020-04-08_15-31-27.png" style="width:100%;height:100%;cursor: pointer;" @click="jumpPic(7)"/>
                    </el-carousel-item>
                    <el-carousel-item>
                      <span class="swiper_pic_info">图片信息</span>
                      <img src="../../assets/swipe/image_2020-04-08_15-31-37.png" style="width:100%;height:100%;cursor: pointer;" @click="jumpPic(9)"/>
                    </el-carousel-item>
                    <el-carousel-item>
                      <span class="swiper_pic_info">图片信息</span>
                      <img src="../../assets/swipe/image_2020-04-08_15-31-44.png" style="width:100%;height:100%;cursor: pointer;" @click="jumpPic(null)"/>
                    </el-carousel-item>
                    <!--<el-carousel-item
                      v-for="(item, index) in picList"
                      :key="index"
                    >
                      <span class="swiper_pic_info">图片信息</span>
                      <img
                        :src="item.pic"
                        alt="轮播图"
                        style="width:100%;height:100%;cursor: pointer;"
                        @click="jumpPic(item.backstageActiveId)"
                      />
                    </el-carousel-item>-->
                  </el-carousel>
                </div>
                <div class="scroll_info">
                  <div class="menu">
                    <div class="title">精彩推荐</div>
                    <div class="btn" @click="this.changeNewsList">换一批</div>
                    <div class="btn" @click="()=>{this.$router.push('/bbs')}">更多 >></div>
                  </div>
                  <div class="content">
                    <ul>
                      <li v-for='(ele,index) in curNewsArr' :key="index" @click="jumpTos(ele.aId,ele.agId)">
                        {{ele.aTitle}}
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
              <div class="con_ele_lump">
                <div class="con_plan">
                  <div class="menu">
                    <div class="title">策略分析</div>
                    <div class="btn" @click="()=>this.changePlansList()">换一批</div>
                    <div class="btn">更多 >></div>
                  </div>
                  <div class="menus_con" v-if="this.homePlansArr.length>0">
                    <div class="con_left">
                      <div class="con_detail">
                        <img :src="this.homePlansArr[0].gfPic">
                        <div>
                            <span class="span_left"
                                  style="color:deepskyblue">{{this.homePlansArr[0]['matchShortName']}}</span>
                          <span class="span_right" style="color:red">{{this.homePlansArr[0]['aTeamShortName']}}VS{{this.homePlansArr[0]['bTeamShortName']}}</span>
                          <span class="span_left">{{this.homePlansArr[0]['createTime']}}</span>
                          <span class="span_right" style="width:70px">{{this.homePlansArr[0]['isright']}}</span>
                        </div>
                        <span/><span class="detail_title">{{this.homePlansArr[0]['gfTitle']}}</span>
                        <img class="userPhoto" :src="this.homePlansArr[0]['headUrl']">
                        <div>
                          <span class="span_left_black">{{this.homePlansArr[0]['nickName']}}</span>
                          <span class="span_right_black">2020-03-24</span>
                        </div>
                      </div>
                    </div>
                    <div class="con_right">
                      <div class="con_detail">
                        <img :src="this.homePlansArr[1].gfPic">
                        <div>
                            <span class="span_left"
                                  style="color:deepskyblue">{{this.homePlansArr[1]['matchShortName']}}</span>
                          <span class="span_right" style="color:red">{{this.homePlansArr[1]['aTeamShortName']}}VS{{this.homePlansArr[1]['bTeamShortName']}}</span>
                          <span class="span_left">{{this.homePlansArr[1]['createTime']}}</span>
                          <span class="span_right" style="width:70px">{{this.homePlansArr[0]['isright']}}</span>
                        </div>
                        <span/><span class="detail_title">{{this.homePlansArr[1]['gfTitle']}}</span>
                        <img class="userPhoto" :src="this.homePlansArr[1]['headUrl']">
                        <div>
                          <span class="span_left_black">{{this.homePlansArr[1]['nickName']}}</span>
                          <span class="span_right_black">2020-03-24</span>
                        </div>
                      </div>
                    </div>
                    <div class="con_left">
                      <div class="con_detail">
                        <img :src="this.homePlansArr[2].gfPic">
                        <div>
                            <span class="span_left"
                                  style="color:deepskyblue">{{this.homePlansArr[2]['matchShortName']}}</span>
                          <span class="span_right" style="color:red">{{this.homePlansArr[2]['aTeamShortName']}}VS{{this.homePlansArr[2]['bTeamShortName']}}</span>
                          <span class="span_left">{{this.homePlansArr[2]['createTime']}}</span>
                          <span class="span_right" style="width:70px">{{this.homePlansArr[0]['isright']}}</span>
                        </div>
                        <span/><span class="detail_title">{{this.homePlansArr[2]['gfTitle']}}</span>
                        <img class="userPhoto" :src="this.homePlansArr[2]['headUrl']">
                        <div>
                          <span class="span_left_black">{{this.homePlansArr[2]['nickName']}}</span>
                          <span class="span_right_black">2020-03-24</span>
                        </div>
                      </div>
                    </div>
                    <div class="con_right">
                      <div class="con_detail">
                        <img :src="this.homePlansArr[3].gfPic">
                        <div>
                            <span class="span_left"
                                  style="color:deepskyblue">{{this.homePlansArr[3]['matchShortName']}}</span>
                          <span class="span_right" style="color:red">{{this.homePlansArr[3]['aTeamShortName']}}VS{{this.homePlansArr[3]['bTeamShortName']}}</span>
                          <span class="span_left">{{this.homePlansArr[3]['createTime']}}</span>
                          <span class="span_right" style="width:70px">{{this.homePlansArr[0]['isright']}}</span>
                        </div>
                        <span/><span class="detail_title">{{this.homePlansArr[3]['gfTitle']}}</span>
                        <img class="userPhoto" :src="this.homePlansArr[3]['headUrl']">
                        <div>
                          <span class="span_left_black">{{this.homePlansArr[3]['nickName']}}</span>
                          <span class="span_right_black">2020-03-24</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="scroll_info" style="height: 365px">
                  <div class="menu_tab">
                    <div class="title">数据分析</div>
                    <div class="btn_more">更多 >></div>
                  </div>
                  <div class="data_content">
                    <div class="data_ele_title">
                      <div class="data_ele_title_con">
                        <div class="btn_left_scroll" @click="this.teamBarLeft"></div>
                        <div class="btn_right_scroll" @click="this.teamBarRight"></div>
                        <div class="data_ele_span" id="data_ele_span" :style="{left:teamMenuBarEleWidth+'px'}">
                            <span v-for="(ele,index) in footballTeamName" :key="index"
                                  @click="clickGetTeamRank(ele['matchName'])">{{ele.matchName}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="data_ele">
                      <span><b>名次</b></span>
                      <span><b>球队</b></span>
                      <span><b>胜/平/负</b></span>
                    </div>
                    <div class="data_ele" v-for="(ele,index) in teamWinLose" :key="index">
                      <span>{{index+1}}</span>
                      <span>{{ele.matchName}}</span>
                      <span>{{ele.won}}/{{ele.drawn}}/{{ele.lost}}</span>
                    </div>
                  </div>
                </div>
                <div class="clear"></div>
              </div>

              <!-- 数据列表 -->
              <div class="contentShow">
                <div class="gamesTittle">
                  <ul class="gamesTittleUi">
                    <li>
                      <span>联赛名称</span>
                    </li>
                    <li>
                      <span>比赛时间</span>
                    </li>
                    <li>
                      <span>队伍</span>
                    </li>
                    <li>
                      <span>初盘</span>
                    </li>
                    <li>
                      <span>指数</span>
                    </li>
                    <li>
                      <span>数据</span>
                    </li>
                    <li>
                      <span>推荐</span>
                    </li>
                    <li>
                      <span>单子</span>
                    </li>
                    <li>
                      <span>竞猜</span>
                    </li>
                  </ul>
                </div>
                <div class="games">
                  <div class="gamesTopTime">
                    <!-- <span>{{dateFormat(new Date())}} {{getweek()}}</span> -->
                    <el-date-picker
                      v-model="dataNums"
                      type="date"
                      @change="changeData"
                      placeholder="选择日期"
                      value-format="timestamp"
                      style="margin-left:30px"
                    ></el-date-picker>
                    <el-button type="warning" plain size="mini" @click="optintype(0)">全部</el-button>
                    <el-button type="warning" plain size="mini" title="已完成" @click="optintype(1)">完场</el-button>
                    <el-button type="warning" plain size="mini" @click="optintype(2)">未完场</el-button>


                    <div class="screeningButRight">
                      <div class="searchBox">
                        <input
                          type="text"
                          class="searchBoxInput"
                          placeholder="赛事名称"
                          v-model="search"
                          @input="onSearch"
                        />
                        <img
                          src="./../../assets/搜索.png"
                          alt="搜索图标"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="gamesBut">
                    <div
                      class="gamesButItem"
                      v-for="(item, index) in gameList"
                      :key="index"
                      style="position: relative"
                    >

                      <!--                    <div v-if="item.matchType==0 || item.matchType==2 || item.matchType==3 || item.matchType==4|| item.matchType==5|| item.matchType==6|| item.matchType==7" style="position: absolute;top: -4px;left: -4px;background-color: transparent;border-top: 25px solid #ff5533;border-left: 25px solid #ff5533;border-right: 25px solid transparent;border-bottom: 25px solid transparent;opacity: 0.8">-->
                      <!--                    </div>-->
                      <!--                    <div v-else style="position: absolute;top: -4px;left: -4px;background-color: transparent;border-top: 25px solid #7d7d7d;border-left: 25px solid #7d7d7d;border-right: 25px solid transparent;border-bottom: 25px solid transparent;opacity: 0.8">-->
                      <!--                    </div>-->
                      <!--                    <div v-if="item.matchType==0" style="position: absolute;top: -43px;left: -5px;z-index: 999; transform:rotate(-45deg);-->
                      <!--            -webkit-transform:rotate(-45deg);-->
                      <!--            -moz-transform:rotate(-45deg);-->
                      <!--            font-size: 12px;color: white">有异常</div>-->
                      <!--                    <div v-if="item.matchType==1" style="position: absolute;top: -43px;left: -5px;z-index: 999; transform:rotate(-45deg);-->
                      <!--            -webkit-transform:rotate(-45deg);-->
                      <!--            -moz-transform:rotate(-45deg);-->
                      <!--            font-size: 12px;color: white">未开赛</div>-->
                      <!--                    <div v-if="item.matchType==2" style="position: absolute;top: -43px;left: -5px;z-index: 999; transform:rotate(-45deg);-->
                      <!--            -webkit-transform:rotate(-45deg);-->
                      <!--            -moz-transform:rotate(-45deg);-->
                      <!--            font-size: 12px;color: white">上半场</div>-->
                      <!--                    <div v-if="item.matchType==3" style="position: absolute;top: -43px;left: -5px;z-index: 999; transform:rotate(-45deg);-->
                      <!--            -webkit-transform:rotate(-45deg);-->
                      <!--            -moz-transform:rotate(-45deg);-->
                      <!--            font-size: 12px;color: white">中场赛</div>-->
                      <!--                    <div v-if="item.matchType==4" style="position: absolute;top: -43px;left: -5px;z-index: 999; transform:rotate(-45deg);-->
                      <!--            -webkit-transform:rotate(-45deg);-->
                      <!--            -moz-transform:rotate(-45deg);-->
                      <!--            font-size: 12px;color: white">下半场</div>-->
                      <!--                    <div v-if="item.matchType==5" style="position: absolute;top: -43px;left: -5px;z-index: 999; transform:rotate(-45deg);-->
                      <!--            -webkit-transform:rotate(-45deg);-->
                      <!--            -moz-transform:rotate(-45deg);-->
                      <!--            font-size: 12px;color: white">加时赛</div>-->
                      <!--                    <div v-if="item.matchType==6" style="position: absolute;top: -43px;left: -5px;z-index: 999; transform:rotate(-45deg);-->
                      <!--            -webkit-transform:rotate(-45deg);-->
                      <!--            -moz-transform:rotate(-45deg);-->
                      <!--            font-size: 12px;color: white">加时赛</div>-->
                      <!--                    <div v-if="item.matchType==7" style="position: absolute;top: -43px;left: -5px;z-index: 999; transform:rotate(-45deg);-->
                      <!--            -webkit-transform:rotate(-45deg);-->
                      <!--            -moz-transform:rotate(-45deg);-->
                      <!--            font-size: 12px;color: white">点球赛</div>-->
                      <!--                    <div v-if="item.matchType==8" style="position: absolute;top: -43px;left: -5px;z-index: 999; transform:rotate(-45deg);-->
                      <!--            -webkit-transform:rotate(-45deg);-->
                      <!--            -moz-transform:rotate(-45deg);-->
                      <!--            font-size: 12px;color: white">已完场</div>-->
                      <!--                    <div v-if="item.matchType==9" style="position: absolute;top: -43px;left: -5px;z-index: 999; transform:rotate(-45deg);-->
                      <!--            -webkit-transform:rotate(-45deg);-->
                      <!--            -moz-transform:rotate(-45deg);-->
                      <!--            font-size: 12px;color: white">已推迟</div>-->
                      <!--                    <div v-if="item.matchType==10" style="position: absolute;top: -43px;left: -5px;z-index: 999; transform:rotate(-45deg);-->
                      <!--            -webkit-transform:rotate(-45deg);-->
                      <!--            -moz-transform:rotate(-45deg);-->
                      <!--            font-size: 12px;color: white">已中断</div>-->
                      <!--                    <div v-if="item.matchType==11" style="position: absolute;top: -43px;left: -5px;z-index: 999; transform:rotate(-45deg);-->
                      <!--            -webkit-transform:rotate(-45deg);-->
                      <!--            -moz-transform:rotate(-45deg);-->
                      <!--            font-size: 12px;color: white">已腰斩</div>-->
                      <!--                    <div v-if="item.matchType==12" style="position: absolute;top: -43px;left: -5px;z-index: 999; transform:rotate(-45deg);-->
                      <!--            -webkit-transform:rotate(-45deg);-->
                      <!--            -moz-transform:rotate(-45deg);-->
                      <!--            font-size: 12px;color: white">已取消</div>-->


                      <!--                    <img src="../../assets/jxz.png" style="position: absolute;width: 46px;top: -4px;left: -4px" v-if="item.matchType==2">-->
                      <!--                    <img src="../../assets/ywc.png" style="position: absolute;width: 46px;top: -4px;left: -4px" v-if="item.matchType==1">-->
                      <!--                    <img src="../../assets/wks.png" style="position: absolute;width: 46px;top: -4px;left: -4px" v-if="item.matchType==3">-->
                      <ul class="gamesItemUi">

                        <li>

                          <div style="float: left;width: 40%;"><img
                            style="max-height: 30px;max-width:30px;display:inline-block;margin-top: 14px;"
                            :src="item.matchLogo"></div>
                          <div style="float: right;width: 60%"><span style="white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;">{{item.matchShortNameZh}}</span></div>
                          <div style="clear:both"></div>
                        </li>
                        <li>
                          <div>
                            <span v-if="item.matchType==0" style="color: red;padding-right: 20px">有异常</span>
                            <span v-else-if="item.matchType==1" style="color: red;padding-right: 20px">未开赛</span>
                            <span v-else-if="item.matchType==2" style="color: red;padding-right: 20px">上半场</span>
                            <span v-else-if="item.matchType==3" style="color: red;padding-right: 20px">中场赛</span>
                            <span v-else-if="item.matchType==4" style="color: red;padding-right: 20px">下半场</span>
                            <span v-else-if="item.matchType==5" style="color: red;padding-right: 20px">加时赛</span>
                            <span v-else-if="item.matchType==7" style="color: red;padding-right: 20px">点球赛</span>
                            <span v-else-if="item.matchType==8" style="color: red;padding-right: 20px">已完场</span>
                            <span v-else-if="item.matchType==9" style="color: red;padding-right: 20px">已推迟</span>
                            <span v-else-if="item.matchType==10" style="color: red;padding-right: 20px">已中断</span>
                            <span v-else-if="item.matchType==11" style="color: red;padding-right: 20px">已腰斩</span>
                            <span v-else-if="item.matchType==12" style="color: red;padding-right: 20px">已取消</span>
                            <span v-else-if="item.matchType==13" style="color: red;padding-right: 20px">待定中</span>
                          </div>
                          <!--                        <span>{{dateFormat(item.matchStartTime)}}</span>-->
                          <span>{{dateFormatTime(item.matchStartTime)}}</span>
                        </li>
                        <li>
                          <div class="litop">
                            <span :title="reAname(item)" class="spanp">{{reAname(item)}}</span>
                            <img style="height:22px;padding-top: 14px" :src="item.aLogo">
                            <div class="score">
                              <span v-if="!item.matchScore" style="color: black;display: block">-</span>
                              <span v-else style="color: black;display: block;">{{item.matchScore}}</span>
                              <!--                            <span style="display: block">进行中</span>-->
                            </div>
                            <img style="height:22px;padding-top: 14px" :src="item.bLogo">
                            <span :title="reBname(item)" class="spanp"> {{reBname(item)}}</span>
                          </div>

                          <!--                        <div-->
                          <!--                          class="libtn"-->
                          <!--                          @click="onBet(item.aTeamId,item.bTeamId,reAname(item),reBname(item),item.namiId,item.euroloss,item.euroloss,item.matchNameZh,item.matchStartTime,item.matchType)"-->
                          <!--                        >-->
                          <!--                          <img-->
                          <!--                            src="./../../assets/切图/37.png"-->
                          <!--                            alt="金币"-->
                          <!--                          />-->
                          <!--                          <span>开始竞猜</span>-->
                          <!--                        </div>-->
                        </li>
                        <li>
                          <span>{{reternOdd(item,0)}}</span>
                          <span>{{reternOdd(item,1)}}</span>
                          <span>{{reternOdd(item,2)}}</span>
                        </li>
                        <li class="spliceLi">
                          <span>{{returnIndex(item.asianplate,0)}}</span>
                          <span>{{returnIndex(item.asianplate,1)}}</span>
                          <span>{{returnIndex(item.asianplate,2)}}</span>
                          <span>{{returnIndex(item.sizeBall,0)}}</span>
                          <span>{{returnIndex(item.sizeBall,1)}}</span>
                          <span>{{returnIndex(item.sizeBall,2)}}</span>
                        </li>
                        <li
                          @click="jumpD(item.namiId,item.aTeamId,item.bTeamId,reAname(item),reBname(item),item.matchId,item.seasonId,item.matchNameZh)">
                          <button class="viewButton">析</button>
                        </li>
                        <li @click="jumpG(item.namiId)">
                          <button class="viewButton">荐</button>
                        </li>
                        <li @click="releaseTopic(item.namiId,item)">
                          <button class="viewButton">单</button>
                        </li>
                        <li
                          @click="onBet(item.aTeamId,item.bTeamId,reAname(item),reBname(item),item.namiId,item.euroloss,item.euroloss,item.matchNameZh,item.matchStartTime,item.matchType)">
                          <button class="viewButton">竞</button>
                        </li>
                      </ul>
                    </div>
                    <div
                      class="noStyle"
                      v-show="gameList.length==0"
                    >暂无数据
                    </div>
                  </div>
                </div>

                <el-pagination
                  background
                  @current-change="handleCurrentChange"
                  :current-page="currentPage"
                  :page-size="pagesize"
                  layout="total, prev, pager, next, jumper"
                  :total="total"
                  v-if="total>5"
                  style="text-align: right;margin-top: 20px;"
                ></el-pagination>
              </div>
            </div>
          </el-col>
        </el-row>
      </div>

      <el-dialog
        :visible.sync="dialogvalue"
        width="843px"
        center
        class="diglog"
        :show-close="false"
        :close-on-click-modal="false"
        close-on-press-escape
      >
        <p
          slot="title"
          class="dialogTittle"
        >
          <i></i>积分竞猜
        </p>
        <div class="dialogConter">
          <div class="formItems items2">
            <span>选择队伍</span>
            <select
              v-model="teams"
              @change="getodds"
            >
              <option value>请选择</option>
              <option value="0">平局</option>
              <option
                v-for="(item, index) in teamList"
                :key="index"
                :value="item.value"
              >{{item.label}}
              </option>
            </select>
          </div>
          <div class="formItems items6">
            <span>目前赔率</span>
            <input
              type="text"
              placeholder
              v-model="oddsnum"
              disabled="disabled"
            />
          </div>
          <div class="formItems items6">
            <span>竞猜分数</span>
            <input
              type="number"
              placeholder
              v-model="betScore"
              @click="noFue"
              @keyup="noFue"
            />
          </div>
          <div class="formItems items6">
            <span>剩余分数</span>
            <input
              type="text"
              placeholder
              v-model="lastbetScore"
              disabled="disabled"
            />
          </div>
        </div>
        <div
          slot="footer"
          class="dialogFooter"
        >
          <button
            @click="dialogvalue = false"
            class="cancel"
          >取 消
          </button>
          <button
            @click.stop="betSuccess"
            class="determine"
          >竞 猜
          </button>
        </div>
      </el-dialog>

      <!--    发布分析弹出-->
      <el-dialog
        :visible.sync="centerDialogVisible"
        width="843px"
        center
        class="diglog1"
        :close-on-click-modal="false"
        close-on-press-escape
      >
        <p
          slot="title"
          class="dialogTittle"
        >
          <i></i>发布分析
          <span style="font-size: 12px;font-weight: initial;position: absolute;top: 78px;color: red">大神发布推荐为初盘推荐，如果需要进行即时推荐可以在输入框中进行填写发布</span>
        </p>

        <div class="dialogConter">
          <div class="formItems items4">
            <span>填写标题</span>
            <input
              type="text"
              placeholder="请输入"
              v-model="from.gfTitle"
            />
          </div>
          <div class="formItems items6">
            <span>所需积分</span>
            <input
              type="number"
              placeholder="请输入"
              v-model="from.buyIntegral"
              @click="noFue1"
              @keyup="noFue1"
            />
          </div>
          <div class="formItems items2">
            <span>选择胜利队伍</span>
            <select
              v-model="from.winTeamName"
              placeholder="请选择"
            >
              <option value="平局">平局</option>
              <option :value="returnAname(webList)+','+webList.aTeamId">{{returnAname(webList)}}</option>
              <option :value="returnBname(webList)+','+webList.bTeamId">{{returnBname(webList)}}</option>
            </select>
          </div>
          <!--        <div class="formItems items7">-->
          <!--          <span>图片上传</span>-->
          <!--          <el-upload-->
          <!--            class="upload-demo"-->
          <!--            :http-request="submitUpload"-->
          <!--            ref='upload'-->
          <!--            action-->
          <!--            drag-->
          <!--            :limit="1"-->
          <!--            :on-exceed="handleExceed"-->
          <!--          >-->
          <!--            <i class="el-icon-upload"></i>-->
          <!--            <div class="el-upload__text">-->
          <!--              将文件拖到此处，或-->
          <!--              <em>点击上传</em>-->
          <!--            </div>-->
          <!--            &lt;!&ndash; <div class="el-upload__tip" slot="tip">只能上传jpg/png文件，且不超过500kb</div> &ndash;&gt;-->
          <!--          </el-upload>-->
          <!--        </div>-->

          <div class="formItems items5">
            <span>填写详情</span>
            <!-- <textarea name id cols="80" rows="14"></textarea> -->
            <editor-bar
              v-model="detail"
              :isClear="isClear"
              @change="change"
            ></editor-bar>
          </div>
        </div>
        <div
          slot="footer"
          class="dialogFooter"
        >
          <button
            @click="centerDialogVisible = false"
            class="cancel"
          >取 消
          </button>
          <button
            @click.stop="release"
            class="determine"
          >发 布
          </button>
        </div>
      </el-dialog>
      <el-dialog
        class="openthn"
        title="火狐策略网站公告"
        :visible.sync="dialogVisible"
        width="30%"
        :before-close="handleClose">
        <p style="font-weight: bold;font-size: 16px;">尊敬的用户您好：</p>
        <p>火狐策略网已在各大平台正式发布，为了迎合广大彩民的喜好，满足彩民朋友的需求，现策略网向各位用户发起建议征集活动。</p>
        <p>
          只要你有想法，提出的建议是有利于网站未来可持续发展，即可联系我们的网站客服人员进行意见反馈，建设性意见包括但不限于网站风格、页面内容、网站活动等。
        </p>
        <p>
          一经采用，即可获得1000积分奖励，积分可用于购买策略网红单&兑换现金红包。
        </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <div style="clear: both;"></div>
        <p style="float: left">客服qq：【644525573】</p>
        <div style="clear: both;"></div>
        <p style="float: right">
          2020-02-18
        </p>
        <div style="clear: both;"></div>
        <p style="float: right;font-size: 12px;">
          本公告最终解释权归属于火狐策略网。
        </p>
        <span slot="footer" class="dialog-footer">
    <el-button @click="handleClose()">确 定</el-button>
  </span>
      </el-dialog>
      <remote-js src="http://pv.sohu.com/cityjson?ie=utf-8"></remote-js>
    </div>
    <Footer/>
  </div>
</template>

<script>
  // 足球版块
  import {
    getFootballTeamMatchingName,
    getFootballTeamMatchScore,
    getHomePageNews,
    getHomePagePlans,
    getFootballMatchList,
    getHotMatchList,
    getCarouseList,
    selectUserByUserId,
    addMatchBet,
    addDetailsLog,
    addGreatForecast,
    getFootballMatchanAlysis
  } from "../../api/api";
  import {DateTime} from "../../utils/dateTime";
  import Cookies from "js-cookie";
  import EditorBar from "./../../components/wangeditor";
  import Footer from "../footer/footer";
  //引入mock
  import Mock from '../../mock';

  export default {
    name: "football",
    data() {
      return {
        /** 获取数据分析-足球战队胜负榜 */
        teamWinLose: [],
        /** 获取数据分析-足球战队胜负榜 end */
        /** 获取数据分析-足球战队 */
        // 首页：获取数据分析-足球战队获取赛季赛事名称单个菜单条长度
        teamMenuBarEleWidth: 30,
        // 首页：获取数据分析-足球战队获取赛季赛事名称菜单总长度
        teamMenuBarAllWidth: NaN,
        // 首页：获取数据分析-足球战队获取赛季赛事名称
        footballTeamName: [],
        //首页策略分析,一次只存4个数据
        homePlansArr: [],
        //首页策略分析类型
        //1是足球2是篮球3是电竞
        homePlansType: 1,
        //首页策略分析总页数
        homePlansPages: 0,
        //首页策略分析当前页
        curPlansPage: 1,
        //首页精彩推荐文章
        homePageNews: [],
        //首页精彩推荐文章页数
        curNewsPage: 1,
        /** 获取数据分析-足球战队 end */
        //计算后当前页精彩推荐文章数
        curNewsArr: [],

        dialogVisible: true,
        dataNums: Date.parse(new Date()).toString(),

        aid: "",
        bid: "",
        namiIds: "",
        oddtime: "",
        matchName: "",
        euroddsnum: "",
        teams: "",
        oddsnum: "",
        betScore: "",
        lastbetScore: "",
        dialogvalue: false,

        search: "",
        eventAct: "",
        eventSearchs: "",
        scroll: "",
        teamList: [],
        gameList: [],
        eventList: [],
        picList: [],
        currentPage: 1,
        pagesize: 20,
        total: 0,

        // 发布分析
        centerDialogVisible: false,
        from: {
          uId: Cookies.get("uId"),
          type: 1,
          gameType: 0,
          buyIntegral: "",
          matchId: "",
          gfTitle: "",
          gfContent: "",
          gfPic: "",
          aTeamId: "",
          bTeamId: "",
          winTeamName: '',
          aTeamName: "",
          bTeamName: "",
        },
        webList: {},
        isClear: false,
        detail: "",
        searchInt5: 0,
        ubh: false,
        timer: false
      };
    },
    mounted() {
      window.addEventListener("scroll", this.menu);
    },
    components: {
      Footer,
      "remote-js": {
        render(createElement) {
          return createElement("script", {
            attrs: {type: "text/javascript", src: this.src}
          });
        },
        props: {
          src: {type: String, required: true}
        }
      }, EditorBar
    },
    methods: {

      //数据分析菜单条左移动
      teamBarLeft() {
        if (this.teamMenuBarEleWidth > -this.teamMenuBarAllWidth) {
          this.teamMenuBarEleWidth -= 65;
        }
      },
      //数据分析菜单条右移动
      teamBarRight() {
        if (this.teamMenuBarEleWidth < 30) {
          this.teamMenuBarEleWidth += 65;
        }
      },
      //点击队名获取排名
      clickGetTeamRank(teamName) {
        console.log(teamName);
        // this.getHomeFootballTeamMatchScore();
      },
      // 首页：获取数据分析-足球站队战绩排名列表
      getHomeFootballTeamMatchingName() {
        const data = {
          "current": 1,
          "size": 10,
          "searchStr2": "2019-2020"
        };
        getFootballTeamMatchingName(data).then(res => {
          console.log(res);
          this.teamMenuBarAllWidth = res.data.length * 65 - 270;
          this.footballTeamName = res.data;
        }).catch(errs => {
          console.log(errs);
        })
      },
      // 首页：获取数据分析-足球站队战绩排名列表
      // getHomeFootballTeamMatchScore() {
      //   const data = {
      //     "current": 1,
      //     "size": 1000,
      //     "searchStr1": "希腊乙",
      //     "searchStr2": "2019-2020"
      //   };
      //   getFootballTeamMatchScore(data).then(res => {
      //     console.log(res);
      //     this.teamWinLose = res.data;
      //   }).catch(errs => {
      //     console.log(errs);
      //   })
      // },
      //点击精彩推荐后跳转到bbs详情页
      jumpTos(aid, agId) {
        this.$router.push({
          path: "/bbsdetails",
          query: {
            aid: aid,
            agId: agId
          }
        });
      },
      //tab卡选择全部/足球/篮球/电竞
      //1是足球2是篮球3是电竞
      getPlans(type, pageIndex) {
        this.homePlansType = type;
        getHomePagePlans({
          current: pageIndex,
          size: 4,
          searchInt1: this.homePlansType,
          searchStr1: "",
          searchInt4: 1
        }).then(res => {
          this.homePlansArr = res.data.records;
        }).catch(errs => {
          console.log(errs);
        });
      },
      //换一批策略分析,就是切换下一页
      changePlansList() {
        this.curPlansPage++;
        if (this.curPlansPage > this.homePlansPages) {
          this.curPlansPage = 1;
        }
        getHomePagePlans({
          current: this.curPlansPage,
          size: 4,
          searchInt1: this.homePlansType,
          searchStr1: "",
          searchInt4: 1
        }).then(res => {
          this.homePlansArr = res.data.records;
        }).catch(errs => {
          console.log(errs);
        });
      },
      //换一批精彩推荐
      changeNewsList() {
        const that = this;
        //页面上一次最多放9条
        const difference = Math.ceil(that.homePageNews.length / 9);
        if (this.curNewsPage < difference) {
          this.curNewsPage++;
          this.curNewsArr = that.homePageNews.slice((this.curNewsPage - 1) * 9, (this.curNewsPage - 1) * 9 + 9);
        } else {
          this.curNewsPage = 1;
          this.curNewsArr = that.homePageNews.slice(0, 9);
        }
      },

      handleClose() {
        this.dialogVisible = false
        sessionStorage.setItem('dialogVisible', false)
      },
      optintype(i) {
        if (i == 0) {
          this.searchInt5 = 0
        } else if (i == 1) {
          this.searchInt5 = 2
        } else if (i == 2) {
          this.searchInt5 = 1
        }
        this.getList()
      },
      returnAname(val) {
        if (val.aTeamShortName != "" && val.aTeamShortName != null) {
          return val.aTeamShortName;
        } else if (val.aTeamName != "" && val.aTeamName != null) {
          return val.aTeamName;
        }
        return "-";
      },
      returnBname(val) {
        if (val.bTeamShortName != "" && val.bTeamShortName != null) {
          return val.bTeamShortName;
        } else if (val.bTeamName != "" && val.bTeamName != null) {
          return val.bTeamName;
        }
        return "-";
      },
      submitUpload(content) {
        //自定义的上传图片的方法
        //1. 创建formData 利用AXIOS传递

        let formData = new FormData();
        formData.append("file", content.file);
        this.api({
          url: "/upload/img",
          method: "post",
          data: formData
        })
          .then(data => {
            this.from.gfPic = data.data;
          })
          .catch(err => {
            this.$message.error(err.message);
          });
      },
      handleExceed(files, fileList) {
        this.$message.warning(
          `当前限制选择 1 个文件，本次选择了 ${
            files.length
          } 个文件，共选择了 ${files.length + fileList.length} 个文件`
        );
      },
      release() {
        console.log(this.from.winTeamName == "", '==?this.from.winTeamName')
        if (this.from.gfTitle == "") {
          this.$message.warning("标题不得为空");
        } else if (this.from.buyIntegral == "") {
          this.$message.warning("所需积分不得为空");
        }
          // else if (this.from.gfPic == "") {
          //     this.$message.warning("图片不得为空");
        // }
        else if (this.detail == "") {
          this.$message.warning("详情不能为空");
        } else if (this.from.winTeamName == "" || this.from.winTeamName == undefined) {
          this.$message.warning("选择胜利队伍不得为空");
        } else {
          if (this.from.winTeamName == "平局") {
            var str1 = "平局";
            var str2 = 0;
          } else {
            var str1 = this.from.winTeamName.split(",")[0];
            var str2 = this.from.winTeamName.split(",")[1];
          }
          addGreatForecast({
            uId: this.from.uId,
            matchId: this.from.matchId,
            type: 1,
            gameType: 0,
            buyIntegral: this.from.buyIntegral,
            gfTitle: this.from.gfTitle,
            gfContent: this.detail,
            gfPic: this.from.gfPic,
            aTeamId: this.webList.aTeamId,
            bTeamId: this.webList.bTeamId,
            winTeamId: str2,
            winTeamName: str1,
            aTeamName: this.returnAname(this.webList),
            bTeamName: this.returnBname(this.webList)
          })
            .then(res => {
              if (res.data.flag) {
                this.$message.success(res.data.msg);
              } else {
                this.$message.success("发布分析成功");
              }
              this.centerDialogVisible = false;
              this.getList9();
            })
            .catch(err => {
              this.$message.error(err.message);
            });
        }
      },
      change(val) {
        this.from.gfContent = val;
      },
      async getList9() {
        getFootballMatchanAlysis({
          namiId: this.$route.query.namiId
        })
          .then(res => {
            console.log(res.data.webBallMatch);
            this.webList = res.data.webBallMatch;
            //   this.movementsList = res.data.goalDistribution;
            if (res.data.goalDistribution !== null) {
              if (Object.keys(res.data.goalDistribution.home).length != 0) {
                this.movementsListhome.all.scored =
                  res.data.goalDistribution.home.all.scored;
                this.movementsListhome.home.scored =
                  res.data.goalDistribution.home.home.scored;
                this.movementsListhome.away.scored =
                  res.data.goalDistribution.home.away.scored;
              }
              if (Object.keys(res.data.goalDistribution.away).length != 0) {
                this.movementsListaway.all.scored =
                  res.data.goalDistribution.away.all.scored;
                this.movementsListaway.home.scored =
                  res.data.goalDistribution.away.home.scored;
                this.movementsListaway.away.scored =
                  res.data.goalDistribution.away.away.scored;
              }
            }
            this.injuredList = res.data.injury.home;
            this.injuredList2 = res.data.injury.away;
            //   this.dataList = res.data.data;
          })
          .catch(err => {
            this.$message.error(err.message);
          });

        await this.getList2();
        // await this.getList3();
        await this.getList4();
        await this.getList5();
      },
      noFue1() {
        this.from.buyIntegral =
          this.from.buyIntegral >= 0 ? this.from.buyIntegral : 0;
      },
      releaseTopic(nameid, item) {
        console.log(nameid);
        this.webList = item
        if (Cookies.get("uId")) {
          selectUserByUserId({
            userId: Cookies.get("uId")
          })
            .then(res => {
              if (res.data.isGreatGod === 2) {
                this.centerDialogVisible = true;
                this.from = {
                  uId: Cookies.get("uId"),
                  type: 1,
                  gameType: 0,
                  buyIntegral: "",
                  gfTitle: "",
                  gfContent: "",
                  gfPic: "",
                  matchId: nameid,
                  aTeamId: "",
                  bTeamId: "",
                  win_team_id: "",
                  win_team_name: "",
                  aTeamName: "",
                  bTeamName: ""
                };
                this.detail = "";
                this.$refs.upload.clearFiles();
              } else {
                this.$message.warning("你还不是大神,无法发布分析");
              }
            })
            .catch(err => {
              this.$message.error(err.message);
            });
        } else {
          this.$message.warning("请先登录");
        }
      },
      noFue() {
        this.betScore = this.betScore >= 0 ? this.betScore : 0;
      },


      changeData(val) {
        this.dataNums = val;
        this.currentPage = 1;
        this.getList();
        this.getList9();
        console.log(val);
      },
      getweek() {
        let date = new DateTime();
        return date.getWeek();
      },
      getodds(event) {
        this.teams = event.target.value
        console.log(event.target.value);
        if (event.target.value == this.aid) {
          this.oddsnum = this.oddtime.split(",")[0];
        } else if (event.target.value == this.bid) {
          this.oddsnum = this.oddtime.split(",")[1];
        } else {
          this.oddsnum = this.oddtime.split(",")[2];
        }
      },
      getList10() {
        addMatchBet({
          type: 1,
          gameType: 0,
          matchId: this.namiIds,
          uId: Cookies.get("uId"),
          winTeamId: this.teams,
          betIntrgral: this.betScore,
          betValue: this.oddsnum,
          betTimeOdd: this.euroddsnum,
          matchName: this.matchName,
          aTeamName: this.teamList[0].label,
          bTeamName: this.teamList[1].label
        })
          .then(res => {
            console.log(res);
            this.dialogvalue = false;
            this.$message({
              type: "success",
              message: "竞猜成功!"
            });
          })
          .catch(err => {
          });
      },
      betSuccess() {
        // this.getList10();
        if (this.oddsnum == "") {
          this.$message({
            type: "warning",
            message: "目前赔率为空,无法竞猜"
          });
        } else if (this.betScore == "") {
          this.$message({
            type: "warning",
            message: "请先填写所要竞猜的分数"
          });
        } else {
          this.$confirm("你确认以当前赔率下单?", "竞猜确认", {
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            type: "warning"
          })
            .then(() => {
              this.getList10();
              return false;
            })
            .catch(() => {
              this.$message({
                type: "info",
                message: "已取消竞猜"
              });
            });
        }
      },
      getList9() {
        selectUserByUserId({
          userId: Cookies.get("uId")
        })
          .then(res => {
            console.log(res);
            this.lastbetScore = res.data.integral;
          })
          .catch(err => {
            this.$message.error(err.message);
          });
      },
      onBet(
        aid,
        bid,
        aname,
        bname,
        namiId,
        odd,
        eurodd,
        matchname,
        starttime,
        matchType
      ) {
        //   var d = new Date(Date.parse(starttime.replace(/-/g, "/")));
        //   var curDate = new Date();
        //   console.log(d >= curDate);
        switch (matchType) {
          case 0:
            this.$message.warning("比赛异常,无法竞猜");
            return false;
            break;
          case 2:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 8:
            this.$message.warning("该比赛已结束,无法竞猜");
            return false;
            break;
          default:
            console.log("tg");
        }
        //   if (d <= curDate) {
        //     this.$message.warning("该比赛已开始,无法竞猜");
        //     return false;
        //   } else {

        //   }
        if (odd == null || eurodd == null || odd == "" || eurodd == "") {
          this.$message.warning("该比赛还未出现赔率,无法竞猜");
          return false;
        }
        console.log(matchType);

        if (Cookies.get("uId") != "" && Cookies.get("uId") != null) {
          this.dialogvalue = true;
          this.getList9();
          this.namiIds = namiId;
          this.aid = aid;
          this.bid = bid;
          if (odd != "" && odd != null) {
            this.oddtime = odd;
          } else {
            this.oddsnum = "";
          }
          this.teamList = [];
          this.teamList.push(
            {
              label: aname,
              value: aid
            },
            {
              label: bname,
              value: bid
            }
          );
          this.euroddsnum = eurodd;
          this.matchName = matchname;
        } else {
          this.$message.warning("请先登录");
        }
      },
      returnIndex(val, index) {
        if (val != "" && val != null) {
          return val.split(",")[index];
        } else {
          return "-";
        }
      },
      jumpPic(val) {
        console.log(val);
        this.$router.push({
          path: "/actdetails",
          query: {
            baId: val
          }
        });
      },
      onSearch() {
        this.currentPage = 1;
        this.getList();
      },
      eventSearch(val) {
        if (this.eventAct != val) {
          this.eventSearchs = val;
          this.eventAct = val;
          this.getList();
        } else {
          this.eventSearchs = "";
          this.eventAct = "";
          this.getList();
        }
      },
      menu() {
        this.scroll =
          document.documentElement.scrollTop || document.body.scrollTop;
      },
      returnVersion() {
        var userAgent = navigator.userAgent; //取得浏览器的userAgent字符串
        var isOpera = userAgent.indexOf("Opera") > -1;
        if (isOpera) {
          return "Opera";
        } //判断是否Opera浏览器
        if (userAgent.indexOf("Firefox") > -1) {
          return "FF";
        } //判断是否Firefox浏览器
        if (userAgent.indexOf("Chrome") > -1) {
          return "Chrome";
        }
        if (userAgent.indexOf("Safari") > -1) {
          return "Safari";
        } //判断是否Safari浏览器
        if (
          userAgent.indexOf("compatible") > -1 &&
          userAgent.indexOf("MSIE") > -1 &&
          !isOpera
        ) {
          return "IE";
        } //判断是否IE浏览器
      },
      //埋点注释
      jumpD(
        namiId,
        aTeamId,
        bTeamId,
        aName,
        bName,
        matchId,
        seasonId,
        matchNameZh
      ) {
        console.log(namiId, '==>测试id是否有传进')
        // var ips = returnCitySN["cip"];
        addDetailsLog({
          uId: Cookies.get("uId") != "" ? Cookies.get("uId") : 0,
          ip: '',
          type: 1,
          namiId: namiId,
          aTeamName: aName,
          bTeamName: bName,
          browseEnd: this.returnVersion(),
          matchName: matchNameZh
        })
          .then(res => {
            console.log(res);
            this.$router.push({
              path: "/gamedetailsfootball",
              query: {
                namiId: namiId,
                aTeamId: aTeamId,
                bTeamId: bTeamId,
                aName: aName,
                bName: bName,
                matchId: matchId,
                seasonId: seasonId
              }
            });
          })
          .catch(err => {
            this.$message.error(err.message);
          });
      },

      jumpG(namiId) {
        this.$router.push({
          path: "/godindex",
          query: {
            matchId: namiId
          }
        });
      },
      reternOdd(item, val) {
        if (item.euroloss != "" && item.euroloss != null) {
          return item.euroloss.split(",")[val];
        } else {
          return "-";
        }
      },
      handleCurrentChange(val) {
        this.currentPage = val;
        this.getList();
      },
      reAname(val) {
        if (val.aTeamName != "" && val.aTeamName != null) {
          return val.aTeamName;
        } else if (val.aTeamShortName != "" && val.aTeamShortName != null) {
          return val.aTeamShortName;
        }
      },

      reBname(val) {
        if (val.bTeamName != "" && val.bTeamName != null) {
          return val.bTeamName;
        } else if (val.bTeamShortName != "" && val.bTeamShortName != null) {
          return val.bTeamShortName;
        }
      },
      dateFormat(time) {
        var date = new Date(time);
        var year = date.getFullYear();
        /* 在日期格式中，月份是从0开始的，因此要加0
         * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
         * */
        var month =
          date.getMonth() + 1 < 10
            ? "0" + (date.getMonth() + 1)
            : date.getMonth() + 1;
        var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
        var hours =
          date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
        var minutes =
          date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
        var seconds =
          date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
        // 拼接
        return year + "-" + month + "-" + day;
      },
      dateFormatTime(time) {
        var date = new Date(time);
        var year = date.getFullYear();
        /* 在日期格式中，月份是从0开始的，因此要加0
         * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
         * */
        var month =
          date.getMonth() + 1 < 10
            ? "0" + (date.getMonth() + 1)
            : date.getMonth() + 1;
        var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
        var hours =
          date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
        var minutes =
          date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
        var seconds =
          date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
        // 拼接
        return hours + ":" + minutes;
      },
      getList() {
        getFootballMatchList({
          current: this.currentPage,
          size: this.pagesize,
          searchInt1: 0,
          searchStr1: this.search,
          date: this.dataNums,
          searchInt2: this.eventSearchs,
          searchInt5: this.searchInt5
        })
          .then(res => {
            console.log(res);
            this.gameList = res.data.records;
            this.total = res.data.total;
          })
          .catch(err => {
          });
      },
      getList2() {
        getHotMatchList({
          type: 1
        })
          .then(res => {
            console.log(res);
            this.eventList = res.data;
          })
          .catch(err => {
            this.$message.error(err.message);
          });
      },
      //获取swipe图片
      getList3() {
        getCarouseList({})
          .then(res => {
            console.log(res);
            res.data.map(x => {
              if (x.pic != null && x.pic != "") {
                this.picList.push(x);
              }
            });
            console.log(this.picList);
          })
          .catch(err => {
            this.$message.error(err.message);
          });
      },
      otn() {
        this.ubh = true
        this.getList();
        // this.getList2();
        // this.getList3();
      }

    },
    created() {
      //
      this.getList();
      this.getList2();
      // this.getList3();
      console.log(sessionStorage.getItem('dialogVisible') == 'false', '==>')
      if (sessionStorage.getItem('dialogVisible') != 'undefined' && sessionStorage.getItem('dialogVisible') == 'false') {
        this.dialogVisible = false
      }

    },
    mounted() {
      //页面打开后填充数据所有球队，并请求第一个球队战绩列表
      // this.getHomeFootballTeamMatchingName();
      // this.getHomeFootballTeamMatchScore(this.footballTeamName[0]);
      const that = this;
      //获取首页策略分析
      getHomePagePlans({
        current: 1,
        size: 4,
        searchInt1: this.homePlansType,
        searchStr1: "",
        searchInt4: 1
      }).then(res => {
        this.homePlansArr = res.data.records;
        this.homePlansPages = res.pages;
      }).catch(errs => {
        console.log(errs);
      });
      //获取首页精彩推荐
      getHomePageNews({
        type: 1
      }).then(res => {
        that.homePageNews = res.data.records;
        //获取完毕后填充一次新闻
        that.curNewsPage = 1;
        that.curNewsArr = that.homePageNews.slice(0, 9);
      }).catch(errs => {
        console.log(errs);
      });

      if (this.timer) {
        clearInterval(this.timer)
      } else {
        this.timer = setInterval(() => {
          //获取数据
          setTimeout(this.otn())
        }, 10000)
      }
    },
    destroyed() {
      clearInterval(this.timer)
    },
  };
</script>

<style>
  .clear {
    clear: both;
  }

  .customer_style .el-carousel__indicators--horizontal {
    bottom: 0;
    right: 3%;
    left: unset;
    transform: translateX(0%);
  }

  .customer_style .el-carousel__button {
    width: 20px;
    height: 20px;
    border-radius: 20px;
  }

  .customer_style .swiper_pic_info {
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 13px;
    transform: translateX(-50%);
  }
</style>

<style lang="less" scoped>
  .diglog {
    .dialogTittle {
      position: relative;
      color: rgba(51, 51, 51, 1);
      font-size: 20px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80px;

      i {
        margin-right: 10px;
        background-image: url("./../../assets/切图/16.png");
        background-repeat: no-repeat;
        display: inline-block;
        width: 25px;
        height: 22px;
      }
    }

    .dialogConter {
      height: 330px;

      .formItems {
        margin-bottom: 30px;

        span {
          font-size: 16px;
          color: rgba(153, 153, 153, 1);
        }
      }

      .items1 {
        .isSelcectBtn {
          color: #ffffff !important;
          background: linear-gradient(0deg,
          rgba(254, 85, 58, 1),
          rgba(255, 135, 55, 1)) !important;
        }

        button {
          width: 70px;
          height: 44px;
          background-color: rgba(240, 240, 240, 1);
          border-radius: 12px;
          border: none;
          outline: none;
          cursor: pointer;
          font-size: 16px;
          margin-right: 30px;
          font-weight: 400;
        }
      }

      .items2 {
        display: flex;
        align-items: center;
        justify-content: center;

        select {
          margin-left: 20px;
          width: 42%;
          background: rgba(247, 247, 247, 1);
          height: 55px;
          outline: none;
          border: none;
          padding-left: 20px;

          option {
            height: 50px;
            outline: none;
            display: block;
          }
        }
      }

      .items3 {
        select {
          margin-left: 30px;
          width: 40%;
          border-radius: 12px;
          background: rgba(247, 247, 247, 1);
          height: 55px;
          outline: none;
          border: none;
          padding-left: 20px;
          padding-right: 20px;

          option {
            height: 50px;
            outline: none;
            display: block;
          }
        }
      }

      .items4 {
        display: flex;
        align-items: center;

        input {
          width: 40%;
          padding-left: 20px;
          font-size: 16px;
          outline: none;
          height: 55px;
          border: none;
          border-radius: 12px;
          background: rgba(247, 247, 247, 1);
          margin-left: 35px;
        }
      }

      .items5 {
        display: flex;
        align-items: flex-start;

        span {
          width: 100px;
        }

        // textarea {
        //   padding-top: 10px;
        //   padding-left: 20px;
        //   color: rgba(199, 199, 199, 1);
        //   font-size: 16px;
        //   outline: none;
        //   border: none;
        //   border-radius: 12px;
        //   background: rgba(247, 247, 247, 1);
        //   margin-left: 30px;
        // }
      }

      .items6 {
        display: flex;
        align-items: center;
        justify-content: center;

        input {
          width: 40%;
          padding-left: 20px;
          font-size: 16px;
          outline: none;
          height: 55px;
          border: none;
          background: rgba(247, 247, 247, 1);
          margin-left: 20px;
        }
      }

      .items7 .upload-demo {
        display: inline-flex;
        margin-left: 35px;
      }
    }

    .dialogFooter {
      height: 96px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .cancel {
        margin-right: 61px;
        width: 88px;
        height: 46px;
        background-color: RGBA(255, 232, 225, 1);
        border-radius: 6px;
        cursor: pointer;
        border: none;
        outline: none;
        color: rgba(254, 95, 57, 1);
      }

      .determine {
        width: 88px;
        height: 46px;
        background: linear-gradient(0deg,
        rgba(254, 85, 58, 1),
        rgba(255, 135, 55, 1));
        border-radius: 6px;
        cursor: pointer;
        border: none;
        outline: none;
        color: rgba(255, 255, 255, 1);
      }
    }
  }

  .football {
    width: 100%;
    height: 100%;
    min-height: 1603px;
    padding-bottom: 100px;
    /*background-image: url("./../../assets/切图/36.jpg");*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;


    .footBack {
      width: 1353px;
      height: 100%;
      margin: 0 auto;

      .con_ele_lump {
        width: 1010px;
        height: auto;
        margin: 0 auto;
        margin-top: 20px;

        .Shuffling {
          width: 730px;
          height: 330px;
          border-radius: 12px;
          float: left;
        }

        .data_table {
          width: 1010px;
          height: auto;
          box-sizing: border-box;
          border: 1px solid #eaeaea;
          background-color: white;
          border-radius: 12px;
          position: relative;
          margin-top: 30px;

          .data_table_ele {
            line-height: 40px;
            color: #fe5a3a;
            font-weight: bold;;
            text-align: center;
            width: 1010px;
            height: 40px;
            border-bottom: 1px solid #eaeaea;
            display: grid;
            grid-template-columns: 100px 230px 230px 100px 70px 70px 70px 70px 70px;

            .search_bar {
              position: absolute;
              top: 3px;
              left: 80px;
              width: 140px;
              height: 32px;
              border: 1px solid rgba(233, 233, 233, 1);
              border-radius: 5px;

              input {
                display: inherit;
                background: transparent;
                border: none;
                width: 140px;
                height: 30px;
                line-height: 30px;
                padding-left: 30px;
              }

              img {
                position: relative;
                top: -31px;
                left: 7px;
                cursor: pointer;
              }
            }
          }

          .data_table_ele_normal {
            line-height: 50px;
            color: black;
            text-align: center;
            width: 1010px;
            height: 50px;
            border-bottom: 1px solid #eaeaea;
            display: grid;
            grid-template-columns: 100px 230px 230px 100px 70px 70px 70px 70px 70px;

            .team {
              img {
                position: relative;
                top: 5px;
                margin: 0 10px;
                display: inline-block;
                width: 30px;
                height: auto;
              }
            }

            .red {
              color: red;
            }

            .ready {
              color: green;
            }
          }
        }

        .scroll_info {
          background-color: white;
          width: 270px;
          height: 330px;
          box-sizing: border-box;
          border: 1px solid #eaeaea;
          border-radius: 12px;
          overflow: hidden;
          float: right;

          .menu {
            display: grid;
            padding-top: 12px;
            padding-bottom: 10px;
            border-bottom: 1px solid #eaeaea;
            background: #f6f6f6;
            grid-template-columns: auto 80px 80px;;

            .title {
              font-size: 16px;
              font-weight: bold;
              color: black;
              margin-left: 13px;
            }

            .btn {
              cursor: pointer;
              background: white;
              width: 70px;
              height: 24px;
              line-height: 24px;
              text-align: center;
              box-sizing: border-box;
              border: 1px solid #eaeaea;
              border-radius: 3px;
              margin: 0 auto;
            }
          }

          .menu_tab {
            display: grid;
            padding-top: 7px;
            padding-bottom: 7px;
            border-bottom: 1px solid #eaeaea;
            background: #f6f6f6;
            grid-template-columns: auto 75px;

            .title {
              font-size: 16px;
              font-weight: bold;
              color: #fe5a3a;
              text-align: left;
              text-indent: 10px;
              line-height: 26px;
            }

            .btn {
              cursor: pointer;
              background: white;
              width: 48px;
              height: 24px;
              line-height: 24px;
              text-align: center;
              box-sizing: border-box;
              border: 1px solid #eaeaea;
              border-radius: 3px;
              margin: 0 auto;

              &:hover {
                background: #fe5a3a;
                color: white;
              }
            }

            .active {
              cursor: pointer;
              background: #fe5a3a;
              color: white;
              width: 48px;
              height: 24px;
              line-height: 24px;
              text-align: center;
              box-sizing: border-box;
              border: 1px solid #eaeaea;
              border-radius: 3px;
              margin: 0 auto;
            }

            .btn_more {
              cursor: pointer;
              background: white;
              width: 70px;
              height: 24px;
              line-height: 24px;
              text-align: center;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              border: 1px solid #eaeaea;
              border-radius: 3px;
            }
          }

          .content {
            width: 270px;
            height: 281px;
            overflow-y: hidden;

            li {
              width: 240px;
              color: black;
              height: 31px;
              overflow: hidden;
              line-height: 31px;
              margin: 0 auto;
              cursor: pointer;
            }
          }

          .data_content {
            width: 270px;
            height: 281px;

            .data_ele_title {
              background: #9c9c9c;
              color: black;
              text-align: left;
              line-height: 28px;

              .data_ele_title_con {
                top: 0;
                left: 0;
                position: relative;
                width: 270px;
                height: 27px;
                overflow: hidden;

                .btn_left_scroll {
                  background: url("../../assets/btn_left_scroll.png") no-repeat #9c9c9c;
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 27px;
                  height: 27px;
                  cursor: pointer;
                  z-index: 9;
                }

                .btn_right_scroll {
                  background: url("../../assets/btn_right_scroll.png") no-repeat #9c9c9c;
                  position: absolute;
                  top: 0;
                  right: 0;
                  width: 27px;
                  height: 27px;
                  cursor: pointer;
                  z-index: 9;
                }

                .data_ele_span {
                  transition: all .5s;
                  top: 0;
                  left: 30px;
                  position: absolute;
                  display: inline-flex;
                  width: auto;
                  height: 27px;
                }
              }

              span {
                text-align: center;
                display: inline-block;
                width: 65px;
                height: auto;
                cursor: pointer;
              }
            }

            .data_ele_win_lose {
              color: black;
              line-height: 28px;

              span {
                text-align: center;
                display: inline-block;
                width: 130px;
                height: auto;
                cursor: pointer;
              }
            }

            .data_ele {
              color: black;
              display: grid;
              grid-template-columns: 50px 110px 110px;
              text-align: center;
              line-height: 37px;
            }


          }
        }

        .con_plan {
          width: 730px;
          height: 367px;
          overflow: hidden;
          border-radius: 12px;
          float: left;

          .menu {
            box-sizing: border-box;
            display: grid;
            border-bottom: 1px solid #eaeaea;
            grid-template-columns: auto 80px 80px;
            line-height: 36px;

            .menus_bar {
              ul {
                text-align: center;

                li {
                  position: relative;
                  bottom: -1px;
                  display: inline-block;
                  width: 60px;
                  height: 36px;
                  margin: auto 3px;
                  border: 1px solid #eaeaea;
                  background: white;
                  cursor: pointer;
                  border-radius: 4px 4px 0 0;

                  &:hover {
                    background: #fe5a3a;
                    color: white;
                  }
                }

                li.active {
                  background: #fe5a3a;
                  color: white;
                }
              }
            }

            .title {
              font-size: 16px;
              font-weight: bold;
              color: #fe5a3a;
              margin-left: 13px;
            }

            .btn {
              cursor: pointer;
              background: white;
              width: 70px;
              height: 24px;
              line-height: 24px;
              text-align: center;
              box-sizing: border-box;
              border: 1px solid #eaeaea;
              border-radius: 3px;
              margin: 0 auto;
              margin-top: 5px;
            }
          }

          .menus_con {
            width: 730px;
            height: auto;

            .con_left {
              margin-top: 17px;
              background: white;
              padding: 10px;
              width: 360px;
              height: auto;
              border: 1px solid #eaeaea;
              border-radius: 6px;
              float: left;
            }

            .con_right {
              margin-top: 17px;
              background: white;
              padding: 10px;
              width: 360px;
              height: auto;
              border: 1px solid #eaeaea;
              border-radius: 6px;
              float: right;
            }

            .con_detail {
              display: grid;
              grid-template-columns: auto 260px;

              .detail_title {
                color: black;
                font-size: 12px;
                height: 30px;
                overflow: hidden;
                line-height: 35px;
                border-bottom: 1px solid #9c9c9c;
              }

              img {
                margin-left: 15px;
                width: 45px;
                height: 45px;
              }

              img.userPhoto {
                position: relative;
                top: -15px;
              }

              .span_left {
                float: left;
                color: #4fb833;
                line-height: 24px;
              }

              .span_right {
                font-size: 14px;
                float: right;
                color: #4fb833;
                line-height: 24px;
                width: 200px;
                text-align: right;
              }

              .span_left_black {
                float: left;
                color: black;
                line-height: 46px;
              }

              .span_right_black {
                float: right;
                color: black;
                line-height: 46px;
              }
            }
          }
        }
      }

      .isScroll {
        position: absolute;
        top: 160px;
        height: 285px;
        width: 133.2px;
        z-index: 50;
      }

      .isScrolls {
        position: fixed;
        top: 250px;
        right: 0px;
        height: 285px;
        width: 7%;
        z-index: 50;
      }

      .Shuffling {
        width: 100%;
        height: 330px;
        border-radius: 12px;
      }

      .screening {
        margin-top: 20px;
        width: 100%;
        height: 60px;

        .screeningBut {
          width: 100%;
          height: 60px;
          background-color: #ffffff;

          .screeningButRight {
            float: right;
            height: 60px;
            line-height: 60px;
            margin-right: 10px;
            width: 254px;
            display: flex;
            align-items: center;

            .searchBox {
              padding-right: 30px;
              position: relative;

              .searchBoxInput {
                border: none;
                outline: none;
                width: 164px;
                padding-left: 20px;
                padding-right: 50px;
                font-size: 13px;
                height: 35px;
                line-height: 35px;
                background-color: rgba(246, 246, 246, 1);
              }

              img {
                cursor: pointer;
                width: 19px;
                height: 18px;
                position: absolute;
                right: 50px;
                top: 27px;
              }
            }
          }
        }
      }

      .gamesTittle {
        background-color: transparent;
        width: 100%;
        height: 50px;

        .gamesTittleUi {
          height: 50px;
          display: grid;
          grid-template-columns: 15% 10% 34% 10% 10% 4% 4% 4% 4%;
          grid-template-rows: 50px;

          .scoreCard {
            display: inline-grid;
            grid-template-columns: repeat(3, 33.33%);
          }

          li {
            float: left;
            cursor: pointer;
            font-size: 16px;
            color: #ffffff;
            font-weight: 600;
            height: 50px;
            line-height: 50px;
            text-align: center;

            span {
              color: #fe5a3a;
            }
          }
        }
      }

      .games {
        margin-bottom: 20px;
        background-color: chocolate;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        border-width: 1px;
        border-color: #eaeaea;
        border-style: double;

        .screeningButRight {
          float: right;
          height: 60px;
          line-height: 60px;
          margin-right: 10px;
          width: 254px;
          display: flex;
          align-items: center;

          .searchBox {
            padding-right: 30px;
            position: relative;

            .searchBoxInput {
              border: none;
              outline: none;
              width: 164px;
              padding-left: 20px;
              padding-right: 50px;
              font-size: 13px;
              height: 35px;
              line-height: 35px;
              background-color: rgba(246, 246, 246, 1);
            }

            img {
              cursor: pointer;
              width: 19px;
              height: 18px;
              position: absolute;
              right: 50px;
              top: 21px;
            }
          }
        }

        .gamesTopTime {
          height: 60px;
          width: 100%;
          line-height: 60px;
          background-color: #ffffff;
          border-bottom: 1px solid #eaeaea;
          border-top-left-radius: 12px;
          border-top-right-radius: 12px;

          span {
            font-size: 20px;
            color: #999999;
            margin-left: 20px;
          }
        }

        .gamesBut {
          width: 100%;
          height: 100%;
          background-color: #ffffff;
          border-bottom-right-radius: 12px;
          border-bottom-left-radius: 12px;

          .gamesButItem:last-child {
            border-bottom-right-radius: 12px;
            border-bottom-left-radius: 12px;

            .gamesItemUi {
              border-bottom-right-radius: 12px;
              border-bottom-left-radius: 12px;
            }
          }

          .noStyle {
            width: 100%;
            height: 110px;
            line-height: 110px;
            background-color: #ffffff;
            border-bottom: 1px solid #eaeaea;
            color: #000000;
            font-size: 22px;
            font-weight: 600;
            text-align: center;
          }

          .gamesButItem {
            width: 100%;
            height: 52px;
            line-height: 110px;
            background-color: #ffffff;
            border-bottom: 1px solid #eaeaea;

            .gamesItemUi {
              height: 52px;
              display: grid;
              grid-template-columns: 15% 10% 34% 10% 10% 4% 4% 4% 4%;
              grid-template-rows: 55px;

              .gameLogo {
                height: 45px;
                width: 34px;
                display: inline-block;
              }

              .spliceLi {
                display: grid;
                grid-template-columns: repeat(3, 33.33%);
                grid-template-rows: repeat(1, 30%);

                span {
                  text-align: center;
                  line-height: 45px;
                }
              }

              li:nth-child(2) {
                color: #333333;
                font-size: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                /*flex-direction: column;*/
                line-height: 20px;
              }

              li:nth-child(3) {
                color: #333333;
                width: 100%;
                font-size: 10px;
                // display: grid;
                // grid-template-columns: 40% 20% 40% 100%;
                // grid-template-rows: 55px;
                .litop {
                  height: 50%;
                  display: grid;
                  grid-template-columns: 32% 8% 20% 8% 32% 100%;
                  grid-template-rows: 55px;
                  /*margin-top: 25px;*/

                  img {
                    width: 30px !important;
                    height: auto !important;
                  }

                  .score {
                    margin: auto;
                    display: inline-block;
                    width: 36px;
                    height: 26px;
                    border-radius: 6px;
                    /*background: linear-gradient(-30deg,*/
                    /*rgb(255, 201, 98),*/
                    /*rgb(254, 136, 53));*/
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    span {
                      font-size: 16px;
                      color: #ffffff;
                    }
                  }

                }

                .libtn {
                  height: 50%;
                  background-color: #fff2f0;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  cursor: pointer;

                  img {
                    width: 20px;
                    height: 20px;
                    margin-right: 5px;
                    display: inline-block;
                  }

                  span {
                    font-size: 16px;
                    color: #fe5a3a;
                  }
                }
              }

              li:nth-child(4) {
                color: #333333;
                font-size: 10px;
              }

              li:nth-child(5) {
                color: #333333;
                font-size: 10px;
              }

              li {
                float: left;
                font-size: 14px;
                color: #999999;
                height: 55px;
                line-height: 55px;
                text-align: center;

                .dish {
                  color: #999999;
                  font-size: 16px;
                }

                .dishNumber {
                  color: #fe5e39;
                  font-size: 20px;
                }
              }

              .viewButton {
                border: none;
                outline: none;
                cursor: pointer;
                height: 100%;
                font-size: 14px;
                color: #fe553a;
                font-weight: 600;
                background-color: transparent;
              }
            }
          }
        }
      }
    }
  }

  /*弹窗样式*/
  .diglog1 {
    .dialogTittle {
      color: rgba(51, 51, 51, 1);
      font-size: 20px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80px;

      i {
        margin-right: 10px;
        background-image: url("./../../assets/切图/16.png");
        background-repeat: no-repeat;
        display: inline-block;
        width: 25px;
        height: 22px;
      }
    }

    .dialogConter {
      .formItems {
        margin-bottom: 30px;

        span {
          font-size: 16px;
          color: rgba(153, 153, 153, 1);
        }
      }

      .items1 {
        .isSelcectBtn {
          color: #ffffff !important;
          background: linear-gradient(0deg,
          rgba(254, 85, 58, 1),
          rgba(255, 135, 55, 1)) !important;
        }

        button {
          width: 70px;
          height: 44px;
          background-color: rgba(240, 240, 240, 1);
          border-radius: 12px;
          border: none;
          outline: none;
          cursor: pointer;
          font-size: 16px;
          margin-right: 30px;
          font-weight: 400;
        }
      }

      .items2 {
        select {
          margin-left: 2px;
          width: 42%;
          background: rgba(247, 247, 247, 1);
          height: 55px;
          border-radius: 12px;
          outline: none;
          border: none;
          padding-left: 20px;
          padding-right: 20px;
          cursor: pointer;

          option {
            height: 50px;
            outline: none;
            display: block;
          }
        }
      }

      .items3 {
        select {
          margin-left: 30px;
          width: 40%;
          border-radius: 12px;
          background: rgba(247, 247, 247, 1);
          height: 55px;
          outline: none;
          border: none;
          padding-left: 20px;
          padding-right: 20px;

          option {
            height: 50px;
            outline: none;
            display: block;
          }
        }
      }

      .items4 {
        display: flex;
        align-items: center;

        input {
          width: 40%;
          padding-left: 20px;
          font-size: 13px;
          outline: none;
          height: 55px;
          border: none;
          border-radius: 12px;
          background: rgba(247, 247, 247, 1);
          margin-left: 35px;
        }
      }

      .items5 {
        display: flex;
        align-items: flex-start;

        span {
          width: 100px;
        }

        // textarea {
        //   padding-top: 10px;
        //   padding-left: 20px;
        //   color: rgba(199, 199, 199, 1);
        //   font-size: 16px;
        //   outline: none;
        //   border: none;
        //   border-radius: 12px;
        //   background: rgba(247, 247, 247, 1);
        //   margin-left: 30px;
        // }
      }

      .items6 {
        display: flex;
        align-items: center;

        input {
          width: 40%;
          padding-left: 20px;
          font-size: 13px;
          outline: none;
          height: 55px;
          border: none;
          border-radius: 12px;
          background: rgba(247, 247, 247, 1);
          margin-left: 35px;
        }
      }

      .items7 .upload-demo {
        display: inline-flex;
        margin-left: 35px;
      }
    }

    .dialogFooter {
      height: 96px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .cancel {
        margin-right: 61px;
        width: 88px;
        height: 46px;
        background-color: RGBA(255, 232, 225, 1);
        border-radius: 6px;
        cursor: pointer;
        border: none;
        outline: none;
        color: rgba(254, 95, 57, 1);
      }

      .determine {
        width: 88px;
        height: 46px;
        background: linear-gradient(0deg,
        rgba(254, 85, 58, 1),
        rgba(255, 135, 55, 1));
        border-radius: 6px;
        cursor: pointer;
        border: none;
        outline: none;
        color: rgba(255, 255, 255, 1);
      }
    }


  }

</style>
<style>
  .el-button + .el-button {
    margin: 0px !important;
  }

  .openthn > .el-dialog > .el-dialog__header {
    height: 55px !important;
    background-color: rgb(212, 69, 69);
    color: white;
    border-radius: 30px 30px 0 0;
  }

  .openthn > .el-dialog > .el-dialog__header > .el-dialog__title {
    color: white;
    font-size: 18px;
    font-weight: bold;
  }

  .openthn > .el-dialog > .el-dialog__header > .el-dialog__headerbtn > .el-icon-close {
    color: white;

  }

  .openthn > .el-dialog, .el-pager li {
    background-color: white;
  }

  .openthn > .el-dialog {
    border-radius: 30px;
  }

  .el-pagination__total {
    color: #39373b !important;
  }

  .el-pagination__jump {
    color: #39373b !important;
  }

  .spanp {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    line-height: 55px;
  }

  /*.txt_color{*/
  /*  background-image: -webkit-linear-gradient(-30deg,rgba(255,135,55,1),rgba(254,85,58,1));*/
  /*-webkit-background-clip: text;*/
  /*-webkit-text-fill-color: transparent;*/
  /*}*/

  .isActing {
    background-image: -webkit-linear-gradient(-30deg, rgba(255, 135, 55, 1), rgba(254, 85, 58, 1)) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }
</style>
