<template>
  <div>
    <!-- 顶部导航栏 -->
    <div style="width: 100%;margin:0 auto;background: #333">
      <!--取消顶部菜单-->
      <!--<el-menu
        :default-active="activeIndex"
        class="el-menu-demo"
        mode="horizontal"
        @select="handleSelect"
        background-color="#333333"
        text-color="#ffffff"
        active-text-color="#FF8737"
      >
        <el-menu-item index="1" @click="jumpTo1('/football','1')">足球</el-menu-item>
        <el-menu-item index="2" @click="jumpTo1('/basketball','2')">篮球</el-menu-item>
        <el-menu-item index="3" @click="jumpTo1('/esports','3')">电竞</el-menu-item>
      </el-menu>-->
    </div>
    <router-view class="homePage"></router-view>

  </div>
</template>

<script>
  import Cookies from "js-cookie";

  export default {
    name: "homePage",
    data() {
      return {
        theGame: "football",
        activeIndex: "1"
      };
    },
    mounted() {
    },
    components: {},
    methods: {
      handleSelect(key, keyPath) {
        this.$store.dispatch("setPageIndex", key);
      },
      jumpTo1(addrees, nums) {
        this.$router.push({
          path: addrees
        });
        Cookies.set("pageIndex", nums);
      },
      jumpTo(addrees, game) {
        this.$router.push({
          path: addrees
        });
        this.theGame = game;
      }
    },
    created() {
      this.activeIndex =
        Cookies.get("pageIndex") != null ? Cookies.get("pageIndex") : "1";
    }
  };
</script>

<style lang="less" scope>
  .homePage {
    width: 100%;
    height: 100%;
    margin: 0 auto;

    .isActing {
      color: #fe5e3a !important;
    }

    .navigationLeft {
      width: 100%;
      height: 100%;

      .navigationTittle {
        font-size: 16px;
        font-weight: 700;
        font-family: FZLTZHK--GBK1-0;
        color: #000000;
        text-align: center;
      }

      .navigationLeftTop {
        padding-top: 10px;
        width: 100%;
        height: 290px;
        background-color: white;

        .navigationTopUi {
          li {
            cursor: pointer;
            font-size: 16px;
            color: #999999;
            height: 80px;
            line-height: 80px;
            text-align: center;
          }
        }
      }

      .navigationLeftBut {
        padding-top: 10px;
        width: 100%;
        height: 100%;
        min-height: 100px;
        border-radius: 12px;
        border-width: 1px;
        border-color: #eaeaea;
        border-style: double;
        background-color: white;

        .navigationButUi {
          li {
            cursor: pointer;
            font-size: 12px;
            color: #999999;
            height: 50px;
            line-height: 50px;
            text-align: center;
          }
        }
      }
    }

    .contentCenter {
      width: 100%;
      height: 100%;

      .contentShow {
        height: 100%;
        width: 100%;
      }
    }
  }

  .homeFoot {
    width: 100%;
    height: 253px;
    background-color: #2d2f39;

    .footCenter {
      width: 100%;
      height: 150px;
      padding-top: 47px;

      .incenter {
        height: 190px;
        width: 75%;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .footleft {
          width: 100%;
          height: 100%;

          .footui {
            width: 25%;
            color: #ffffff;
            float: left;

            span {
              font-size: 18px;
              display: block;
              margin-bottom: 25px;
            }

            ul {
              width: 300px;
              font-size: 14px;

              li {
                display: block;
                margin-bottom: 10px;
                cursor: pointer;
                font-weight: 600;
                width: 40%;
              }
            }
          }

          .footui1 {
            margin-left: 15px;
            width: 30%;
            color: #ffffff;
            float: left;

            span {
              font-size: 18px;
              display: block;
              margin-bottom: 25px;
            }

            ul {
              width: 300px;
              height: 150px;
              font-size: 14px;

              li {
                display: block;
                margin-bottom: 5px;
                cursor: pointer;
                font-weight: 600;
                font-size: 12px;
              }
            }
          }
        }
      }
    }

    .footButtom {
      width: 100%;
      height: 90px;
      background: #2d2f39;
      border-top: 2px solid #202128;

      .foot_partner {
        height: auto;
        width: 1200px;
        margin: 0 auto;

        .parnter_con {
          width: 1200px;
          height: 82px;
          margin: 0 auto;
          display: grid;
          grid-template-columns: 70px auto auto auto auto auto auto auto auto auto;

          .brand_text {
            text-align: center;
            line-height: 82px;
          }

          .brand {
            position: relative;

            img {
              display: block;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              margin: auto;

            }
          }
        }
      }
    }
  }
</style>
