<template>
  <div>
    <!-- 搜索内容STArt -->
    <div class="searchAll">
      <div class="search_bar">
        <input
          type="text"
          v-model="searchSome"
          @input="goSearch"
          placeholder="搜索"
          v-loading="loading"
        />
        <img src="../../assets/search.png" />
         <div v-show="searchBarImg" @click="searchImg" class="info-close"></div>

      </div>
      <div>
        <p class="search-title">
          找到关于"{{this.searchSome}}"
          <span>{{this.articTotals?this.articTotals:0}}</span>个结果
        </p>
        <div>
          <span
            v-for="(ele,index) in tabArr"
            :key="index"
            :class="['tabSpan',{'act':searchArr_Index === index}]"
            @click="()=>changeGameKinds(index)"
          >{{ele}}</span>
          <!-- 搜索内容START1 -->
          <div v-show="searchArr_Index===0" class="searContent teamAll artc">
            <div class="tig">
              <p class="teamPtille">
                赛事
                <span>{{searchNewArr.footballMatch&&searchNewArr.basketballMatch&&searchNewArr.computerMatch?searchNewArr.footballMatch.data.total+searchNewArr.basketballMatch.data.total+searchNewArr.computerMatch.data.total:0}}</span>条结果
              </p>
              <p style="cursor: pointer;" @click="()=>{this.searchArr_Index=1}">查看全部</p>
            </div>
            <div
              class="teamAllMatch"
              v-for="(item) in searchNewArr.footballMatch?searchNewArr.footballMatch.data.records:[] "
              :key="item.matchId+Math.random()"
            >
              <img class="teamImg" :src="item.matchlogo" />
              <p>{{item.matchNameZh}}</p>
            </div>

            <div
              class="teamAllMatch"
              v-for="(item) in searchNewArr.basketballMatch?searchNewArr.basketballMatch.data.records:[] "
              :key="item.matchId+Math.random()"
            >
              <img class="teamImg" :src="item.matchlogo" />
              <p>{{item.matchNameZh}}</p>
            </div>
            <div
              class="teamAllMatch"
              v-for="(item) in searchNewArr.computerMatch?searchNewArr.computerMatch.data.records:[] "
              :key="item.id+Math.random()"
            >
              <img class="teamImg" :src="item.logo" />
              <p>{{item.name}}</p>
            </div>
            <div class="tig">
              <p class="teamPtille">
                用户
                <span>{{searchNewArr.userSearch?searchNewArr.userSearch.data.total:0}}</span>条结果
              </p>
              <p style="cursor: pointer;" @click="()=>{this.searchArr_Index=2}">查看全部</p>
            </div>
            <div
              v-for="(item) in searchNewArr.userSearch?searchNewArr.userSearch.data.records:[] "
              :key="item.uId"
              @click="onRedperson(item.uId)"
            >
              <img :src="item.headUrl" />
              <p>{{item.nickName}}</p>
              <div class="fle">
                <div>
                  <span>
                    <img style="width: 14px;height: 14px;" src="../../assets/切图/3.png" alt="查看数" />
                    {{item.falseFansCount?item.falseFansCount:0}}
                  </span>
                  <span>中单率：{{item.falseRedRate}}%</span>
                </div>
                <div class="userInt" v-if="item.isFollow==0" @click.stop="follow(item.uId,1)">关注</div>
                <div class="userInt" v-else @click.stop="follow(item.uId,2)">已关注</div>
              </div>
            </div>

            <div class="tig">
              <p class="teamPtille">
                文章
                <span>{{searchNewArr.articleSearch?searchNewArr.articleSearch.data.total:0}}</span>条结果
              </p>
              <p  style="cursor: pointer;" @click="()=>{this.searchArr_Index=3}">查看全部</p>
            </div>
            <div
              v-for="(item) in searchNewArr.articleSearch?searchNewArr.articleSearch.data.records:[] "
              :key="item.aId"
              @click="jumpTos(item.aId,item.agId)"
            >
              <img :src="item.aPic" />
              <p>{{item.aTitle}}</p>
              <div class="fle">
                <div>
                  <span>{{item.nickName}}</span>
                  <span>{{item.createTime}}</span>
                  <span>来源：{{item.nickName?item.nickName:'--'}}</span>
                </div>
                <div>
                  <i class="ck"></i>
                  <span>{{item.remarkCount?item.remarkCount:0}}</span>
                  <i class="cl"></i>
                  <span>{{item.lookCount?item.lookCount:0}}</span>
                </div>
              </div>
            </div>
          </div>
          <div v-show="searchArr_Index===1" class="searContent teamAr">
            <p class="teamPtille">
              赛事
              <span>{{articTotals}}</span>条结果
            </p>
            <div
              class="teamDiv"
              v-for="(item) in searchArr.footballMatch?searchArr.footballMatch.data.records:[] "
              :key="item.matchId+Math.random()"
            >
              <img class="teamImg" :src="item.matchlogo" />
              <p>{{item.matchNameZh}}</p>
            </div>

            <div
              class="teamDiv"
              v-for="(item) in searchArr.basketballMatch?searchArr.basketballMatch.data.records:[] "
              :key="item.matchId+Math.random()"
            >
              <img class="teamImg" :src="item.matchlogo" />
              <p>{{item.matchNameZh}}</p>
            </div>
            <div
              class="teamDiv"
              v-for="(item) in searchArr.computerMatch?searchArr.computerMatch.data.records:[] "
              :key="item.id"
            >
              <img class="teamImg" :src="item.logo" />
              <p>{{item.name}}</p>
            </div>
          </div>

          <div v-show="searchArr_Index===2" class="searContent artc">
            <div
              v-for="(item) in searchArr.userSearch?searchArr.userSearch.data.records:[] "
              :key="item.uId"
              @click="onRedperson(item.uId)"
            >
              <img :src="item.headUrl" />
              <p>{{item.nickName}}</p>
              <div class="fle">
                <div>
                  <span>
                    <img style="width: 14px;height: 14px;" src="../../assets/切图/3.png" alt="查看数" />
                    {{item.falseFansCount?item.falseFansCount:0}}
                  </span>
                  <span>中单率：{{item.falseRedRate}}%</span>
                </div>
                <div class="userInt" v-if="item.isFollow==0" @click.stop="follow(item.uId,1)">关注</div>
                <div class="userInt" v-else @click.stop="follow(item.uId,2)">已关注</div>
                
              </div>
            </div>
          </div>
          <div v-show="searchArr_Index===3" class="searContent artc">
            <div
              v-for="(item) in searchArr.articleSearch?searchArr.articleSearch.data.records:[] "
              :key="item.aId"
              @click="jumpTos(item.aId,item.agId)"
            >
              <img :src="item.aPic" />
              <p>{{item.aTitle}}</p>
              <div class="fle">
                <div>
                  <span>{{item.nickName}}</span>
                  <span>{{item.createTime}}</span>
                  <span>来源：{{item.nickName?item.nickName:'--'}}</span>
                </div>
                <div>
                  <i class="ck"></i>
                  <span>{{item.remarkCount?item.remarkCount:0}}</span>
                  <i class="cl"></i>
                  <span>{{item.lookCount?item.lookCount:0}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="bbs_page_bar" v-show="this.searchArr_Index!==0">
            <el-pagination
              background
              @current-change="handleCurrentChange"
              :current-page="currentPage"
              :page-size="princ"
              layout="total, prev, pager, next, jumper"
              :total="articTotals"
              v-if="5"
              class="bbs_page_con"
            ></el-pagination>
          </div>
          <!-- 搜索内容END1-->
        </div>
        <div></div>
      </div>

      <!-- 搜索内容END -->
      <Footer />
    </div>
  </div>
</template>

<script>
//论坛版块
import { getTopSearchAll, doUserFollow } from "../../api/api";
import EditorBar from "./../../components/wangeditor";
import Cookies from "js-cookie";
import Footer from "../footer/footer";

export default {
  name: "search",
  data() {
    return {
      currentPage: 1,
      searchTotal: 0, //搜索结果数量

      tabArr: ["全部", "赛事", "用户", "文章"],
      searchArr_Index: 0, //
      searchSome: "搜索", //搜索内容,
      searchArr: [], //搜索数组
      searchBarImg: false,
      searchNewArr: [],
      loading: false,
      staus: true
    };
  },
  mounted() {},
  methods: {
    jumpTos(aid, agId) {
      this.$router.push({
        path: "/bbs/bbsdetails",
        query: {
          aid: aid,
          agId: agId
        }
      });
    },
    follow(val, num) {
      if (Cookies.get("uId") != "" && Cookies.get("uId") != null) {
        if (val == Cookies.get("uId")) {
          this.$message.warning("你无法对自己取消关注");
        } else {
          doUserFollow({
            userId: Cookies.get("uId"),
            buId: val
          })
            .then(res => {
              console.log("555", res, val, num);
              if (num == 1) {
                this.$message.success("关注成功");
              } else {
                this.$message.success("取消关注成功");
              }
              this.getTopSearchAlls();
              this.newArrs();
            })
            .catch(err => {
              this.$message.error(err.message);
            });
        }
      } else {
        this.$message.warning("请先登录");
      }
    },
    onRedperson(val) {
      this.$router.push({
        path: "/redpersond",
        query: {
          uid: val
        }
      });
      //   this.isShow_Search = false;
    },
    changeGameKinds(index) {
      this.searchArr_Index = index;

      this.getTopSearchAlls();
      this.newArrs();
    },

    handleCurrentChange(val) {
      this.currentPage = val;
      this.getTopSearchAlls();
      console.log(`当前页: ${val}`);
    },

    goSearch() {
      if (!this.searchSome) return;
      if(this.searchSome.length!==0){
        this.searchBarImg=true
      }
      this.newArrs();
      this.getTopSearchAlls();
    },
   searchImg() {
     
      this.searchBarImg = false;
      this.searchSome=''
    },
    newArrs() {
      this.axios
        .post("http://47.104.109.132:8083/topSearch/getTopSearchAll", {
          current: 1,
          size: 2,
          searchStr1: this.searchSome,
          searchInt1: Cookies.get("uId") ? Cookies.get("uId") : 0
        })
        .then(res => {
          this.loading = true;
          if (res.status == "200") {
            this.searchNewArr = res.data;
            this.loading = false;
          }else{
               this.loading = true;
          }
          // console.log("ress", this.loading);

          // console.log("niuby", this.searchNewArr.userSearch.data.records);
        })
        .catch(err => {
          console.log("错误:", err);
        });
    },
    getTopSearchAlls() {
      this.axios
        .post("http://47.104.109.132:8083/topSearch/getTopSearchAll", {
          current: this.currentPage,
          size: this.princ,
          searchStr1: this.searchSome,
          searchInt1: Cookies.get("uId") ? Cookies.get("uId") : 0
        })
        .then(res => {
          this.loading = true;
          if (res.status == "200") {
            this.searchArr = res.data;
            this.searchTotal = res.data.total;
            this.loading = false;
          } else {
            this.loading = true;
          }
        })
        .catch(err => {
          console.log("错误:", err);
        });
    }
  },
  computed: {
    articTotals() {
      if (this.searchArr_Index === 3) {
        return this.searchArr.articleSearch.data.total;
      } else if (this.searchArr_Index === 2) {
        return this.searchArr.userSearch.data.total;
      } else if (this.searchArr_Index === 1) {
        // console.log(
        //     'ddd',
        //   this.searchArr.footballMatch.data.total,
        //   this.searchArr.basketballMatch.data.total,
        //   this.searchArr.computerMatch.data.total
        // );
        return (
          this.searchArr.footballMatch.data.total +
          this.searchArr.basketballMatch.data.total +
          this.searchArr.computerMatch.data.total
        );
      } else if (this.searchArr_Index === 0) {
        return this.searchNewArr.footballMatch &&
          this.searchNewArr.basketballMatch &&
          this.searchNewArr.computerMatch &&
          this.searchNewArr.articleSearch &&
          this.searchNewArr.userSearch
          ? this.searchNewArr.footballMatch.data.total +
              this.searchNewArr.basketballMatch.data.total +
              this.searchNewArr.computerMatch.data.total +
              this.searchNewArr.userSearch.data.total +
              this.searchNewArr.articleSearch.data.total
          : 0;
        ï;
      }
    },
    princ() {
      if (this.searchArr_Index === 1) {
        return 3;
      } else {
        return 10;
      }
      if (this.searchArr_Index === 0) {
        console.log("ai");
      }
    }
  },
  created() {
    this.newArrs();

    this.getTopSearchAlls();
  }
};
</script>

<style lang="less" scoped>
.searchAll {
  //   height: 2042px;
  width: 100%;
  background: white;
  //   position: absolute;
  z-index: 999;
  top: 80px;
  color: #000;
  .search_bar {
    width: 400px;
    height: 42px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    margin: 32px 139px;
    position: relative;
    // img:last-child{
    //   left: 147px;
    // }
    .info-close {
      position: absolute;
      right: calc(50% - 10px);
      width: 30px;
      height: 30px;
      opacity: 0.6;
      border-radius: 25px;
      cursor: pointer;
      z-index: 2002;
      top: 4px;
    right: 5px;
    }
    .info-close:before {
      position: absolute;
      content: "";
      width: 20px;
      height: 2px;
      background: #000;
      transform: rotate(45deg);
      top: 16px;
      left: 7px;
    }
    .info-close:after {
      content: "";
      position: absolute;
      width: 20px;
      height: 2px;
      background: #000;
      transform: rotate(-45deg);
      top: 16px;
      left: 7px;
    }

    input {
      display: inherit;
      background: transparent;
      border: none;
      width: 400px;
      line-height: 44px;
      padding-left: 30px;
    }

    img {
      position: relative;
      top: -33px;
      left: 7px;
      cursor: pointer;
    }
  }
  .bbs_page_bar {
    width: 100%;
    .bbs_page_con {
      text-align: center;
      width: 900px;
      margin: 0 auto;
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  .tabSpan {
    width: 99px;
    height: 44px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
  }
  .act {
    border-bottom: 3px solid aqua;
  }
  .search-title {
    margin: 54px 0px 34px;
    font-size: 16px;
    span {
      font-size: 20px;
      font-weight: 900;
      margin: 10px;
      color: orange;
    }
  }
  > div {
    // border: 1px solid black;
    width: 80%;
    height: 100%;
    margin: auto;
  }
  .searContent {
    // border: 1px solid red;
    margin-top: 20px;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 0 33px;
    .teamPtille {
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 700;
      span {
        color: orange;
      }
    }
    .teamDiv {
      height: 100px;
      // border: 1px solid red;
      display: flex;
      p {
        font-size: 18px;
        font-weight: 600;
        margin-left: 29px;
        margin-top: 11px;
      }
    }
    .teamImg {
      width: 200px;
      height: 100px;
    }
    > div {
      // border-bottom: 1px solid black;
      // height: 60px;
      margin-bottom: 18px;
    }
    &.teamAll {
      .tig {
        display: flex;
        border-bottom: 2px solid black;
        width: 800px;
        p:first-child {
          width: 200px;
        }
        p:last-child {
          margin-left: 535px;
          font-size: 15px;
        }
      }
      .teamAllMatch {
        height: 60px;
        // border: 1px solid red;
        display: flex;
        img {
          width: 140px;
          height: 60px;
        }
        p {
          font-size: 16px;
          font-weight: 600;
          margin-left: 29px;
          margin-top: 11px;
        }
      }
    }
    &.artc {
      p {
        color: #000;
        margin-bottom: 10px;
      }
      color: red;
      font-size: 20px;
      img {
        width: 44px;
        height: 45px;
        float: left;
        margin-right: 15px;
      }
      .fle {
        display: flex;
        font-size: 13px;
        justify-content: space-between;
        color: darkgrey;
        width: 68%;
        .userInt {
          // margin-left: 280px;
          margin-top: 0 !important;
          font-size: 10px;
          border: none;
          cursor: pointer;
          outline: none;
          color: #0069eb;
          background-color: #e5f0fd;
          width: 53px;
          height: 30px;
          border-radius: 8px;
          padding-left: 12px;
          line-height: 30px;
        }
        div:first-child {
          span:nth-child(2) {
            margin: 0px 70px 0px 70px;
          }
        }
        div:last-child {
          margin-top: 15px;
          span:nth-child(1) {
            margin: 0px 70px 0px 150px;
          }
        }
        div {
          display: flex;
          .ck {
            background-image: url("../../assets/切图/14.png");
            background-repeat: no-repeat;
            display: inline-block;
            width: 20px;
            height: 14px;
            transform: scale(0.7, 0.7);
          }
          .cl {
            background-image: url("../../assets/切图/10.png");
            background-repeat: no-repeat;
            width: 20px;
            height: 14px;
            display: inline-block;
          }
        }
      }
    }
  }
}
</style>
