<template>
  <div class="attentionTopic">
    <div class="attentionTopicBox">
      <div
        class="attentionTopicItems"
        v-for="(item, index) in dataList"
        :key="index"
        @click="jumpIn(item.type,item.aId,item.agId)"
      >
        <div class="itemLeft">
          <img :src="item.aPic" alt="话题图片" />
        </div>
        <div class="itemRight">
          <p class="itemTittle">{{item.aTitle}}</p>
          <p class="itemContent">{{item.aSubtitle}}</p>
          <div class="itemNum">
            <div class="eye">
              <img src="./../../assets/切图/10.png" alt="头图标" />
              <span>{{item.lookCount}}</span>
            </div>
            <div class="head">
              <img src="./../../assets/切图/15.png" alt="头图标" />
              <span>{{item.collectionCount}}</span>
            </div>
            <div class="infor">
              <img src="./../../assets/切图/14.png" alt="信息图标" />
              <span>{{item.remarkCount}}</span>
            </div>
          </div>
          <div class="itemDate">
            <img src="./../../assets/足球.png" alt="足球图标" />
            <span>{{item.nickName}}</span>
            <font>{{dateFormat(item.createTime)}}</font>
            <button @click.stop="cancelCollect(item.aId)">取消收藏</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
//我关注的话题
import Cookies from "js-cookie";
import { getCollectionArticleList, doArticleCollection } from "../../api/api";
export default {
  name: "attentionTopic",
  data() {
    return {
      dataList: []
    };
  },
  mounted() {},
  created() {
    this.getList();
  },
  components: {},
  methods: {
    cancelCollect(aId, uId) {
      this.$confirm("你确定取消收藏该文章?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          doArticleCollection({
            uId: Cookies.get("uId"),
            aId: aId
          })
            .then(res => {
              console.log(res);
              if (res.data.flag) {
                this.$message.success(res.data.msg);
              }
              this.getList();
              this.$message({
                type: "success",
                message: "取消成功!"
              });
            })
            .catch(err => {
              this.$message.error(err.message);
            });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    jumpIn(type,aid, agId) {
      this.$router.push({
        path: "/bbs/bbsdetails",
        query: {
          type:type,
          aid: aid,
          agId: agId
        }
      });
    },
    dateFormat(time) {
      var date = new Date(time);
      var year = date.getFullYear();
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      var month =
        date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1;
      var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
      var hours =
        date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
      var minutes =
        date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
      var seconds =
        date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
      // 拼接
      return year + "-" + month + "-" + day;
    },
    getList() {
      getCollectionArticleList({
        current: 1,
        size: 100,
        searchInt1: Cookies.get("uId")
      })
        .then(res => {
          console.log(res);
          this.dataList = res.data.records;
        })
        .catch(err => {
          this.$message.error(err.message);
        });
    }
  }
};
</script>

<style lang="less" scoped>
.attentionTopic {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  padding-top: 30px;
  .attentionTopicBox {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    .attentionTopicItems {
      cursor: pointer;
      height: 176px;
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 30px;
      padding-right: 30px;
      border-bottom: 1px solid rgba(236, 236, 236, 1);
      background-color: #ffffff;
      .itemLeft {
        float: left;
        width: 151px;
        height: 176px;
        img {
          width: 151px;
          height: 175px;
        }
      }
      .itemRight {
        width: 80%;
        float: left;
        height: 176px;
        padding-left: 10px;
        .itemTittle {
          font-size: 18px;
          color: rgba(0, 0, 0, 1);
          font-weight: 600;
        }
        .itemContent {
          color: rgba(153, 153, 153, 1);
          font-size: 14px;
          margin-top: 20px;
        }
        .itemNum {
          margin-top: 20px;
          height: 22px;
          .eye {
            float: left;
            display: flex;
            align-items: center;
            img {
              width: 20px;
              height: 18px;
            }
            span {
              margin-left: 6px;
              font-size: 12px;
              color: rgba(153, 153, 153, 1);
            }
          }
          .head {
            float: left;
            margin-left: 50px;
            display: flex;
            align-items: center;
            img {
              width: 16px;
              height: 18px;
            }
            span {
              margin-left: 6px;
              font-size: 12px;
              color: rgba(153, 153, 153, 1);
            }
          }
          .infor {
            float: left;
            margin-left: 50px;
            display: flex;
            align-items: center;
            img {
              width: 18px;
              height: 18px;
            }
            span {
              margin-left: 6px;
              font-size: 12px;
              color: rgba(153, 153, 153, 1);
            }
          }
        }
        .itemDate {
          margin-top: 20px;
          height: 40px;
          width: 100%;
          line-height: 40px;
          display: flex;
          align-content: center;
          img {
            width: 40px;
            height: 40px;
          }
          span {
            font-size: 16px;
            margin-left: 10px;
          }
          font {
            font-size: 14px;
            margin-left: 80px;
          }
          button {
            margin-left: 76px;
            cursor: pointer;
            outline: none;
            font-size: 14px;
            color: #0069eb;
            width: 95px;
            height: 41px;
            background-color: #e5f0fd;
            border-radius: 8px;
            border: 1px solid #e5f0fd;
          }
        }
      }
    }
  }
}
</style>

