<template>
  <div class="focusGod">
    <div class="godItem" v-for="(item, index) in dataList" :key="index">
      <div class="itemLeft">
        <div class="headIcon">
          <img :src="item.headUrl" alt="头像" />
        </div>
      </div>
      <div class="itemRight">
        <p class="itemName">
          {{item.nickName}}
          <i></i>
        </p>
        <p class="itemContent">长期胜率超80%！帮助无数彩民回血，实战才是硬道理！</p>
        <div class="itemIcons">
          <span class="fire">
            <i></i>
            {{item.fansCount}}
          </span>
          <span class="book">
            <i></i>
            {{item.remarkCount}}
          </span>
          <span class="rate">中单率:{{item.winRate}}%</span>
        </div>
        <div class="itemButs">
          <button class="focusBtn" v-if="item.isFollow==0" @click.stop="follow(item.uId,1)">关注</button>
          <button class="focusBtn" v-else @click.stop="follow(item.uId,2)">已关注</button>
          <!-- <span>-50积分</span> -->
        </div>
      </div>
    </div>

    <el-pagination
      @current-change="handleCurrentChange"
      :current-page="currentPage"
      :page-size="pagesize"
      layout="total, prev, pager, next, jumper"
      :total="total"
      v-if="total>6"
      style="text-align: right;margin-top: 20px;margin-right:80px;padding-bottom:30px"
    ></el-pagination>
  </div>
</template>

<script>
import { getMyGreatGodList, doUserFollow } from "../../api/api";
import Cookies from "js-cookie";
export default {
  name: "focusGod",
  data() {
    return {
      dataList: [],
      currentPage: 1,
      pagesize: 6,
      total: 0
    };
  },
  mounted() {},
  created() {
    this.getList();
  },
  components: {},
  methods: {
    // 关注大神 取消关注
    follow(val, num) {
      if (Cookies.get("uId") != "" && Cookies.get("uId") != null) {
        doUserFollow({
          userId: Cookies.get("uId"),
          buId: val
        })
          .then(res => {
            console.log(res);
            if (num == 1) {
              this.$message.success("关注成功");
            } else {
              this.$message.success("取消关注成功");
            }

            this.getList();
          })
          .catch(err => {
            this.$message.error(err.message);
          });
      } else {
        this.$message.warning("请先登录");
      }
    },
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getList();
    },
    dateFormat(time) {
      var date = new Date(time);
      var year = date.getFullYear();
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      var month =
        date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1;
      var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
      var hours =
        date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
      var minutes =
        date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
      var seconds =
        date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
      // 拼接
      return year + "-" + month + "-" + day;
    },
    getList() {
      getMyGreatGodList({
        current: this.currentPage,
        size: this.pagesize,
        searchInt1: Cookies.get("uId")
      })
        .then(res => {
          console.log(res);
          this.dataList = res.data.records;
          this.total = res.data.total;
        })
        .catch(err => {
          this.$message.error(err.message);
        });
    }
  }
};
</script>

<style lang="less" scoped>
.focusGod {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 24px;
  background-color: #ffffff;
  padding: 30px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 252px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  .godItem {
    background-color: rgba(248, 248, 248, 1);
    border-radius: 12px;
    padding: 20px;
    .itemLeft {
      float: left;
      width: 130px;
      height: 100%;
      .headIcon {
        width: 125px;
        height: 125px;
        background: rgba(207, 207, 207, 1);
        box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.06);
        border-radius: 50%;
        img {
          width: 125px;
          height: 125px;
          border-radius: 50%;
        }
      }
    }
    .itemRight {
      float: left;
      width: 350px;
      padding-left: 15px;
      .itemName {
        color: rgba(51, 51, 51, 1);
        font-size: 20px;
        font-weight: bold;
        i {
          margin-left: 10px;
          display: inline-block;
          width: 16px;
          height: 16px;
          background-image: url("./../../assets/皇冠.png");
          background-repeat: no-repeat;
        }
      }
      .itemContent {
        margin-top: 20px;
        color: rgba(153, 153, 153, 1);
        font-size: 16px;
        line-height: 22px;
      }
      .itemIcons {
        margin-top: 27px;
        .fire {
          color: RGBA(153, 153, 153, 1);
          font-size: 14px;
          display: flex;
          align-items: center;
          float: left;
          i {
            margin-left: 10px;
            margin-right: 5px;
            display: inline-block;
            width: 18px;
            height: 20px;
            background-image: url("./../../assets/切图/20.png");
            background-repeat: no-repeat;
          }
        }
        .book {
          margin-left: 76px;
          color: RGBA(153, 153, 153, 1);
          font-size: 14px;
          display: flex;
          align-items: center;
          float: left;
          i {
            margin-left: 10px;
            margin-right: 5px;
            display: inline-block;
            width: 16px;
            height: 19px;
            background-image: url("./../../assets/切图/21.png");
            background-repeat: no-repeat;
          }
        }
        .rate {
          margin-left: 76px;
          color: RGBA(153, 153, 153, 1);
          font-size: 14px;
        }
      }
      .itemButs {
        margin-top: 20px;
        height: 41px;
        width: 100%;
        line-height: 41px;
        button {
          float: left;
          cursor: pointer;
          outline: none;
          font-size: 14px;
          color: #0069eb;
          width: 95px;
          height: 41px;
          background-color: #e5f0fd;
          border-radius: 8px;
          border: 1px solid #e5f0fd;
        }
        span {
          font-family: "PingFang-SC-Bold";
          font-weight: bold;
          float: right;
          font-size: 14px;
          color: rgba(254, 95, 57, 1);
        }
      }
    }
  }
}
</style>
