<template>
  <div class="personal">
    <div class="backgroundimg">
      <div class="fans" v-if="nickName()!=null">
        <span>粉丝</span>
        <p>{{circumstances.fansCount}}</p>
      </div>

      <div class="headPortrait_con">
        <div class="headPortrait" @click="replaceInfor">
          <img
            :src="circumstances.headUrl"
            alt="头像"
            v-if="circumstances.headUrl!=null"
            style="border: 1px solid #d2d2d2"
          />
        </div>
      </div>
      <div class="integral" v-if="nickName()!=null">
        <span>积分</span>
        <p>{{circumstances.integral}}</p>
      </div>
    </div>

    <div class="informationCenter_con">
      <div class="informationCenter" :class="{ 'informationCenter1': nickName()==null}">
        <div class="inforName">
          <p>
            <span>{{nickName()!=null?nickName():'请登录'}}</span>
            <button @click="replaceInfor" v-if="nickName()!=null" class="exitBtn">编辑资料</button>
            <!--          <button-->
            <!--            @click="exit"-->
            <!--            v-if="nickName()!=null"-->
            <!--            class="exitBtn"-->
            <!--          >退出-->
            <!--          </button>-->
          </p>
        </div>
        <div class="inforBtns" v-if="nickName()==null">
          <button class="greatGod" @click="jumpLogin">登录</button>
        </div>

        <div class="inforBtns" v-if="nickName()!=null">
          <button class="greatGod" v-if="circumstances.isGreatGod==0" @click="applyGod">申请为大神</button>
          <button class="greatGod" v-if="circumstances.isGreatGod==1">审核中</button>
          <button class="greatGod" v-if="circumstances.isGreatGod==2">大神</button>

          <button class="release" @click.stop="onRelease">发布话题</button>
        </div>
        <ul class="tabs" v-if="nickName()!=null">
          <li @click="jumpTo('/attentionTopic','attentionTopic')">
            <span :class="{ 'isActing': theGame=='attentionTopic'}">我关注的话题</span>
          </li>
          <li @click="jumpTo('/subjectparticipate','subjectParticipate')">
            <span :class="{ 'isActing': theGame=='subjectParticipate'}">我参与的话题</span>
          </li>
          <li @click="jumpTo('/releasetopic','releaseTopic')">
            <span :class="{ 'isActing': theGame=='releaseTopic'}">我发布的话题</span>
          </li>
          <li @click="jumpTo('/focusgod','focusGod')">
            <span :class="{ 'isActing': theGame=='focusGod'}">我关注的大神</span>
          </li>
          <li @click="jumpTo('/integralhistory','integralHistory')">
            <span :class="{ 'isActing': theGame=='integralHistory'}">积分历史记录</span>
          </li>
          <li @click="jumpTo('/myfans','myfans')">
            <span :class="{ 'isActing': theGame=='myfans'}">我的粉丝</span>
          </li>
          <li @click="jumpTo('/myquiz','myquiz')">
            <span :class="{ 'isActing': theGame=='myquiz'}">我的竞猜</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="informationButtom" v-if="nickName()!=null">
      <router-view></router-view>
    </div>
    <Footer />
    <el-dialog
      :visible.sync="dialogvalue"
      width="843px"
      center
      class="diglog"
      :show-close="false"
      :close-on-click-modal="false"
      close-on-press-escape
    >
      <p slot="title" class="dialogTittle">用户信息编辑</p>
      <div class="dialogConter">
        <div class="formItems items6">
          <span>昵称</span>
          <input type="text" placeholder v-model="nicheng" />
        </div>
        <div class="formItems item10">
          <span>头像</span>
          <el-upload
            class="avatar-uploader"
            action="http://47.104.109.132:8083/upload/img"
            :show-file-list="false"
            :on-success="handleAvatarSuccess"
            :before-upload="beforeAvatarUpload"
          >
            <img v-if="imageUrl" :src="imageUrl" class="avatar" />
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
        </div>
      </div>
      <div slot="footer" class="dialogFooter">
        <button @click="dialogvalue = false" class="cancel">取 消</button>
        <button @click="upload" class="determine">修 改</button>
      </div>
    </el-dialog>

    <el-dialog
      :visible.sync="centerDialogVisible"
      width="843px"
      center
      class="diglog"
      :close-on-click-modal="false"
      close-on-press-escape
      :before-close="closeel"
    >
      <p slot="title" class="dialogTittle">
        <i></i>发布话题
      </p>
      <div class="dialogConter">
        <div class="formItems items1">
          <span>选择分类:</span>

          <button
            style="margin-left: 22px;"
            :class="{ 'isSelcectBtn': gameClassification==1}"
            @click="classSelect(1)"
          >足球</button>
          <button :class="{ 'isSelcectBtn': gameClassification==2}" @click="classSelect(2)">篮球</button>
          <button :class="{ 'isSelcectBtn': gameClassification==3}" @click="classSelect(3)">电竞</button>
        </div>

        <!--        <div-->
        <!--          class="formItems items2"-->
        <!--          v-if="gameClassification==3&&gameClassification!=0"-->
        <!--        >-->
        <!--          <span>选择赛事</span>-->
        <!--          <select-->
        <!--            v-model="from.gameType"-->
        <!--            @change="getLeague"-->
        <!--          >-->
        <!--            <option value>请选择</option>-->
        <!--            <option value="1">英雄联盟</option>-->
        <!--            <option value="2">dota</option>-->
        <!--            <option value="3">反恐精英</option>-->
        <!--          </select>-->
        <!--        </div>-->

        <!--        <div-->
        <!--          class="formItems items2"-->
        <!--          v-if="gameClassification!=0&&gameClassification!=3"-->
        <!--        >-->
        <!--          <span>选择联赛</span>-->
        <!--          <select v-model="from.agId">-->
        <!--            <option value>请选择</option>-->
        <!--            <option-->
        <!--              v-for="(item, index) in leagueList"-->
        <!--              :key="index"-->
        <!--              :value="item.matchId"-->
        <!--            >{{item.nameZh}}-->
        <!--            </option>-->
        <!--          </select>-->
        <!--        </div>-->

        <!--        <div-->
        <!--          class="formItems items2"-->
        <!--          v-if="gameClassification==3&&gameClassification!=0"-->
        <!--        >-->
        <!--          <span>选择联赛</span>-->
        <!--          <select v-model="from.agId">-->
        <!--            <option value>请选择</option>-->
        <!--            <option-->
        <!--              v-for="(item, index) in leagueList"-->
        <!--              :key="index"-->
        <!--              :value="item.id"-->
        <!--            >{{item.name}}-->
        <!--            </option>-->
        <!--          </select>-->
        <!--        </div>-->

        <!-- <div class="formItems items3">
          <span>选择场次</span>
          <select>
            <option value>请选择</option>
          </select>
        </div>-->
        <div class="formItems items4">
          <span>填写标题</span>
          <input type="text" placeholder="请输入" v-model="from.aTitle" />
        </div>
        <div class="formItems items6">
          <span>填写副标题</span>
          <input type="text" placeholder="请输入" v-model="from.aSubtitle" />
        </div>
        <div class="formItems items7">
          <span>图片上传</span>

          <el-upload
            :http-request="submitUpload"
            action="http://47.104.109.132:8083/upload/img"
            class="upload-demo"
            ref="upload"
            drag
            :limit="1"
            :on-exceed="handleExceed"
            :before-remove="reqDeletePic"
          >
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">
              将文件拖到此处，或
              <em>点击上传</em>
            </div>
            <!-- <div class="el-upload__tip" slot="tip">只能上传jpg/png文件，且不超过500kb</div> -->
          </el-upload>
        </div>

        <div class="formItems items5">
          <span>填写详情</span>
          <editor-bar v-model="detail" :isClear="isClear" @change="change"></editor-bar>
        </div>
      </div>
      <div slot="footer" class="dialogFooter">
        <button @click="closeel" class="cancel">取 消</button>
        <button @click="release" class="determine" v-preventReClick>发 布</button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  //添加上传接口
  uploadImg,
  selectUserByUserId,
  addArticle,
  getLeagueList,
  getFootballMatchOption,
  getBasketballMatchOption,
  updateUser,
  applicationGreatGod
} from "../../api/api";
import Cookies from "js-cookie";
import EditorBar from "./../../components/wangeditor";
import Footer from "../footer/footer";
import preventReClick from "../../utils/preventReClick"; //防多次点击，重复提交

export default {
  name: "personal",
  data() {
    return {
      nicheng: "",
      imageUrl: "",
      finalUrl: "",
      theGame: "attentionTopic",
      dialogvalue: false,
      gameClassification: 1,
      centerDialogVisible: false,
      leagueList: [],
      circumstances: {},
      isClear: false,
      detail: "",
      from: {
        uId: Cookies.get("uId"),
        agId: "",
        type: "",
        gameType: "",
        aSubtitle: "",
        aTitle: "",
        aContent: "",
        aPic: ""
      }
    };
  },
  created() {
    this.getList();
  },
  components: {
    Footer,
    EditorBar
  },
  methods: {
    closeel() {
      this.centerDialogVisible = false;
      location.reload();
    },
    applyGod() {
      this.$confirm("申请大神需要三个工作日审批,请耐心等待", "申请大神", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          applicationGreatGod({
            userId: Cookies.get("uId")
          })
            .then(data => {
              this.$message({
                type: "success",
                message: "申请信息已送至后台,请耐心等待"
              });
              this.getList();
            })
            .catch(err => {
              this.$message.error(err);
            });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消申请"
          });
        });
    },
    upload() {
      if (this.nicheng == "") {
        this.$message.error("昵称不得为空");
        return false;
      } else {
        this.dialogvalue = false;
        updateUser({
          headUrl: this.finalUrl != "" ? this.finalUrl : this.imageUrl,
          nickName: this.nicheng,
          uId: Cookies.get("uId")
        })
          .then(data => {
            Cookies.set("nickName", data.data.nickName);
            Cookies.set("headUrl1", data.data.headUrl);
            this.$store.dispatch("ModifyInfor", data.data);
            this.getList();
            this.$message.success("编辑成功");
          })
          .catch(err => {
            this.$message.error(err);
          });
      }
    },
    handleAvatarSuccess(res, file) {
      this.imageUrl = URL.createObjectURL(file.raw);
     this.finalUrl = file.response.data;
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === "image/jpeg";
      const isLt1M = file.size / 1024 / 1024 < 10;
 if (!isLt1M) {
        this.$message.error("上传头像图片大小不能超过 10MB!");
      }
      return isLt1M;
    },
    replaceInfor() {
      if (Cookies.get("uId") != "" && Cookies.get("uId") != null) {
        this.dialogvalue = true;
        this.nicheng = this.nickName();
        this.imageUrl = this.circumstances.headUrl;
      }
    },
    handleExceed(files, fileList) {
      this.$message.warning(
        `当前限制选择 1 个文件，本次选择了 ${
          files.length
        } 个文件，共选择了 ${files.length + fileList.length} 个文件`
      );
    },
    submitUpload(content) {
      let formData = new FormData();
      formData.append("file", content.file);
      this.api({
        url: "http://47.104.109.132:8083/upload/img",
        method: "post",
        data: formData
      })
        .then(data => {
          this.from.aPic = data.data;
          this.$message.success("上传图片成功");
        })
        .catch(err => {
          this.$message.error(err);
        });
    },
    classSelect(nums) {
      this.gameClassification = nums;
      this.from.type = nums;
    },
    getLeague() {
      this.getList2();
    },
    getList2() {
      getLeagueList({
        current: 1,
        size: 100,
        searchInt1: this.from.gameType
      })
        .then(res => {
          this.leagueList = res.data.records;
        })
        .catch(err => {
          this.$message.error(err);
        });
    },
  getList() {
      if (Cookies.get("uId") != "" && Cookies.get("uId") != null) {
        selectUserByUserId({
          userId: Cookies.get("uId")
        })
          .then(res => {
            this.circumstances = res.data;
          })
          .catch(err => {
            this.$message.error(err);
          });
      }
    },
    reqDeletePic(file, fileList) {
      this.$confirm("删除当前图片, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.$message({
            type: "info",
            message: "删除成功"
          });
          this.from.aPic = "";
          fileList.length = fileList.length - 1;
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
      return false;
    },
    release() {
      if (this.from.aTitle == "") {
        this.$message.warning("标题不得为空");
      } else if (this.from.aSubtitle == "") {
        this.$message.warning("副标题不得为空");
      } else if (this.from.aPic == "") {
        this.$message.warning("图片不能为空");
      } else if (this.from.aContent == "") {
        this.$message.warning("详情不能为空");
      } else {
        this.$message.success("发布文章成功");
        addArticle({
          uId: this.from.uId,
          type: this.from.type,
          gameType: this.from.gameType,
          agId: this.from.agId,
          aSubtitle: this.from.aSubtitle,
          aTitle: this.from.aTitle,
          aContent: this.from.aContent,
          aPic: this.from.aPic
        })
          .then(res => {
            if (res.data.flag) {
              this.$message.success(res.data.msg);
            } else {
              this.$message.success("发布文章成功");
            }
            this.$refs.upload.clearFiles();
            location.reload();
            this.centerDialogVisible = false;
          })
          .catch(err => {
            this.$message.error(err);
          });
      }
    },
    change(val) {
      this.from.aContent = val;
    },
    onRelease() {
      if (Cookies.get("uId")) {
        this.centerDialogVisible = true;
        this.from = {
          uId: Cookies.get("uId"),
          agId: "",
          type: "",
          gameType: "",
          aSubtitle: "",
          aTitle: "",
          aContent: "",
          aPic: ""
        };
        this.detail = "";
        this.classSelect(1);
      } else {
        this.$message.warning("请先登录");
      }
    },
    exit() {
      this.$store
        .dispatch("LogOut")
        .then(res => {
          this.$message.success("退出成功");
          this.$router.push({ path: "/login" });
        })
        .catch(error => {
          this.$message.error(error);
        });
    },
    jumpLogin() {
      this.$router.push({
        path: "/login"
      });
    },
    nickName() {
      return Cookies.get("nickName");
    },
    jumpTo(addrees, game) {
      this.$router.push({
        path: addrees
      });
      this.theGame = game;
    }
  }
};
</script>

<style lang="less" scoped>
.avatar-uploader {
  display: inline-block;
  border: 1px dashed #161616;
  margin-left: 20px;
}

.avatar-uploader .el-upload {
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}

.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}

.avatar {
  width: 178px;
  height: 178px;
  display: block;
}

.diglog {
  .dialogTittle {
    color: rgba(51, 51, 51, 1);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;

    i {
      margin-right: 10px;
      background-image: url("./../../assets/切图/16.png");
      background-repeat: no-repeat;
      display: inline-block;
      width: 25px;
      height: 22px;
    }
  }

  .dialogConter {
    .formItems {
      margin-bottom: 30px;

      span {
        font-size: 16px;
        color: rgba(153, 153, 153, 1);
      }
    }

    .items1 {
      .isSelcectBtn {
        color: #ffffff !important;
        background: linear-gradient(
          0deg,
          rgba(254, 85, 58, 1),
          rgba(255, 135, 55, 1)
        ) !important;
      }

      button {
        width: 70px;
        height: 44px;
        background-color: rgba(240, 240, 240, 1);
        border-radius: 12px;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 16px;
        margin-right: 30px;
        font-weight: 400;
      }
    }

    .items2 {
      select {
        margin-left: 30px;
        width: 40%;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        height: 55px;
        outline: none;
        border: none;
        padding-left: 20px;
        padding-right: 20px;

        option {
          height: 50px;
          outline: none;
          display: block;
        }
      }
    }

    .items3 {
      select {
        margin-left: 30px;
        width: 40%;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        height: 55px;
        outline: none;
        border: none;
        padding-left: 20px;
        padding-right: 20px;

        option {
          height: 50px;
          outline: none;
          display: block;
        }
      }
    }

    .items4 {
      display: flex;
      align-items: center;

      input {
        width: 40%;
        padding-left: 20px;
        color: rgba(199, 199, 199, 1);
        font-size: 16px;
        outline: none;
        height: 55px;
        border: none;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        margin-left: 35px;
      }
    }

    .items5 {
      display: flex;
      align-items: flex-start;

      span {
        width: 100px;
      }

      // textarea {
      //   padding-top: 10px;
      //   padding-left: 20px;
      //   color: rgba(199, 199, 199, 1);
      //   font-size: 16px;
      //   outline: none;
      //   border: none;
      //   border-radius: 12px;
      //   background: rgba(247, 247, 247, 1);
      //   margin-left: 30px;
      // }
    }

    .items6 {
      display: flex;
      align-items: center;

      input {
        width: 40%;
        padding-left: 20px;
        color: rgba(199, 199, 199, 1);
        font-size: 16px;
        outline: none;
        height: 55px;
        border: none;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        margin-left: 20px;
      }
    }

    .items7 .upload-demo {
      display: inline-flex;
      margin-left: 35px;
    }

    .item10 {
      display: flex;
      align-items: center;
      flex-direction: row;
    }
  }

  .dialogFooter {
    height: 96px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .cancel {
      margin-right: 61px;
      width: 88px;
      height: 46px;
      background-color: RGBA(255, 232, 225, 1);
      border-radius: 6px;
      cursor: pointer;
      border: none;
      outline: none;
      color: rgba(254, 95, 57, 1);
    }

    .determine {
      width: 88px;
      height: 46px;
      background: linear-gradient(
        0deg,
        rgba(254, 85, 58, 1),
        rgba(255, 135, 55, 1)
      );
      border-radius: 6px;
      cursor: pointer;
      border: none;
      outline: none;
      color: rgba(255, 255, 255, 1);
    }
  }
}

.personal {
  .isActing {
    color: #fe5e3a !important;
  }

  .backgroundimg {
    position: relative;
    width: 100%;
    height: 210px;
    background-size: 100% 100%;
    background: url("./../../assets/bgimg.jpg") no-repeat center top;

    .fans {
      width: 40px;
      height: 40px;
      position: absolute;
      left: 39%;
      bottom: 16px;
      text-align: center;

      span {
        font-size: 12px;
        color: #ffffff;
      }

      p {
        font-size: 20px;
        color: #ffffff;
      }
    }

    .headPortrait_con {
      width: 1200px;
      height: auto;
      margin: 0 auto;

      .headPortrait {
        position: relative;
        top: 130px;
        width: 132px;
        height: 132px;
        border-radius: 50%;
        margin: 0 auto;
        background-color: RGBA(245, 245, 245, 1);
        cursor: pointer;

        img {
          width: 132px;
          height: 132px;
          border-radius: 50%;
        }
      }
    }

    .integral {
      width: 40px;
      height: 40px;
      position: absolute;
      left: 60%;
      bottom: 16px;
      text-align: center;

      span {
        font-size: 12px;
        color: #ffffff;
      }

      p {
        font-size: 20px;
        color: #ffffff;
      }
    }
  }

  .informationCenter_con {
    width: 100%;
    height: auto;
    background-color: #ffffff;
  }

  .informationCenter1 {
    min-height: 500px;
  }

  .informationCenter {
    width: 1200px;
    /*height: 208px;*/
    height: auto;
    margin: 0 auto;
    position: relative;
    padding-top: 60px;

    .inforName {
      display: block;
      height: 30px;
      margin: 0 auto;

      p {
        font-size: 22px;
        text-align: center;
        color: rgba(51, 51, 51, 1);

        button {
          outline: none;
          border-radius: 10px;
          background-color: #ffffff;
          color: #fe5a3a;
          border: 1px solid #fe5a3a;
          cursor: pointer;
        }
      }
    }

    .inforBtns {
      /*height: 60px;*/
      height: auto;
      text-align: center;
      padding-top: 42px;

      .greatGod {
        font-size: 16px;
        outline: none;
        cursor: pointer;
        width: 120px;
        height: 47px;
        border-radius: 10px;
        background-color: #ffffff;
        color: rgba(254, 90, 58, 1);
        border: 1px solid rgba(254, 90, 58, 1);
      }

      .release {
        margin-left: 20px;
        font-size: 16px;
        outline: none;
        cursor: pointer;
        width: 104px;
        height: 47px;
        background: linear-gradient(
          0deg,
          rgba(254, 85, 58, 1),
          rgba(255, 135, 55, 1)
        );
        border-radius: 10px;
        color: #ffffff;
        border: 1px solid RGBA(255, 129, 55, 1);
      }
    }

    .tabs {
      width: 1000px;
      height: 77px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      line-height: 77px;

      li {
        text-align: center;
        cursor: pointer;
        font-size: 16px;
        color: rgba(153, 153, 153, 1);
      }
    }
  }

  .informationButtom {
    width: 100%;
    height: 100%;
    min-height: 300px;
    margin: 0 auto;
    padding-bottom: 100px;
    background-color: rgba(246, 246, 246, 1);
  }

  .homeFoot {
    width: 100%;
    height: 253px;
    background-color: #2d2f39;

    .footCenter {
      width: 100%;
      height: 150px;
      padding-top: 47px;

      .incenter {
        height: 190px;
        width: 75%;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .footleft {
          width: 60%;
          height: 100%;
          display: flex;
          justify-content: flex-end;

          .footui {
            width: 25%;
            color: #ffffff;
            float: left;

            span {
              font-size: 18px;
              display: block;
              margin-bottom: 25px;
            }

            ul {
              width: 300px;
              font-size: 14px;

              li {
                display: inline-block;
                margin-bottom: 10px;
                cursor: pointer;
                font-weight: 600;
                width: 40%;
              }
            }
          }

          .footui1 {
            width: 30%;
            color: #ffffff;
            float: left;

            span {
              font-size: 18px;
              display: block;
              margin-bottom: 25px;
            }

            ul {
              width: 300px;
              height: 150px;
              font-size: 14px;

              li {
                display: block;
                margin-bottom: 5px;
                cursor: pointer;
                font-weight: 600;
                font-size: 12px;
              }
            }
          }
        }

        .footright {
          width: 35%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: -30px;
          .code1 div {
            background-image: url("./../../assets/weibo.jpg");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            margin-bottom: 10px;
          }
          .code2 div {
            background-image: url("./../../assets/weixin.png");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            margin-bottom: 10px;
          }

          .footcode {
            width: 30%;
            float: left;
            display: flex;
            align-items: center;
            flex-direction: column;

            div {
              background-color: #ffffff;
              width: 104px;
              height: 104px;
              line-height: 104px;
              text-align: center;
              color: black;
            }

            span {
              font-weight: 600;
            }
          }
        }
      }
    }

    .footButtom {
      width: 100%;
      height: 52px;
      border-top: 2px solid #202128;

      div {
        height: 52px;
        width: 50%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          color: #ffffff;
          font-size: 15px;
        }
      }
    }
  }
}

button {
  font-size: 16px;
}
</style>
