<template>
  <div class="integralHistory">
    <div class="itemTittle">
      <span>时间</span>
      <span>增减积分</span>
      <span>剩余积分</span>
      <span>说明</span>
    </div>
    <div class="itemConter" v-for="(item, index) in dataList" :key="index">
      <span>{{dateFormat(item.createTime)}}</span>
      <span>{{item.score}}</span>
      <span>{{item.remainingIntegral}}</span>
      <span>{{item.reason}}</span>
    </div>

    <el-pagination
      @current-change="handleCurrentChange"
      :current-page="currentPage"
      :page-size="pagesize"
      layout="total, prev, pager, next, jumper"
      :total="total"
      v-if="total>5"
      style="text-align: center;margin-top: 20px;margin-right:80px;padding-bottom:30px"
    ></el-pagination>
  </div>
</template>

<script>
import { getAddIntegralRecord } from "../../api/api";
import Cookies from "js-cookie";
export default {
  name: "integralHistory",
  data() {
    return {
      dataList: [],
      currentPage: 1,
      pagesize: 5,
      total: 0
    };
  },
  mounted() {},
  created() {
    this.getList();
  },
  components: {},
  methods: {
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getList();
    },
    dateFormat(time) {
      var date = new Date(time);
      var year = date.getFullYear();
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      var month =
        date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1;
      var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
      var hours =
        date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
      var minutes =
        date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
      var seconds =
        date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
      // 拼接
      return year + "-" + month + "-" + day;
    },
    getList() {
      getAddIntegralRecord({
        current: this.currentPage,
        size: this.pagesize,
        searchInt1: Cookies.get("uId")
      })
        .then(res => {
          console.log(res);
          this.dataList = res.data.records;
          this.total = res.data.total;
        })
        .catch(err => {
          this.$message.error(err.message);
        });
    }
  }
};
</script>

<style lang="less" scoped>
.integralHistory {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 24px;
  background-color: #ffffff;
  .itemTittle {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    width: 1000px;
    height: 100%;
    grid-template-rows: 55px;
    line-height: 55px;
    text-align: center;
    color: rgba(153, 153, 153, 1);
    font-size: 14px;
  }
  .itemConter {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    width: 100%;
    height: 100%;
    grid-template-rows: 73px;
    line-height: 73px;
    text-align: center;
    color: rgba(51, 51, 51, 1);
    font-size: 16px;
  }
}
</style>
