<template>
  <div class="myfans">
    <div class="godItem" v-for="(item, index) in dataList" :key="index">
      <div class="itemLeft">
        <div class="headIcon">
          <img :src="item.headUrl" alt="头像" />
        </div>
      </div>
      <div class="itemRight">
        <p class="itemName">
          {{item.nickName}}
          <i></i>
        </p>
        <p class="itemContent">长期胜率超80%！帮助无数彩民回血，实战才是硬道理！</p>
        <div class="itemIcons">
          <span class="fire">
            <i></i>168
          </span>
          <span class="book">
            <i></i>168
          </span>
          <span class="rate">中单率：35%</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getFansList } from "../../api/api";
import Cookies from "js-cookie";
export default {
  name: "myfans",
  data() {
    return {
      dataList: []
    };
  },
  created() {
    this.getList();
  },
  mounted() {},
  components: {},
  methods: {
    getList() {
      getFansList({
        current: 1,
        size: 5,
        searchInt1: Cookies.get("uId") != "" ? Cookies.get("uId") : ""
      })
        .then(res => {
          console.log(res);
          this.dataList = res.data.records;
        })
        .catch(err => {
          this.$message.error(err.message);
        });
    }
  }
};
</script>

<style lang="less" scoped>
.myfans {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 24px;
  background-color: #ffffff;
  padding: 30px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 186px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  .godItem {
    background-color: rgba(248, 248, 248, 1);
    border-radius: 12px;
    padding: 20px;
    .itemLeft {
      float: left;
      width: 130px;
      height: 100%;
      .headIcon {
        width: 125px;
        height: 125px;
        background: rgba(207, 207, 207, 1);
        box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.06);
        border-radius: 50%;
        img {
          width: 125px;
          height: 125px;
          border-radius: 50%;
        }
      }
    }
    .itemRight {
      float: left;
      width: 350px;
      padding-left: 15px;
      .itemName {
        color: rgba(51, 51, 51, 1);
        font-size: 20px;
        font-weight: bold;
        i {
          margin-left: 10px;
          display: inline-block;
          width: 16px;
          height: 16px;
          background-image: url("./../../assets/皇冠.png");
          background-repeat: no-repeat;
        }
      }
      .itemContent {
        margin-top: 20px;
        color: rgba(153, 153, 153, 1);
        font-size: 16px;
        line-height: 22px;
      }
      .itemIcons {
        margin-top: 27px;
        .fire {
          color: RGBA(153, 153, 153, 1);
          font-size: 14px;
          i {
            margin-left: 10px;
            display: inline-block;
            width: 16px;
            height: 16px;
            background-image: url("./../../assets/火.png");
            background-repeat: no-repeat;
          }
        }
        .book {
          margin-left: 76px;
          color: RGBA(153, 153, 153, 1);
          font-size: 14px;
          i {
            margin-left: 10px;
            display: inline-block;
            width: 16px;
            height: 16px;
            background-image: url("./../../assets/书.png");
            background-repeat: no-repeat;
          }
        }
        .rate {
          margin-left: 65px;
          color: RGBA(153, 153, 153, 1);
          font-size: 14px;
        }
      }
    }
  }
}
</style>
