<template>
  <div class="myquiz">
    <div class="quizTittle">
      <ul>
        <li>联赛名称</li>
        <li>对战双方</li>
        <li>我的预测</li>
        <li>竞猜赔率</li>
        <li>竞猜积分</li>
        <li>交易状态</li>
      </ul>
    </div>
    <div class="quizItems" v-for="(item, index) in dataList" :key="index">
      <div class="itemsTittle">
        <span>{{returnN(item.matchShortName)}}</span>
      </div>

      <div class="itemsTeam">
        <span>{{returnA(item.aTeamName)}}</span>
        <div class="vs">
          <div>vs</div>
        </div>

        <span>{{returnB(item.bTeamName)}}</span>
      </div>
      <div class="itemsData">{{item.wTeamName?item.wTeamName:"-"}}</div>
      <div class="itemsNum">
        <span>{{item.betValue}}</span>
      </div>
      <div class="itemsScore">
        <span>{{item.betIntrgral}}</span>
      </div>
      <div class="itemsIntegral">
        <p>下注时间:{{dateFormat(item.createTime)}}</p>
        <p>{{returnRight(item.isRight)}}</p>
        <p>{{returnWin(item)}}</p>
      </div>
    </div>
    <el-pagination
      @current-change="handleCurrentChange"
      :current-page="currentPage"
      :page-size="pagesize"
      layout="total, prev, pager, next, jumper"
      :total="total"
      v-if="total>5"
      style="text-align: right;margin-top: 20px;margin-right:80px;padding-bottom:30px"
    ></el-pagination>
  </div>
</template>

<script>
import { getMatchBetList } from "../../api/api";
import Cookies from "js-cookie";
export default {
  name: "myquiz",
  data() {
    return { dataList: [], currentPage: 1, pagesize: 5, total: 0 };
  },
  mounted() {},
  created() {
    this.getList();
  },
  components: {},
  methods: {
    returnN(val) {
      if (val != "" && val != null) {
        return val;
      } else {
        return "查询未果";
      }
    },
    returnA(val) {
      if (val != "" && val != null) {
        return val;
      } else {
        return "查询未果";
      }
    },
    returnB(val) {
      if (val != "" && val != null) {
        return val;
      } else {
        return "查询未果";
      }
    },
    returnWin(val) {
      if (val.isRight == 2) {
        return "获取积分失败";
      } else if (val.isRight == 0) {
        return "积分未结算";
      } else {
        return "积分" + val.ifWinGet;
      }
    },
    returnRight(val) {
      switch (val) {
        case 0:
          return "未结算";
          break;
        case 1:
          return "结算成功";
          break;

        default:
          return "结算失败";
          break;
      }
    },
    dateFormat(time) {
      var date = new Date(time);
      var year = date.getFullYear();
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      var month =
        date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1;
      var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
      var hours =
        date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
      var minutes =
        date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
      var seconds =
        date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
      // 拼接
      return year + "-" + month + "-" + day;
    },
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getList();
    },
    dateFormat(time) {
      var date = new Date(time);
      var year = date.getFullYear();
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      var month =
        date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1;
      var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
      var hours =
        date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
      var minutes =
        date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
      var seconds =
        date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
      // 拼接
      return year + "-" + month + "-" + day;
    },
    getList() {
      getMatchBetList({
        current: this.currentPage,
        size: this.pagesize,
        searchInt1: Cookies.get("uId")
      })
        .then(res => {
         
          this.dataList = res.data.records;
          this.total = res.data.total;
           console.log('cccc',res);
        })
        .catch(err => {
          this.$message.error(err.message);
        });
    }
  }
};
</script>

<style lang="less" scoped>
.myquiz {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 98px;
  .quizTittle {
    width: 100%;
    height: 98px;
    ul {
      display: grid;
      grid-template-columns:
        minmax(85px, 1fr) minmax(280px, 1fr) minmax(90px, 1fr)
        minmax(190px, 1fr) minmax(175px, 1fr) minmax(110px, 1fr);
      grid-template-rows: 98px;
      li {
        line-height: 98px;
        text-align: center;
        font-size: 18px;
        color: #333333;
        border-bottom: 1px solid #eaeaea;
      }
    }
  }
  .quizItems {
    text-align: center;
    border-radius: 24px;
    border-bottom: 1px solid rgba(234, 234, 234, 1);
    display: grid;
    grid-template-columns:
      minmax(85px, 1fr) minmax(280px, 1fr) minmax(90px, 1fr)
      minmax(190px, 1fr) minmax(175px, 1fr) minmax(110px, 1fr);
    grid-template-rows: 98px;
    .itemsTittle {
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        text-align: center;
        display: block;
        width: 81px;
        height: 46px;
        line-height: 46px;
        color: #ffffff;
        background: linear-gradient(
          -30deg,
          rgba(255, 135, 55, 1),
          rgba(254, 85, 58, 1)
        );
        border-radius: 6px;
      }
    }
    .itemsData {
      line-height: 98px;
      color: rgba(153, 153, 153, 1);
      font-size: 14px;
    }
    .itemsTeam {
      font-size: 16px;
      display: grid;
      grid-template-columns: 40% 20% 40%;
      grid-template-rows: 98px;
      .vs {
        display: flex;
        align-items: center;
        justify-content: center;
        div {
          line-height: 26px;
          color: rgba(255, 255, 255, 1);
          display: inline-block;
          width: 36px;
          height: 26px;
          text-align: center;
          background: linear-gradient(
            -30deg,
            rgba(255, 135, 55, 1),
            rgba(254, 85, 58, 1)
          );
          border-radius: 6px;
        }
      }

      span {
        line-height: 98px;
        color: rgba(51, 51, 51, 1);
      }
    }
    .itemsNum {
      span {
        line-height: 98px;
        font-size: 16px;
        color: rgba(51, 51, 51, 1);
      }
    }
    .itemsScore {
      line-height: 98px;
      font-size: 18px;
      color: rgba(51, 51, 51, 1);
    }
    .itemsIntegral {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      p {
        margin-bottom: 6px;
      }
    }
  }
}
</style>
