<template>
  <div class="releaseTopic">
    <div class="attentionTopicBox">
      <div
        class="attentionTopicItems"
        v-for="(item, index) in dataList"
        :key="index"
        @click="jumpIn(item.type,item.aId,item.agId)"
      >
        <div class="itemLeft">
          <img :src="item.aPic" alt="话题图片" />
        </div>
        <div class="itemRight">
          <p class="itemTittle">{{item.aTitle}}</p>
          <p class="itemContent">{{item.aSubtitle}}</p>
          <div class="itemNum">
            <div class="eye">
              <img src="./../../assets/切图/10.png" alt="头图标" />
              <span>{{item.lookCount}}</span>
            </div>
            <div class="head">
              <img src="./../../assets/切图/15.png" alt="头图标" />
              <span>{{item.collectionCount}}</span>
            </div>
            <div class="infor">
              <img src="./../../assets/切图/14.png" alt="信息图标" />
              <span>{{item.remarkCount}}</span>
            </div>
          </div>
          <div class="itemDate">
            <font>{{dateFormat(item.createTime)}}</font>
            <button @click.stop="remove(item.aId)">删除</button>
          </div>
        </div>
        <div class="clear_div" />
      </div>
    </div>
  </div>
</template>

<script>
// 我发布的话题
import Cookies from "js-cookie";
import { getArticleListByUId, deleteArticleByAId } from "../../api/api";

export default {
  name: "releaseTopic",
  data() {
    return {
      dataList: []
    };
  },
  mounted() {},
  created() {
    this.getList();
  },
  components: {},
  methods: {
    remove(val) {
      this.$confirm("你确定删除该文章?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          console.log(1);
          console.log(val);
          deleteArticleByAId({
            aId: val
          })
            .then(res => {
              if (res.data.flag) {
                this.$message.success(res.data.msg);
              }
              this.getList();
              this.$message({
                type: "success",
                message: "删除成功!"
              });
            })
            .catch(err => {
              this.$message.error(err.message);
            });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    jumpIn(type,aid, agId) {
      this.$router.push({
        path: "/bbs/bbsdetails",
        query: {
          type:type,
          aid: aid,
          agId: agId
        }
      });
    },
    dateFormat(time) {
      var date = new Date(time);
      var year = date.getFullYear();
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      var month =
        date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1;
      var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
      var hours =
        date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
      var minutes =
        date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
      var seconds =
        date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
      // 拼接
      return year + "-" + month + "-" + day;
    },
    getList() {
      getArticleListByUId({
        current: 1,
        size: 100,
        searchInt1: Cookies.get("uId")
      })
        .then(res => {
          console.log(res);
          this.dataList = res.data.records;
        })
        .catch(err => {
          this.$message.error(err.message);
        });
    }
  }
};
</script>

<style lang="less" scoped>
.clear_div {
  clear: both;
}

.releaseTopic {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  padding-top: 30px;

  .attentionTopicBox {
    width: 1000px;
    height: 100%;
    border-radius: 24px;

    .attentionTopicItems {
      cursor: pointer;
      height: auto;
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 30px;
      padding-right: 30px;
      border-bottom: 1px solid rgba(236, 236, 236, 1);
      background-color: #ffffff;

      .itemLeft {
        float: left;
        width: 151px;
        height: 176px;
        overflow: hidden;

        img {
          width: 151px;
          height: auto;
        }
      }

      .itemRight {
        float: left;
        width: 700px;
        height: auto;
        margin-left: 35px;

        .itemTittle {
          font-size: 18px;
          color: rgba(0, 0, 0, 1);
          font-weight: 600;
        }

        .itemContent {
          color: rgba(153, 153, 153, 1);
          font-size: 14px;
          line-height: 22px;
          margin-top: 20px;
        }

        .itemNum {
          margin-top: 20px;
          height: 22px;

          .eye {
            float: left;
            display: flex;
            align-items: center;

            img {
              width: 20px;
              height: 18px;
            }

            span {
              margin-left: 6px;
              font-size: 12px;
              color: rgba(153, 153, 153, 1);
            }
          }

          .head {
            float: left;
            display: flex;
            margin-left: 50px;
            align-items: center;

            img {
              width: 16px;
              height: 18px;
            }

            span {
              font-size: 12px;
              color: rgba(153, 153, 153, 1);
            }
          }

          .infor {
            float: left;
            margin-left: 50px;
            display: flex;
            align-items: center;

            img {
              width: 18px;
              height: 18px;
            }

            span {
              font-size: 12px;
              color: rgba(153, 153, 153, 1);
            }
          }
        }

        .itemDate {
          margin-top: 20px;
          height: 40px;
          width: 100%;
          line-height: 40px;
          display: flex;
          align-content: center;
          justify-content: space-between;

          font {
            font-size: 14px;
            float: left;
          }

          button {
            float: right;
            cursor: pointer;
            outline: none;
            font-size: 14px;
            color: rgba(0, 105, 235, 1);
            width: 95px;
            height: 41px;
            background-color: rgba(229, 240, 253, 1);
            border-radius: 8px;
            border: 1px solid rgba(229, 240, 253, 1);
          }
        }
      }
    }
  }
}
</style>
