<template>
  <div class="subjectParticipate">
    <div class="attentionTopicBox">
      <div
        class="attentionTopicItems"
        v-for="(item, index) in dataList"
        :key="index"
        @click="jumpIn(item.type,item.aId,item.agId)"
      >
        <div class="itemLeft">
          <img :src="item.aPic" alt="话题图片"/>
        </div>
        <div class="itemRight">
          <p class="itemTittle">{{item.aTitle}}</p>
          <p class="itemContent">{{item.aSubtitle}}</p>

          <div class="comments">
            <p class="commentsTittle">我的评论</p>
            <p class="commentsConter">{{item.remarkContent}}</p>
          </div>
        </div>
        <div class="clear_div"/>
      </div>
    </div>
  </div>
</template>

<script>
  // 我参与的话题
  import Cookies from "js-cookie";
  import {getRemarkArticleList} from "../../api/api";

  export default {
    name: "subjectParticipate",
    data() {
      return {
        dataList: []
      };
    },
    mounted() {
    },
    created() {
      this.getList();
    },
    components: {},
    methods: {
      jumpIn(type,aid, agId) {
        this.$router.push({
          path: "/bbs/bbsdetails",
          query: {
            type:type,
            aid: aid,
            agId: agId
          }
        });
      },
      dateFormat(time) {
        var date = new Date(time);
        var year = date.getFullYear();
        /* 在日期格式中，月份是从0开始的，因此要加0
         * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
         * */
        var month =
          date.getMonth() + 1 < 10
            ? "0" + (date.getMonth() + 1)
            : date.getMonth() + 1;
        var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
        var hours =
          date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
        var minutes =
          date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
        var seconds =
          date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
        // 拼接
        return year + "-" + month + "-" + day;
      },
      getList() {
        getRemarkArticleList({
          current: 1,
          size: 100,
          searchInt1: Cookies.get("uId")
        })
          .then(res => {
            console.log(res);
            this.dataList = res.data.records;
          })
          .catch(err => {
            this.$message.error(err.message);
          });
      }
    }
  };
</script>

<style lang="less" scoped>
  .clear_div {
    clear: both;
  }

  .subjectParticipate {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    padding-top: 30px;

    .attentionTopicBox {
      width: 1000px;
      height: 100%;
      border-radius: 24px;
      margin: 10px auto;

      .attentionTopicItems {
        cursor: pointer;
        height: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
        border-bottom: 1px solid rgba(236, 236, 236, 1);
        background-color: #ffffff;

        .itemLeft {
          float: left;
          width: 151px;
          height: 176px;
          overflow: hidden;

          img {
            width: 151px;
            height: auto;
          }
        }

        .itemRight {
          float: left;
          width: 700px;
          height: auto;
          padding-left: 10px;

          .itemTittle {
            font-size: 18px;
            color: rgba(0, 0, 0, 1);
            font-weight: 600;
          }

          .itemContent {
            color: rgba(153, 153, 153, 1);
            font-size: 14px;
            margin-top: 20px;
          }

          .comments {
            border-radius: 10px;
            margin-top: 30px;
            background-color: rgba(246, 246, 246, 1);
            padding-left: 21px;
            padding-top: 16px;
            padding-bottom: 16px;

            .commentsTittle {
              font-weight: 600;
              font-size: 16px;
              margin-bottom: 10px;
              color: rgba(51, 51, 51, 1);
            }

            .commentsConter {
              font-size: 16px;
              color: rgba(153, 153, 153, 1);
            }
          }
        }
      }
    }
  }
</style>
