<template>
  <div>
    <div class="godD">
      <el-row :gutter="20">
        <el-col :span="4">
          <div class="renPersonList">
            <div class="redTop">
              <div class="topLeft">
                <img
                  src="./../../assets/tophot.png"
                  alt="火"
                />
                <span>红人榜</span>
              </div>
            </div>
            <div class="redCenter">
              <div
                class="redItem"
                v-for="(item, index) in eventList"
                :key="index"
                @click="onRedperson(item.uId)"
              >
                <button
                  class="focusBtn"
                  v-if="item.isFollow==0"
                  @click.stop="follow(item.uId,1)"
                >关注</button>
                <button
                  class="focusBtn"
                  v-else
                  @click.stop="follow(item.uId,2)"
                >已关注</button>
                <div class="hearIcon">
                  <img
                    :src="item.headUrl"
                    alt="头像"
                  />
                </div>
                <p class="pname">{{item.nickName}}</p>
                <p class="pnum">
                  <img
                    src="./../../assets/切图/3.png"
                    alt="查看数"
                  />
                  <span>{{item.fansCount}}</span>
                  <span>中单率:{{item.winRate}}%</span>
                </p>
              </div>
            </div>
            <!-- <div class="redMore">
                <span>查看更多</span>
          </div>-->
          </div>
        </el-col>




        <el-col :span="20">
          <div class="godDetails">
            <div class="godTop">
              <div class="topLeft">
                <div class="headIcon">
                  <img
                    :src="personList.headUrl"
                    alt="头像"
                  />
                </div>
              </div>
              <div class="topright">
                <div class="rightName">
                  <span>{{personList.nickName}}</span>
                  <i></i>
                </div>

                <p>&nbsp;</p>
                <div class="rightNum">
                  <i></i>
                  <span>{{personList.fansCount}}</span>
                  <font>中单率:{{personList.winRate}}%</font>
                </div>
                <!-- <button>关注</button> -->
              </div>
            </div>
            <div class="godTabs">
              <span>赛事</span>
              <span>时间</span>
              <span>队伍</span>
              <span>赔率</span>
              <span>大神猜测结果</span>
              <span>实际结果</span>
              <span>猜测结果</span>
            </div>
            <!-- <div class="godlist">
            <span>{{this.$route.query.match}}</span>
            <span>{{this.$route.query.aname}}</span>
            <span>{{this.$route.query.bname}}</span>
            <span>{{returnOdds(this.$route.query.odd)}}</span>
            <span>{{dataList.winTeamName}}</span>
            <span>实际胜利队伍</span>
            <span>{{returnResults(dataList.isRight)}}</span>
          </div>-->
            <div class="godItems">
              <ul class="gamesItemUi">
                <li>
                  <span>{{this.$route.query.match}}</span>
                </li>
                <li>
                  <span>{{dateFormat(this.$route.query.time)}}</span>
                </li>
                <li>
                  <span :title="this.$route.query.aname">{{this.$route.query.aname}}</span>
                  <div class="score">
                    <span>vs</span>
                  </div>
                  <span :title="this.$route.query.bname">{{this.$route.query.bname}}</span>
                </li>
                <li>
                  <span>{{reternOdd(this.$route.query.odd,0)}}</span>
                  <span>{{reternOdd(this.$route.query.odd,1)}}</span>
                  <span>{{reternOdd(this.$route.query.odd,2)}}</span>
                </li>
                <!-- <li class="spliceLi">
                <span>{{returnIndex(item.asianplate,0)}}</span>
                <span>{{returnIndex(item.asianplate,1)}}</span>
                <span>{{returnIndex(item.asianplate,2)}}</span>
                <span>{{returnIndex(item.sizeBall,0)}}</span>
                <span>{{returnIndex(item.sizeBall,1)}}</span>
                <span>{{returnIndex(item.sizeBall,2)}}</span>
              </li>-->
                <li>
                  <span>{{dataList.winTeamName}}</span>
                </li>
                <li>
                  <span>{{dataList.winner}}</span>
                </li>
                <li>
                  <span>{{returnResults(dataList.isRight)}}</span>
                </li>
              </ul>
            </div>

            <div class="gftittle">
              <p>{{dataList.gfTitle}}</p>
              <p>{{ jetLag}}前发布</p>
            </div>
            <div
              class="gfcontent"
              v-html="dataList.gfContent"
            ></div>
          </div>
        </el-col>


      </el-row>
    </div>
    <div class="homeFoot">
      <div class="footCenter">
        <div class="incenter">
          <div class="footleft">
            <div class="footui">
              <span>关于火狐</span>
              <ul>
                <li>关于我们</li>
              </ul>
            </div>
            <!-- <div class="footui">
              <span>友情链接</span>
              <ul>
                <li>关于我们</li>

              </ul>
            </div>-->
            <div class="footui1">
              <span>联系我们</span>
              <ul>
                <li>邮箱:HHplan@163.com</li>
                <li>地址:深圳市福田区福田街道岗厦社区福华三路88号财富大厦49FH5</li>
              </ul>
            </div>
          </div>
          <div class="footright">
            <div class="footcode code1">
              <div></div>
              <span>官方公众号</span>
            </div>
            <div class="footcode code2">
              <div></div>
              <span>官方微博</span>
            </div>
          </div>
        </div>
      </div>
      <div class="footButtom">
        <div>
          <span>深圳市圳鹏思信息技术有限公司</span>
          <!-- <span>备案号：XXXXXXXXXXXXX</span> -->
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import {
  selectUserByUserId,
  getMatchBetList,
  getGreatGodList,
  doUserFollow,
  getGreatForecastByGfId
} from "../../api/api";
import Cookies from "js-cookie";
import { get_time_diff } from "../../utils/data";
export default {
  name: "godD",
  data() {
    return {
      eventAct: "",
      dataList: {},
      gameList: [],
      eventList: [],
      personList: {},
      jetLag: ""
    };
  },
  mounted() {
    this.eventAct = this.$route.query.uid;
  },
  created() {
    this.getList3();
    this.getList2();
    this.getList();
  },
  components: {},
  methods: {
    returnOdds(val) {
      var str = "";
      if (val != "") {
        var arr = val.split(",");
      }
      return (
        arr[0].toString() + " " + arr[1].toString() + " " + arr[2].toString()
      );
    },
    returnResults(val) {
      switch (val) {
        case 1:
          return "猜测成功";
          break;
        case 2:
          return "猜测失败";
          break;
        default:
          return "未结算";
      }
    },
    // 关注大神 取消关注
    follow(val, num) {
      if (Cookies.get("uId") != "" && Cookies.get("uId") != null) {
        doUserFollow({
          userId: Cookies.get("uId"),
          buId: val
        })
          .then(res => {
            // console.log(res);
            if (num == 1) {
              this.$message.success("关注成功");
            } else {
              this.$message.success("取消关注成功");
            }

            this.getList2();
          })
          .catch(err => {
            this.$message.error(err.message);
          });
      } else {
        this.$message.warning("请先登录");
      }
    },
    reternOdd(item, val) {
      if (item != "" && item != null) {
        return item.split(",")[val];
      } else {
        return "-";
      }
    },
    returnIndex(val, index) {
      if (val != "" && val != null) {
        return val.split(",")[index];
      } else {
        return "-";
      }
    },
    returnPrice(val, num) {
      switch (val) {
        case 1:
          return "+" + num;
          break;
        case 2:
          return "-" + num;
          break;
        default:
          return "未结算";
          break;
      }
    },
    returnWin(val) {
      switch (val) {
        case 1:
          return "胜利";
          break;
        case 2:
          return "失败";
          break;
        default:
          return "未结算";
          break;
      }
    },
    getList3() {
      getGreatForecastByGfId({
        userId: Cookies.get("uId") != null ? Cookies.get("uId") : 0,
        gfId: this.$route.query.gfId
      })
        .then(res => {
          // console.log(res);
          this.dataList = res.data;
          var date = new Date(res.data.createTime);
          this.jetLag = get_time_diff(date.getTime());
        })
        .catch(err => {
          this.$message.error(err.message);
        });
    },

    getList2() {
      getGreatGodList({
        current: 1,
        size: 5,
        searchInt1: Cookies.get("uId") ? Cookies.get("uId") : 0,
        searchStr1: "",
        searchInt2: 2
      })
        .then(res => {
          // console.log(res);
          this.eventList = res.data.records;
        })
        .catch(err => {
          this.$message.error(err.message);
        });
    },
    dateFormat(time) {
      var date = new Date(time);
      var year = date.getFullYear();
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      var month =
        date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1;
      var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
      var hours =
        date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
      var minutes =
        date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
      var seconds =
        date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
      // 拼接
      return year + "-" + month + "-" + day;
    },
    onRedperson(val) {
      console.log(val);
      this.$router.push({
        path: "/redpersond",
        query: {
          uid: val
        }
      });
    },
    getList() {
      // console.log(this.$route.query.uid);
      selectUserByUserId({
        userId: this.$route.query.uid != "" ? this.$route.query.uid : 0
      })
        .then(res => {
          // console.log(res);
          this.personList = res.data;
        })
        .catch(err => {
          this.$message.error(err.message);
        });
    }
  }
};
</script>

<style lang="less" scoped>
.godD {
  width: 1333px;
  height: 100%;
  padding-top: 20px;
  margin: 0 auto 50px auto;
  .isActings {
    border: 3px solid #fe5e3a !important;
  }
  .renPersonList {
    .redTop {
      width: 100%;
      height: 57px;
      background-color: #ffffff;
      border-radius: 24px 24px 0 0;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .topLeft {
        display: flex;
        align-items: center;
        margin-left: 15px;
        img {
          width: 20px;
          height: 20px;
          margin-right: 5px;
        }
        span {
          font-size: 16px;
          font-weight: 600;
          color: #000000;
        }
      }
      span {
        margin-right: 15px;
        color: #999999;
        font-size: 12px;
        cursor: pointer;
      }
    }
    .redCenter {
      width: 100%;
      height: 100%;
      .redItem {
        width: 100%;
        height: 171px;
        position: relative;
        cursor: pointer;
        background-color: #ffffff;
        margin-bottom: 10px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .focusBtn {
          font-size: 10px;
          border: none;
          cursor: pointer;
          outline: none;
          color: #0069eb;
          background-color: #e5f0fd;
          width: 53px;
          height: 30px;
          border-radius: 8px;
          position: absolute;
          right: 12px;
          top: 35px;
        }
        .hearIcon {
          width: 57px;
          height: 57px;
          background: rgba(207, 207, 207, 1);
          box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.06);
          border-radius: 50%;
          margin-top: 20px;
          margin-bottom: 9px;
          img {
            width: 57px;
            height: 57px;
            border-radius: 50%;
          }
        }
        .pname {
          margin-bottom: 20px;
          color: #333333;
          font-size: 16px;
          font-weight: 600;
        }
        .pnum {
          display: flex;
          align-items: center;
          color: #999999;
          font-size: 14px;
          img {
            width: 14px;
            height: 14px;
            margin-right: 3px;
          }
          span:nth-child(2) {
            margin-right: 30px;
          }
        }
      }
    }
    .redMore {
      width: 100%;
      height: 57px;
      background-color: #ffffff;
      border-radius: 0 0 24px 24px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        font-size: 14px;
        color: #0069eb;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
  .godDetails {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    min-height: 1089px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 12px;
    .godTop {
      height: 250px;
      border-bottom: 1px solid rgba(240, 240, 240, 1);
      .topLeft {
        float: left;
        width: 160px;
        height: 100%;
        .headIcon {
          margin-top: 30px;
          margin-left: 30px;
          width: 126px;
          height: 126px;
          background: rgba(207, 207, 207, 1);
          box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.06);
          border-radius: 50%;
          img {
            width: 126px;
            height: 126px;
            border-radius: 50%;
          }
        }
      }
      .topright {
        float: left;
        padding-top: 45px;
        padding-left: 10px;
        height: 205px;
        .rightName {
          span {
            font-size: 20px;
            color: rgba(51, 51, 51, 1);
          }
          i {
            display: inline-block;
            width: 16px;
            height: 16px;
            background-image: url("./../../assets/切图/9.png");
            background-repeat: no-repeat;
          }
        }
        p {
          font-size: 16px;
          color: rgba(153, 153, 153, 1);
          margin-top: 20px;
        }
        .rightNum {
          margin-top: 20px;
          i {
            background-image: url("./../../assets/切图/10.png");
            background-repeat: no-repeat;
            width: 20px;
            height: 14px;
            display: inline-block;
          }
          span {
            font-size: 14px;
            color: rgba(153, 153, 153, 1);
          }
          font {
            margin-left: 94px;
            font-size: 14px;
            color: rgba(153, 153, 153, 1);
          }
        }
        button {
          margin-top: 30px;
          outline: none;
          border: none;
          cursor: pointer;
          width: 66px;
          height: 42px;
          border-radius: 8px;
          background-color: RGBA(230, 241, 253, 1);
          font-size: 14px;
          color: rgba(0, 105, 235, 1);
        }
      }
    }
    .godTabs {
      height: 60px;
      width: 100%;
      border-bottom: 1px solid rgba(240, 240, 240, 1);
      display: grid;
      grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 60px;
      color: #000;
      line-height: 50px;
      cursor: pointer;
      span {
        border-right: 1px solid #f0f0f0;
        border-left: 1px solid #f0f0f0;
        line-height: 50px;
        font-size: 14px;
        text-align: center;
      }
    }
    .godlist {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 50px;
      text-align: center;
      font-size: 10px;
      color: #000;
      line-height: 50px;
      cursor: pointer;
      border-bottom: 1px solid rgba(240, 240, 240, 1);
      span:nth-child(1) {
        border-left: 2px solid rgba(240, 240, 240, 1);
      }
      span {
        border-right: 2px solid rgba(240, 240, 240, 1);
      }
    }
    .godItems {
      height: 60px;
      width: 100%;
      border-bottom: 1px solid rgba(240, 240, 240, 1);
      .gamesItemUi {
        height: 60px;
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 60px;
        .score {
          display: inline-block;
          width: 36px;
          height: 26px;
          line-height: 26px;
          background: linear-gradient(
            -30deg,
            rgba(255, 135, 55, 1),
            rgba(254, 85, 58, 1)
          );
          border-radius: 6px;
          text-align: center;
          span {
            font-size: 16px;
            color: #ffffff;
          }
        }
        .gameLogo {
          height: 45px;
          width: 34px;
          display: inline-block;
        }
        .spliceLi {
          display: grid;
          grid-template-columns: repeat(3, 33.33%);
          grid-template-rows: repeat(2, 50%);
          span {
            text-align: center;
            line-height: 45px;
          }
        }
        li:nth-child(3) {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: grid;
          grid-template-columns: 40% 20% 40%;
          grid-template-rows: 60px;
          .score {
            margin: auto;
          }
        }
        li {
          float: left;
          font-size: 16px;
          color: #999999;
          height: 60px;
          line-height: 60px;
          text-align: center;
          font-size: 14px;
          border-right: 1px solid rgba(240, 240, 240, 1);
          border-left: 1px solid rgba(240, 240, 240, 1);
          .dish {
            color: #999999;
            font-size: 16px;
          }
          .dishNumber {
            color: #fe5e39;
            font-size: 20px;
          }
        }
        div {
          width: 100%;
          height: 60px;
          line-height: 0;
          display: flex;
          align-items: center;
          flex-direction: column;
          .integralNum {
            color: rgba(255, 125, 56, 1);
            font-size: 20px;
            margin-top: 50px;
          }
          .integralText {
            color: rgba(153, 153, 153, 1);
            font-size: 14px;
            margin-top: 20px;
          }
        }
      }
    }
    .gftittle {
      width: 100%;
      height: 80px;
      line-height: 40px;
      font-size: 40px;
      text-align: center;
      margin-top: 20px;
      color: #000;
      border-top: 1px solid rgba(240, 240, 240, 1);
      border-bottom: 1px solid rgba(240, 240, 240, 1);
      p {
        height: 40px;
      }
      p:nth-child(2) {
        font-size: 12px;
        color: #999999;
      }
    }
    .gfcontent {
      font-size: 14px;
      color: rgba(102, 102, 102, 1);
      width: calc(100%-20px);
      margin-top: 20px;
      padding-left: 20px;
      padding-bottom: 15px;
      min-height: 200px;
      line-height: 26px;
    }
  }
}
.homeFoot {
  width: 100%;
  height: 253px;
  background-color: #2d2f39;
  .footCenter {
    width: 100%;
    height: 150px;
    padding-top: 47px;
    .incenter {
      height: 190px;
      width: 75%;
      margin: 0 auto;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .footleft {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        .footui {
          width: 25%;
          color: #ffffff;
          float: left;
          span {
            font-size: 18px;
            display: block;
            margin-bottom: 25px;
          }
          ul {
            width: 300px;
            font-size: 14px;
            li {
              display: inline-block;
              margin-bottom: 10px;
              cursor: pointer;
              font-weight: 600;
              width: 40%;
            }
          }
        }
        .footui1 {
          width: 30%;
          color: #ffffff;
          float: left;
          span {
            font-size: 18px;
            display: block;
            margin-bottom: 25px;
          }
          ul {
            width: 300px;
            height: 150px;
            font-size: 14px;
            li {
              display: block;
              margin-bottom: 5px;
              cursor: pointer;
              font-weight: 600;
              font-size: 12px;
            }
          }
        }
      }
    .footright {
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:-30px;
        .code1 div {
          background-image: url("./../../assets/weibo.jpg");
          background-size: 100% 100%;
          background-repeat: no-repeat;
          margin-bottom: 10px;
        }
        .code2 div {
          background-image: url("./../../assets/weixin.png");
          background-size: 100% 100%;
          background-repeat: no-repeat;
           margin-bottom: 10px;
        }
        .footcode {
          width: 30%;
          float: left;
          display: flex;
          align-items: center;
          flex-direction: column;
          div {
            background-color: #ffffff;
            width: 104px;
            height: 104px;
            line-height: 104px;
            text-align: center;
            color: black;
          }
          span {
            font-weight: 600;
          }
        }
      }
    }
  }
  .footButtom {
    width: 100%;
    height: 52px;
    border-top: 2px solid #202128;
    div {
      height: 52px;
      width: 50%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        color: #ffffff;
        font-size: 15px;
      }
    }
  }
}
</style>
