<template>
  <div>
    <div style="width: 100%;margin:0 auto;background: #333">
      <el-menu
        :default-active="pageIndex"
        class="el-menu-demo"
        mode="horizontal"
        @select="handleSelect"
        background-color="#333333"
        text-color="#ffffff"
        active-text-color="#FF8737"
      >
        <el-menu-item index="1">足球</el-menu-item>
        <el-menu-item index="2">篮球</el-menu-item>
        <el-menu-item index="3">电竞</el-menu-item>
      </el-menu>
    </div>
    <div
      class="godindex"
      :class="[{ bbsfoot: pageIndex==1 }, { bbsBask: pageIndex==2 },{ bbssport: pageIndex==3 }]"
    >
      <div class="godBack">
        <el-row :gutter="20">
          <!-- 左部导航栏 -->
          <el-col :span="4">
            <div class="renPersonList">
              <div class="redTop">
                <div class="topLeft" style="width: 100%">
                  <img src="./../../assets/tophot.png" alt="火" />
                  <span>红人榜</span>
                </div>
              </div>
              <div class="redCenter">
                <div
                  class="redItem"
                  v-for="(item, index) in eventList"
                  :key="index"
                  :class="{ 'isActings': eventAct==item.uId}"
                  @click="onRedperson(item.uId)"
                >
                  <button
                    class="focusBtn"
                    v-if="item.isFollow==0"
                    @click.stop="follow(item.uId,1)"
                  >关注</button>
                  <button class="focusBtn" v-else @click.stop="follow(item.uId,2)">已关注</button>
                  <div class="hearIcon">
                    <img :src="item.headUrl" alt="头像" />
                  </div>
                  <p class="pname">{{item.nickName}}</p>
                  <p class="pnum">
                    <img src="./../../assets/切图/3.png" alt="查看数" />
                    <span>{{item.fansCount}}</span>
                    <span>中单率:{{item.winRate}}%</span>
                  </p>
                </div>
              </div>
            </div>
          </el-col>
          <!-- 策略分析重写STARt -->
          <el-col :span="20">
            <span class="radionSpan">日期</span>
            <el-date-picker
              v-model="dataNums"
              type="date"
              @change="changeData"
              placeholder="选择日期"
              value-format="timestamp"
              style="margin-left:30px"
            ></el-date-picker>
            <div class="radio">
              <input name="sex" @click="changeRadio(0)" type="radio" checked="checked" />
              只看未开赛
              <input name="sex" type="radio" @click="changeRadio(1)" />全部赛事
            </div>
            <div class="bbsRight" v-for="(item,i) in articleList" :key="i">
              <div class="straLeft">
                <div>
                  <p>{{item[0].matchShortName}}</p>
                  <p>{{item[0].aTeamShortName}}</p>
                  <img :src="item[0].aTeamLogo" />
                  <p>{{item[0].createTime}}</p>
                  <img :src="item[0].bTeamLogo" />
                  <p>{{item[0].bTeamShortName}}</p>
                </div>
                <div>
                  <div>
                    <span>{{dateFormatTime(item[0].createTime)}}</span>

                    <div class="newStatus" v-show="pageIndex==1">
                      <span v-if="item[0].matchTypeStatus==0">比赛异常</span>
                      <span v-else-if="item[0].matchTypeStatus==1">未开赛</span>
                      <span v-else-if="item[0].matchTypeStatus==2">上半场</span>
                      <span v-else-if="item[0].matchTypeStatus==3">中场</span>
                      <span v-else-if="item[0].matchTypeStatus==4">下半场</span>
                      <span v-else-if="item[0].matchTypeStatus==5">加时赛</span>
                      <span v-else-if="item[0].matchTypeStatus==6">加时赛（弃用）</span>
                      <span v-else-if="item[0].matchTypeStatus==7">点球大战</span>
                      <span v-else-if="item[0].matchTypeStatus==8">完场</span>
                      <span v-else-if="item[0].matchTypeStatus==9">推迟</span>
                      <span v-else-if="item[0].matchTypeStatus==10">中断</span>
                      <span v-else-if="item[0].matchTypeStatus==11">腰斩</span>
                      <span v-else-if="item[0].matchTypeStatus==12">取消</span>
                      <span v-else-if="item[0].matchTypeStatus==13">待定</span>
                    </div>
                    <div class="newStatus" v-show="pageIndex==2">
                      <span v-if="item[0].matchTypeStatus==0">比赛异常</span>
                      <span v-else-if="item[0].matchTypeStatus==1">未开赛</span>
                      <span v-else-if="item[0].matchTypeStatus==2">第一节</span>
                      <span v-else-if="item[0].matchTypeStatus==3">第一节完</span>
                      <span v-else-if="item[0].matchTypeStatus==4">第二节</span>
                      <span v-else-if="item[0].matchTypeStatus==5">第二节完</span>
                      <span v-else-if="item[0].matchTypeStatus==6">第三节</span>
                      <span v-else-if="item[0].matchTypeStatus==7">第三节完</span>
                      <span v-else-if="item[0].matchTypeStatus==8">第四节</span>
                      <span v-else-if="item[0].matchTypeStatus==9">加时</span>
                      <span v-else-if="item[0].matchTypeStatus==10">完场</span>
                      <span v-else-if="item[0].matchTypeStatus==11">中断</span>
                      <span v-else-if="item[0].matchTypeStatus==12">取消</span>
                      <span v-else-if="item[0].matchTypeStatus==13">延期</span>
                      <span v-else-if="item[0].matchTypeStatus==14">腰斩</span>
                      <span v-else-if="item[0].matchTypeStatus==15">待定</span>
                    </div>
                    <div class="newStatus" v-show="pageIndex==3">
                      <span v-if="item[0].matchTypeStatus==0">未开始</span>
                      <span v-else-if="item[0].matchTypeStatus==1">进行中</span>
                      <span v-else-if="item[0].matchTypeStatus==2">已结束</span>
                      <span v-else-if="item[0].matchTypeStatus==3">已延期</span>
                      <span v-else-if="item[0].matchTypeStatus==4">已删除</span>
                    </div>
                    <p>
                      <span
                        @click="jumpD(item[0].aTeamId,item[0].bTeamId,reAname(item[0]),reBname(item[0]),item[0].matchId,item[0].seasonId,item[0].matchShortName)"
                      >析</span>
                      <span @click="releaseTopic(item[0].matchId,item[0])">单</span>
                      <span
                        @click="onBet(item[0].aTeamId,
                        item[0].bTeamId,
                        reAname(item[0]),
                        reBname(item[0]),
                        item[0].matchId,
                        item[0].euroloss,
                        item[0].euroloss,
                        item[0].matchShortName,
                        item[0].matchStartTime,
                        item[0].matchTypeStatus,
                        item[0],
                        )"
                      >竞</span>
                    </p>
                  </div>
                  <div>
                    <table class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>亚</th>
                          <th>欧</th>
                          <th>大</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{item[0].asianPlate!==null?item[0].asianPlate.split(',')[0]:'--'}}</td>
                          <td>{{item[0].euroloss!==null?item[0].euroloss.split(',')[0]:'--'}}</td>
                          <td>{{item[0].sizeBall!==null?item[0].sizeBall.split(',')[0]:'--'}}</td>
                        </tr>
                        <tr>
                          <td>{{item[0].asianPlate!==null?item[0].asianPlate.split(',')[1]:'--'}}</td>
                          <td>{{item[0].euroloss!==null?item[0].euroloss.split(',')[1]:'--'}}</td>
                          <td>{{item[0].sizeBall!==null?item[0].sizeBall.split(',')[1]:'--'}}</td>
                        </tr>
                        <tr>
                          <td>{{item[0].asianPlate!==null?item[0].asianPlate.split(',')[2]:'--'}}</td>
                          <td>{{item[0].euroloss!==null?item[0].euroloss.split(',')[2]:'--'}}</td>
                          <td>{{item[0].sizeBall!==null?item[0].sizeBall.split(',')[2]:'--'}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="straRight">
                <span class="moreDs" @click="goOtherFind(item)">更多 >></span>
                <div
                  class="moreDe"
                  v-for="(cur,inx) in item.slice(0,3)"
                  :key="inx"
                  @click="goStrategy(cur.uId,cur.gfId,cur.nickName,cur.matchShortName,cur.aTeamShortName,cur.bTeamShortName,cur.euroloss,cur.createTime)"
                >
                  <span style="float:left">
                    <img :src="cur.headUrl" />
                  </span>
                  <span class="titl">{{cur.nickName}}</span>
                  <span>
                    查看本场比赛需要&nbsp;
                    <b>{{cur.buyIntegral?cur.buyIntegral:0}}</b>积分
                  </span>
                  <p>
                    <span class="im">
                      <img src="./../../assets/切图/3.png" />
                      {{cur.falseFansCount?cur.falseFansCount:0}}
                    </span>
                    <span>中单率{{cur.falseRedRate?cur.falseRedRate:0}}%</span>
                  </p>
                </div>
              </div>
            </div>
            <el-pagination
              background
              @current-change="handleCurrentChange"
              :current-page="currentPage"
              :page-size="pagesize"
              layout="total, prev, pager, next, jumper"
              :total="total"
              v-if="total>3"
              style="text-align: center;margin-top: 50px;"
            ></el-pagination>
          </el-col>
        </el-row>
      </div>
    </div>
    <!-- 竞->下注Start -->
    <el-dialog
      :visible.sync="dialogvalue"
      width="843px"
      center
      class="diglog"
      :show-close="false"
      :close-on-click-modal="false"
      close-on-press-escape
    >
      <p slot="title" class="dialogTittle">
        <i></i>积分竞猜
      </p>
      <div class="dialogConter">
        <div class="formItems items2">
          <span>选择队伍</span>
          <select v-model="from.winTeamName" placeholder="请选择" @change="getodds">
            <option value="平局">平局</option>
            <option :value="returnAname(webList)+','+webList.aTeamId">{{returnAname(webList)}}</option>
            <option :value="returnBname(webList)+','+webList.bTeamId">{{returnBname(webList)}}</option>
          </select>
        </div>
        <div class="formItems items6">
          <span>目前赔率</span>
          <input type="text" placeholder v-model="oddsnum" disabled="disabled" />
        </div>
        <div class="formItems items6">
          <span>竞猜分数</span>
          <input type="number" placeholder v-model="betScore" @click="noFue" @keyup="noFue" />
        </div>
        <div class="formItems items6">
          <span>剩余分数</span>
          <input type="text" placeholder v-model="lastbetScore" disabled="disabled" />
        </div>
      </div>
      <div slot="footer" class="dialogFooter">
        <button @click="dialogvalue = false" class="cancel">取 消</button>
        <button @click.stop="betSuccess" class="determine">竞 猜</button>
      </div>
    </el-dialog>

    <!-- 竞->下注END -->
    <!--    发布分析弹出-->
    <el-dialog
      :visible.sync="centerDialogVisible"
      width="843px"
      center
      class="diglog1"
      :close-on-click-modal="false"
      close-on-press-escape
    >
      <p slot="title" class="dialogTittle">
        <i></i>发布分析
        <span
          style="font-size: 12px;font-weight: initial;position: absolute;top: 78px;color: red"
        >大神发布推荐为初盘推荐，如果需要进行即时推荐可以在输入框中进行填写发布</span>
      </p>

      <div class="dialogConter">
        <div class="formItems items4">
          <span>填写标题</span>
          <input type="text" placeholder="请输入" v-model="from.gfTitle" />
        </div>
        <div class="formItems items6">
          <span>所需积分</span>
          <input
            type="number"
            placeholder="请输入"
            v-model="from.buyIntegral"
            @click="noFue1"
            @keyup="noFue1"
          />
        </div>
        <div class="formItems items2">
          <span>选择胜利队伍</span>
          <select v-model="from.winTeamName" placeholder="请选择">
            <option value="平局">平局</option>
            <option :value="returnAname(webList)+','+webList.aTeamId">{{returnAname(webList)}}</option>
            <option :value="returnBname(webList)+','+webList.bTeamId">{{returnBname(webList)}}</option>
          </select>
        </div>

        <!-- <div class="formItems items7">
          <span>图片上传</span>

          <el-upload
            :http-request="submitUpload"
            action="http://47.104.109.132:8083/upload/img"
            class="upload-demo"
            ref="upload"
            drag
            :limit="1"
            :on-exceed="handleExceed"
          >
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">
              将文件拖到此处，或
              <em>点击上传</em>
            </div>
          </el-upload>
        </div>-->

        <div class="formItems items5">
          <span>填写详情</span>
          <editor-bar v-model="detail" :isClear="isClear" @change="change"></editor-bar>
        </div>
      </div>
      <div slot="footer" class="dialogFooter">
        <button @click="centerDialogVisible = false" class="cancel">取 消</button>
        <button @click="release" class="determine"  v-preventReClick>发 布</button>
      </div>
    </el-dialog>
    <Footer />
  </div>
</template>

<script>
import {
  getGreatForecastList,
  getGreatGodList,
  isBuyGreatForccast,
  buyGreateForecast,
  doUserFollow,
  getFootballMatchOption,
  getBasketballMatchOption,
  addDetailsLog,
  selectUserByUserId,
  addMatchBet,
  addArticle,
  addGreatForecast
} from "../../api/api";
import Cookies from "js-cookie";
import EditorBar from "./../../components/wangeditor";
import Footer from "../footer/footer";
import preventReClick from "../../utils/preventReClick"; //防多次点击，重复提交
export default {
  name: "godindex",
  data() {
    return {
      pageIndex: "1",
      eventAct: "",
      currentPage: 1,
      pagesize: 4,
      total: 0,
      eventList: [],
      centerDialogVisible: false,
      articleList: [],
      leagueList: [],
      gameClassification: 0,
      isClear: false,
      detail: "",
      dataNums: Date.parse(new Date()).toString(), //选择比赛时间撮
      radioIndex: 0,
      radioIndexs: 0,
      from: {
        uId: Cookies.get("uId"),
        type: 1,
        gameType: 0,
        buyIntegral: "",
        matchId: "",
        gfTitle: "",
        gfContent: "",
        gfPic: "",
        aTeamId: "",
        bTeamId: "",
        winTeamName: "",
        aTeamName: "",
        bTeamName: ""
      },
      dialogvalue: false,
      lastbetScore: "",
      aid: "",
      bid: "",
      namiIds: "",
      oddtime: "",
      matchName: "",
      euroddsnum: "",
      teams: "",
      oddsnum: "",
      betScore: "",
      webList: {},
      teamList: []
    };
  },
  mounted() {},
  components: {
    Footer,
    EditorBar
  },
  methods: {
    goOtherFind(item) {
      const orderData = item;
      let arr = JSON.stringify(item);
      this.$router.push({
        name: "godIndexDetail"
      });
      const pageIndex = this.pageIndex;
      sessionStorage.setItem("matchArrs", JSON.stringify(orderData));
      sessionStorage.setItem("pageIndex", JSON.stringify(pageIndex));
    },
    goStrategy(uid, gfId, nickName, match, aname, bname, odd, time) {
      if (Cookies.get("uId")) {
        isBuyGreatForccast({
          userId: Cookies.get("uId"),
          gfId: gfId
        })
          .then(res => {
            // console.log("是否购买大神推荐", res);
            this.$router.push({
              path: "/goddetails",
              query: {
                uid: uid,
                gfId: gfId,
                nickName: nickName,
                match: match,
                aname: aname,
                bname: bname,
                odd: odd,
                time: time
              }
            });
          })
          .catch(err => {
            this.$confirm(err + ",请问是否需要购买此文章?", "确认购买", {
              confirmButtonText: "确定",
              cancelButtonText: "取消",
              type: "warning"
            })
              .then(() => {
                buyGreateForecast({
                  userId: Cookies.get("uId"),
                  gfId: gfId
                })
                  .then(res => {
                    // console.log(res);
                    this.$message.success("购买成功");
                    this.$router.push({
                      path: "/goddetails",
                      query: {
                        uid: uid,
                        gfId: gfId,
                        nickName: nickName,
                        match: match,
                        aname: aname,
                        bname: bname,
                        odd: odd,
                        time: time
                      }
                    });
                  })
                  .catch(err => {
                  });
              })
              .catch(() => {
                this.$message({
                  type: "info",
                  message: "已取消购买"
                });
              });
          });
      } else {
        this.$message.warning("请先登录");
      }
    },
    //埋点注释
    returnVersion() {
      var userAgent = navigator.userAgent; //取得浏览器的userAgent字符串
      var isOpera = userAgent.indexOf("Opera") > -1;
      if (isOpera) {
        return "Opera";
      } //判断是否Opera浏览器
      if (userAgent.indexOf("Firefox") > -1) {
        return "FF";
      } //判断是否Firefox浏览器
      if (userAgent.indexOf("Chrome") > -1) {
        return "Chrome";
      }
      if (userAgent.indexOf("Safari") > -1) {
        return "Safari";
      } //判断是否Safari浏览器
      if (
        userAgent.indexOf("compatible") > -1 &&
        userAgent.indexOf("MSIE") > -1 &&
        !isOpera
      ) {
        return "IE";
      } //判断是否IE浏览器
    },
    reAname(val) {
      if (val.aTeamName != "" && val.aTeamName != null) {
        return val.aTeamName;
      } else if (val.aTeamShortName != "" && val.aTeamShortName != null) {
        return val.aTeamShortName;
      }
    },

    reBname(val) {
      if (val.bTeamName != "" && val.bTeamName != null) {
        return val.bTeamName;
      } else if (val.bTeamShortName != "" && val.bTeamShortName != null) {
        return val.bTeamShortName;
      }
    },
    jumpD(aTeamId, bTeamId, aName, bName, matchId, seasonId, matchShortName) {
      addDetailsLog({
        uId: Cookies.get("uId") != "" ? Cookies.get("uId") : 0,
        ip: "",
        type: 1,
        aTeamName: aName,
        bTeamName: bName,
        browseEnd: this.returnVersion(),
        matchName: matchShortName
      })
        .then(res => {
          this.$router.push({
            path: "/gamedetailsfootball",
            query: {
              aTeamId: aTeamId,
              bTeamId: bTeamId,
              aName: aName,
              bName: bName,
              matchId: matchId,
              seasonId: seasonId
            }
          });
        })
        .catch(err => {
        });
    },
    changeRadio(val) {
      if (val == 0) {
        this.radioIndexs = 0;
      } else {
        this.radioIndexs = "";
      }
      this.getList();
    },
    changeData(val) {
      this.dataNums = val;
      this.currentPage = 1;
      this.getList();
    },
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getList();
    },
    submitUpload(content) {
      //自定义的上传图片的方法
      //1. 创建formData 利用AXIOS传递

      let formData = new FormData();
      formData.append("file", content.file);
      this.api({
        url: "/upload/img",
        method: "post",
        data: formData
      })
        .then(data => {
          // console.log(data);
          this.from.gfPic = data.data;
        })
        .catch(err => {
          console.log(err);
          // this.$message.error(err.message);
        });
    },
    handleExceed(files, fileList) {
      this.$message.warning(
        `当前限制选择 1 个文件，本次选择了 ${
          files.length
        } 个文件，共选择了 ${files.length + fileList.length} 个文件`
      );
    },
    release() {
     console.log(this.from.winTeamName == "", "==?this.from.winTeamName");
      if (this.from.gfTitle == "") {
        this.$message.warning("标题不得为空");
      } else if (this.from.buyIntegral == "") {
        this.$message.warning("所需积分不得为空");
      }
      // else if (this.from.gfPic == "") {
      //     this.$message.warning("图片不得为空");
      // }
      else if (this.detail == "") {
        this.$message.warning("详情不能为空");
      } else if (
        this.from.winTeamName == "" ||
        this.from.winTeamName == undefined
      ) {
        this.$message.warning("选择胜利队伍不得为空");
      } else {
        if (this.from.winTeamName == "平局") {
          var str1 = "平局";
          var str2 = 0;
        } else {
          var str1 = this.from.winTeamName.split(",")[0];
          var str2 = this.from.winTeamName.split(",")[1];
        }
        addGreatForecast({
          uId: this.from.uId,
          matchId: this.from.matchId,
          type: this.pageIndex,
          gameType: 0,
          buyIntegral: this.from.buyIntegral,
          gfTitle: this.from.gfTitle,
          gfContent: this.detail,
          gfPic: this.from.gfPic,
          aTeamId: this.webList.aTeamId,
          bTeamId: this.webList.bTeamId,
          winTeamId: str2,
          winTeamName: str1,
          aTeamName: this.returnAname(this.webList),
          bTeamName: this.returnBname(this.webList)
        })
          .then(res => {
            if (res.data.flag) {
              this.$message.success(res.data.msg);
            } else {
              this.$message.success("发布分析成功");
            }
            this.centerDialogVisible = false;
            this.getList9();
          })
          .catch(err => {
            // this.$message.error(err.message);
          });
      }
    },
    change(val) {
      this.from.gfContent = val;
    },
    returnAname(val) {
      if (val.aTeamShortName != "" && val.aTeamShortName != null) {
        return val.aTeamShortName;
      } else if (val.aTeamName != "" && val.aTeamName != null) {
        return val.aTeamName;
      }
      return "-";
    },
    returnBname(val) {
      if (val.bTeamShortName != "" && val.bTeamShortName != null) {
        return val.bTeamShortName;
      } else if (val.bTeamName != "" && val.bTeamName != null) {
        return val.bTeamName;
      }
      return "-";
    },
    noFue1() {
      this.from.buyIntegral =
        this.from.buyIntegral >= 0 ? this.from.buyIntegral : 0;
    },
    releaseTopic(nameid, item) {
      console.log(nameid);
      this.webList = item;
      if (Cookies.get("uId")) {
        selectUserByUserId({
          userId: Cookies.get("uId")
        })
          .then(res => {
            console.log("had", res);
            if (res.data.isGreatGod === 2) {
              this.centerDialogVisible = true;
              this.from = {
                uId: Cookies.get("uId"),
                type: this.pageIndex,
                gameType: 0,
                buyIntegral: "",
                gfTitle: "",
                gfContent: "",
                gfPic: "",
                matchId: nameid,
                aTeamId: "",
                bTeamId: "",
                win_team_id: "",
                win_team_name: "",
                aTeamName: "",
                bTeamName: ""
              };
              this.detail = "";
              // this.$refs.upload.clearFiles();
            } else {
              this.$message.warning("你还不是大神,无法发布分析");
            }
          })
          .catch(err => {
            // this.$message.error(err.message);
          });
      } else {
        this.$message.warning("请先登录");
      }
    },
    getList9() {
      selectUserByUserId({
        userId: Cookies.get("uId")
      })
        .then(res => {
          // console.log(res);
          this.lastbetScore = res.data.integral;
        })
        .catch(err => {
          // this.$message.error(err.message);
        });
    },
    onBet(
      aid,
      bid,
      aname,
      bname,
      namiId,
      odd,
      eurodd,
      matchname,
      starttime,
      matchType,
      item
    ) {
      this.webList = item;
      // console.log("xixad", this.pageIndex);
      if (this.pageIndex == "1") {
        switch (matchType) {
          case 0:
            this.$message.warning("比赛异常,无法竞猜");
            return false;
            break;
          case 2:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 3:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 4:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 5:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 6:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 7:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 8:
            this.$message.warning("该比赛已结束,无法竞猜");
            return false;
            break;
          default:
            console.log("tg");
        }
      } else if (this.pageIndex == "2") {
        switch (matchType) {
          case 0:
            this.$message.warning("比赛异常,无法竞猜");
            return false;
            break;
          case 2:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 3:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 4:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 5:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 6:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 7:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 8:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 9:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 10:
            this.$message.warning("该比赛已结束,无法竞猜");
            return false;
            break;
          default:
            console.log("tg");
        }
      } else if (this.pageIndex == "3") {
        switch (matchType) {
          case 1:
            this.$message.warning("该比赛已开始,无法竞猜");
            return false;
            break;
          case 2:
            this.$message.warning("该比赛已结束,无法竞猜");
            return false;
            break;
          default:
            console.log("tg");
        }
      }
      if (odd == null || eurodd == null || odd == "" || eurodd == "") {
        this.$message.warning("该比赛还未出现赔率,无法竞猜");
        return false;
      }
      //  console.log('未开赛',Cookies.get("uId"))
      if (Cookies.get("uId") != "" && Cookies.get("uId") != null) {
        this.dialogvalue = true;
        this.getList9();
        this.namiIds = namiId;
        this.aid = aid;
        this.bid = bid;
        if (odd != "" && odd != null) {
          this.oddtime = odd;
        } else {
          this.oddsnum = "";
        }
        // this.teamList = [];
        // this.teamList.push(
        //   {
        //     label: aname,
        //     value: aid
        //   },
        //   {
        //     label: bname,
        //     value: bid
        //   }
        // );
        // console.log("xid____-dddd", this.teamList);
        this.euroddsnum = eurodd;
        this.matchName = matchname;
      } else {
        this.$message.warning("请先登录");
      }
    },
    getodds(event) {
      if (event.target.value.split(",")[1] == this.aid) {
        this.oddsnum = this.oddtime.split(",")[0];
      } else if (event.target.value.split(",")[1] == this.bid) {
        this.oddsnum = this.oddtime.split(",")[2];
      } else {
        this.oddsnum = this.oddtime.split(",")[1];
      }
    },
    noFue() {
      this.betScore = this.betScore >= 0 ? this.betScore : 0;
    },

    // getList10() {
    //   addMatchBet({
    //     type: this.pageIndex,
    //     gameType: 0,
    //     matchId: this.namiIds,
    //     uId: Cookies.get("uId"),
    //     winTeamId: this.teams,
    //     betIntrgral: this.betScore,
    //     betValue: this.oddsnum,
    //     betTimeOdd: this.euroddsnum,
    //     matchName: this.matchName,
    //     aTeamName: this.teamList[0].label,
    //     bTeamName: this.teamList[1].label
    //   })
    //     .then(res => {
    //       console.log("竞猜成功", res);
    //       this.dialogvalue = false;
    //       this.$message({
    //         type: "success",
    //         message: "竞猜成功!"
    //       });
    //     })
    //     .catch(err => {});
    // },
    betSuccess() {
      if (this.oddsnum == "" || this.oddsnum == "undefined") {
        this.$message({
          type: "warning",
          message: "目前赔率为空,无法竞猜"
        });
      } else if (this.betScore == "") {
        this.$message({
          type: "warning",
          message: "请先填写所要竞猜的分数"
        });
      } else {
        if (this.from.winTeamName == "平局") {
          var str1 = "平局";
          var str2 = 0;
        } else {
          var str1 = this.from.winTeamName.split(",")[0];
          var str2 = this.from.winTeamName.split(",")[1];
        }
        console.log("adasd", str1, str2);
        this.$confirm("你确认以当前赔率下单?", "竞猜确认", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        })
          .then(() => {
            addMatchBet({
              type: this.btn_kinds_index + 1,
              matchId: this.namiIds,
              uId: Cookies.get("uId"),
              winTeamId: str2,
              winTeamName: str1,
              betIntrgral: this.betScore,
              betValue: this.oddsnum,
              betTimeOdd: this.euroddsnum,
              matchName: this.matchName,
              aTeamName: this.returnAname(this.webList),
              bTeamName: this.returnBname(this.webList)
            })
              .then(res => {
                // console.log("竞猜成功", res);
                this.dialogvalue = false;
                this.$message({
                  type: "success",
                  message: "竞猜成功!"
                });
              })
              .catch(err => {});
            return false;
          })
          .catch(() => {
            this.$message({
              type: "info",
              message: "已取消竞猜"
            });
          });
      }
    },

    // 关注大神 取消关注
    follow(val, num) {
      console.log("val,num", val, num);
      if (Cookies.get("uId") != "" && Cookies.get("uId") != null) {
        if (val == Cookies.get("uId")) {
          this.$message.warning("你无法对自己取消关注");
        } else {
          doUserFollow({
            userId: Cookies.get("uId"),
            buId: val
          })
            .then(res => {
              console.log(res);
              if (num == 1) {
                this.$message.success("关注成功");
              } else {
                this.$message.success("取消关注成功");
              }

              this.getList2();
            })
            .catch(err => {
              // this.$message.error(err.message);
            });
        }
      } else {
        this.$message.warning("请先登录");
      }
    },
    onRedperson(val) {
      console.log(val);
      if (this.eventAct != val) {
        this.eventAct = val;
        this.$router.push({
          path: "/redpersond",
          query: {
            uid: val
          }
        });
      } else {
        this.eventAct = "";
        this.getList();
      }
    },
    handleSelect(key, keyPath) {
      this.pageIndex = key;
      Cookies.set("pageIndex", key);
      this.getList();
    },
    dateFormatTime(time) {
      var date = new Date(time);
      var year = date.getFullYear();
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      var month =
        date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1;
      var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
      var hours =
        date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
      var minutes =
        date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
      var seconds =
        date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
      // 拼接
      return hours + ":" + minutes;
    },
    dateFormat(time) {
      var date = new Date(time);
      var year = date.getFullYear();
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      var month =
        date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1;
      var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
      var hours =
        date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
      var minutes =
        date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
      var seconds =
        date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
      // 拼接
      return year + "-" + month + "-" + day;
    },
    getList() {
      // console.log(
      //   "this.$route.query.matchId",
      //   this.$route.query.godId,
      //   this.$route.query.type,
      //   this.$route.query.matchId,
      //   this.$route.query.godId
      // );
      if (this.$route.query.matchId != undefined) {
        getGreatForecastList({
          current: 1,
          size: 20000,
          searchInt1: this.$route.query.type,
          searchStr1: this.$route.query.matchId,
          date: this.dataNums,
          searchInt5: this.radioIndexs
        })
          .then(res => {
            // console.log("res00.", res.data);
            var resust = [];
            const data = res.data.records;
            var matchIdList = [];
            var dataList = [];
            matchIdList = Array.from(new Set(data.map(cur => cur.matchId)));
            data.map(curr => {
              let i = matchIdList.indexOf(curr.matchId);
              dataList[i] = dataList[i] ? [...dataList[i], curr] : [curr];
            });
            this.total = dataList.length;
            // console.log(dataList, 11111);
            this.articleList = dataList.slice(
              (this.currentPage - 1) * this.pagesize,
              this.currentPage * this.pagesize
            );

            // console.log("西单斤", dataList, "----", this.articleList);
          })
          .catch(err => {});
      } else if (this.$route.query.godId != undefined) {
        getGreatForecastList({
          current: 1,
          size: 20000,
          searchInt1: this.$route.query.type,
          searchStr1: this.$route.query.godId,
          date: this.dataNums,
          searchInt5: this.radioIndexs
        })
          .then(res => {
            console.log("res222", res.data);
            var resust = [];
            const data = res.data.records;
            var matchIdList = [];
            var dataList = [];
            matchIdList = Array.from(new Set(data.map(cur => cur.matchId)));
            data.map(curr => {
              let i = matchIdList.indexOf(curr.matchId);
              dataList[i] = dataList[i] ? [...dataList[i], curr] : [curr];
            });
            this.articleList = dataList.slice(
              (this.currentPage - 1) * this.pagesize,
              this.currentPage * this.pagesize
            );
            this.total = res.data.total;
          })
          .catch(err => {});
      } else {
        getGreatForecastList({
          current: 1,
          size: 20000,
          searchInt1: this.pageIndex,
          // searchInt1:1,
          // searchStr1: 3383087,
          date: this.dataNums,
          searchInt5: this.radioIndexs
        })
          .then(res => {
            // console.log("res003333.", res.data);
            var resust = [];
            const data = res.data.records;
            var matchIdList = [];
            var dataList = [];
            matchIdList = Array.from(new Set(data.map(cur => cur.matchId)));
            data.map(curr => {
              let i = matchIdList.indexOf(curr.matchId);
              dataList[i] = dataList[i] ? [...dataList[i], curr] : [curr];
            });
            this.total = dataList.length;
            // console.log(dataList, 11111);
            this.articleList = dataList.slice(
              (this.currentPage - 1) * this.pagesize,
              this.currentPage * this.pagesize
            );

            // console.log("西单斤", dataList, "----", this.articleList);
          })
          .catch(err => {
            // this.$message.error(err.message);
          });
      }
    },
    getList2() {
      getGreatGodList({
        current: 1,
        size: 5,
        searchInt1: Cookies.get("uId") ? Cookies.get("uId") : 0,
        searchStr1: "",
        searchInt2: 2
      })
        .then(res => {
          console.log(res, "44444");
          this.eventList = res.data.records;
        })
        .catch(err => {
          // this.$message.error(err.message);
        });
    }
  },
  created() {
    this.pageIndex =
      Cookies.get("pageIndex") != null ? Cookies.get("pageIndex") : "1";
    this.getList();
    this.getList2();
  }
};
</script>

<style lang="less" scoped>
.diglog1 {
  .dialogTittle {
    color: rgba(51, 51, 51, 1);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;

    i {
      margin-right: 10px;
      background-image: url("./../../assets/切图/16.png");
      background-repeat: no-repeat;
      display: inline-block;
      width: 25px;
      height: 22px;
    }
  }

  .dialogConter {
    .formItems {
      margin-bottom: 30px;

      span {
        font-size: 16px;
        color: rgba(153, 153, 153, 1);
      }
    }

    .items1 {
      .isSelcectBtn {
        color: #ffffff !important;
        background: linear-gradient(
          0deg,
          rgba(254, 85, 58, 1),
          rgba(255, 135, 55, 1)
        ) !important;
      }

      button {
        width: 70px;
        height: 44px;
        background-color: rgba(240, 240, 240, 1);
        border-radius: 12px;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 16px;
        margin-right: 30px;
        font-weight: 400;
      }
    }

    .items2 {
      select {
        margin-left: 2px;
        width: 42%;
        background: rgba(247, 247, 247, 1);
        height: 55px;
        border-radius: 12px;
        outline: none;
        border: none;
        padding-left: 20px;
        padding-right: 20px;
        cursor: pointer;

        option {
          height: 50px;
          outline: none;
          display: block;
        }
      }
    }

    .items3 {
      select {
        margin-left: 30px;
        width: 40%;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        height: 55px;
        outline: none;
        border: none;
        padding-left: 20px;
        padding-right: 20px;

        option {
          height: 50px;
          outline: none;
          display: block;
        }
      }
    }

    .items4 {
      display: flex;
      align-items: center;

      input {
        width: 40%;
        padding-left: 20px;
        font-size: 13px;
        outline: none;
        height: 55px;
        border: none;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        margin-left: 35px;
      }
    }

    .items5 {
      display: flex;
      align-items: flex-start;

      span {
        width: 100px;
      }

      // textarea {
      //   padding-top: 10px;
      //   padding-left: 20px;
      //   color: rgba(199, 199, 199, 1);
      //   font-size: 16px;
      //   outline: none;
      //   border: none;
      //   border-radius: 12px;
      //   background: rgba(247, 247, 247, 1);
      //   margin-left: 30px;
      // }
    }

    .items6 {
      display: flex;
      align-items: center;

      input {
        width: 40%;
        padding-left: 20px;
        font-size: 13px;
        outline: none;
        height: 55px;
        border: none;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        margin-left: 35px;
      }
    }

    .items7 .upload-demo {
      display: inline-flex;
      margin-left: 35px;
    }
  }

  .dialogFooter {
    height: 96px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .cancel {
      margin-right: 61px;
      width: 88px;
      height: 46px;
      background-color: RGBA(255, 232, 225, 1);
      border-radius: 6px;
      cursor: pointer;
      border: none;
      outline: none;
      color: rgba(254, 95, 57, 1);
    }

    .determine {
      width: 88px;
      height: 46px;
      background: linear-gradient(
        0deg,
        rgba(254, 85, 58, 1),
        rgba(255, 135, 55, 1)
      );
      border-radius: 6px;
      cursor: pointer;
      border: none;
      outline: none;
      color: rgba(255, 255, 255, 1);
    }
  }
}
.diglog {
  .dialogTittle {
    color: rgba(51, 51, 51, 1);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;

    i {
      margin-right: 10px;
      background-image: url("./../../assets/切图/16.png");
      background-repeat: no-repeat;
      display: inline-block;
      width: 25px;
      height: 22px;
    }
  }

  .dialogConter {
    .formItems {
      margin-bottom: 30px;

      span {
        font-size: 16px;
        color: rgba(153, 153, 153, 1);
      }
    }

    .items1 {
      .isSelcectBtn {
        color: #ffffff !important;
        background: linear-gradient(
          0deg,
          rgba(254, 85, 58, 1),
          rgba(255, 135, 55, 1)
        ) !important;
      }

      button {
        width: 70px;
        height: 44px;
        background-color: rgba(240, 240, 240, 1);
        border-radius: 12px;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 16px;
        margin-right: 30px;
        font-weight: 400;
      }
    }

    .items2 {
      select {
        margin-left: 30px;
        width: 40%;
        background: rgba(247, 247, 247, 1);
        height: 55px;
        outline: none;
        border: none;
        padding-left: 20px;
        padding-right: 20px;

        option {
          height: 50px;
          outline: none;
          display: block;
        }
      }
    }

    .items3 {
      select {
        margin-left: 30px;
        width: 40%;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        height: 55px;
        outline: none;
        border: none;
        padding-left: 20px;
        padding-right: 20px;

        option {
          height: 50px;
          outline: none;
          display: block;
        }
      }
    }

    .items4 {
      display: flex;
      align-items: center;

      input {
        width: 40%;
        padding-left: 20px;
        font-size: 16px;
        outline: none;
        height: 55px;
        border: none;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        margin-left: 35px;
      }
    }

    .items5 {
      display: flex;
      align-items: flex-start;

      span {
        width: 100px;
      }

      // textarea {
      //   padding-top: 10px;
      //   padding-left: 20px;
      //   color: rgba(199, 199, 199, 1);
      //   font-size: 16px;
      //   outline: none;
      //   border: none;
      //   border-radius: 12px;
      //   background: rgba(247, 247, 247, 1);
      //   margin-left: 30px;
      // }
    }

    .items6 {
      display: flex;
      align-items: center;

      input {
        width: 40%;
        padding-left: 20px;
        font-size: 16px;
        outline: none;
        height: 55px;
        border: none;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        margin-left: 35px;
      }
    }

    .items7 .upload-demo {
      display: inline-flex;
      margin-left: 35px;
    }
  }

  .dialogFooter {
    height: 96px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .cancel {
      margin-right: 61px;
      width: 88px;
      height: 46px;
      background-color: RGBA(255, 232, 225, 1);
      border-radius: 6px;
      cursor: pointer;
      border: none;
      outline: none;
      color: rgba(254, 95, 57, 1);
    }

    .determine {
      width: 88px;
      height: 46px;
      background: linear-gradient(
        0deg,
        rgba(254, 85, 58, 1),
        rgba(255, 135, 55, 1)
      );
      border-radius: 6px;
      cursor: pointer;
      border: none;
      outline: none;
      color: rgba(255, 255, 255, 1);
    }
  }
}

.navigationMenu {
  width: 100%;
  height: 40px;
  background-color: rgb(51, 51, 51);

  .isActing {
    color: #ffffff !important;
    background: linear-gradient(
      -30deg,
      rgba(255, 135, 55, 1),
      rgba(254, 85, 58, 1)
    );
  }

  .menuCenter {
    width: 52%;
    height: 40px;
    margin: 0 auto;

    .navigationMenuUi {
      float: left;

      li {
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        height: 40px;
        width: 68px;
        float: left;
        margin-right: 85px;
        line-height: 40px;
        color: rgba(255, 255, 255, 1);
        text-align: center;
      }
    }

    .buttonList {
      float: right;
      height: 40px;
      width: 10%;
      display: flex;
      align-items: center;

      i {
        background-image: url("./../../assets/切图/17.png");
        background-repeat: no-repeat;
        display: inline-block;
        width: 20px;
        height: 20px;
      }

      button {
        cursor: pointer;
        border: none;
        outline: none;
        height: 20px;
        color: rgba(255, 255, 255, 1);
        background-color: transparent;
      }
    }
  }
}

.bbsfoot {
  background-image: url("./../../assets/切图/36.jpg");
}

.bbsBask {
  background-image: url("./../../assets/切图/35.jpg");
}

.bbssport {
  background-image: url("./../../assets/切图/34.jpg");
}

.godindex {
  width: 100%;
  height: 100%;
  min-height: 1089px;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  .isScroll {
    position: fixed;
    top: 250px;
    min-height: 285px;
    width: 200px;
    z-index: 50;
  }

  .godBack {
    width: 1333px;
    height: 100%;
    padding-top: 20px;
    margin: 0 auto;

    .renPersonList {
      .redTop {
        width: 100%;
        height: 57px;
        background-color: #ffffff;
        border-radius: 24px 24px 0 0;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-style: double;
        border-width: 1px;
        border-color: #eaeaea;

        .topLeft {
          display: flex;
          align-items: center;
          margin-left: 15px;
          height: 100%;
          width: 33%;

          img {
            width: 20px;
            height: 20px;
            margin-right: 5px;
          }

          span {
            font-size: 16px;
            font-weight: 600;
            color: #000000;
          }
        }

        span {
          margin-right: 15px;
          color: #999999;
          font-size: 12px;
          cursor: pointer;
        }
      }

      .redCenter {
        width: 100%;
        height: 100%;

        .redItem {
          width: 100%;
          height: 171px;
          position: relative;
          cursor: pointer;
          background-color: #ffffff;
          margin-bottom: 10px;
          border-radius: 8px;
          display: flex;
          align-items: center;
          flex-direction: column;
          border-style: double;
          border-width: 1px;
          border-color: #eaeaea;

          .focusBtn {
            font-size: 10px;
            border: none;
            cursor: pointer;
            outline: none;
            color: #0069eb;
            background-color: #e5f0fd;
            width: 53px;
            height: 30px;
            border-radius: 8px;
            position: absolute;
            right: 12px;
            top: 35px;
          }

          .hearIcon {
            width: 57px;
            height: 57px;
            background: rgba(207, 207, 207, 1);
            box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.06);
            border-radius: 50%;
            margin-top: 20px;
            margin-bottom: 9px;

            img {
              width: 57px;
              height: 57px;
              border-radius: 50%;
            }
          }

          .pname {
            margin-bottom: 20px;
            color: #333333;
            font-size: 16px;
            font-weight: 600;
          }

          .pnum {
            display: flex;
            align-items: center;
            color: #999999;
            font-size: 14px;

            img {
              width: 14px;
              height: 14px;
              margin-right: 3px;
            }

            span:nth-child(2) {
              margin-right: 30px;
            }
          }
        }
      }

      .redMore {
        width: 100%;
        height: 57px;
        background-color: #ffffff;
        border-radius: 0 0 24px 24px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          font-size: 14px;
          color: #0069eb;
          font-weight: 600;
          cursor: pointer;
        }
      }
    }

    .navigationLeft {
      width: 100%;
      height: 100%;

      .navigationTittle {
        font-size: 16px;
        font-weight: 700;
        font-family: FZLTZHK--GBK1-0;
        color: #000000;
        text-align: center;
      }

      .navigationLeftTop {
        padding-top: 10px;
        width: 100%;
        height: 290px;
        background-color: white;

        .navigationTopUi {
          li {
            cursor: pointer;
            font-size: 16px;
            color: #999999;
            height: 80px;
            line-height: 80px;
            text-align: center;
          }
        }
      }

      .navigationLeftBut {
        padding-top: 10px;
        width: 100%;
        height: 100%;
        min-height: 100px;
        border-radius: 12px;
        border-width: 1px;
        border-color: #eaeaea;
        border-style: double;
        background-color: white;

        .navigationButUi {
          li {
            cursor: pointer;
            font-size: 12px;
            color: #999999;
            height: 50px;
            line-height: 50px;
            text-align: center;
          }
        }
      }
    }

    .isActing {
      color: #fe5e3a !important;
    }

    .isActings {
      border: 3px solid #fe5e3a !important;
    }

    .bbsLeft {
      .bbsLeftNavigation {
        border-radius: 24px;
        width: 232px;
        height: 270px;
        background-color: #ffffff;
        padding-top: 20px;

        .navigationTittle {
          p {
            font-size: 16px;
            text-align: center;
            color: rgba(0, 0, 0, 1);
            font-weight: Regular;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
              margin-right: 8px;
              width: 20px;
              height: 20px;
              display: inline-block;
              background-image: url("./../../assets/信息小.png");
              background-repeat: no-repeat;
            }
          }
        }

        .navigationUl {
          li {
            cursor: pointer;
            font-size: 16px;
            color: #999999;
            height: 80px;
            line-height: 80px;
            text-align: center;
          }
        }
      }

      .hotPersonTitter {
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        padding-right: 39px;
        width: 191px;
        height: 57px;
        line-height: 57px;
        background-color: #ffffff;

        .tittleLeft {
          float: left;
          display: flex;
          align-items: center;

          img {
            margin-left: 30px;
            margin-right: 5px;
            width: 20px;
            height: 20px;
          }

          span {
            font-size: 16px;
            color: rgba(0, 0, 0, 1);
          }
        }

        font {
          float: right;
        }
      }

      .hotItems {
        margin-top: 10px;
        width: 232px;
        height: 171px;
        border-radius: 8px;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        flex-direction: column;
        cursor: pointer;

        .hotIcon {
          width: 58px;
          height: 58px;
          margin-top: 20px;
          background: rgba(207, 207, 207, 1);
          box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.06);
          border-radius: 50%;
        }

        p {
          color: rgba(51, 51, 51, 1);
          font-weight: Bold;
          font-family: "PingFang-SC-Bold";
          font-size: 16px;
          margin-top: 9px;
        }

        .hotNum {
          margin-top: 20px;

          i {
            display: inline-block;
            background-image: url("./../../assets/眼睛.png");
            background-repeat: no-repeat;
            width: 20px;
            height: 14px;
          }

          span {
            font-size: 14px;
            color: rgba(153, 153, 153, 1);
            font-weight: bold;
            font-family: "PingFang-SC-Bold";
          }

          font {
            margin-left: 22px;
            font-size: 14px;
            color: rgba(153, 153, 153, 1);
            font-weight: bold;
            font-family: "PingFang-SC-Bold";
          }
        }
      }

      .hotBot {
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
        margin-top: 10px;
        width: 232px;
        height: 57px;
        line-height: 57px;
        text-align: center;
        background-color: #ffffff;
        span {
          cursor: pointer;
          font-size: 14px;
          font-weight: bold;
          font-family: "PingFang-SC-Bold";
          color: rgba(0, 105, 235, 1);
        }
      }
    }
    .radionSpan {
      color: #000;
    }
    .radio {
      display: inline-block;
      margin-left: 235px;
      color: #000;
      font-size: 15px;
    }
    .bbsRight {
      margin-top: 20px;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(2, 64.3%);
      grid-template-rows: 197px;
      grid-row-gap: 20px;
      grid-column-gap: 20px;
      margin-bottom: 30px;
      background: white;
      .straLeft {
        border: 1px solid rgba(215, 215, 215, 1);
        display: flex;
        flex-direction: column;
        .newStatus {
          display: inline-block;
          margin-left: 50px;
          margin-right: 70px;
          span {
            margin-left: -10px;
            color: #fe5f39 !important;
          }
        }
        table {
          position: relative;
          width: 100%;
          display: block;
          color: #333333;
          background: white;
          font-size: 12px;
        }

        thead {
          float: left;
        }

        tbody tr {
          display: inline-block;
        }
        td {
          width: 110px;
        }
        th {
          width: 40px;
        }
        th:nth-child(2) {
          border-top: none;
          border-bottom: none;
        }
        td:nth-child(2) {
          border-top: none;
          border-bottom: none;
        }
        th,
        td {
          height: 36px;
          display: block;
          border: 1px solid #333333;

          line-height: 36px;
          text-align: center;
        }
          > div:first-child {
          display: flex;
          justify-content: space-around;
          img {
            width: 85px;
            height: 55px;
          }
          align-items: center;
        }
        > div:last-child {
          // background: red;
          display: flex;
          > div {
            margin: 20px -26px 28px 18px;
          }
          span {
            color: #000000;
            margin-right: 10px;
          }
          p {
            margin-top: 30px;
            span:nth-child(2) {
              margin: 30px;
            }
            span {
              color: #fe5f39;
              font-size: 18px;
              font-weight: 700;
              cursor: pointer;
            }
          }
        }
      }
      .straRight {
        border: 1px solid rgba(215, 215, 215, 1);
        width: 52.5%;
        display: flex;
        position: relative;
        flex-direction: column;
        color: #000;
        font-size: 12px;
        .moreDs {
          position: absolute;
          right: 10px;
          top: 10px;
          color: #0069eb;
          font-size: 14px;
          cursor: pointer;
        }
        .moreDe {
          cursor: pointer;
        }
        b {
          color: #fe5f39;
          font-size: 15px;
          font-weight: 600;
        }
        div:nth-of-type(1) {
          margin-top: 26px;
        }
        > div {
          border-bottom: 1px solid #999999;
          height: 29%;
          padding: 7px;
          // margin-top: 26px;
          .titl {
            margin-right: 20px;
            font-weight: 600;
            font-size: 14px;
          }
          img {
            width: 45px;
            height: 45px;
            margin-right: 30px;
            border-radius: 30px;
          }
          .im {
            margin-right: 17px;
            img {
              height: 14px;
              width: 14px;
              margin-right: 8px;
            }
          }
          // span:nth-of-type(1){margin-right: 20px;font-weight: 600;font-size: 14px;}
          p {
            margin-top: 15px;
          }
        }
      }
      .bbsItems {
        background-color: red;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.06);
        border-radius: 12px;
        cursor: pointer;
        border-width: 1px;
        border-style: double;
        border-color: #eaeaea;

        .itemsTop {
          height: 120px;
          width: 95%;
          padding-top: 10px;
          padding-left: 10px;

          .topLeft {
            float: left;
            width: 33%;
            height: 100%;
            text-align: center;

            img {
              width: 75px;
              height: 75px;
              background-size: 100% 100%;
            }
          }

          .topRight {
            float: left;
            height: 50%;
            width: 60%;
            margin-left: 15px;
            display: block;

            .topTittle {
              text-overflow: -o-ellipsis-lastline;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              line-clamp: 2;
              -webkit-box-orient: vertical;
              color: rgba(0, 0, 0, 1);
              font-size: 18px;
              height: 48px;
            }

            .topConter {
              margin-top: 10px;
              color: rgba(153, 153, 153, 1);
              font-size: 14px;
            }

            .numALL {
              height: 20px;
              margin-top: 20px;

              .topIntegral {
                width: 200px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                float: left;
              }

              .jifen {
                float: right;
                font-size: 13px;
                color: #fe5e39;
              }
            }
          }
        }

        .itemsBut {
          background-color: #f9f9f9;
          height: 60px;
          line-height: 60px;
          width: 100%;
          border-radius: 12px;

          div {
            margin-left: 31px;
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 37px;
              height: 37px;
              border-radius: 50%;
            }

            font {
              margin-left: 10px;
              font-size: 13px;
              color: rgba(102, 102, 102, 1);
            }
          }

          span {
            margin-right: 36px;
            float: right;
            font-size: 14px;
            color: rgba(153, 153, 153, 1);
          }
        }
      }
    }
  }
}

.homeFoot {
  width: 100%;
  height: 253px;
  background-color: #2d2f39;

  .footCenter {
    width: 100%;
    height: 150px;
    padding-top: 47px;

    .incenter {
      height: 190px;
      width: 75%;
      margin: 0 auto;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      .footleft {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: flex-end;

        .footui {
          width: 25%;
          color: #ffffff;
          float: left;

          span {
            font-size: 18px;
            display: block;
            margin-bottom: 25px;
          }

          ul {
            width: 300px;
            font-size: 14px;

            li {
              display: inline-block;
              margin-bottom: 10px;
              cursor: pointer;
              font-weight: 600;
              width: 40%;
            }
          }
        }

        .footui1 {
          width: 30%;
          color: #ffffff;
          float: left;

          span {
            font-size: 18px;
            display: block;
            margin-bottom: 25px;
          }

          ul {
            width: 300px;
            height: 150px;
            font-size: 14px;

            li {
              display: block;
              margin-bottom: 5px;
              cursor: pointer;
              font-weight: 600;
              font-size: 12px;
            }
          }
        }
      }

      .footright {
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -30px;
        .code1 div {
          background-image: url("./../../assets/weibo.jpg");
          background-size: 100% 100%;
          background-repeat: no-repeat;
          margin-bottom: 10px;
        }
        .code2 div {
          background-image: url("./../../assets/weixin.png");
          background-size: 100% 100%;
          background-repeat: no-repeat;
          margin-bottom: 10px;
        }
        .footcode {
          width: 30%;
          float: left;
          display: flex;
          align-items: center;
          flex-direction: column;

          div {
            background-color: #ffffff;
            width: 104px;
            height: 104px;
            line-height: 104px;
            text-align: center;
            color: black;
          }

          span {
            font-weight: 600;
          }
        }
      }
    }
  }

  .footButtom {
    width: 100%;
    height: 52px;
    border-top: 2px solid #202128;

    div {
      height: 52px;
      width: 50%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        color: #ffffff;
        font-size: 15px;
      }
    }
  }

  .divfooter {
    height: 30px;
    display: block;
    float: left;
    width: 97%;
  }
}
</style>
