<template>
  <div>
    <div class="redPersonD">
      <el-row :gutter="20">
        <el-col :span="4">
          <div class="renPersonList">
            <div class="redTop">
              <div class="topLeft">
                <img
                  src="./../../assets/切图/12.png"
                  alt="火"
                />
                <span>红人榜</span>
              </div>
            </div>
            <div class="redCenter">
              <div
                class="redItem"
                v-for="(item, index) in eventList"
                :key="index"
                :class="{ 'isActings': eventAct==item.uId}"
                @click="onRedperson(item.uId)"
              >
                <button
                  class="focusBtn"
                  v-if="item.isFollow==0"
                  @click.stop="follow(item.uId,1)"
                >关注</button>
                <button
                  class="focusBtn"
                  v-else
                  @click.stop="follow(item.uId,2)"
                >已关注</button>
                <div class="hearIcon">
                  <img
                    :src="item.headUrl"
                    alt="头像"
                  />
                </div>
                <p class="pname">{{item.nickName}}</p>
                <p class="pnum">
                  <img
                    src="./../../assets/切图/3.png"
                    alt="查看数"
                  />
                  <span>{{item.fansCount}}</span>
                  <span>中单率:{{item.winRate}}%</span>
                </p>
              </div>
            </div>
            <!-- <div class="redMore">
                <span>查看更多</span>
          </div>-->
          </div>
        </el-col>

        <el-col :span="20">
          <div class="godDetails">
            <div class="godTop">
              <div class="topLeft">
                <div class="headIcon">
                  <img
                    :src="personList.headUrl"
                    alt="头像"
                  />
                </div>
              </div>
              <div class="topright">
                <div class="rightName">
                  <span>{{personList.nickName}}</span>
                  <i></i>
                </div>

                <p>&nbsp;</p>
                <div class="rightNum">
                  <i></i>
                  <span>{{personList.fansCount}}</span>
                  <font>中单率:{{personList.winRate}}%</font>
                </div>
                <!-- <button>关注</button> -->


                <el-button style="height: 36px;" @click="clickopi(0)">大神推荐</el-button>
                <el-button style="height: 36px;" @click="clickopi(1)">策略交流</el-button>

              </div>
            </div>
            <div class="godTittle">
              <span
                @click="getGame(1)"
                :class="{ 'isActings2': type==1}"
              >足球</span>
              <span
                @click="getGame(2)"
                :class="{ 'isActings2': type==2}"
              >篮球</span>
              <span
                @click="getGame(3)"
                :class="{ 'isActings2': type==3}"
              >电竞</span>
            </div>




<!--            大神推荐-->
            <div
              v-if="getupp"
              class="godItems"
            >
              <ul class="gamesItemUi">
                <li>
                  <span>联赛名</span>
                </li>
                <li>
                  <span>时间</span>
                </li>
                <li>
                  <span>主队</span>
                  <div class="score">
                    <span>vs</span>
                  </div>
                  <span>客队</span>
                </li>
                <li>
                  <span>标题</span>
                </li>
                <li>
                  <span>积分</span>
                </li>
                <li>
                  <span></span>
                </li>
                <li>
                  <span>红黑单</span>
                </li>
              </ul>
            </div>
            <div
              v-show="getupp"
              class="godItems"
              v-for="(item, index) in gameList"
              :key="index"
            >

              <ul class="gamesItemUi">
                <li>
                  <span>{{item.matchShortName}}</span>
                </li>
                <li>
                  <span>{{dateFormat(item.createTime)}}</span>
                </li>
                <li>
                  <span>{{item.aTeamShortName}}</span>
                  <div class="score">
                    <span>vs</span>
                  </div>
                  <span>{{item.bTeamShortName}}</span>
                </li>
                <li>
                  <span class="spanp">{{item.gfTitle}}</span>
                </li>
                <li>
                  <span>{{item.buyIntegral}}</span>
                </li>
                <li>
                  <span style="cursor:pointer;color: #1989fa"  @click="jumpTos(item.uId,item.gfId,item.nickName,item.matchShortName,item.aTeamShortName,item.bTeamShortName,item.euroloss,item.createTime)">查看详情</span>
                </li>
                <li>
                  <div>
                    <!-- <span class="integralNum">{{returnPrice(item.isRight,item.ifWinGet)}}</span> -->
                    <span class="integralText"  v-if="item.isRight==1" style="color: red">{{returnWin(item.isRight)}}</span>
                    <span class="integralText"  v-else>{{returnWin(item.isRight)}}</span>
                  </div>
                </li>
              </ul>
            </div>

            <el-pagination
              @current-change="handleCurrentChange"
              :current-page="currentPage"
              :page-size="pagesize"
              layout="total, prev, pager, next, jumper"
              :total="total"
              v-if="getupp"
              style="text-align: center;margin-top: 50px;"
            ></el-pagination>
            <!--            大神推荐-->

            <div class="bbsRight"  v-if="!getupp">
              <div
                class="bbsItems"
                @click="jumpTosa(item.aId,item.agId)"
                v-for="(item,i) in articleList"
                :key="i"
              >
                <div class="itemsTop">
                  <div class="topLeft">
                    <img
                      :src="item.aPic"
                      alt="图标"
                    />
                  </div>
                  <div class="topRight">
                    <p class="topTittle">{{item.aTitle}}</p>
                    <p class="topConter">{{item.aSubtitle}}</p>
                    <div class="topIntegral">
                      <div class="eye">
                        <i></i>
                        <span>{{item.lookCount}}</span>
                      </div>
                      <div class="ren">
                        <i></i>
                        <span>{{item.collectionCount}}</span>
                      </div>

                      <div class="xinxi">
                        <i></i>
                        <span>{{item.remarkCount}}</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="itemsBut">
                  <div>
                    <img
                      src="./../../assets/足球.png"
                      alt="足球图标"
                    />
                    <font>{{item.nickName}}</font>
                  </div>
                  <span>{{dateFormat(item.createTime)}}</span>
                </div>


              </div>
            </div>
            <el-pagination
              v-if="!getupp"
              @current-change="handleCurrentChange1"
              :current-page="currentPage"
              :page-size="pagesize"
              layout="total, prev, pager, next, jumper"
              :total="total"
              style="text-align: right;margin-top: 50px;margin-right: 20px;"
            ></el-pagination>

          </div>

        </el-col>
      </el-row>

    </div>
    <div class="homeFoot">
      <div class="footCenter">
        <div class="incenter">
          <div class="footleft">
            <div class="footui">
              <span>关于火狐</span>
              <ul>
                <li>关于我们</li>
              </ul>
            </div>
            <!-- <div class="footui">
              <span>友情链接</span>
              <ul>
                <li>关于我们</li>

              </ul>
            </div>-->
            <div class="footui1">
              <span>联系我们</span>
              <ul>
                <li>邮箱:HHplan@163.com</li>
                <li>地址:深圳市福田区福田街道岗厦社区福华三路88号财富大厦49FH5</li>
              </ul>
            </div>
          </div>
          <div class="footright">
            <div class="footcode code1">
              <div></div>
              <span>官方公众号</span>
            </div>
            <div class="footcode code2">
              <div></div>
              <span>官方微博</span>
            </div>
          </div>
        </div>
      </div>
      <div class="footButtom">
        <div>
          <span>深圳市圳鹏思信息技术有限公司</span>
          <!-- <span>备案号：XXXXXXXXXXXXX</span> -->
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import {
    buyGreateForecast,
    isBuyGreatForccast,
    selectUserByUserId,
  getMatchBetList,
  getGreatGodList,
  doUserFollow,
  getGreatForecastList,
    getArticleList
} from "../../api/api";
import Cookies from "js-cookie";
export default {
  name: "redPersonD",
  data() {
    return {
        articleList:[],
        getupp:true,
      currentPage: 1,
      pagesize: 10,
      total: 0,
      type: 1,
      eventAct: "",
      gameList: [],
      eventList: [],
        style1:false,
      personList: {},
        getgetList3:'',
    };
  },
  mounted() {
    this.eventAct = this.$route.query.uid;
  },
  created() {
    this.getList3(this.$route.query.uid);
    this.getList2();
    this.getList();
  },
  components: {},
  methods: {
      jumpTosa(aid, agId) {
          this.$router.push({
              path: "/bbsdetails",
              query: {
                  aid: aid,
                  agId: agId
              }
          });
      },
      clickopi(i){
          console.log(i)
          if(i==0){
              this.getupp=true
              console.log('大神')
          }else if(i==1){
              this.opentable()
              this.getupp=false
              console.log('策略')
          }
      },
      jumpTos(uid, gfId, nickName, match, aname, bname, odd, time) {
          if (Cookies.get("uId")) {
              isBuyGreatForccast({
                  userId: Cookies.get("uId"),
                  gfId: gfId
              })
                  .then(res => {
                      console.log(res);
                      this.$router.push({
                          path: "/goddetails",
                          query: {
                              uid: uid,
                              gfId: gfId,
                              nickName: nickName,
                              match: match,
                              aname: aname,
                              bname: bname,
                              odd: odd,
                              time: time
                          }
                      });
                  })
                  .catch(err => {
                      this.$confirm(err + ",请问是否需要购买此文章?", "确认购买", {
                          confirmButtonText: "确定",
                          cancelButtonText: "取消",
                          type: "warning"
                      })
                          .then(() => {
                              buyGreateForecast({
                                  userId: Cookies.get("uId"),
                                  gfId: gfId
                              })
                                  .then(res => {
                                      console.log(res);
                                      this.$message.success("购买成功");
                                      this.$router.push({
                                          path: "/goddetails",
                                          query: {
                                              uid: uid,
                                              gfId: gfId,
                                              nickName: nickName,
                                              match: match,
                                              aname: aname,
                                              bname: bname,
                                              odd: odd,
                                              time: time
                                          }
                                      });
                                  })
                                  .catch(err => {
                                      this.$message.error(err.message);
                                  });
                          })
                          .catch(() => {
                              this.$message({
                                  type: "info",
                                  message: "已取消购买"
                              });
                          });
                  });
          } else {
              this.$message.warning("请先登录");
          }
      },
      handleCurrentChange1(val) {
          this.currentPage = val;
          this.opentable();
          console.log(`当前页: ${val}`);
      },
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getList3(this.getgetList3);
    },
    getGame(val) {
      this.type = val;
      this.getList3(this.getgetList3);
      this.opentable()
    },
    // 关注大神 取消关注
    follow(val, num) {
      if (Cookies.get("uId") != "" && Cookies.get("uId") != null) {
        doUserFollow({
          userId: Cookies.get("uId"),
          buId: val
        })
          .then(res => {
            console.log(res);
            if (num == 1) {
              this.$message.success("关注成功");
            } else {
              this.$message.success("取消关注成功");
            }

            this.getList2();
          })
          .catch(err => {
            this.$message.error(err.message);
          });
      } else {
        this.$message.warning("请先登录");
      }
    },
    reternOdd(item, val) {
      if (item.euroloss != "" && item.euroloss != null) {
        return item.euroloss.split(",")[val];
      } else {
        return "-";
      }
    },
    returnIndex(val, index) {
      if (val != "" && val != null) {
        return val.split(",")[index];
      } else {
        return "-";
      }
    },
    returnPrice(val, num) {
      switch (val) {
        case 1:
          return "+" + num;
          break;
        case 2:
          return "-" + num;
          break;
        default:
          return "未结算";
          break;
      }
    },
    returnWin(val) {
      switch (val) {
        case 1:
            this.style1=true
          return "红单";
          break;
        case 2:
          return "黑单";
          break;
        default:
          return "未开赛";
          break;
      }
    },
    getList3(v) {
      getGreatForecastList({
        current: this.currentPage,
        size: this.pagesize,
        searchInt1: this.type,
        searchStr1: "",
        searchInt2: v
      })
        .then(res => {
          console.log(res);
          this.gameList = res.data.records;
          this.total = res.data.total;
        })
        .catch(err => {
          this.$message.error(err.message);
        });
    },

    getList2() {
      getGreatGodList({
        current: 1,
        size: 5,
        searchInt1: Cookies.get("uId") ? Cookies.get("uId") : 0,
        searchStr1: "",
        searchInt2: 2
      })
        .then(res => {
          console.log(res);
          this.eventList = res.data.records;
        })
        .catch(err => {
          this.$message.error(err.message);
        });
    },
    dateFormat(time) {
      var date = new Date(time);
      var year = date.getFullYear();
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      var month =
        date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1;
      var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
      var hours =
        date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
      var minutes =
        date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
      var seconds =
        date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
      // 拼接
      return year + "-" + month + "-" + day;
    },
    onRedperson(val) {
      console.log(val,'==?userid');
      console.log(this.eventAct,'==?this.eventAct')
        this.eventAct = val;
        this.getgetList3=val;
        this.getList3(val);
        this.getList2();
        this.getList();

    },
    getList() {
      console.log(this.$route.query.uid);
      selectUserByUserId({
              userId: this.eventAct != "" ? this.eventAct : this.$route.query.uid
          })
              .then(res => {
                  console.log(res);
                  this.personList = res.data;
              })
              .catch(err => {
                  this.$message.error(err.message);
              });


    },
      opentable(){

          getArticleList({
              current: this.currentPage,
              size: this.pagesize,
              searchInt1: this.type,
              searchInt5: Number(this.$route.query.uid) ,
          })
              .then(res => {
                  console.log(res);
                  this.articleList = res.data.records;
                  this.total = res.data.total;
              })
              .catch(err => {
                  this.$message.error(err.message);
              });
      }
  }
};
</script>

<style lang="less" scoped>
.redPersonD {
  width: 1333px;
  height: 100%;
  padding-top: 20px;
  margin: 0 auto 100px auto;
  .isActings {
    border: 3px solid #fe5e3a !important;
  }
  .isActings2 {
    border: 2px solid #fe5e3a !important;
  }
  .renPersonList {
    .redTop {
      width: 100%;
      height: 57px;
      background-color: #ffffff;
      border-radius: 24px 24px 0 0;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .topLeft {
        display: flex;
        align-items: center;
        margin-left: 15px;
        img {
          width: 20px;
          height: 20px;
          margin-right: 5px;
        }
        span {
          font-size: 16px;
          font-weight: 600;
          color: #000000;
        }
      }
      span {
        margin-right: 15px;
        color: #999999;
        font-size: 12px;
        cursor: pointer;
      }
    }
    .redCenter {
      width: 100%;
      height: 100%;
      .redItem {
        width: 100%;
        height: 171px;
        position: relative;
        cursor: pointer;
        background-color: #ffffff;
        margin-bottom: 10px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .focusBtn {
          font-size: 10px;
          border: none;
          cursor: pointer;
          outline: none;
          color: #0069eb;
          background-color: #e5f0fd;
          width: 53px;
          height: 30px;
          border-radius: 8px;
          position: absolute;
          right: 12px;
          top: 35px;
        }
        .hearIcon {
          width: 57px;
          height: 57px;
          background: rgba(207, 207, 207, 1);
          box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.06);
          border-radius: 50%;
          margin-top: 20px;
          margin-bottom: 9px;
          img {
            width: 57px;
            height: 57px;
            border-radius: 50%;
          }
        }
        .pname {
          margin-bottom: 20px;
          color: #333333;
          font-size: 16px;
          font-weight: 600;
        }
        .pnum {
          display: flex;
          align-items: center;
          color: #999999;
          font-size: 14px;
          img {
            width: 14px;
            height: 14px;
            margin-right: 3px;
          }
          span:nth-child(2) {
            margin-right: 30px;
          }
        }
      }
    }
    .redMore {
      width: 100%;
      height: 57px;
      background-color: #ffffff;
      border-radius: 0 0 24px 24px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        font-size: 14px;
        color: #0069eb;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
  .godDetails {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    min-height: 1089px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 12px;
    .godTop {
      height: 193px;
      border-bottom: 1px solid rgba(240, 240, 240, 1);
      .topLeft {
        float: left;
        width: 160px;
        height: 100%;
        .headIcon {
          margin-top: 30px;
          margin-left: 30px;
          width: 126px;
          height: 126px;
          background: rgba(207, 207, 207, 1);
          box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.06);
          border-radius: 50%;
          img {
            width: 126px;
            height: 126px;
            border-radius: 50%;
          }
        }
      }
      .topright {
        float: left;
        padding-top: 45px;
        padding-left: 10px;
        .rightName {
          span {
            font-size: 20px;
            color: rgba(51, 51, 51, 1);
          }
          i {
            display: inline-block;
            width: 16px;
            height: 16px;
            background-image: url("./../../assets/切图/9.png");
            background-repeat: no-repeat;
          }
        }
        p {
          font-size: 16px;
          color: rgba(153, 153, 153, 1);
        }
        .rightNum {
          i {
            background-image: url("./../../assets/切图/10.png");
            background-repeat: no-repeat;
            width: 20px;
            height: 14px;
            display: inline-block;
          }
          span {
            font-size: 14px;
            color: rgba(153, 153, 153, 1);
          }
          font {
            margin-left: 94px;
            font-size: 14px;
            color: rgba(153, 153, 153, 1);
          }
        }
        button {
          margin-top: 30px;
          outline: none;
          border: none;
          cursor: pointer;
          min-width: 66px;
          height: 42px;
          border-radius: 8px;
          background-color: RGBA(230, 241, 253, 1);
          font-size: 14px;
          color: rgba(0, 105, 235, 1);
        }
      }
    }
    .godTittle {
      height: 60px;
      line-height: 60px;
      text-align: center;
      display: grid;
      grid-template-columns: 33.33% 33.33% 33.33%;
      grid-template-rows: 60px;
      font-size: 20px;
      color: #000000;
      span {
        border-right: 2px solid rgba(240, 240, 240, 1);
        cursor: pointer;
      }
      border-bottom: 1px solid rgba(240, 240, 240, 1);
    }
    .godItems {
      height: 57px;
      width: 100%;
      border-bottom: 1px solid rgba(240, 240, 240, 1);
      .gamesItemUi {
        height: 57px;
        display: grid;
        grid-template-columns: 8% 13% 25% 30% 5% 12% 7%;
        grid-template-rows: 57px;
        .score {
          display: inline-block;
          width: 36px;
          height: 26px;
          line-height: 26px;
          background: linear-gradient(
            -30deg,
            rgba(255, 135, 55, 1),
            rgba(254, 85, 58, 1)
          );
          border-radius: 6px;
          text-align: center;
          span {
            font-size: 16px;
            color: #ffffff;
          }
        }
        .gameLogo {
          height: 45px;
          width: 34px;
          display: inline-block;
        }
        .spliceLi {
          display: grid;
          grid-template-columns: repeat(3, 33.33%);
          grid-template-rows: repeat(2, 50%);
          span {
            text-align: center;
            line-height: 45px;
          }
        }
        li:nth-child(3) {
          display: grid;
          grid-template-columns: 40% 20% 40%;
          grid-template-rows: 57px;
          .score {
            margin: auto;
          }
        }
        li {
          float: left;
          font-size: 16px;
          color: #999999;
          height: 57px;
          line-height: 57px;
          text-align: center;
          .dish {
            color: #999999;
            font-size: 16px;
          }
          .dishNumber {
            color: #fe5e39;
            font-size: 20px;
          }
        }
        div {
          width: 100%;
          height: 57px;
          line-height: 0;
          display: flex;
          align-items: center;
          flex-direction: column;
          .integralNum {
            color: rgba(255, 125, 56, 1);
            font-size: 20px;
            margin-top: 50px;
          }
          .integralText {
            color: rgba(153, 153, 153, 1);
            font-size: 14px;
            line-height: 57px;
          }
        }
      }
    }
  }
}
.homeFoot {
  width: 100%;
  height: 253px;
  background-color: #2d2f39;
  .footCenter {
    width: 100%;
    height: 150px;
    padding-top: 47px;
    .incenter {
      height: 190px;
      width: 75%;
      margin: 0 auto;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .footleft {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        .footui {
          width: 25%;
          color: #ffffff;
          float: left;
          span {
            font-size: 18px;
            display: block;
            margin-bottom: 25px;
          }
          ul {
            width: 300px;
            font-size: 14px;
            li {
              display: inline-block;
              margin-bottom: 10px;
              cursor: pointer;
              font-weight: 600;
              width: 40%;
            }
          }
        }
        .footui1 {
          width: 30%;
          color: #ffffff;
          float: left;
          span {
            font-size: 18px;
            display: block;
            margin-bottom: 25px;
          }
          ul {
            width: 300px;
            height: 150px;
            font-size: 14px;
            li {
              display: block;
              margin-bottom: 5px;
              cursor: pointer;
              font-weight: 600;
              font-size: 12px;
            }
          }
        }
      }
      .footright {
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:-30px;
        .code1 div {
          background-image: url("./../../assets/weibo.jpg");
          background-size: 100% 100%;
          background-repeat: no-repeat;
          margin-bottom: 10px;
        }
        .code2 div {
          background-image: url("./../../assets/weixin.png");
          background-size: 100% 100%;
          background-repeat: no-repeat;
           margin-bottom: 10px;
        }
        .footcode {
          width: 30%;
          float: left;
          display: flex;
          align-items: center;
          flex-direction: column;
          div {
            background-color: #ffffff;
            width: 104px;
            height: 104px;
            line-height: 104px;
            text-align: center;
            color: black;
          }
          span {
            font-weight: 600;
          }
        }
      }
    }
  }
  .footButtom {
    width: 100%;
    height: 52px;
    border-top: 2px solid #202128;
    div {
      height: 52px;
      width: 50%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        color: #ffffff;
        font-size: 15px;
      }
    }
  }
}
.bbsRight {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-left: 15px;
  display: grid;
  grid-template-columns: repeat(2, 48%);
  grid-template-rows: 197px;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  .bbsItems {
    height: 197px!important;
    background-color: red;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    cursor: pointer;
    .itemsTop {
      height: 120px;
      width: 95%;
      padding-top: 18px;
      padding-left: 20px;
      .topLeft {
        float: left;
        img {
          width: 151px;
          height: 110px;
          background-size: 100% 100%;
        }
      }
      .topRight {
        float: left;
        height: 110px;
        width: 66%;
        margin-left: 15px;
        .topTittle {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: rgba(0, 0, 0, 1);
          font-size: 18px;
        }
        .topConter {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          margin-top: 20px;
          color: rgba(153, 153, 153, 1);
          font-size: 14px;
        }
        .topIntegral {
          margin-top: 30px;
          div {
            float: left;
          }
          .eye {
            display: flex;
            align-items: center;
            justify-content: center;
            i {
              background-image: url("./../../assets/切图/10.png");
              background-repeat: no-repeat;
              display: inline-block;
              width: 20px;
              height: 16px;
            }
            span {
              margin-left: 5px;
              font-size: 12px;
              color: rgba(153, 153, 153, 1);
            }
          }
          .ren {
            margin-left: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            i {
              background-image: url("./../../assets/切图/15.png");
              background-repeat: no-repeat;
              display: inline-block;
              width: 16px;
              height: 20px;
            }
            span {
              margin-left: 5px;
              font-size: 12px;
              color: rgba(153, 153, 153, 1);
            }
          }
          .xinxi {
            margin-left: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            i {
              background-image: url("./../../assets/切图/14.png");
              background-repeat: no-repeat;
              display: inline-block;
              width: 20px;
              height: 20px;
            }
            span {
              margin-left: 5px;
              font-size: 12px;
              color: rgba(153, 153, 153, 1);
            }
          }
        }
      }
    }
    .itemsBut {
      background-color: #dfdfdf;
      height: 60px;
      line-height: 60px;
      width: 100%;
      border-radius: 12px;
      div {
        margin-left: 31px;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 37px;
          height: 37px;
          border-radius: 50%;
        }
        font {
          margin-left: 10px;
          font-size: 13px;
          color: rgba(102, 102, 102, 1);
        }
      }
      span {
        margin-right: 36px;
        float: right;
        font-size: 14px;
        color: rgba(153, 153, 153, 1);
      }
    }
  }
}
</style>
<style>
  .spanp {
    display: block;
    width: 100%;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    white-space: nowrap;
    line-height: 55px;
  }
</style>
