<template>
  <!--  <div class="home" :class="{ 'isScroll1': screenWidth<=1690}">-->
  <div class="home">
    <!-- 顶部logo搜索栏 -->
    <div class="topLogoSearch">
      <div class="topLogoSearchCenter">
        <div class="logoDix">
          <img
            style="cursor: pointer"
            @click="jumpTo('/homepage','homepage')"
            src="./../assets/切图/29.jpg"
            alt="logo图"
            id="logoImg"
          />
        </div>

        <ul class="menuUi">
           
        <li>
          <router-link tag="a" to="/dataPage" exact>首页</router-link>
          <router-link tag="a" to="/dataKinds" >赛事数据</router-link>
          <router-link tag="a" to="/bbs" >名人天下</router-link>
          <router-link tag="a" to="/godindex" >策略头条</router-link>
        </li>
        </ul>
        <div class="topLogoSearchCenterRight">
          <div class="userDiv">
            <i @click="jumpToq('/personal')">
              <img
                :src="headUrl"
                alt="头像"
                id="heads"
                v-if="headUrl!=''"
                style="border: 1px solid #eaeaea"
              />
              <img src="./../assets/头像.png" alt="头像" id="heads" v-if="headUrl==''" />
            </i>
            <span :title="nikename" v-if="headUrl!=''">{{nikename}}</span>

            <span v-if="headUrl==''" class="re" @click="jumpTo1('/registered')">注册</span>
            <span v-if="headUrl==''" class="logins" @click="jumpTo1('/login')">登录</span>
            <span
              v-if="nickName!=null"
              v-bind:class="{exitlogin:nickName!=null,exit:nikename == null}"
              @click="exit()"
            >退出</span>
          </div>
        </div>
      </div>
    </div>
    <!-- 搜索内容STArt -->
    
    <!-- 搜索内容END -->
    <!-- 居中内容展示栏 -->
    <div class="contentCenter">
      <keep-alive include="bbs">
        <router-view></router-view>
      </keep-alive>
    </div>
  </div>
</template>

<script>
import Cookies from "js-cookie";
import { mapState } from "vuex";
// import bbs from "./bbs"
import { getTopSearchAll, doUserFollow } from "../api/api";
export default {
  name: "home",
  inject: ["reload"],
  data() {
    return {
      screenWidth: document.body.clientWidth,
      input3: "",
      select: "1",
      theGame: "homepage",
      timer: false,
      headUrl: "",
      nikename: "",
      currentPage: 1,
      searchBarImg: false,
       listed: [
        {path: '/dataPage', label: '首页'},
        {path: '/dataKinds', label: '赛事数据'},
        {path: '/bbs'||'/bbsdetails', label: '名人天下'},
        {path: '/godindex', label: '策略头条'},
       
      ],
      ind: '0',
      addTypeVal:''
    };
  },
  watch: {
    // 监测store.state
    addTypeVal(val){
                let reg = /[^\u0020-\u007E\u00A0-\u00BE\u2E80-\uA4CF\uF900-\uFAFF\uFE30-\uFE4F\uFF00-\uFFEF\u0080-\u009F\u2000-\u201f\u2026\u2022\u20ac\r\n]/g;
                if(val.match(reg)) {
                   this.addTypeVal = val.replace(reg, '');
                }
            },

    headUrl2: {
      handler(newName, oldName) {
        this.gethear();
      },
      deep: true,
      immediate: true
    },

    nickName2: {
      handler(newName, oldName) {
        this.gethear2();
      },
      deep: true,
      immediate: true
    },

    screenWidth(val) {
      // 为了避免频繁触发resize函数导致页面卡顿，使用定时器
      if (!this.timer) {
        // 一旦监听到的screenWidth值改变，就将其重新赋给data里的screenWidth
        this.screenWidth = val;
        this.timer = true;
        let that = this;
        setTimeout(function() {
          // 打印screenWidth变化的值
          that.timer = false;
        }, 400);
      }
    }
  },
  mounted() {
     if (this.$route.query.item) {
      this.ind = this.$route.query.item;
    } else {
      this.ind = 0;
    };
    const that = this;
    that.headUrl1();
    that.nikename1();
    window.onresize = () => {
      return (() => {
        window.screenWidth = document.body.clientWidth;
        that.screenWidth = window.screenWidth;
      })();
    };
  },
  computed: {
    headUrl2() {
      return this.$store.state.user.headUrl1;
    },
    nickName2() {
      return this.$store.state.user.nickName;
    },
  },
  components: {},
  methods: {
    changeBgc(index) {
	      this.ind = index;
	    },
	  goFocus() {
      this.$router.push('/search')
      this.searchBarImg = true;

    },
   
    gethear() {
      this.headUrl1();
      this.nikename1();
    },
    gethear2() {
      this.headUrl1();
      this.nikename1();
    },
    headUrl1() {
      if (Cookies.get("headUrl1") != "" && Cookies.get("headUrl1") != null) {
        this.headUrl = Cookies.get("headUrl1");
      } else {
        this.headUrl = "";
      }
    },
    nikename1() {
      this.nikename = Cookies.get("nickName");
    },
    jumpTo(addrees, game) {
      this.$router.push({
        path: addrees
      });
      this.theGame = game;
      Cookies.set("activeIndex", game);
      Cookies.set("pageIndex", "1");
    },
    jumpTo1(addrees) {
      this.$router.push({
        path: addrees
      });
    },
    jumpToq(val) {
      this.$router.push({
        path: val,
        query: {
          flag: 1
        }
      });
    },
    exit() {
      this.$store
        .dispatch("LogOut")
        .then(res => {
          this.$message.success("退出成功");
          this.$router.push({ path: "/login" });
          window.location.reload();
        })
        .catch(error => {
          this.$message.error(error);
        });
    },
    nickName() {
      return Cookies.get("nickName");
    }
  },
  created() {
   this.theGame =
      Cookies.get("activeIndex") != null
        ? Cookies.get("activeIndex")
        : "homepage";
  }
};
</script>

<style lang="less" scoped>


.isScroll1 {
  overflow-x: scroll !important;
  min-width: 1200px;
  margin: auto;
}

.home {
  .isActing {
  
  }

  .topLogoSearch {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, 1);

    .search_bar {
      position: absolute;
      top: 28px;
      left: 540px;
      width: 200px;
      height: 32px;
      border: 1px solid rgba(233, 233, 233, 1);
      border-radius: 5px;
      // img:last-child{
      //   left: 147px;
      // }
      .info-close {
        position: absolute;
        right: calc(50% - 10px);
        width: 30px;
        height: 30px;
        opacity: 0.6;
        border-radius: 25px;
        cursor: pointer;
        z-index: 2002;
        top: 0;
        left: 168px;
      }
      .info-close:before {
        position: absolute;
        content: "";
        width: 20px;
        height: 2px;
        background: #000;
        transform: rotate(45deg);
        top: 16px;
        left: 7px;
      }
      .info-close:after {
        content: "";
        position: absolute;
        width: 20px;
        height: 2px;
        background: #000;
        transform: rotate(-45deg);
        top: 16px;
        left: 7px;
      }

      input {
        display: inherit;
        background: transparent;
        border: none;
        width: 160px;
        height: 30px;
        line-height: 30px;
        padding-left: 30px;
      }

      img {
        position: relative;
        top: -50px;
        left: 7px;
        cursor: pointer;
      }
    }

    .topLogoSearchCenter {
      position: relative;
      width: 1200px;
      height: 80px;
      margin: 0 auto;
      line-height: 80px;

      .logoDix {
        height: 80px;
        float: left;
        display: flex;
        align-items: center;

        #logoImg {
          width: 120px;
          height: 60%;
        }
      }

      .menuUi {
        margin-left: 20px;
        height: 80px;
        line-height: 90px;
        width: 50%;
        display: inline-block;

        li {
          // float: left;
          // height: 80px;
          // font-size: 16px;
          // font-weight: bold;
          // color: rgba(51, 51, 51, 1);
          // width: 100px;
          // text-align: center;
          // cursor: pointer;
          .router-link-active{
              color: rgba(254, 95, 57, 1) !important;
          }
          a{
             cursor: pointer;
              float: left;
          height: 80px;
          font-size: 16px;
          font-weight: bold;
          color: rgba(51, 51, 51, 1);
          width: 100px;
          text-align: center;
          }
        }
      }

      .topLogoSearchCenterRight {
        height: 80px;
        width: 35%;
        float: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .input-with-select {
          float: right;

          input {
            background-color: rgb(246, 246, 246) !important;
            border: none;
          }
        }

        button {
          width: 51px;
          height: 40px;
          background: linear-gradient(
            -30deg,
            rgba(255, 135, 55, 1),
            rgba(254, 85, 58, 1)
          );
          border-radius: 6px;
          outline: none;
          border: none;
          cursor: pointer;
          margin-left: 8px;

          img {
            display: inline-block;
            width: 15px;
            height: 15px;
          }
        }

        .userDiv {
          float: right;
          display: flex;
          align-items: center;

          i {
            display: inline-block;
            margin-left: 50px;
            width: 45px;
            height: 45px;
            background-color: #f4f4f4;
            border-radius: 50%;
            cursor: pointer;

            #heads {
              width: 45px;
              height: 45px;
              border-radius: 50%;
            }
          }

          span {
            font-size: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100px;
            margin-left: 10px;
          }

          .re {
            font-size: 16px;
            height: 100%;
            margin-left: 10px;
            width: 60px;
            color: #333333;
            cursor: pointer;
          }

          .logins {
            font-size: 16px;
            height: 100%;
            margin-left: 10px;
            width: 60px;
            color: #333333;
            cursor: pointer;
          }
        }
      }
    }
  }

  .contentCenter {
    width: 100%;
    height: auto;
    .con_lump {
      width: 1200px;
      height: auto;
      margin: 0 auto;
    }
  }

  .exitlogin {
    font-size: 12px;
    color: #fe5a3a;
    display: block;
  }

  .exit {
    font-size: 12px;
    color: #fe5a3a;
    display: none;
  }
}
</style>
