<template>
  <div>
    <div
      class="actDetails"
      :class="[{ bbsfoot: activeIndex==1 }, { bbsBask: activeIndex==2 },{ bbssport: activeIndex==3 }]"
    >
      <div class="bbsBack">
        <el-row :gutter="20">
          <el-col :span="24">
            <div class="bbsRight">
              <div class="conterTop">
                <div class="toptittle">
                  <span>{{articleDetails.baTitle}}</span>
                </div>
                <div class="topInformation" v-if="false">
                  <div class="informationLeft">
                    <p>{{jetLag}}前发布</p>
                  </div>
                </div>

                <div class="topImg">
                  <div v-html="articleDetails.baContent"></div>
                  <!-- <img src="./../../assets/蜘蛛.jpg" alt="蜘蛛" />

                  <img src="./../../assets/蜘蛛.jpg" alt="蜘蛛" />-->
                </div>
              </div>
            </div>
          </el-col>
        </el-row>
      </div>
    </div>
    <Footer/>
  </div>
</template>

<script>
  //论坛版块详情
  import Cookies from "js-cookie";
  import {getActiveById} from "../../api/api";
  import {get_time_diff} from "../../utils/data";
  import Footer from "../footer/footer";

  export default {
    name: "actDetails",
    data() {
      return {
        activeIndex: "1",
        articleDetails: {},
        jetLag: ""
      };
    },
    mounted() {
    },
    components: {Footer},
    methods: {
      getList() {
        getActiveById({
          baId: this.$route.query.baId
        })
          .then(res => {
            this.articleDetails = res.data;
            var date = new Date(res.data.createTime);
            this.activeIndex = res.data.type.toString();
            this.jetLag = get_time_diff(date.getTime());
          })
          .catch(err => {
            this.$message.error(err.message);
          });
      }
    },
    created() {
      this.getList();
    }
  };
</script>

<style lang="less" scoped>
  .diglog {
    .dialogTittle {
      color: rgba(51, 51, 51, 1);
      font-size: 20px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80px;

      i {
        margin-right: 10px;
        background-image: url("./../../assets/切图/16.png");
        background-repeat: no-repeat;
        display: inline-block;
        width: 25px;
        height: 22px;
      }
    }

    .dialogConter {
      .formItems {
        margin-bottom: 30px;

        span {
          font-size: 16px;
          color: rgba(153, 153, 153, 1);
        }
      }

      .items1 {
        .isSelcectBtn {
          color: #ffffff !important;
          background: linear-gradient(0deg,
          rgba(254, 85, 58, 1),
          rgba(255, 135, 55, 1)) !important;
        }

        button {
          width: 70px;
          height: 44px;
          background-color: rgba(240, 240, 240, 1);
          border-radius: 12px;
          border: none;
          outline: none;
          cursor: pointer;
          font-size: 16px;
          margin-right: 30px;
          font-weight: 400;
        }
      }

      .items2 {
        select {
          margin-left: 30px;
          width: 40%;
          border-radius: 12px;
          background: rgba(247, 247, 247, 1);
          height: 55px;
          outline: none;
          border: none;
          padding-left: 20px;
          padding-right: 20px;

          option {
            height: 50px;
            outline: none;
            display: block;
          }
        }
      }

      .items3 {
        select {
          margin-left: 30px;
          width: 40%;
          border-radius: 12px;
          background: rgba(247, 247, 247, 1);
          height: 55px;
          outline: none;
          border: none;
          padding-left: 20px;
          padding-right: 20px;

          option {
            height: 50px;
            outline: none;
            display: block;
          }
        }
      }

      .items4 {
        display: flex;
        align-items: center;

        input {
          width: 40%;
          padding-left: 20px;
          color: rgba(199, 199, 199, 1);
          font-size: 16px;
          outline: none;
          height: 55px;
          border: none;
          border-radius: 12px;
          background: rgba(247, 247, 247, 1);
          margin-left: 35px;
        }
      }

      .items5 {
        display: flex;
        align-items: flex-start;

        span {
          width: 100px;
        }

        // textarea {
        //   padding-top: 10px;
        //   padding-left: 20px;
        //   color: rgba(199, 199, 199, 1);
        //   font-size: 16px;
        //   outline: none;
        //   border: none;
        //   border-radius: 12px;
        //   background: rgba(247, 247, 247, 1);
        //   margin-left: 30px;
        // }
      }

      .items6 {
        display: flex;
        align-items: center;

        input {
          width: 40%;
          padding-left: 20px;
          color: rgba(199, 199, 199, 1);
          font-size: 16px;
          outline: none;
          height: 55px;
          border: none;
          border-radius: 12px;
          background: rgba(247, 247, 247, 1);
          margin-left: 20px;
        }
      }

      .items7 .upload-demo {
        display: inline-flex;
        margin-left: 35px;
      }
    }

    .dialogFooter {
      height: 96px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .cancel {
        margin-right: 61px;
        width: 88px;
        height: 46px;
        background-color: RGBA(255, 232, 225, 1);
        border-radius: 6px;
        cursor: pointer;
        border: none;
        outline: none;
        color: rgba(254, 95, 57, 1);
      }

      .determine {
        width: 88px;
        height: 46px;
        background: linear-gradient(0deg,
        rgba(254, 85, 58, 1),
        rgba(255, 135, 55, 1));
        border-radius: 6px;
        cursor: pointer;
        border: none;
        outline: none;
        color: rgba(255, 255, 255, 1);
      }
    }
  }

  .bbsfoot {
    background-image: url("./../../assets/切图/36.jpg");
  }

  .bbsBask {
    background-image: url("./../../assets/切图/35.jpg");
  }

  .bbssport {
    background-image: url("./../../assets/切图/34.jpg");
  }

  .actDetails {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 20px;

    .bbsBack {
      width: 1067px;
      height: 100%;
      min-height: 1089px;
      margin: 0 auto;

      .isActing {
        color: #fe5e3a !important;
      }

      .isActings {
        color: orange !important;
      }

      .bbsLeft {
        .bbsLeftNavigation {
          border-radius: 24px;
          width: 232px;
          height: 270px;
          background-color: #ffffff;
          padding-top: 20px;

          .navigationTittle {
            p {
              font-size: 16px;
              text-align: center;
              color: rgba(0, 0, 0, 1);
              font-weight: Regular;
              display: flex;
              align-items: center;
              justify-content: center;

              i {
                margin-right: 8px;
                width: 20px;
                height: 20px;
                display: inline-block;
                background-image: url("./../../assets/信息小.png");
                background-repeat: no-repeat;
              }
            }
          }

          .navigationUl {
            li {
              cursor: pointer;
              font-size: 16px;
              color: #999999;
              height: 80px;
              line-height: 80px;
              text-align: center;
            }
          }
        }
      }

      .bbsRight {
        width: 100%;
        height: 100%;
        border-radius: 6px;

        .conterTop {
          width: 100%;
          height: 100%;
          margin-bottom: 10px;
          border-radius: 6px;
          background-color: #ffffff;

          .toptittle {
            margin: 20px auto;
            padding-top: 25px;
            padding-left: 20px;
            padding-bottom: 20px;
            font-size: 30px;
            text-align: center;
            color: rgba(0, 0, 0, 1);
            border-bottom: 1px solid rgba(242, 242, 242, 1);

            .isCollection {
              color: orange;
            }

            .collectionBtn {
              float: right;

              span:nth-child(1) {
                cursor: pointer;
                margin-right: 20px;
              }

              span:nth-child(2) {
                margin-right: 20px;
              }

              span:nth-child(3) {
                cursor: pointer;
                margin-right: 50px;
              }
            }
          }

          .topInformation {
            height: 60px;
            border-bottom: 1px solid rgba(239, 239, 239, 1);
            display: flex;
            align-items: center;
            justify-content: center;

            .informationLeft {
              float: left;
              margin-left: 20px;

              p {
                color: rgba(153, 153, 153, 1);
                font-size: 7px;
              }

              span {
                font-size: 6px;
                color: rgba(153, 153, 153, 1);
              }

              .inforOf {
                margin-top: 30px;

                div {
                  float: left;
                }

                .eye {
                  display: flex;
                  justify-content: center;
                  align-content: center;

                  i {
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    margin-right: 5px;
                    background-image: url("./../../assets/切图/10.png");
                    background-repeat: no-repeat;
                  }
                }

                .ren {
                  display: flex;
                  justify-content: center;
                  align-content: center;
                  margin-left: 100px;

                  i {
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    margin-right: 5px;
                    background-image: url("./../../assets/切图/15.png");
                    background-repeat: no-repeat;
                  }
                }

                .xx {
                  display: flex;
                  justify-content: center;
                  align-content: center;
                  margin-left: 100px;

                  i {
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    margin-right: 5px;
                    background-image: url("./../../assets/切图/14.png");
                    background-repeat: no-repeat;
                  }
                }
              }
            }

            .informationRight {
              float: right;
              height: 100%;
              margin-right: 100px;
              display: flex;
              justify-content: center;
              align-items: center;

              img {
                display: inline-block;
                width: 41px;
                height: 41px;
                border-radius: 50%;
              }

              span {
                color: rgba(102, 102, 102, 1);
                font-size: 8px;
              }
            }
          }

          .topImg {
            width: 95%;
            height: 100%;
            margin: 20px auto 0 auto;
            padding-left: 20px;
            padding-bottom: 15px;

            p {
              font-size: 16px !important;
            }

            div {
              font-size: 14px;
              color: rgba(102, 102, 102, 1);
              margin-bottom: 9.5px;
            }

            img {
              display: block;
              margin: 0 auto;
              margin-bottom: 20px;
            }

            .starBut {
              width: 95px;
              height: 52px;
              cursor: pointer;
              margin: 60px auto 0 auto;
              background: linear-gradient(0deg,
              rgba(254, 85, 58, 1),
              rgba(255, 135, 55, 1));
              border-radius: 26px;

              img {
                margin: 8px 30px 0 37px;
                width: 20px;
                height: 20px;
                display: inline-block;
                background-image: url("./../../assets/星.png");
                background-repeat: no-repeat;
              }

              p {
                font-size: 9px;
                color: rgba(255, 255, 255, 1);
                line-height: 10px;
                text-align: center;
              }
            }

            .starBut1 {
              width: 95px;
              height: 52px;
              cursor: pointer;
              margin: 60px auto 0 auto;
              background: gray;
              border-radius: 26px;

              img {
                margin: 8px 30px 0 37px;
                width: 20px;
                height: 20px;
                display: inline-block;
                background-image: url("./../../assets/星.png");
                background-repeat: no-repeat;
              }

              p {
                font-size: 9px;
                color: rgba(255, 255, 255, 1);
                line-height: 10px;
                text-align: center;
              }
            }
          }
        }

        .conterBut {
          width: 100%;
          height: 100%;
          margin-bottom: 10px;
          background-color: #ffffff;
          border-radius: 6px;

          .contTextarea {
            width: 99%;
            height: 135px;
            border-bottom: 1px solid rgba(242, 242, 242, 1);
            padding-left: 15px;
            padding-top: 15px;

            textarea {
              background-color: rgba(249, 249, 249, 1);
              border: none;
              outline: none;
              padding-left: 30px;
              padding-top: 10px;
            }

            button {
              margin-top: 6px;
              margin-right: 30px;
              float: right;
              outline: none;
              cursor: pointer;
              border: none;
              color: #ffffff;
              font-size: 8px;
              width: 66px;
              height: 28px;
              background: linear-gradient(0deg,
              rgba(254, 85, 58, 1),
              rgba(255, 135, 55, 1));
              border-radius: 3px;
            }
          }

          .contComments {
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 20px;
            min-height: 30px;

            p {
              color: rgba(51, 51, 51, 1);
              font-size: 10px;
              margin-bottom: 24px;

              span {
                color: RGBA(154, 154, 154, 1);
                font-size: 10px;
              }
            }

            .contItems {
              height: 150px;

              .itemsLeft {
                float: left;
                width: 30px;
                height: 100%;
                line-height: 150px;

                img {
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;
                }
              }

              .itemsRight {
                float: left;
                margin-left: 20px;

                span {
                  margin-top: 40px;
                  display: block;
                  font-size: 8px;
                  color: rgba(51, 51, 51, 1);
                }

                p {
                  margin-top: 20px;
                  margin-bottom: 0px;
                  font-size: 7px;
                  color: rgba(102, 102, 102, 1);
                }

                font {
                  margin-top: 20px;
                  display: block;
                  font-size: 7px;
                  color: rgba(194, 194, 194, 1);
                }
              }
            }
          }
        }
      }
    }
  }

  .homeFoot {
    width: 100%;
    height: 253px;
    background-color: #2d2f39;
  }
</style>
