<template>
  <div>
    <div
      class="activity"
      :class="[{ bbsfoot: gameIndex==1 }, { bbsBask: gameIndex==2 },{ bbssport: gameIndex==3 }]"
    >
      <div class="bbsBack">
        <el-row :gutter="20">
          <el-col :span="24">
            <div class="bbsRight">
              <div
                class="bbsItems"
                @click="jumpTos(item.id)"
                v-for="(item,i) in articleList"
                :key="i"
              >
                <div class="itemsTop">
                  <div class="topLeft">
                    <img
                      :src="item.baPic"
                      alt="图标"
                    />
                  </div>
                  <div class="topRight">
                    <p class="topTittle">{{item.baTitle}}</p>
                    <p
                      class="topConter"
                      style="word-wrap:break-word;"
                    >{{item.baSubtitle}}</p>
                  </div>
                </div>
                <div class="itemsBut">
                  <!-- <div>
                    <img src="./../../assets/足球.png" alt="足球图标" />
                    <font>{{item.nickName}}</font>
                  </div>-->
                  <span>{{dateFormat(item.createTime)}}</span>
                </div>
              </div>
            </div>

            <el-pagination
              @current-change="handleCurrentChange"
              :current-page="currentPage"
              :page-size="pagesize"
              layout="total, prev, pager, next, jumper"
              :total="total"
              v-if="total>10"
              style="text-align: center;margin-top: 50px;"
            ></el-pagination>
          </el-col>
        </el-row>
      </div>
    </div>

    <div class="homeFoot">
      <div class="footCenter">
        <div class="incenter">
          <div class="footleft">
            <div class="footui">
              <span>关于火狐</span>
              <ul>
                <li>关于我们</li>
              </ul>
            </div>
            <!-- <div class="footui">
              <span>友情链接</span>
              <ul>
                <li>关于我们</li>

              </ul>
            </div>-->
            <div class="footui1">
              <span>联系我们</span>
              <ul>
                <li>邮箱:HHplan@163.com</li>
                <li>地址:深圳市福田区福田街道岗厦社区福华三路88号财富大厦49FH5</li>
              </ul>
            </div>
          </div>
          <div class="footright">
            <div class="footcode code1">
              <div></div>
              <span>官方公众号</span>
            </div>
            <div class="footcode code2">
              <div></div>
              <span>官方微博</span>
            </div>
          </div>
        </div>
      </div>
      <div class="footButtom">
        <div>
          <span>深圳市圳鹏思信息技术有限公司</span>
          <!-- <span>备案号：XXXXXXXXXXXXX</span> -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// 活动板块
import { getActiveList } from "../../api/api";
import Cookies from "js-cookie";
export default {
  name: "activity",
  data() {
    return {
      currentPage: 1,
      pagesize: 10,
      total: 0,
      gameIndex: "3",
      theGame: "football",
      articleList: []
    };
  },
  mounted() {},
  created() {
    if (this.$route.query.key) {
      this.gameIndex = this.$route.query.key;
    }

    this.getList();
  },
  components: {},
  methods: {
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getList();
    },
    selectGame(val) {
      // console.log(val);
      this.gameIndex = val;
      this.getList();
    },

    dateFormat(time) {
      var date = new Date(time);
      var year = date.getFullYear();
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      var month =
        date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1;
      var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
      var hours =
        date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
      var minutes =
        date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
      var seconds =
        date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
      // 拼接
      return year + "-" + month + "-" + day;
    },
    getList() {
      getActiveList({
        current: this.currentPage,
        size: this.pagesize,
        searchInt1: 0,
        searchInt2: "",
        searchInt3: "",
        searchStr1: ""
      })
        .then(res => {
          // console.log(res);
          this.articleList = res.data.records;
          this.total = res.data.total;
        })
        .catch(err => {
          this.$message.error(err.message);
        });
    },

    jumpTos(baId) {
      this.$router.push({
        path: "/actdetails",
        query: {
          baId: baId
        }
      });
    }
  }
};
</script>

<style lang="less" scoped>
.diglog {
  .dialogTittle {
    color: rgba(51, 51, 51, 1);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    i {
      margin-right: 10px;
      background-image: url("./../../assets/切图/16.png");
      background-repeat: no-repeat;
      display: inline-block;
      width: 25px;
      height: 22px;
    }
  }
  .dialogConter {
    .formItems {
      margin-bottom: 30px;
      span {
        font-size: 16px;
        color: rgba(153, 153, 153, 1);
      }
    }
    .items1 {
      .isSelcectBtn {
        color: #ffffff !important;
        background: linear-gradient(
          0deg,
          rgba(254, 85, 58, 1),
          rgba(255, 135, 55, 1)
        ) !important;
      }
      button {
        width: 70px;
        height: 44px;
        background-color: rgba(240, 240, 240, 1);
        border-radius: 12px;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 16px;
        margin-right: 30px;
        font-weight: 400;
      }
    }
    .items2 {
      select {
        margin-left: 30px;
        width: 40%;
        background: rgba(247, 247, 247, 1);
        height: 55px;
        outline: none;
        border: none;
        padding-left: 20px;
        padding-right: 20px;
        option {
          height: 50px;
          outline: none;
          display: block;
        }
      }
    }
    .items3 {
      select {
        margin-left: 30px;
        width: 40%;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        height: 55px;
        outline: none;
        border: none;
        padding-left: 20px;
        padding-right: 20px;
        option {
          height: 50px;
          outline: none;
          display: block;
        }
      }
    }
    .items4 {
      display: flex;
      align-items: center;
      input {
        width: 40%;
        padding-left: 20px;
        font-size: 16px;
        outline: none;
        height: 55px;
        border: none;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        margin-left: 35px;
      }
    }
    .items5 {
      display: flex;
      align-items: flex-start;
      span {
        width: 100px;
      }
      // textarea {
      //   padding-top: 10px;
      //   padding-left: 20px;
      //   color: rgba(199, 199, 199, 1);
      //   font-size: 16px;
      //   outline: none;
      //   border: none;
      //   border-radius: 12px;
      //   background: rgba(247, 247, 247, 1);
      //   margin-left: 30px;
      // }
    }
    .items6 {
      display: flex;
      align-items: center;
      input {
        width: 40%;
        padding-left: 20px;
        font-size: 16px;
        outline: none;
        height: 55px;
        border: none;
        border-radius: 12px;
        background: rgba(247, 247, 247, 1);
        margin-left: 20px;
      }
    }
    .items7 .upload-demo {
      display: inline-flex;
      margin-left: 35px;
    }
  }
  .dialogFooter {
    height: 96px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .cancel {
      margin-right: 61px;
      width: 88px;
      height: 46px;
      background-color: RGBA(255, 232, 225, 1);
      border-radius: 6px;
      cursor: pointer;
      border: none;
      outline: none;
      color: rgba(254, 95, 57, 1);
    }
    .determine {
      width: 88px;
      height: 46px;
      background: linear-gradient(
        0deg,
        rgba(254, 85, 58, 1),
        rgba(255, 135, 55, 1)
      );
      border-radius: 6px;
      cursor: pointer;
      border: none;
      outline: none;
      color: rgba(255, 255, 255, 1);
    }
  }
}
.navigationMenu {
  width: 100%;
  height: 40px;
  background-color: rgb(51, 51, 51);
  .isActing {
    color: #ffffff !important;
    background: linear-gradient(
      -30deg,
      rgba(255, 135, 55, 1),
      rgba(254, 85, 58, 1)
    );
  }
  .menuCenter {
    width: 1332.09px;
    height: 40px;
    margin: 0 auto;
    .navigationMenuUi {
      float: left;
      li {
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        height: 40px;
        width: 68px;
        float: left;
        margin-right: 85px;
        line-height: 40px;
        color: rgba(255, 255, 255, 1);
        text-align: center;
      }
    }
    .buttonList {
      float: right;
      height: 40px;
      width: 10%;
      display: flex;
      align-items: center;
      i {
        background-image: url("./../../assets/切图/17.png");
        background-repeat: no-repeat;
        display: inline-block;
        width: 20px;
        height: 20px;
      }
      button {
        cursor: pointer;
        border: none;
        outline: none;
        height: 20px;
        color: rgba(255, 255, 255, 1);
        background-color: transparent;
      }
    }
  }
}
.bbsfoot {
  background-image: url("./../../assets/切图/36.jpg");
}
.bbsBask {
  background-image: url("./../../assets/切图/35.jpg");
}
.bbssport {
  background-image: url("./../../assets/切图/34.jpg");
}
.activity {
  width: 100%;
  height: 100%;
  min-height: 1089px;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .bbsBack {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    .isActing {
      color: #fe5e3a !important;
    }
    .isActings {
      color: orange !important;
    }
    .bbsLeft {
      .bbsLeftNavigation {
        border-radius: 24px;
        width: 232px;
        height: 270px;
        background-color: #ffffff;
        padding-top: 20px;
        .navigationTittle {
          p {
            font-size: 16px;
            text-align: center;
            color: rgba(0, 0, 0, 1);
            font-weight: Regular;
            display: flex;
            align-items: center;
            justify-content: center;
            i {
              margin-right: 8px;
              width: 20px;
              height: 20px;
              display: inline-block;
              background-image: url("./../../assets/信息小.png");
              background-repeat: no-repeat;
            }
          }
        }
        .navigationUl {
          li {
            cursor: pointer;
            font-size: 16px;
            color: #999999;
            height: 80px;
            line-height: 80px;
            text-align: center;
          }
        }
      }
    }
    .bbsRight {
      width: 100%;
      height: 100%;
      padding-top: 20px;
      display: grid;
      grid-template-columns: repeat(2, 49.2%);
      grid-template-rows: 197px;
      grid-row-gap: 20px;
      grid-column-gap: 20px;
      .bbsItems {
        background-color: red;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.06);
        border-radius: 12px;
        cursor: pointer;
        .itemsTop {
          height: 120px;
          width: 95%;
          padding-top: 18px;
          padding-left: 20px;
          .topLeft {
            float: left;
            img {
              width: 151px;
              height: 110px;
              background-size: 100% 100%;
            }
          }
          .topRight {
            float: left;
            height: 110px;
            width: 70%;
            margin-left: 15px;
            .topTittle {
              color: rgba(0, 0, 0, 1);
              font-size: 18px;
            }
            .topConter {
              margin-top: 20px;
              color: rgba(153, 153, 153, 1);
              font-size: 14px;
            }
            .topIntegral {
              margin-top: 30px;
              div {
                float: left;
              }
              .eye {
                display: flex;
                align-items: center;
                justify-content: center;
                i {
                  background-image: url("./../../assets/切图/10.png");
                  background-repeat: no-repeat;
                  display: inline-block;
                  width: 20px;
                  height: 16px;
                }
                span {
                  margin-left: 5px;
                  font-size: 12px;
                  color: rgba(153, 153, 153, 1);
                }
              }
              .ren {
                margin-left: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
                i {
                  background-image: url("./../../assets/切图/15.png");
                  background-repeat: no-repeat;
                  display: inline-block;
                  width: 16px;
                  height: 20px;
                }
                span {
                  margin-left: 5px;
                  font-size: 12px;
                  color: rgba(153, 153, 153, 1);
                }
              }
              .xinxi {
                margin-left: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
                i {
                  background-image: url("./../../assets/切图/14.png");
                  background-repeat: no-repeat;
                  display: inline-block;
                  width: 20px;
                  height: 20px;
                }
                span {
                  margin-left: 5px;
                  font-size: 12px;
                  color: rgba(153, 153, 153, 1);
                }
              }
            }
          }
        }
        .itemsBut {
          background-color: #f9f9f9;
          height: 60px;
          line-height: 60px;
          width: 100%;
          border-radius: 12px;
          div {
            margin-left: 31px;
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 37px;
              height: 37px;
            }
            font {
              margin-left: 10px;
              font-size: 14px;
              color: rgba(102, 102, 102, 1);
            }
          }
          span {
            margin-right: 36px;
            float: right;
            font-size: 14px;
            color: rgba(153, 153, 153, 1);
          }
        }
      }
    }
  }
}
.homeFoot {
  width: 100%;
  height: 253px;
  background-color: #2d2f39;
  .footCenter {
    width: 100%;
    height: 150px;
    padding-top: 47px;
    .incenter {
      height: 190px;
      width: 75%;
      margin: 0 auto;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .footleft {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        .footui {
          width: 25%;
          color: #ffffff;
          float: left;
          span {
            font-size: 18px;
            display: block;
            margin-bottom: 25px;
          }
          ul {
            width: 300px;
            font-size: 14px;
            li {
              display: inline-block;
              margin-bottom: 10px;
              cursor: pointer;
              font-weight: 600;
              width: 40%;
            }
          }
        }
        .footui1 {
          width: 30%;
          color: #ffffff;
          float: left;
          span {
            font-size: 18px;
            display: block;
            margin-bottom: 25px;
          }
          ul {
            width: 300px;
            height: 150px;
            font-size: 14px;
            li {
              display: block;
              margin-bottom: 5px;
              cursor: pointer;
              font-weight: 600;
              font-size: 12px;
            }
          }
        }
      }
     .footright {
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:-30px;
        .code1 div {
          background-image: url("./../../assets/weibo.jpg");
          background-size: 100% 100%;
          background-repeat: no-repeat;
          margin-bottom: 10px;
        }
        .code2 div {
          background-image: url("./../../assets/weixin.png");
          background-size: 100% 100%;
          background-repeat: no-repeat;
           margin-bottom: 10px;
        }
        .footcode {
          width: 30%;
          float: left;
          display: flex;
          align-items: center;
          flex-direction: column;
          div {
            background-color: #ffffff;
            width: 104px;
            height: 104px;
            line-height: 104px;
            text-align: center;
            color: black;
          }
          span {
            font-weight: 600;
          }
        }
      }
    }
  }
  .footButtom {
    width: 100%;
    height: 52px;
    border-top: 2px solid #202128;
    div {
      height: 52px;
      width: 50%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        color: #ffffff;
        font-size: 15px;
      }
    }
  }
}
</style>
