<template lang="html">
  <div class="editor">
    <div ref="toolbar" class="toolbar">
    </div>
    <div ref="editor" class="text" v-on:closeMain="closeMain">
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { uploadImg } from "../api/api";
import E from "wangeditor";
export default {
  name: "editoritem",
  data() {
    return {
      // uploadPath,
      editor: null,
      info_: null
    };
  },
  model: {
    prop: "value",
    event: "change"
  },
  props: {
    value: {
      type: String,
      default: ""
    },
    isClear: {
      type: Boolean,
      default: false
    }
  },
  watch: {
    // isClear:function () {
    //     console.log(isClear)
    //     this.editor.txt.clear();
    //     this.info_ = null;
    // }
    // value: function(value) {
    //   if (value !== this.editor.txt.html()) {
    //     this.editor.txt.html(this.value);
    //   }
    // }
    //value为编辑框输入的内容，这里我监听了一下值，当父组件调用得时候，如果给value赋值了，子组件将会显示父组件赋给的值
  },
  //   created(){

    // },
  mounted() {
      this.seteditor();
      this.editor.clear;
      this.editor.txt.html(this.value);
      console.log(this.editor.txt,'!!!!!!!!!!!!!!gdsakhsaih')

  },
  methods: {
    clear(){
         document.write("");
         document.close();
    },
      closeMain(val){
          console.log('3')
          if(v==1){
              console.log('进入到这边的循环传递')
         
              this.editor.clear;
          }
      },
    seteditor() {
      // http://192.168.2.125:8080/admin/storage/create
      this.editor = new E(this.$refs.toolbar, this.$refs.editor);
      this.editor.customConfig.uploadImgShowBase64 = false; // base 64 存储图片
      this.editor.customConfig.uploadImgServer =
        "http://47.104.109.132:8083/upload/img"; // 配置服务器端地址
      this.editor.customConfig.uploadImgHeaders = {}; // 自定义 header
      this.editor.customConfig.uploadFileName = "file"; // 后端接受上传文件的参数名
      this.editor.customConfig.uploadImgMaxSize = 2 * 1024 * 1024; // 将图片大小限制为 2M
      this.editor.customConfig.uploadImgMaxLength = 6; // 限制一次最多上传 3 张图片
      this.editor.customConfig.uploadImgTimeout = 3 * 60 * 1000; // 设置超时时间

      // 配置菜单
      this.editor.customConfig.menus = [
        "head", // 标题
        "bold", // 粗体
        "fontSize", // 字号
        "fontName", // 字体
        "italic", // 斜体
        "underline", // 下划线
        "strikeThrough", // 删除线
        "foreColor", // 文字颜色
        "backColor", // 背景颜色
        "link", // 插入链接
        "list", // 列表
        "justify", // 对齐方式
        "quote", // 引用
        "emoticon", // 表情
        "image", // 插入图片
        "table", // 表格
        "undo", // 撤销
        "redo", // 重复
        "fullscreen" // 全屏
      ];

      this.editor.customConfig.customUploadImg = function(files, insert) {
        // files 是 input 中选中的文件列表

        // insert 是获取图片 url 后，插入到编辑器的方法

        files.forEach(item => {
          let fd = new FormData();
          fd.append("file", item); // 上传的文件： 键名，键值 // 以下是上传图片的接口，视情况而更改就可以啦                                                     teachService.FileUploadInTencent(fd).then((data) => { // 上传代码返回结果之后，将图片插入到编辑器中

          axios.post("http://47.104.109.132:8083/upload/img", fd).then(res => {
            console.log("res=>", res);
            insert(res.data.data);
          });
        });
      };
      this.editor.customConfig.onchange = html => {
        this.info_ = html; // 绑定当前逐渐地值
        this.$emit("change", this.info_); // 将内容同步到父组件中
      };
      // 创建富文本编辑器
      this.editor.create();
    }
  }
};
</script>

<style lang="css">
.editor {
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}
.toolbar {
  border: 1px solid #ccc;
}
.text {
  border: 1px solid #ccc;
  min-height: 500px;
}
.w-e-text {
  height: 500px !important;
}
</style>
