html,
body {
  height: 100%;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd {
  /* 默认有边距，都要清除 */
  margin: 0;
  padding: 0;
  /*字体设置*/
  font-size: 14px;
  font-family: "Microsoft Yahei", sans-serif;
  color: #ccc;
  /* 去掉列表的原点 */
  list-style: none;
  /* 默认鼠标 */
  cursor: default;
}

p {
  color: #000000;
}


.el-menu-item-group__title {
  padding: 0px;
}

.demo-table-expand {
  font-size: 0;
}

.demo-table-expand label {
  width: 90px;
  color: #99a9bf;
}

.demo-table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 25%;
}

.aside {
  width: 200px !important;
}


/* 对话框 */
.el-dialog__header {
  border-bottom: 1px solid rgba(239, 239, 239, 1) !important;
  height: 80px !important;
}


/* 搜索框 */
.el-select .el-input {
  width: 100% !important;
  font-size: 14px !important;
  background-color: rgba(244, 244, 244, 1);
}

.input-with-select .el-input-group__prepend {
  background-color: #fff;
}

.input-with-select input {
  background-color: rgb(246, 246, 246) !important;
  border: none;
  font-size: 8px;
}

.el-input__inner {
  width: 100% !important;
}


/* 轮播图 */
.el-carousel__item h3 {
  color: #475669;
  font-size: 18px;
  opacity: 0.75;
  line-height: 384px;
  margin: 0;
  text-align: center;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}

.el-carousel {
  height: 330px;
}

.el-carousel__container {
  height: 330px;
  border-radius: 12px;
}

.el-carousel__container img {
  border-radius: 12px;
}

.el-carousel__item {
  border-radius: 12px;
}


/* 顶部导航样式 */
.el-menu.el-menu--horizontal {
  border: none;
}

.el-menu .is-active {
  color: #ffffff !important;
  background: linear-gradient(-30deg, rgba(255, 135, 55, 1), rgba(254, 85, 58, 1));
}

.el-menu--horizontal > .el-menu-item.is-active {
  border-bottom: none
}

.el-menu {
  height: 40px;
  width: 1200px;
  margin: 0 auto;
}

.el-menu-item {
  height: 40px !important;
  line-height: 40px !important;
  margin-right: 85px !important;
}


/* 多选框样式 */
.el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: rgba(254, 90, 58, 1);
  border-color: rgba(254, 90, 58, 1);
}

.el-checkbox__input.is-checked + .el-checkbox__label {
  color: rgba(153, 153, 153, 1);
}

.el-checkbox {
  color: rgba(153, 153, 153, 1);
}

.el-checkbox__inner:hover {
  outline: none;
  border-color: rgba(254, 90, 58, 1);
}

/* 分页 */
.el-pagination__total {
  color: #ffffff !important;
}

.el-pagination__jump {
  color: #ffffff !important;
}

.el-pager li {
  background-color: transparent;
}

.el-pagination .btn-prev {
  background: center center no-repeat transparent;
  color: #ffffff;
}

.el-pagination .btn-next {
  background: center center no-repeat transparent;
  color: #ffffff;
}

.el-pagination button:disabled {
  background: transparent;
  color: #ffffff;
}

.el-pager li.btn-quicknext {
  color: #ffffff;
}


/* 积分 */
.integralHistory .el-pager li {
  background-color: transparent;
}

.integralHistory .el-pagination .btn-prev {
  background: center center no-repeat transparent;
  color: #2d2f39;
}

.integralHistory .el-pagination .btn-next {
  background: center center no-repeat transparent;
  color: #2d2f39;
}

.integralHistory .el-pagination button:disabled {
  background: transparent;
  color: #2d2f39;
}

.integralHistory .el-pager li.btn-quicknext {
  color: #2d2f39;
}

.integralHistory .el-pagination__total {
  color: #2d2f39 !important;
}

.integralHistory .el-pagination__jump {
  color: #2d2f39 !important;
}

/* 文章详情 */
.bbsdetails .el-pager li {
  background-color: transparent;
}

.bbsdetails .el-pagination .btn-prev {
  background: center center no-repeat transparent;
  color: #2d2f39;
}

.bbsdetails .el-pagination .btn-next {
  background: center center no-repeat transparent;
  color: #2d2f39;
}

.bbsdetails .el-pagination button:disabled {
  background: transparent;
  color: #2d2f39;
}

.bbsdetails .el-pager li.btn-quicknext {
  color: #2d2f39;
}

.bbsdetails .el-pagination__total {
  color: #2d2f39 !important;
}

.bbsdetails .el-pagination__jump {
  color: #2d2f39 !important;
}

/* 大神分析列表 */
.godindex .el-pager li {
  background-color: transparent;
}

.godindex .el-pagination .btn-prev {
  background: center center no-repeat transparent;
  color: #2d2f39;
}

.godindex .el-pagination .btn-next {
  background: center center no-repeat transparent;
  color: #2d2f39;
}

.godindex .el-pagination button:disabled {
  background: transparent;
  color: #2d2f39;
}

.godindex .el-pager li.btn-quicknext {
  color: #2d2f39;
}

.godindex .el-pagination__total {
  color: #2d2f39 !important;
}

.godindex .el-pagination__jump {
  color: #2d2f39 !important;
}

/* 红人详情列表 */
.redPersonD .el-pager li {
  background-color: transparent;
}

.redPersonD .el-pagination .btn-prev {
  background: center center no-repeat transparent;
  color: #2d2f39;
}

.redPersonD .el-pagination .btn-next {
  background: center center no-repeat transparent;
  color: #2d2f39;
}

.redPersonD .el-pagination button:disabled {
  background: transparent;
  color: #2d2f39;
}

.redPersonD .el-pager li.btn-quicknext {
  color: #2d2f39;
}

.redPersonD .el-pagination__total {
  color: #2d2f39 !important;
}

.redPersonD .el-pagination__jump {
  color: #2d2f39 !important;
}


/* 我关注的大神分页 */
.focusGod .el-pager li {
  background-color: transparent;
}

.focusGod .el-pagination .btn-prev {
  background: center center no-repeat transparent;
  color: #2d2f39;
}

.focusGod .el-pagination .btn-next {
  background: center center no-repeat transparent;
  color: #2d2f39;
}

.focusGod .el-pagination button:disabled {
  background: transparent;
  color: #2d2f39;
}

.focusGod .el-pager li.btn-quicknext {
  color: #2d2f39;
}

.focusGod .el-pagination__total {
  color: #2d2f39 !important;
}

.focusGod .el-pagination__jump {
  color: #2d2f39 !important;
}

/* 我的竞猜分页 */
.myquiz .el-pager li {
  background-color: transparent;
}

.myquiz .el-pagination .btn-prev {
  background: center center no-repeat transparent;
  color: #2d2f39;
}

.myquiz .el-pagination .btn-next {
  background: center center no-repeat transparent;
  color: #2d2f39;
}

.myquiz .el-pagination button:disabled {
  background: transparent;
  color: #2d2f39;
}

.myquiz .el-pager li.btn-quicknext {
  color: #2d2f39;
}

.myquiz .el-pagination__total {
  color: #2d2f39 !important;
}

.myquiz .el-pagination__jump {
  color: #2d2f39 !important;
}

/* 日期 */
.el-date-editor .el-input__inner {
  border: none;
  background-color: #f6f6f6;
  font-size: 13px;
}

/* .gamesTopTime .el-input__inner {
  width: 30% !important;
} */
