<template>
  <div id="topic_details">
    <div id="nav">
      <!-- 居中 -->
      <van-nav-bar
        title="话题详情"
        left-text="返回"
        left-arrow
        @click-left="onClickLeft"
      />

    </div>

    <div class="user_box">
      <div class="image_boxa" style="min-height: 120px">
        <div class="user_box_tiele"></div>
        <div class="user_box_tow">
          <img class="user_box_tow_tx" :src="personList.headUrl" :alt="personList.headUrl"/>
          <div class="user_box_tow_name"></div>
          <div class="user_box_tow_time"></div>
          <div class="user_box_tow_time">
            <p style="color: white;font-size:18px;">{{personList.nickName}}</p>
            <img class="texti" src="../../assets/eye.png" />
            <span class="user_box_tow_number">{{personList.fansCount}}</span>
            <span class="user_box_tow_number" style="left: 164px;">中单率:{{personList.winRate}}%</span>
          </div>
          <div style="float: right;color: white;height: 22px;width: 64px;border-radius: 25px;border: 1px solid white;padding-top: 5px;text-align: center">
            {{isFollow==1?'关注':isFollow==0?'已关注':'本人'}}
          </div>
        </div>
      </div>

    </div>

    <div class="image_box">
      <div class="image_boxa">

         <div style="padding:20px 10px;">

           <span style="color: #FE6439FF">{{from.gfTitle}}</span>
           <span style="color: #999999FF">{{from.createTime}}</span>
           <div style="padding: 10px;"></div>
<!--           <span style="color: #999999FF">未</span>-->
           <p style="color: #333333FF;font-size: 20px;text-align: center;">{{from.aTeamName}} <span style="color: #999999FF;font-size: 14px;"> vs</span>{{from.bTeamName}}</p>
           <div style="padding: 10px;"></div>
           <p style="color: #999999FF">赔率:
             <span>{{reternOdd(this.$route.query.odd,0)}}</span>
             <span>{{reternOdd(this.$route.query.odd,1)}}</span>
             <span>{{reternOdd(this.$route.query.odd,2)}}</span>
           </p>
         </div>
         <div style="border-bottom:1px solid #E8E8E8FF"></div>
        <div style="padding:20px 10px; ">

          <div style="display:grid;grid-template-columns:5% 23% 10% 24% 10% 23% 5%;grid-template-rows:2">

            <div>
              &nbsp;
            </div>

            <div class="kotn opp">
              大神猜测结果
            </div>

            <div>
              &nbsp;
            </div>

            <div class="kotn opp">
              实际结果
            </div>

            <div>
              &nbsp;
            </div>

            <div class="kotn opp">
             猜测结果
            </div>

            <div>
              &nbsp;
            </div>

            <div>
              &nbsp;
            </div>

            <div class="kotn">
              {{from.winTeamName}}
            </div>

            <div>
              &nbsp;
            </div>

            <div class="kotn">
             {{from.winner}}
            </div>

            <div>
              &nbsp;
            </div>

            <div class="kotn">
              <span v-if="from.isRight==0">未开赛</span>
              <span v-if="from.isRight==1" style="color: #2EBD27FF">成功</span>
              <span v-if="from.isRight==2" style="color: #FF7638FF">黑单</span>
            </div>

            <div>
              &nbsp;
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="comment_box">
      <div class="image_boxa">
        <div class="comment_box_top" style="padding-top: 14px;font-weight: bold">{{from.aTeamName}} <span style="color: #999999FF;font-size: 14px;"> vs</span>{{from.bTeamName}}<span
          style="color: #999999FF;text-align: right;font-size: 12px;float: right;font-weight: inherit">{{from.datatime}}</span></div>
        <div style="padding: 10px 0 50px;">
          <div style="color: #666666FF" v-html="from.gfContent">

          </div>
        </div>
      </div>
    </div>


  </div>


</template>

<script>
    import {
        getGreatForecastByGfId,
        selectUserByUserId,
        selectUserNotSelf
    } from "../../api/api";

    export default {
        name: "analysis_details",
        data() {
            return {
                gfId:'',
                userId:'',
                from:{},
                personList:{},
                isFollow:''
            };
        },
        mounted() {

        },
        methods: {
            reternOdd(item, val) {
                if (item != "" && item != null) {
                    return item.split(",")[val];
                } else {
                    return "-";
                }
            },
            onClickLeft() {

            },
        },

        created() {
            let a=''
            let b=''
            let c=''
            let d=''
            if(this.$route.query.gfId){
                sessionStorage.setItem('gfId',this.$route.query.gfId);
                sessionStorage.setItem('userId',this.$route.query.userId);
                sessionStorage.setItem('uid',this.$route.query.uid);
                // sessionStorage.setItem('guserId',this.$route.query.guserId);
                // sessionStorage.setItem('isFollow',this.$route.query.isFollow);
                a=this.$route.query.gfId
                b=this.$route.query.userId
                c=this.$route.query.uid
                // c=this.$route.query.guserId
                // d=this.$route.query.isFollow
            }else {
                a=sessionStorage.getItem('gfId')
                b=sessionStorage.getItem('userId')
                c=sessionStorage.getItem('uid')
                // c=sessionStorage.getItem('guserId')
                // d=sessionStorage.getItem('isFollow')
            }
            this.gfId=a
            this.userId=b
            this.guserId=c
            // this.isFollow=d
            // this.gfId =162
            // this.userId = 13
            // this.guserId=13
            // this.guserId=13
            getGreatForecastByGfId({
                userId: this.userId ,
                gfId: this.gfId
            }).then(res=>{
                console.log(res)
                this.from=res.data

                this.from.datatime=''
                let dateTimeStamp = new Date(this.from.createTime)
                //dateTimeStamp是一个时间毫秒，注意时间戳是秒的形式，在这个毫秒的基础上除以1000，就是十位数的时间戳。13位数的都是时间毫秒。
                let result = ''
                let minute = 1000 * 60;      //把分，时，天，周，半个月，一个月用毫秒表示
                let hour = minute * 60;
                let day = hour * 24;
                let week = day * 7;
                let halfamonth = day * 15;
                let month = day * 30;
                let now = new Date().getTime();   //获取当前时间毫秒
                console.log(now)
                let diffValue = now - dateTimeStamp;//时间差

                if (diffValue < 0) {
                    return;
                }
                let minC = diffValue / minute;  //计算时间差的分，时，天，周，月
                let hourC = diffValue / hour;
                let dayC = diffValue / day;
                let weekC = diffValue / week;
                let monthC = diffValue / month;
                if (monthC >= 1 && monthC <= 3) {
                    result = " " + parseInt(monthC) + "月前"
                } else if (weekC >= 1 && weekC <= 3) {
                    result = " " + parseInt(weekC) + "周前"
                } else if (dayC >= 1 && dayC <= 6) {
                    result = " " + parseInt(dayC) + "天前"
                } else if (hourC >= 1 && hourC <= 23) {
                    result = " " + parseInt(hourC) + "小时前"
                } else if (minC >= 1 && minC <= 59) {
                    result = " " + parseInt(minC) + "分钟前"
                } else if (diffValue >= 0 && diffValue <= minute) {
                    result = "刚刚"
                } else {
                    let datetime = new Date();
                    datetime.setTime(dateTimeStamp);
                    let Nyear = datetime.getFullYear();
                    let Nmonth = datetime.getMonth() + 1 < 10 ? "0" + (datetime.getMonth() + 1) : datetime.getMonth() + 1;
                    let Ndate = datetime.getDate() < 10 ? "0" + datetime.getDate() : datetime.getDate();
                    let Nhour = datetime.getHours() < 10 ? "0" + datetime.getHours() : datetime.getHours();
                    let Nminute = datetime.getMinutes() < 10 ? "0" + datetime.getMinutes() : datetime.getMinutes();
                    let Nsecond = datetime.getSeconds() < 10 ? "0" + datetime.getSeconds() : datetime.getSeconds();
                    result = Nyear + "-" + Nmonth + "-" + Ndate
                }
                this.from.datatime = result;
            })
            selectUserByUserId({
                userId: this.guserId
            })
                .then(res => {
                    console.log(res);
                    this.personList = res.data;
                })
                .catch(err => {
                    this.$message.error(err.message);
                });

            selectUserNotSelf({
                userId: this.guserId,
                myId:this.userId?this.userId:0
            }) .then(res => {
                console.log(res);
                this.isFollow = res.data.isFollow
            })
                .catch(err => {
                    this.$message.error(err.message);
                });
        }

    }
</script>

<style scoped>
  .user_box_tiele {
    padding: 10px;
    color: #000000FF;
    font-weight: bold;
    font-size: 16px;
  }

  .user_box {
    background:linear-gradient(-140deg,rgba(255,135,55,1),rgba(254,104,58,1));
  }

  #topic_details {
    background: rgba(246, 246, 246, 1);
    height: 100%;
  }

  .van-nav-bar {
    background:linear-gradient(-30deg,rgba(255,135,55,1),rgba(254,104,58,1));
  }

  .van-nav-bar .van-icon {
    color: white !important;
  }

  .van-nav-bar__title {
    color: white !important;
    font-weight: 500 !important;
  }

  .releas_topictwo {
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    min-height: 265px;
    height: auto;
    background: rgba(255, 255, 255, 1);
    border-radius: 24px;
  }

  .tieletop {
    padding-top: 7px;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
  }

  /*.van-cell--clickable {*/
  /*  height: 36px;*/
  /*  background: rgba(246, 246, 246, 1);*/
  /*  border-radius: 12px;*/
  /*}*/

  .van-cell {
    background: rgba(246, 246, 246, 1);
    padding: 7px 16px !important;
    border-radius: 12px;
    min-height: 36px;
  }

  .user_box_tow_tx {
    display: inline-block;
    height: 56px;
    width: 56px;
    position: absolute;
    background-color: black;
    border-radius: 50%;
    top: -9px;
  }

  .user_box_tow {
    position: relative;
    padding: 0 10px;
    margin: 24px 0;
  }

  .user_box_tow_name {
    max-width: 120px;
    margin-left: 45px;
    display: inline-block;
    color: #666666FF;
  }

  .user_box_tow_time {
    margin-left: 10px;
    display: inline-block;
    color: white;
  }

  .texti {
    width: 20px;
    display: inline-block;
  }

  /*.van-field__control{*/
  /*  height: 36px;*/
  /*  background: rgba(246, 246, 246, 1);*/
  /*  border-radius: 12px;*/
  /*  width: 100%;*/
  /*}*/
  .user_box_tow_number {
    position: absolute;
    padding-left: 5px;
    display: inline-block;
    color: white;
  }

  .image_box {
    display: block;
    width: 95%;
    background-color: white;
    position: relative;
    margin: 15px auto;
    min-height: 100px;
    border-radius: 15px;
  }

  .image_boxa {
    color: #333333FF;
    width: 95%;
    display: block;
    margin: 0px auto;
  }

  .comment_box {
    width: 95%;
    background-color: white;
    position: relative;
    margin: 15px auto 70px;
    min-height: 100px;
    display: block;
    border-radius: 15px;
  }

  .comment_box_top {
    color: #333333FF;
    font-size: 16px;
    text-align: left;
    height: 36px;
    border-bottom: 1px solid #E9E9E9FF;
  }

  .comment_box_one {
    border-bottom: 1px solid #E9E9E9FF;
    width: 100%;
    display: inline-block;

  }
  .image_b{
    display: block;
    height: 32px;
    width: 32px;
    margin-top: 10px;
    border-radius: 50%;
    background-color: black;
    float: left;
  }
  .image_c{
    padding-bottom: 15px;
    float: left;
    display: block;
    margin-top: 16px;
    margin-left: 10px;
  }
  .van-goods-action-icon__icon{
    margin: 0 auto 0px;
  }
  .getzz{
    width: 100%!important;
    margin: 80px auto 0!important;
  }
  .van-button--normal{
    display: block;
    width: 90%;
    margin: 10px auto;
  }
  .van-cell{
    margin-left: 10px;
    width: 60%;
  }
  [class*=van-hairline]::after{
    border:none;
  }
  .kotn{
    text-align: center;
    display: block;
    font-size: 16px;
    color: #333333FF;
  }
  .opp{
    color: #999999FF;
    font-size: 12px;
  }
</style>
<style>
  .van-field__word-limit {
    margin-top: -20px !important;
  }
  .van-goods-action-icon{
    min-width: 30px!important;
  }
  .van-nav-bar__text{
    color: white!important;
  }
</style>
