<template>
  <div id="release_topic">
    <div id="nav">
      <!-- 居中 -->
      <van-nav-bar
        title="推荐"
        left-text="返回"
        left-arrow
        @click-left="onClickLeft"
      />

      <div>
        <ul class="ul_a">
          <li class="li_a " :class="{k:(flag==1)}" @click="flaga(1)">足球赛事</li>
          <li class="li_a" :class="{k:(flag==2)}" @click="flaga(2)">篮球赛事</li>
          <li class="li_a" :class="{k:(flag==3)}" @click="flaga(3)">电竞赛事</li>
        </ul>
      </div>

      <form action="/">
        <van-search
          v-model="searchStr1"
          placeholder="请输入搜索关键词"
          @search="onSearch"
        />
      </form>
      <!-- 居中 -->


      <div style="width: 95%;background-color: white;height: 125px;margin: 10px auto;cursor: pointer" v-for="item in records" @click="openweb(item)">
        <div style="padding:10px 30px ;">
            <div >
              <img style="height: 32px;width: 32px;border-radius: 50%;background-color: black;display: inline-block;vertical-align:middle" :src="item.headUrl" />
              <div style="display: inline-block;color: #1a1c1e;margin-left: 5px;">{{item.nickName}}</div>
            </div>
            <div style="padding-top: 5px;">
              <p style="font-size: 20px;color: #111111;font-weight: bold;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display: block;">{{item.aTitle}}</p>
              <p style="color: #1a1c1e;font-size: 14px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display: block;">{{item.aSubtitle}}</p>
            </div>
            <div style="padding-top: 12px;font-size: 12px;">
              <span >{{item.lookCount}}阅读</span>
              <span>&nbsp;·&nbsp;</span>
              <span  >{{item.remarkCount}}评论</span>
              <span>&nbsp;·&nbsp;</span>
              <span  >{{item.likeCount}}赞</span>
            </div>
        </div>
      </div>

      <div style="padding: 60px;"></div>
      <div class="buttom_box" @click="getopenk">

        发布详情
      </div>
    </div>
  </div>


</template>

<script>
    import {
        getArticleList
    } from "../../api/api";
    export default {
        name: "release_topic",
        data() {
            return {
                records:[],
                flag:1,
                searchInt1:1,
                searchStr1:'',
                userId:''
            }
        },
        mounted() {

        },
        methods: {
            getopenk(){
                this.$router.push({path:'/release_topic',query:{uId:this.userId}});
            },
            openweb(item){
                console.log(item,'==>item')
                this.$router.push({path:'/topic_details',query:{aId: item.aId,uid:this.userId}});
                // this.$router.push('/topic_details',{})
            },
            onSearch(val) {
                // Toast(val);
                this.gettable()
            },
            onCancel() {
                // Toast('取消');
            },
            onClickLeft() {

            },
            flaga(i){
                this.flag=i
                this.searchInt1=i
                this.gettable()
          },
            gettable(){
                getArticleList({current:1,size:300,searchInt1:this.searchInt1,searchStr1:this.searchStr1}).then(res=>{
                    console.log(res)
                    this.records=res.data.records
                })
            }
        },
        created() {
            // this.from.uId = this.$route.query.uId
            this.userId = this.$route.query.userid
            // this.userId = 36
            this.gettable()
        },


    }
</script>

<style scoped>
  #app {
    background: rgba(246, 246, 246, 1);
    height: 100%;
    padding-bottom: 10px;
  }
  .buttom_box {
    position: fixed;
    bottom: 36px;
    background:linear-gradient(-30deg,rgba(255,135,55,1),rgba(254,104,58,1));
    color: white;
    font-weight: bold;
    font-size: 16px;
    width: 85%;
    height: 22px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    padding: 15px;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .van-nav-bar {
    background: linear-gradient(-140deg,rgba(255,135,55,1),rgba(254,104,58,1));
  }

  .van-nav-bar .van-icon {
    color: white !important;
  }

  .van-nav-bar__title {
    color: white !important;
    font-weight: 500 !important;
  }

  .releas_topictwo {
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    min-height: 265px;
    height: auto;
    background: rgba(255, 255, 255, 1);
    border-radius: 24px;
  }

  .tieletop {
    padding-top: 8px;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
  }

  /*.van-cell--clickable {*/
  /*  height: 36px;*/
  /*  background: rgba(246, 246, 246, 1);*/
  /*  border-radius: 12px;*/
  /*}*/

  .van-cell {
    background: rgba(246, 246, 246, 1);
    padding: 5px 5px !important;
    border-radius: 12px;
    min-height: 36px;
  }
   .ul_a{
     margin-top: 10px;
     padding: 10px;
     list-style: none;
     font-size: 0px;
   }
   .li_a{
     width: 33.333%;
     font-size:14px;
     color: #626262;
     display: inline-block;
     text-align: center;
   }
  .k{
    padding-top: 10px;
    height: 28px;
    background:linear-gradient(-30deg,rgba(255,135,55,1),rgba(254,104,58,1));
    box-shadow:0px 7px 15px 0px rgba(225,54,83,0.2);
    border-radius:20px;
    color: white;
  }
  .van-search{
    background-color: transparent!important;
    padding: 2px 5px;
  }
  .van-search__content{
    background-color: transparent!important;
  }
  .van-cell{
    background-color: white!important;
    box-shadow:0px 5px 11px 0px rgba(0, 0, 0, 0.08)!important;
    border-radius:33px;
  }
</style>
<style>
  .van-nav-bar__text{
    color: white!important;
  }
</style>

