<template>
  <div id="release_topic">
    <div id="nav">
      <!-- 居中 -->
      <van-nav-bar
        title="发布分析"
        left-arrow
        left-text="返回"
        @click-left="onClickLeft"
      />
      <!-- 居中 -->
      <div class="releas_topictwo">

        <van-row type="flex" justify="center">

          <van-col span="6" offset="1" class="tieletop">输入标题:</van-col>
          <van-col span="16" offset="0">
            <!--        弹出框-->
            <van-field
              v-model="from.gfTitle"
              rows="1"
              autosize
              type="textarea"
              maxlength="10"
              placeholder="请填写标题"
              show-word-limit
            />
          </van-col>

        </van-row>

        <div style="padding: 10px"></div>

        <van-row type="flex" justify="center">

          <van-col span="6" offset="1" class="tieletop">所需积分:</van-col>
          <van-col span="16" offset="0">
            <!--        弹出框-->
            <van-field
              v-model="from.buyIntegral"
              rows="1"
              autosize
              placeholder="请填写所需积分"
              show-word-limit
              type="digit"
            />
          </van-col>

        </van-row>
        <div style="padding: 10px" ></div>
        <van-row type="flex" justify="center">

          <van-col span="6" offset="1" class="tieletop">选择队伍:</van-col>
          <van-col span="16" offset="0">
            <!--        弹出框-->
            <van-cell is-link @click="showPopup(1)">{{competition_prompt}}</van-cell>
          </van-col>

        </van-row>

        <div style="padding: 10px"></div>

        <van-row type="flex" justify="center">

          <van-col span="6" offset="1" class="tieletop">上传主图:</van-col>
          <van-col span="16" offset="0">
            <van-uploader v-model="fileList" :after-read="afterRead" multiple
                          :max-count="1"/>
          </van-col>

        </van-row>

        <div style="padding: 10px"></div>

        <van-row type="flex" justify="center">

          <van-col span="6" offset="1" class="tieletop">填写详情:</van-col>
          <van-col span="16" offset="0">
            <van-field
              v-model="gfContent"
              rows="5"
              autosize
              type="textarea"
              maxlength="200"
              placeholder="请输入"
              show-word-limit
              readonly
              @click="openh5()"
            />
          </van-col>

        </van-row>

        <!--弹出框本体-->
        <van-popup v-model="show" position="bottom"
                   :style="{ height: '35%' }">
          <van-picker :columns="columnsoption" @change="onChange"/>
        </van-popup>



      </div>

      <div class="buttom_box" @click.stop="release" >
        提交
      </div>
    </div>
  </div>


</template>

<script>
    import {
        //获取足球的接口
        addGreatForecast,
    } from "../../api/api";
    import EditorBar from "./../../components/wangeditor";
    export default {
        name: "release_topic",
        data() {
            return {
                item:{},
                isClear: false,
                h5show:false,
                trundj:false,
                columnsoption: [],
                leagueList: [],
                columns: ['足球', '篮球', '电竞'],
                vindex: 0,
                show: false,
                classification_prompt: '请选择',
                competition_prompt: '请选择',
                competition_trundj: '请选择',
                fileList: [],
                from: {
                    uId: '',
                    type: 1,
                    gameType: 0,
                    buyIntegral: "",
                    gfTitle: "",
                    gfContent: "",
                    gfPic: "",
                    matchId:'',
                    winTeamId:'',
                    winTeamName:'',
                    aTeamId:'',
                    bTeamId:'',
                    aTeamName:'',
                    bTeamName:''
                }, fromcopy: {
                    uId: '',
                    type: 1,
                    gameType: 0,
                    buyIntegral: "",
                    gfTitle: "",
                    gfContent: "",
                    gfPic: "",
                    matchId:'',
                    winTeamId:'',
                    winTeamName:'',
                    aTeamId:'',
                    bTeamId:'',
                    aTeamName:'',
                    bTeamName:''
                },
                gfContent:'',
                otn:false
            };
        },
        mounted() {

        },
        methods: {
            showPopup(i) {
                this.columnsoption=[]
                this.columnsoption = ['平局']
                this.columnsoption.push(this.item.aTeamName)
                this.columnsoption.push(this.item.bTeamName)
                this.show = true;
            },
            closeh5(){
                this.from.gfContent = ''
                this.h5show=false
                this.gfContent=''
            },
            change() {
                console.log(this.from.gfContent);
                if(this.from.gfContent && this.from.gfContent!='<p><br></p>'){
                    this.h5show=false
                    this.gfContent='点击查看内容'
                }else{
                    Toast.fail('未输入任何内容');
                }
            },
            openh5(){this.h5show=true},
            onClickLeft() {

            },
            onChange(picker, value, index) {
                this.competition_prompt=value
                this.otn=true
                if(index==0){
                    this.from.winTeamId=0
                    this.from.winTeamName='平局'
                    this.from.aTeamId=this.item.aTeamId
                    this.from.bTeamId=this.item.bTeamId
                    this.from.aTeamName=this.item.aTeamName
                    this.from.bTeamName=this.item.bTeamName
                }else if(index==1){
                    this.from.winTeamId=this.item.aTeamId
                    this.from.winTeamName=this.item.aTeamName
                    this.from.aTeamId=this.item.aTeamId
                    this.from.bTeamId=this.item.bTeamId
                    this.from.aTeamName=this.item.aTeamName
                    this.from.bTeamName=this.item.bTeamName
                }else if(inxex==2){
                    this.from.winTeamId=this.item.bTeamId
                    this.from.winTeamName=this.item.bTeamName
                    this.from.aTeamId=this.item.aTeamId
                    this.from.bTeamId=this.item.bTeamId
                    this.from.aTeamName=this.item.aTeamName
                    this.from.bTeamName=this.item.bTeamName
                }
                this.show = false;
            },


            // 上传功能
            afterRead(file) {
                file.status = 'uploading';
                file.message = '上传中...';
                //自定义的上传图片的方法
                //1. 创建formData 利用AXIOS传递
                let formData = new FormData();
                formData.append("file", file.file);
                this.api({
                    url: "/upload/img",
                    method: "post",
                    data: formData
                })
                    .then(data => {
                        this.from.gfPic = data.data;
                        // this.gfPic = data.data;
                    })
                    .catch(err => {
                        setTimeout(() => {
                            file.status = 'failed';
                            file.message = '上传失败';
                        }, 1000);

                        this.$message.error(err.message);
                    });

            },
            release() {
                let a = this.from
                a.uId=this.item.uId
                a.type=this.item.type
                a.matchId=this.item.matchId
                a.gameType=this.item.gameType
                if (!a.uId) {
                    Toast.fail('用户id为空');
                }if (!a.gfTitle) {
                    Toast.fail('请填写标题');
                } else if (!a.buyIntegral) {
                    Toast.fail('请填所需积分');
                } else if (!a.gfContent) {
                    Toast.fail('请填写详情');
                } else if (!a.gfPic) {
                    Toast.fail('请上传主图');
                } else if (!a.matchId) {
                    Toast.fail('请选择要分析的文章');
                } else if (!this.otn) {
                    Toast.fail('请选择胜利队伍');
                } else {
                    addGreatForecast(a).then(res => {
                            if (res.data.flag) {
                                this.$message.success(res.data.msg)
                            }
                        }
                    ).catch(err => {
                        this.$message.error(err.message);
                    });
                }
            },
        },
        created() {
            this.item = this.$route.query.item

        },
        components: {
            EditorBar
        },

    }
</script>

<style scoped>
  #app {
    background: rgba(246, 246, 246, 1);
    height: 100%;
    padding-bottom: 10px;
  }

  .van-nav-bar {
    background: linear-gradient(-30deg,rgba(255,135,55,1),rgba(254,104,58,1));
  }

  .van-nav-bar .van-icon {
    color: white !important;
  }

  .van-nav-bar__title {
    color: white !important;
    font-weight: 500 !important;
  }

  .releas_topictwo {
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    min-height: 265px;
    height: auto;
    background: rgba(255, 255, 255, 1);
    border-radius: 24px;
  }

  .tieletop {
    padding-top: 8px;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
  }

  /*.van-cell--clickable {*/
  /*  height: 36px;*/
  /*  background: rgba(246, 246, 246, 1);*/
  /*  border-radius: 12px;*/
  /*}*/

  .van-cell {
    background: rgba(246, 246, 246, 1);
    padding: 7px 16px !important;
    border-radius: 12px;
    min-height: 36px;
  }

  .buttom_box {
    background: linear-gradient(-30deg, rgba(253, 137, 118, 1), rgba(255, 76, 106, 1));
    color: white;
    font-weight: bold;
    font-size: 16px;
    width: 70%;
    margin: 30px auto;
    height: 22px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    padding: 15px;
  }
  .h5btn{
    width: 96px;
  }
  /*.van-field__control{*/
  /*  height: 36px;*/
  /*  background: rgba(246, 246, 246, 1);*/
  /*  border-radius: 12px;*/
  /*  width: 100%;*/
  /*}*/
</style>
<style>
  .van-field__word-limit {
    margin-top: -20px !important;
  }
  .w-e-toolbar{
    flex-wrap: wrap!important;
  }
  .van-nav-bar__text{
    color: white!important;
  }
</style>
