<template>
    <div>
      <div class="box">
        <div class="box_u">
          <div class="box_box" >
            <img src="../../../img/logo.png" class="logo">
            <p class="box_box_one">一手掌握&nbsp;打造沉浸式体验</p>
            <p class="box_box_two">超豪华赞助阵容&nbsp;最给力全网优惠</p>
            <button class="btn btna" @click="onpoen(0)"><img class="jt" src="../../../img/jt.png"><span class="jtspan" >注册领取官网福利</span></button>
            <button class="btn btna" @click="onpoen(1)"><img class="jt" src="../../../img/jt.png"><span class="jtspan" >精准红单推荐</span></button>
            <button class="btn"><img class="jt" src="../../../img/jt.png"><span class="jtspan">点击下载火狐APP</span></button>
            <button class="btn"><img class="jt" src="../../../img/jt.png"><span class="jtspan">点击下载火狐全站APP</span></button>
            <button class="btn" @click="onpoen(2)"><img class="jt" src="../../../img/jt.png"><span class="jtspan" >访问火狐手机网页版</span></button>
            <button class="btn" @click="onpoen(3)"><img class="jt" src="../../../img/jt.png"><span class="jtspan" >点击进入火狐电脑版</span></button>
          </div>
        </div>
        <div style="padding: 5px;"></div>
        <div class="footrn">
          <div style="padding: 5px;"></div>
          <p style="text-align: center;color: white">平台拥有欧洲马耳他博彩管理局（MGA）、英国GC监督委员会（GamblingCommission）和菲律宾政府博彩委员会（PAGCOR）颁发的合法执照。注册于英属维尔京群岛，是受国际博彩协会认可的合法博彩公司。</p>
          <p style="text-align: center;color: white">进行注册并娱乐前，请确保您年满18周岁！</p>
        </div>
      </div>


      <video id='video'  autoplay loop muted>
        <source src="../../../vive/video-9e7297df2bc94741eebbe6e3382355ce.mp4" type="video/mp4"  />
        Your browser does not support the video tag.
      </video>



    </div>
</template>

<script>
    export default {
        name: "H5",
        methods:{
            onpoen(i){
                if(i==0){
                   this.$router.push('/hub_pop')
                }else if(i==1){
                    window.location.href = 'http://www.hhplan02.com';
                }else if(i==2){
                    this.$router.push('/hub')
                }else if(i==3){
                    this.$router.push('/wub')
                }
            }
        }
    }
</script>

<style scoped>
  body{
    height: 100%;
    width: 100%;
  }
  video{
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    object-fit:fill;
    right: 0px;
    bottom: 0px;
    top: 0px;
    left: 0px;
    z-index: -11;
  }
  source{
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
  }
  .footrn{
    height: 15%;
    width: 100%;
    background: rgb(0,16,41);
    color: #737680;
    font-size: 12px;
  }
  .footrn>p{
    padding: 0 10px;
    line-height: 14px;
  }
  .box{
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 100;
    height: 100%;
    width: 100%;

  }
  .box_u{
    width: 100%;
    height: 85%;
    position: relative;
  }
  .box_box{

    width:320px;
    height: 420px;
    /*background: white;*/
    margin:10px  auto;
  }
  .logo{
    height: 20%;
    display: block;
    margin: auto;
  }
  .box_box_one{
    margin: 5px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: rgb(119,126,170);
  }
  .box_box_two{
    margin: 2px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: rgb(119,126,170);
  }
  .btn{
    color: white;
    border-radius: 30px;
    border: none;
    display: block;
    margin:25px auto;
    background: -webkit-gradient(linear,left top,right top,from(#0083ff),to(#16d6ff));
    background: linear-gradient(to right,#0083ff,#16d6ff);
    width: 230px;
    height: 42px;
  }
  .btna{
    background: -webkit-gradient(linear,left top,right top,from(#FF0000),to(#FFA07A));
    background: linear-gradient(to right,#FF0000,#FFA07A);
  }
  .jt{
    margin-left: 16px;
    float: left;
    width: 35px;
    display: inline-block;
  }
  .jtspan{
    padding-top: 8px;
    margin-left: 6px;
    float: left;
    font-size: 14px;
  }
</style>
