<template>
    <div>
      <div class="box">
        <div class="box_u">
          <div class="box_box" >
            <img src="../../../img/logo.png" class="logo">
            <p class="box_box_one">一手掌握&nbsp;打造沉浸式体验</p>
            <p class="box_box_two">超豪华赞助阵容&nbsp;最给力全网优惠</p>
            <div class="box_user">
              <el-tabs type="border-card">
                <el-tab-pane label="首存优惠">

                  <div class="aaa">
                    <div style="padding:1px;"></div>
                    <span style="display:block;text-align:center;margin-top:0px"><b>首存500</b></span>
                    <span style="display:block;text-align:center;margin-top:0px">送100彩金 + 官网领取250彩金</span>
                    <span style="display:block;text-align:center;margin-top:0px"><b>首存1000</b></span>
                    <span style="display:block;text-align:center;margin-top:0px">送200彩金 + 官网领取500彩金 + Zippo打火机</span>
                    <span style="display:block;text-align:center;margin-top:0px"><b>首存3000</b></span>
                    <span style="display:block;text-align:center;margin-top:0px">送288彩金 + 官网领取588彩金 + Zippo打火机</span>
                    <span style="display:block;text-align:center;margin-top:0px"><b>首存5000</b></span>
                    <span style="display:block;text-align:center;margin-top:0px">送388彩金 + 官网领取588彩金 + 飞利浦电动牙刷</span>
                    <span style="display:block;text-align:center;margin-top:0px"><b>首存10000</b></span>
                    <span style="display:block;text-align:center;margin-top:0px">送588彩金 + 官网领取588彩金 + 飞利浦电动牙刷</span>
                    <span style="display:block;text-align:center;margin-top:0px"><b>首存30000</b></span>
                    <span style="display:block;text-align:center;margin-top:0px">送888彩金 + 官网领取588彩金 + DW手表</span>
                    <span style="display:block;text-align:center;margin-top:0px"><b>首存50000</b></span>
                    <span style="display:block;text-align:center;margin-top:0px">送1188彩金 + 官网领取588彩金 + Apple Watch 5</span>
                    <span style="display:block;text-align:center;margin-top:5px;font-size:12px"><b>官网领取方式：优惠活动→劲爆优惠→50%首存优惠</b></span>
                  </div>
                </el-tab-pane>


                <el-tab-pane label="VIP升级礼包">

                  <div class="aaa">
                    <div style="padding:1px;"></div>
                    <span style="display:block;text-align:center;margin-top:5px"><b>vip2</b>送118(客服送100，官方送18，1倍流水)</span>
                    <span style="display:block;text-align:center;margin-top:5px"><b>vip3</b>送338(客服送300，官方送38，1倍流水)</span>
                    <span style="display:block;text-align:center;margin-top:5px"><b>vip4</b>送488(客服送400，官方送88，1倍流水)</span>
                    <span style="display:block;text-align:center;margin-top:5px"><b>vip5</b>送888(客服送500，官方送388，1倍流水)</span>
                    <span style="display:block;text-align:center;margin-top:5px"><b>vip6</b>送1288(客服送600，官方送688，1倍流水)</span>
                    <span
                      style="display:block;text-align:center;margin-top:5px"><b>vip7</b>送1788(客服送800，官方送1888，1倍流水)</span>
                    <span
                      style="display:block;text-align:center;margin-top:5px"><b>vip8</b>送5688(客服送1800，官方送3888，1倍流水)</span>
                    <span
                      style="display:block;text-align:center;margin-top:5px"><b>vip9</b>送7888(客服送2000，官方送5888，1倍流水)</span>
                    <span
                      style="display:block;text-align:center;margin-top:5px"><b>vip10</b>送23888(客服送10000，官方送18888，1倍流水)</span>
                    <!--                    <span style="display:block;text-align:center;margin-top:20px">在<a href="http://m.balltvs.com"-->
                    <!--                                                                                      style="color:red;font-size:14px" target="_black">料先生</a>网站直接申请</span>-->

                  </div>
                </el-tab-pane>


                <el-tab-pane label="VIP月红包">

                  <div class="aaa">
                    <div style="padding:5px;"></div>
                    <span style="display:block;text-align:center;margin-top:5px"><b>vip2</b>客服送100，1倍流水</span>
                    <span style="display:block;text-align:center;margin-top:5px"><b>vip3</b>客服送300，1倍流水</span>
                    <span style="display:block;text-align:center;margin-top:5px"><b>vip4</b>客服送400，1倍流水</span>
                    <span style="display:block;text-align:center;margin-top:5px"><b>vip5</b>客服送500，1倍流水</span>
                    <span style="display:block;text-align:center;margin-top:5px"><b>vip6</b>客服送600，1倍流水</span>
                    <span style="display:block;text-align:center;margin-top:5px"><b>vip7</b>客服送800，1倍流水</span>
                    <span style="display:block;text-align:center;margin-top:5px"><b>vip8</b>客服送1800，1倍流水</span>
                    <span style="display:block;text-align:center;margin-top:5px"><b>vip9</b>客服送2000，1倍流水</span>
                    <span style="display:block;text-align:center;margin-top:5px"><b>vip10</b>客服送10000，1倍流水</span>
                    <!--                    <span style="display:block;text-align:center;margin-top:20px">VIP月红包每月1-3号在<a-->
                    <!--                            href="http://m.balltvs.com" style="color:red;font-size:14px" target="_black">料先生</a>网站申请</span>-->
                  </div>

                </el-tab-pane>
              </el-tabs>





            </div>

            <button class="btnk" @click="onpoen()"><img class="jt" src="../../../img/jt.png"><span class="jtspan">点击进入火狐手机版</span></button>
          </div>
        </div>
        <div style="padding: 5px;"></div>
        <div class="footrn">
          <div style="padding: 5px;"></div>
          <p style="text-align: center;color: white">平台拥有欧洲马耳他博彩管理局（MGA）、英国GC监督委员会（GamblingCommission）和菲律宾政府博彩委员会（PAGCOR）颁发的合法执照。注册于英属维尔京群岛，是受国际博彩协会认可的合法博彩公司。</p>
          <p style="text-align: center;color: white">进行注册并娱乐前，请确保您年满18周岁！</p>

        </div>
      </div>


      <video id='video'  autoplay loop muted>
        <source src="../../../vive/video-9e7297df2bc94741eebbe6e3382355ce.mp4" type="video/mp4"  />
        Your browser does not support the video tag.
      </video>




    </div>
</template>

<script>
    export default {
        name: "hub_pop",
        methods:{
            onpoen(){
                this.$router.push('/hub')
            }
        }
    }
</script>

<style scoped>
  body{
    height: 100%;
    width: 100%;
  }
  video{
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    object-fit:fill;
    right: 0px;
    bottom: 0px;
    top: 0px;
    left: 0px;
    z-index: -11;
  }
  source{
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
  }
  .footrn{
    padding-top: 5px;
    height: 15%;
    width: 100%;
    background: rgb(0,16,41);
    color: #737680;
    font-size: 12px;
  }
  .footrn>p{
    padding: 0 10px;
    line-height: 14px;
  }
  .box{
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 100;
    height: 100%;
    width: 100%;

  }
  .box_u{
    width: 100%;
    height: 85%;
    position: relative;
  }
  .box_box{
    z-index: 1000;
    width:320px;
    height: 400px;
    /*background: white;*/
    margin: auto;
  }
  .logo{
    height: 20%;
    display: block;
    margin: auto;
  }
  .box_box_one{
    margin: 10px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: rgb(119,126,170);
  }
  .box_box_two{
    margin: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: rgb(119,126,170);
  }
  .box_user{
    border-radius: 15px;
    height: 320px;
    width: 100%;
    background: rgb(51,51,51);
  }
  .ul_box{
    border-radius: 15px;
    margin:0px;
    padding: 0px;
    font-size:0px;
    list-style: none;
  }
  .ul_box>li{
    padding: 10px 0px;
    text-align: center;
    font-size:12px;
    display: inline-block;
    width: 25%;
    background: white;
    color: black;
  }
  .ul_box>li:first-child {
    border-radius: 15px  0 0  15px;
    /*background: rgb(51,51,51);*/
    /*color: white;*/
  }
  .ul_box>li:last-child{
    border-radius: 0 15px 15px 0;
  }
  .btn{
    display: block;
    border-radius: 5px;
    width: 280px;
    height: 42px;
    border: none;
    color: black;
    background: #eee;
    margin: 20px auto;
  }
  .btna{
    width: 260px;
  }
  .div_box>div>span{
    color: white;
  }
  .div_box>div>input{
    margin: 4px;
    height: 26px;
    border: none;
  }
  .div_box{
    width: 250px;
    margin: auto;
  }
  .btnk{
    cursor: pointer;
    color: white;
    border-radius: 30px;
    display: block;
    margin:25px auto;
    border: 1px solid white ;
    width: 320px;
    height: 55px;
    background: transparent;
  }
  .jt{
    margin-left: 48px;
    float: left;
    width: 35px;
    display: inline-block;
  }
  .jtspan{
    padding-top: 5px;
    margin-left: 6px;
    float: left;
    font-size: 18px;
  }
  #a{
    font-size: 12px;
    color: white;
  }
  #b{
    font-size: 12px;
    color: white;
    display: none;
  }
  #c{
    font-size: 12px;
    color: white;
    display: none;
  }
  .el-tabs--border-card{
    background: transparent!important;
    border:none!important;
  }
  .aaa{
    color: white;
    font-size: 12px;
  }
</style>
<style>
  .el-tabs__item{
    padding: 0 10px!important;
    font-size: 12px!important;
    font-weight:300!important;
  }
</style>
