<template>
  <div id="release_topic">
    <div id="nav">
      <!-- 居中 -->
      <van-nav-bar
        title="发表文章"
        left-arrow
        left-text="返回"
        @click-left="onClickLeft"
      />
      <!-- 居中 -->
      <div class="releas_topictwo">

        <van-row type="flex" justify="center">

          <van-col span="6" offset="1" class="tieletop">选择分类:</van-col>
          <van-col span="16" offset="0">
            <!--        弹出框-->
            <van-cell is-link @click="showPopup(0)">{{classification_prompt}}</van-cell>
          </van-col>

        </van-row>

        <div style="padding: 10px" ></div>

        <van-row type="flex" justify="center" v-if="trundj">

          <van-col span="6" offset="1" class="tieletop">选择赛事:</van-col>
          <van-col span="16" offset="0">
            <!--        弹出框-->
            <van-cell is-link @click="showPopup(3)">{{competition_trundj}}</van-cell>
          </van-col>

        </van-row>

        <div style="padding: 10px" v-if="trundj"></div>

        <van-row type="flex" justify="center">

          <van-col span="6" offset="1" class="tieletop">选择联赛:</van-col>
          <van-col span="16" offset="0">
            <!--        弹出框-->
            <van-cell is-link @click="showPopup(1)">{{competition_prompt}}</van-cell>
          </van-col>

        </van-row>

        <div style="padding: 10px"></div>

        <van-row type="flex" justify="center">

          <van-col span="6" offset="1" class="tieletop">输入标题:</van-col>
          <van-col span="16" offset="0">
            <!--        弹出框-->
            <van-field
              v-model="from.aTitle"
              rows="1"
              autosize
              type="textarea"
              maxlength="10"
              placeholder="请填写标题"
              show-word-limit
            />
          </van-col>

        </van-row>

        <div style="padding: 10px"></div>

        <van-row type="flex" justify="center">

          <van-col span="6" offset="1" class="tieletop">输入副标题:</van-col>
          <van-col span="16" offset="0">
            <!--        弹出框-->
            <van-field
              v-model="from.aSubtitle"
              rows="1"
              autosize
              type="textarea"
              maxlength="10"
              placeholder="请填写副标题"
              show-word-limit
            />
          </van-col>

        </van-row>

        <div style="padding: 10px"></div>

        <van-row type="flex" justify="center">

          <van-col span="6" offset="1" class="tieletop">上传主图:</van-col>
          <van-col span="16" offset="0">
            <van-uploader v-model="fileList" :after-read="afterRead" multiple
                          :max-count="1"/>
          </van-col>

        </van-row>

        <div style="padding: 10px"></div>

        <van-row type="flex" justify="center">

          <van-col span="6" offset="1" class="tieletop">填写详情:</van-col>
          <van-col span="16" offset="0">
            <van-field
              v-model="aContent"
              rows="5"
              autosize
              type="textarea"
              maxlength="200"
              placeholder="请输入"
              show-word-limit
              readonly
              @click="openh5()"
            />
          </van-col>

        </van-row>

        <!--弹出框本体-->
        <van-popup v-model="show" position="bottom"
                   :style="{ height: '35%' }">
          <van-picker :columns="columnsoption" @change="onChange"/>
        </van-popup>

        <van-popup v-model="h5show" position="bottom" :style="{ height: '90%' }">
          <editor-bar
            v-model="from.aContent"
            :isClear="isClear"
          ></editor-bar>
          <div style="margin:15px auto 0;width: 198px">
          <van-button class="h5btn"  @click="closeh5()">取消</van-button>
          <van-button class="h5btn"   color="linear-gradient(to right, #FF8737  , #FE683A)"  @click="change()">提交</van-button>
          </div>
        </van-popup>


      </div>

      <div class="buttom_box" @click.stop="release" >
        提交
      </div>
    </div>
  </div>


</template>

<script>
    import {
        //获取足球的接口
        getFootballMatchOption,
        addArticle,
        getBasketballMatchOption,
        getLeagueList,
        getComputerMatchList,

    } from "../../api/api";
    import EditorBar from "./../../components/wangeditor";
    export default {
        name: "release_topic",
        data() {
            return {
                isClear: false,
                h5show:false,
                trundj:false,
                columnsoption: [],
                leagueList: [],
                columns: ['足球', '篮球', '电竞'],
                vindex: 0,
                show: false,
                classification_prompt: '请选择',
                competition_prompt: '请选择',
                competition_trundj: '请选择',
                fileList: [],
                from: {
                    uId: '',
                    type: 1,
                    gameType: 0,
                    agId: "",
                    aSubtitle: "",
                    aTitle: "",
                    aContent: "",
                    aPic: "",
                }, fromcopy: {
                    uId: '',
                    type: 1,
                    gameType: 0,
                    agId: "",
                    aSubtitle: "",
                    aTitle: "",
                    aContent: "",
                    aPic: "",
                },
                aContent:''
            };
        },
        mounted() {

        },
        methods: {
            closeh5(){
                this.from.aContent = ''
                this.h5show=false
                this.aContent=''
            },
            change() {
                console.log(this.from.aContent);
                if(this.from.aContent && this.from.aContent!='<p><br></p>'){
                    this.h5show=false
                    this.aContent='点击查看内容'
                }else{
                    Toast.fail('未输入任何内容');
                }
            },
            openh5(){this.h5show=true},
            onClickLeft() {

            },
            onChange(picker, value, index) {
                this.show = false;
                //this.vindex==0， 时绑定分类选择，==1时绑定赛事选择，==2时，绑定电竞选择
                if (this.vindex == 0) {
                    this.classification_prompt = value;
                    this.competition_prompt= '请选择',
                    this.competition_trundj= '请选择',
                    this.from=this.fromcopy
                    this.from.type = index + 1
                    if (index == 0) {
                        getFootballMatchOption({})
                            .then(res => {
                                this.leagueList = res.data;
                                console.log(res);
                            })
                            .catch(err => {
                                this.$message.error(err.message);
                            });
                    } else if (index == 1) {
                        getBasketballMatchOption({})
                            .then(res => {
                                this.leagueList = res.data;
                                console.log(res);
                            })
                            .catch(err => {
                                this.$message.error(err.message);
                            });
                    }else {
                        this.trundj=true
                    }

                } else if (this.vindex == 1) {
                    this.competition_prompt = value;
                    //this.from.type==1， 时绑定分类选择，==2时绑定赛事选择，==3时，绑定电竞选择
                    if (this.from.type != 3) {
                        this.from.agId = this.leagueList[index].matchId
                    }else {
                        this.from.agId = this.leagueList[index].leagueId
                    }

                }else if (this.vindex == 3) {

                    this.competition_trundj = value;
                    this.from.gameType=index+1;
                    //this.from.type==1， 时绑定分类选择，==2时绑定赛事选择，==3时，绑定电竞选择
                    getLeagueList({
                        current: 1,
                        size: 100,
                        searchInt1: index+1
                    })
                        .then(res => {
                            console.log(res);
                            this.leagueList = res.data.records;
                        })
                        .catch(err => {
                            this.$message.error(err.message);
                        });

                }

                // alert(`当前值：${value}, 当前索引：${index}`);
            },

            //this.vindex=>控制进入到onChange时的节奏
            showPopup(i) {
                this.columnsoption = []

                if (i == 0) {
                    this.trundj=false
                    this.vindex = 0
                    this.columnsoption = this.columns
                } else if (i == 1) {
                    if (this.from.type) {
                        this.vindex = 1
                        let a = this.leagueList
                        if(this.from.gameType==0){
                            a.map(a => {
                                this.columnsoption.push(a.nameZh)
                            })
                        }else {
                            a.map(a => {
                                this.columnsoption.push(a.name)
                            })
                        }

                    } else {
                        this.$message.error('请先选择分类')
                    }
                }else if(i==3){
                    this.columnsoption=['英雄联盟','dota','反恐精英']
                    this.vindex = 3
                }

                this.show = true;
            },
            // 上传功能
            afterRead(file) {
                file.status = 'uploading';
                file.message = '上传中...';
                //自定义的上传图片的方法
                //1. 创建formData 利用AXIOS传递
                let formData = new FormData();
                formData.append("file", file.file);
                this.api({
                    url: "/upload/img",
                    method: "post",
                    data: formData
                })
                    .then(data => {
                        this.from.aPic = data.data;
                        // this.gfPic = data.data;
                    })
                    .catch(err => {
                        setTimeout(() => {
                            file.status = 'failed';
                            file.message = '上传失败';
                        }, 1000);
                        this.$message.error(err.message);
                    });

            },
            release() {
                let a = this.from
                if (!a.uId) {
                    this.$message.warning("用户id为空");
                } else if (!a.type) {
                    this.$message.warning("请选择分类");
                } else if (!a.agId) {
                    this.$message.warning("请选择赛事");
                } else if (!a.aTitle) {
                    this.$message.warning("请填写标题");
                } else if (!a.aSubtitle) {
                    this.$message.warning("请填写副标题");
                } else if (!a.aContent) {
                    this.$message.warning("请填写详情");
                } else if (!a.aPic) {
                    this.$message.warning("请上传主图");
                } else {
                    addArticle(a).then(res => {
                            if (res.data.flag) {
                                this.$message.success(res.data.msg)
                            }
                        }
                    ).catch(err => {
                        this.$message.error(err.message);
                    });
                }
            },
        },
        created() {
            this.from.uId = this.$route.query.uId
            // this.from.type = this.$route.query.type
        },
        components: {
            EditorBar
        },

    }
</script>

<style scoped>
  #app {
    background: rgba(246, 246, 246, 1);
    height: 100%;
    padding-bottom: 10px;
  }

  .van-nav-bar {
    background:linear-gradient(-30deg,rgba(255,135,55,1),rgba(254,104,58,1));
  }

  .van-nav-bar .van-icon {
    color: white !important;
  }

  .van-nav-bar__title {
    color: white !important;
    font-weight: 500 !important;
  }

  .releas_topictwo {
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    min-height: 265px;
    height: auto;
    background: rgba(255, 255, 255, 1);
    border-radius: 24px;
  }

  .tieletop {
    padding-top: 8px;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
  }

  /*.van-cell--clickable {*/
  /*  height: 36px;*/
  /*  background: rgba(246, 246, 246, 1);*/
  /*  border-radius: 12px;*/
  /*}*/

  .van-cell {
    background: rgba(246, 246, 246, 1);
    padding: 7px 16px !important;
    border-radius: 12px;
    min-height: 36px;
  }

  .buttom_box {
    background:linear-gradient(-30deg,rgba(255,135,55,1),rgba(254,104,58,1));
    color: white;
    font-weight: bold;
    font-size: 16px;
    width: 70%;
    margin: 30px auto;
    height: 22px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    padding: 15px;
  }
  .h5btn{
    width: 96px;
  }
  /*.van-field__control{*/
  /*  height: 36px;*/
  /*  background: rgba(246, 246, 246, 1);*/
  /*  border-radius: 12px;*/
  /*  width: 100%;*/
  /*}*/
</style>
<style>
  .van-field__word-limit {
    margin-top: -20px !important;
  }
  .w-e-toolbar{
    flex-wrap: wrap!important;
  }
  .van-nav-bar__text{
    color: white!important;
  }
</style>
