Q<template>
  <div id="topic_details">
    <div id="nav">
      <!-- 居中 -->
      <van-nav-bar
        title="话题详情"
        left-arrow
        left-text="返回"
        @click-left="onClickLeft"
      />

    </div>

    <div class="user_box">
      <div class="image_boxa" style="min-height: 120px">
        <div class="user_box_tiele">{{fromdata.aTitle}}</div>
        <div class="user_box_tow">
          <img class="user_box_tow_tx" :src="fromdata.aPic"/>
          <div class="user_box_tow_name">{{fromdata.nickName}}</div>
          <div class="user_box_tow_time">{{nowtime}}</div>
          <div class="user_box_tow_time">
            <i class="texti"></i><span class="user_box_tow_number">{{fromdata.lookCount}}</span>
          </div>
        </div>
      </div>

    </div>

    <div class="image_box">
      <div class="image_boxa" v-html="fromdata.aContent">
        {{fromdata.aContent}}
      </div>
    </div>

    <div class="comment_box">
      <div class="image_boxa">
        <div class="comment_box_top" style="padding-top: 14px;font-weight: bold">评论&nbsp;&nbsp;&nbsp;<span
          style="color: #E7E7E7FF;">{{fromdata.remarkCount}}</span></div>
        <div>

          <template v-for="a in remarkList">
          <div class="comment_box_one">
            <img class="image_b" :src="a.headUrl"/>
            <div class="image_c" >
                 <p style="font-size: 16px;color: #333333FF">{{a.nickName}}</p>
                 <div style="padding: 1px"></div>
                 <p style="font-size: 14px;color: #666666FF">{{a.arContent}}</p>
                 <div style="padding: 5px"></div>
                 <p style="font-size: 12px;color: #999999FF">{{a.datatime}}</p>
            </div>
          </div>
          </template>
        </div>
      </div>
    </div>

    <van-goods-action>
      <van-field
        clearable
        readonly
        v-model="connmde"
        left-icon="edit"
        placeholder="写评论"
        @click="openpop()"
      />

      <van-goods-action-icon class="texta" icon="good-job-o" :color="colorone?`#C5C5C5FF`:`#ff4c6aFF`" @click="onClickIcon(1)" /> <span>{{fromdata.likeCount}}</span>
      <van-goods-action-icon class="texta" icon="like-o"  :color="colortwo?`#C5C5C5FF`:`#ff4c6aFF`" @click="onClickIcon(2)" /><span>{{fromdata.collectionCount}}</span>

    </van-goods-action>


    <van-popup
      round
      v-model="show"
      closeable
      position="bottom"
      :style="{ height: '50%' }"
    >
      <van-field
        class="getzz"
        v-model="arContent"
        rows="10"
        autosize
        type="textarea"
        maxlength="200"
        placeholder="请输入评论"
        show-word-limit
      />

      <van-button color="linear-gradient(to right, #fd8976FF, #ff4c6aFF)" @click="fabucom()">发表评论</van-button>
    </van-popup>

  </div>


</template>

<script>
    import {
        //添加上传接口
        getArticleByAid,
        getRemarkList,
        addRemark,
        doArticleCollection,
        doArticleLike
    } from "../../api/api";

    export default {
        name: "topic_details",
        data() {
            return {
                arContent:'',
                show:false,
                colorone:true,
                colortwo:true,
                aId: '',
                uId: '',
                fromdata: {},
                nowtime: '',
                currentPage: 1,
                pagesize: 100,
                remarkList: [],
                connmde:''
            };
        },
        mounted() {

        },
        methods: {
            onClickLeft() {

            },
            openpop(){
                this.show=true
            },
            onClickIcon(i){
                if(i==1){
                    if(this.colorone){
                        this.colorone=false

                    }else {
                        this.colorone = true;
                    }
                    doArticleLike({
                        uId: this.uId,
                        aId: this.aId
                    })
                        .then(res => {

                            this.agetArticleByAid()

                        })
                        .catch(err => {
                            this.$message.error(err.message);
                        });
                }else if(i==2){
                    if(this.colortwo){
                        this.colortwo=false
                    }else {
                        this.colortwo=true
                    }

                    doArticleCollection({
                        uId: this.uId,
                        aId: this.aId
                    })
                        .then(res => {
                            console.log(res);
                            this.agetArticleByAid()
                            if (res.data.flag) {
                                Toast(res.data.msg);
                            } else {
                                Toast("收藏成功");
                            }
                        })
                        .catch(err => {
                            this.$message.error(err.message);
                        });
                }
            },
            fabucom(){
                if(this.arContent && this.aId){
                    addRemark({uId:this.uId,aId:this.aId,arContent:this.arContent}).then(res=>{
                        console.log(res)
                        if(res.data.flag){
                            console.log('111')
                            this.arContent=''
                            this.show=false
                            Toast(res.data.msg);
                        }else {
                            location.reload();
                        }
                    })
                }
            },
            agetArticleByAid(){
                getArticleByAid({aId: this.aId, uId: this.uId}).then(res => {
                    if (res.code === 200) {
                        this.fromdata = res.data
                        let dateTimeStamp = new Date(res.data.createTime)
                        //dateTimeStamp是一个时间毫秒，注意时间戳是秒的形式，在这个毫秒的基础上除以1000，就是十位数的时间戳。13位数的都是时间毫秒。
                        let result = ''
                        let minute = 1000 * 60;      //把分，时，天，周，半个月，一个月用毫秒表示
                        let hour = minute * 60;
                        let day = hour * 24;
                        let week = day * 7;
                        let halfamonth = day * 15;
                        let month = day * 30;
                        let now = new Date().getTime();   //获取当前时间毫秒
                        console.log(now)
                        let diffValue = now - dateTimeStamp;//时间差

                        if (diffValue < 0) {
                            return;
                        }
                        let minC = diffValue / minute;  //计算时间差的分，时，天，周，月
                        let hourC = diffValue / hour;
                        let dayC = diffValue / day;
                        let weekC = diffValue / week;
                        let monthC = diffValue / month;
                        if (monthC >= 1 && monthC <= 3) {
                            result = " " + parseInt(monthC) + "月前"
                        } else if (weekC >= 1 && weekC <= 3) {
                            result = " " + parseInt(weekC) + "周前"
                        } else if (dayC >= 1 && dayC <= 6) {
                            result = " " + parseInt(dayC) + "天前"
                        } else if (hourC >= 1 && hourC <= 23) {
                            result = " " + parseInt(hourC) + "小时前"
                        } else if (minC >= 1 && minC <= 59) {
                            result = " " + parseInt(minC) + "分钟前"
                        } else if (diffValue >= 0 && diffValue <= minute) {
                            result = "刚刚"
                        } else {
                            let datetime = new Date();
                            datetime.setTime(dateTimeStamp);
                            let Nyear = datetime.getFullYear();
                            let Nmonth = datetime.getMonth() + 1 < 10 ? "0" + (datetime.getMonth() + 1) : datetime.getMonth() + 1;
                            let Ndate = datetime.getDate() < 10 ? "0" + datetime.getDate() : datetime.getDate();
                            let Nhour = datetime.getHours() < 10 ? "0" + datetime.getHours() : datetime.getHours();
                            let Nminute = datetime.getMinutes() < 10 ? "0" + datetime.getMinutes() : datetime.getMinutes();
                            let Nsecond = datetime.getSeconds() < 10 ? "0" + datetime.getSeconds() : datetime.getSeconds();
                            result = Nyear + "-" + Nmonth + "-" + Ndate
                        }
                        this.nowtime = result;
                        console.log(result, '==>输出时间')
                    }

                })
            }
        },

        created() {
            let a=''
            let b=''
            if(this.$route.query.aId){
                sessionStorage.setItem('aId',this.$route.query.aId);
                sessionStorage.setItem('uId',this.$route.query.uid);
                a=this.$route.query.aId
                b=this.$route.query.uid
            }else {
                a=sessionStorage.getItem('aId')
                b=sessionStorage.getItem('uId')
            }
            console.log(a,'==>aid')
            console.log(b,'==>uid')
            this.aId=a
            this.uId=b
            // this.aId = 282
            // this.uId = 38
            if(this.aId){
                getRemarkList({
                    current: this.currentPage,
                    size: this.pagesize,
                    searchInt1: this.aId
                })
                    .then(res => {
                        console.log(res);
                        this.remarkList = res.data.records;
                        this.remarkList.map(a=>{
                            a.datatime=''
                            let dateTimeStamp = new Date(a.createDateStr)
                            //dateTimeStamp是一个时间毫秒，注意时间戳是秒的形式，在这个毫秒的基础上除以1000，就是十位数的时间戳。13位数的都是时间毫秒。
                            let result = ''
                            let minute = 1000 * 60;      //把分，时，天，周，半个月，一个月用毫秒表示
                            let hour = minute * 60;
                            let day = hour * 24;
                            let week = day * 7;
                            let halfamonth = day * 15;
                            let month = day * 30;
                            let now = new Date().getTime();   //获取当前时间毫秒
                            console.log(now)
                            let diffValue = now - dateTimeStamp;//时间差

                            if (diffValue < 0) {
                                return;
                            }
                            let minC = diffValue / minute;  //计算时间差的分，时，天，周，月
                            let hourC = diffValue / hour;
                            let dayC = diffValue / day;
                            let weekC = diffValue / week;
                            let monthC = diffValue / month;
                            if (monthC >= 1 && monthC <= 3) {
                                result = " " + parseInt(monthC) + "月前"
                            } else if (weekC >= 1 && weekC <= 3) {
                                result = " " + parseInt(weekC) + "周前"
                            } else if (dayC >= 1 && dayC <= 6) {
                                result = " " + parseInt(dayC) + "天前"
                            } else if (hourC >= 1 && hourC <= 23) {
                                result = " " + parseInt(hourC) + "小时前"
                            } else if (minC >= 1 && minC <= 59) {
                                result = " " + parseInt(minC) + "分钟前"
                            } else if (diffValue >= 0 && diffValue <= minute) {
                                result = "刚刚"
                            } else {
                                let datetime = new Date();
                                datetime.setTime(dateTimeStamp);
                                let Nyear = datetime.getFullYear();
                                let Nmonth = datetime.getMonth() + 1 < 10 ? "0" + (datetime.getMonth() + 1) : datetime.getMonth() + 1;
                                let Ndate = datetime.getDate() < 10 ? "0" + datetime.getDate() : datetime.getDate();
                                let Nhour = datetime.getHours() < 10 ? "0" + datetime.getHours() : datetime.getHours();
                                let Nminute = datetime.getMinutes() < 10 ? "0" + datetime.getMinutes() : datetime.getMinutes();
                                let Nsecond = datetime.getSeconds() < 10 ? "0" + datetime.getSeconds() : datetime.getSeconds();
                                result = Nyear + "-" + Nmonth + "-" + Ndate
                            }
                            a.datatime = result;
                        })

                    })
                    .catch(err => {
                        this.$message.error(err.message);
                    });
                this.agetArticleByAid()
            }
        }

    }
</script>

<style scoped>
  .user_box_tiele {
    padding: 10px;
    color: #000000FF;
    font-weight: bold;
    font-size: 16px;
  }

  .user_box {
    background-color: white;
  }

  #topic_details {
    background: rgba(246, 246, 246, 1);
    height: 100%;
  }

  .van-nav-bar {
    background: linear-gradient(-30deg,rgba(255,135,55,1),rgba(254,104,58,1));
  }

  .van-nav-bar .van-icon {
    color: white !important;
  }

  .van-nav-bar__title {
    color: white !important;
    font-weight: 500 !important;
  }

  .releas_topictwo {
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    min-height: 265px;
    height: auto;
    background: rgba(255, 255, 255, 1);
    border-radius: 24px;
  }

  .tieletop {
    padding-top: 7px;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
  }

  /*.van-cell--clickable {*/
  /*  height: 36px;*/
  /*  background: rgba(246, 246, 246, 1);*/
  /*  border-radius: 12px;*/
  /*}*/

  .van-cell {
    background: rgba(246, 246, 246, 1);
    padding: 7px 16px !important;
    border-radius: 12px;
    min-height: 36px;
  }

  .user_box_tow_tx {
    display: inline-block;
    height: 35px;
    width: 35px;
    position: absolute;
    background-color: black;
    border-radius: 50%;
    top: -9px;
  }

  .user_box_tow {
    position: relative;
    padding: 0 10px;
    margin: 15px 0;
  }

  .user_box_tow_name {
    max-width: 120px;
    margin-left: 45px;
    display: inline-block;
    color: #666666FF;
  }

  .user_box_tow_time {
    margin-left: 10px;
    display: inline-block;
    color: #666666FF;
  }

  .texti {
    background-image: url("./../../assets/切图/10.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 14px;
    display: inline-block;
    transform: scale(1.1)
  }

  /*.van-field__control{*/
  /*  height: 36px;*/
  /*  background: rgba(246, 246, 246, 1);*/
  /*  border-radius: 12px;*/
  /*  width: 100%;*/
  /*}*/
  .user_box_tow_number {
    margin-top: -0.2px;
    padding-left: 5px;
    display: inline-block;
    color: #666666FF;
  }

  .image_box {
    width: 100%;
    background-color: white;
    position: relative;
    margin: 15px 0;
    min-height: 100px;
    padding-bottom: 50px;
  }

  .image_boxa {
    color: #333333FF;
    width: 95%;
    display: block;
    margin: 0px auto;
  }

  .comment_box {
    width: 100%;
    background-color: white;
    position: relative;
    margin: 15px 0;
    min-height: 100px;
    margin-bottom:70px;
  }

  .comment_box_top {
    text-align: left;
    height: 36px;
    border-bottom: 1px solid #E9E9E9FF;
  }

  .comment_box_one {
    border-bottom: 1px solid #E9E9E9FF;
    width: 100%;
    display: inline-block;

  }
  .image_b{
    display: block;
    height: 32px;
    width: 32px;
    margin-top: 10px;
    border-radius: 50%;
    background-color: black;
    float: left;
  }
  .image_c{
    padding-bottom: 15px;
    float: left;
    display: block;
    margin-top: 16px;
    margin-left: 10px;
  }
  .van-goods-action-icon__icon{
    margin: 0 auto 0px;
  }
  .getzz{
    width: 100%!important;
    margin: 80px auto 0!important;
  }
  .van-button--normal{
    display: block;
    width: 90%;
    margin: 10px auto;
  }
  .van-cell{
    margin-left: 10px;
    width: 60%;
  }
</style>
<style>
  .van-field__word-limit {
    margin-top: -20px !important;
  }
  .van-goods-action-icon{
    min-width: 30px!important;
  }
   .image_boxa>p>img{
     width: 98%;
     display: block;
     margin: auto;
   }
  .van-nav-bar__text{
    color: white!important;
  }
</style>
