<template>
  <div id="user_agreement">
    <div id="nav">
      <!-- 居中 -->
      <van-nav-bar
        title="用户协议"
        left-arrow
        left-text="返回"
        @click-left="onClickLeft"
      />

      <div class="user_agreement_box">
       <div style="padding: 20px 20px">


        <h1>用户注册协议</h1>
        <p>提示：您正在进行火狐策略平台注册和/或即将使用火狐策略平台服务。欢迎您与火狐策略平台经营者共同签署《用户注册协议》（下或称“本协议”）本协议。
        特别提示：为维护您的合法权利，在您注册成为火狐策略用户之前，请务必认真阅读和充分理解本协议中各条款内容，特别是免除或者限制责任的条款、法律适用及争议解决条款。免除或限制责任条款将以粗体标识，您应重点阅读。除非您接受本协议所有条款，否则您无权注册、登录或使用本协议所涉及的相关服务。您注册、登录、使用或以任何方式使用本协议所涉及的相关服务的行为将视为对本协议的全部接受。如果您未申请注册流程，或者在本协议生效前您已成为火狐策略平台用户，则您通过访问和/或使用火狐策略平台，即视为您表示同意接受和遵守本协议的全部内容，否则请您不要访问或使用火狐策略平台。
        火狐策略平台服务适用于已年满十八周岁或已满16周岁且完全民事行为能力的人员。若您不满足上述条件，，请在监护人的陪同下阅读本协议并取得监护人的同意，并特别注意本协议中未成年人使用条款。
        本协议中的各条款标题仅为帮助您理解该条款表达的主旨只用，不影响或限制本协议各条款的含义或解释。
        </p>
        <h4>一、定义</h4>
        <p>火狐策略平台：（本协议中或称“本平台”）指火狐策略网站（<a href="www.hhplan.com">www.hhplan.com</a>）及客户端。</p>
        <p>火狐策略平台服务：火狐策略平台基于互联网，以包括火狐策略网站、客户端在内的各种形态向您提供的各种服务（包括咨询服务、技术服务等）</p>
        <p>火狐策略平台规则：包括用户注册协议、用户规范手册以及现有的或将来公布的各种规范、手册、规则、声明等。</p>
        <p>用户：下称“您”或“用户”，是指注册、登录、使用、浏览、获取本协议项下服务的个人或组织。</p>
        <h4>二、用户注册</h4>
        <p>您按照注册页面提示填写信息、阅读并完全同意本协议且完成全部注册程序后，即成为火狐策略平台注册用户，将获得一个账号和密码，您可通过输入账号、密码登录火狐策略平台，使用火狐策略平台服务。您应妥善保管账号密码，并对该账户下的所有行为和事件负责。</p>
        <h4>三、平台基本管理规则</h4>
        <p>1【个人信息提供要求】您在申请使用火狐策略平台服务时，必须向本平台提供真实、准确、完整有效的个人资料，如您提供的个人资料不准确、不真实、不合法、不详尽，可能导致您无法注册成为本平台用户或无法使用本平台提供的服务、服务暂停或服务终止。在您的个人资料失效或发生变更时，您应及时进行更新或修改。否则，因您提供的个人资料不准确、不真实、不合法、不详尽或更新不及时而引发的一切后果由您自行承担。</p>
        <p>2【账号密码管理】您务必妥善保管账号、密码，不得将账号、密码转让、出借或以任何脱离您控制的方式交由他人使用。如您发现账号遭他人非法使用，应立即通知本平台。因黑客行为或您的保管不当导致账号、密码遭他人非法使用，由此产生的任何责任均由您自行承担，本平台不承担任何责任。</p>
        <p>3【账号管理责任】您应当为自身注册账户下的一切行为负责，通过该账户进行的任何操作均视为您的个人行为，因该账户下行为或活动导致的您自身或本平台、其他任何第三方的任何损失或损害，您应负责妥善解决和赔偿。</p>
        <p>4【广告及消息推送】用户理解并接受火狐策略网站提供的服务中可能自行或由第三方广告商通过包括但不限于邮件、短信、电话、站内信等方式向您发送商业或非商业广告、推广或宣传信息（包括商业或非商业信息），而无需另行通知和征求您的同意。对于火狐策略平台提供的服务中出现的广告信息，您应当自行审慎判断其真实性和可靠性、安全性，并对根据该广告信息进行的交易负责，自行承担因依该广告信息进行的交易或前述广告商提供的内容而遭受的损失或损害。火狐策略不承担责任。</p>
        <p>5【使用本平台服务应遵守的原则】 用户在使用火狐策略平台服务过程中，必须遵循以下原则：</p>
        <p>5.1遵守中国有关的法律和法规；</p>
        <p>5.2遵守所有与网络服务有关的网络协议、规定和程序；</p>
        <p>5.3不得为任何非法目的、不正当目的而使用火狐策略网络服务系统；</p>
        <p>5.4不得利用火狐策略网络服务系统进行任何可能对互联网或移动网正常运转造成不利影响的行为；</p>
        <p>5.5不得利用火狐策略提供的平台服务上传、展示或传播任何虚假的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料；</p>
        <p>5.6不得侵犯火狐策略平台和其他任何第三方的专利权、著作权、商标权、名誉权或其他任何合法权益；</p>
        <p>5.7不得利用火狐策略网络服务系统进行任何不利于火狐策略的行为（包括但不限于发表任何诋毁火狐策略平台的言论等）；同时您也不得在其他任何场合有任何不利于本平台的言行。</p>
        <p>5.8不得传输或发表：煽动抗拒、破坏宪法和法律、行政法规实施的言论，煽动颠覆国家政权，推翻社会主义制度的言论，煽动分裂国家、破坏国家统一的言论，煽动民族仇恨、民族歧视、破坏民族团结的言论、煽动性别歧视、地域歧视、种族歧视的言论；</p>
        <p>5.9如发现任何非法使用用户账号或账号出现或可能出现安全漏洞的情况，应立即通知火狐策略平台。</p>
        <p>6 如您在使用火狐策略平台服务的过程中违反本协议任何规定，火狐策略平台或其授权的人员有权要求您立即更正、停止相关行为，或无需事先通知您而直接采取一切必要的措施（包括但不限于删除您发表、上传的相关内容、、暂停或永久终止您使用火狐策略平台服务的权利等），以避免因您不当或非法行为造成的负面影响的扩大。如因您违反本协议任何规定使用本平台服务导致任何第三方或本平台遭受损害的，您应当独立承担全部责任（包括但不限于赔礼道歉、消除影响、赔偿损失、以及第三方和/或本平台为维护其合法权益所产生的合理支出等）。</p>
        <h4>四、服务变更、中断或终止</h4>
        <p>1 鉴于网络服务的特殊性，您同意火狐策略平台有权根据业务发展情况随时变更、中断或终止部分或全部的网络服务而无需通知用户，也无需对任何用户或任何第三方承担任何责任；</p>
        <p>2 用户理解，火狐策略平台需要定期或不定期地对提供网络服务的平台（如互联网网站、移动网络等）或相关的设备进行检修或者维护，如因此类情况而造成网络服务在合理时间内的中断，本平台无需为此承担任何责任，但本平台应尽可能事先进行通知或公告。</p>
        <p>3 如发生下列任何一种情形，本平台有权随时中断或终止向用户提供本协议项下的平台服务（包括收费网络服务）而无需对用户或任何第三方承担任何责任：</p>
        <p>3.1用户提供的个人资料不真实；</p>
        <p>3.2用户违反相关法律法规或本协议以及本平台公布的其他管理规范或手册中的任何条款；</p>
        <p>3.3按照法律规定或主管部门的要求；</p>
        <p>3.4出于安全的原因或其他必要的情形。</p>
        <h4>五、知识产权</h4>
        <p>1 火狐策略平台提供的网络服务中包含的任何文本、图片、图形、音频和/或视频资料均受版权、商标和/或其它相关法律的保护，未经相关权利人同意，上述资料均不得用于任何商业目的。</p>
        <p>火狐策略为提供网络服务而使用的任何软件（包括但不限于软件中所含的任何图像、照片、动画、录像、录音、音乐、文字和附加程序、随附的帮助材料）的一切权利均属于该软件的著作权人，未经该软件的著作权人许可，用户不得对该软件进行反向工程（reverse engineer）、反向编译（decompile）或反汇编（disassemble）。</p>2 
        <h4>六、隐私保护</h4>
        <p>1 用户理解并同意，火狐策略能获取用户下列信息：</p>
        <p>1.1用户注册时填写的全部个人信息；</p>
        <p>1.2用户在使用火狐策略网站服务过程中火狐策略可能获得的信息，包括但不限于：</p>
        <p>(1) 用户上传到火狐策略网站的信息；</p>
        <p>(2) 用户在访问或使用火狐策略网站过程中，火狐策略网站自动接收记录的浏览器和计算机信息（包括但不限于IP地址、访问时间、软硬件设备信息、浏览记录等信息）；</p>
        <p>(3) 用户使用火狐策略网站过程中的操作痕迹及交易信息等。</p>
        <p>2 火狐策略平台注重保护用户隐私信息，火狐策略保证不对外公开或向第三方提供任何用户的注册资料及用户在使用网络服务时存储在火狐策略的非公开内容，但下列情况除外：</p></p>
        <p>2.1事先获得用户的明确授权；</p>
        <p>2.2根据有关的法律法规要求；</p>
        <p>2.3按照相关政府主管部门的要求；</p>
        <p>2.4为维护社会公众的利益；</p>
        <p>2.5为维护火狐策略的合法权益；</p>
        <p>2.6其他用户或权利人对用户在本平台的行为进行投诉或主张权利，并提供初步的权利凭证等证据材料，经本平台审核，本平台认为该等披露有必要且不违反法律强制性规定的。</p>
        <p>3 火狐策略可能会与第三方合作以便更好地向您提供相关的网络服务，在此情况下，您同意本平台将已获取或将来可能获取到的注册资料等个人信息披露给该第三方。同时，该第三方也应承担与火狐策略平台同等的保护用户隐私的注意义务和责任。</p>
        <p>4 在不透露单个用户隐私资料的前提下，火狐策略有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。</p>
        <p>5 火狐策略制定了以下四项隐私权保护原则，指导我们如何来处理产品中涉及到用户隐私权和用户信息等方面的问题:</p>
        <p>5.1利用我们收集的信息为用户提供有价值的产品和服务。</p>
        <p>5.2开发符合隐私权标准和隐私权惯例的产品。</p>
        <p>5.3将个人信息的收集透明化，并由权威第三方监督。</p>
        <p>5.4尽最大的努力保护我们掌握的信息。</p>
        <h4>七、免责条款</h4>
        <p>1 火狐策略平台不担保网络服务一定能满足用户的要求，也不担保网络服务不会中断，对网络服务的及时性、安全性、准确性、稳定性均不作出任何担保和承诺。</p>
        <p>2 火狐策略平台不保证为向用户提供便利而设置的外部链接的真实性、准确性和完整性，同时，对于该等外部链接指向的不由火狐策略实际控制的任何网页上的内容，火狐策略不承担任何责任。</p>
        <p>3对于因电信系统或互联网网络故障、计算机故障或病毒、信息损坏或丢失、计算机系统问题或其它任何不可抗力原因而产生损失，火狐策略不承担任何责任，但将尽力减少因此而给用户造成的损失和影响。</p>
        <p>4火狐策略不担保火狐策略网站所包含或以其他方式通过火狐策略网站提供给用户的全部信息、内容、产品（包括软件）、服务和从火狐策略网站发出的电子信息、信件没有病毒或其他有害成分。</p>
        <p>5 除非另有明确书面说明，火狐策略平台不对火狐策略网站的运营及其包含在火狐策略网站上的信息、内容、产品（包括软件）、服务作任何形式的、明示或默示的担保。</p>
        <p>6您了解火狐策略仅向您提供网络服务，除火狐策略官方发布的信息外，其他信息均系用户自行发布且可能存在风险和瑕疵，请您审慎判断其他用户发布信息的真实性、安全性及可靠性，您因此而遭受的损失或损害，将由您自行承担。</p>
        <p>7用户知悉并同意，火狐策略可能会与第三方合作向用户提供产品（包括但不限于游戏、第三方应用等）并由该第三方向用户提供该产品的升级、维护、客服等后续工作，由该第三方对该产品的质量问题或其本身的原因导致的一切纠纷或用户损失承担责任，用户在此同意将向该第三方主张与此有关的一切权利和损失。</p>
        <h4>八、法律适用及争议解决</h4>
        <p>1 本协议的成立、生效、履行、解释及纠纷解决，均适用中华人民共和国法律。</p>
        <p>2 因本协议引起的或与本协议有关的任何争议，各方应友好协商解决；协商不成的，任何一方均可将有关纠纷或争议提交至北京市朝阳区人民法院诉讼解决。</p>
        <h4>九、未成年人使用条款</h4>
        <p>1若用户未满18周岁，您应在监护人同意和指导下访问和/或使用火狐策略的网络服务，并且您的监护人允许您使用火狐策略的网络服务且同意本协议的各项条款。如果您是未成年人的监护人，即表示您同意约束未成年人遵守这些条款使用火狐策略的网络服务。</p>
        <p>2未成年应在监护人的指导下合理安排时间使用火狐策略的网络服务，注意避免沉迷于网络，影响正常的学习生活。</p>
        <h4>十、其他条款</h4>
        <p>1本协议内容同时包括火狐策略不时发布的其他相关协议、规则、声明、政策等内容。上述内容一经正式发布，即成为本协议不可分割的组成部分，与本协议具有同等的法律效力。</p>
        <p>2如果本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，或违反任何适用的法律，则该条款被视为删除，但本协议的其余条款仍应有效并且有约束力。</p>
        <p>3火狐策略平台有权随时根据有关法律、法规的变化以及公司经营状况和经营策略的调整等修改本协议，而无需另行单独通知用户。修改后的协议会在火狐策略网站（<a href="www.hhplan.com">www.hhplan.com</a>）上公布。用户可随时通过火狐策略网站浏览最新服务协议条款。当发生有关争议时，以最新的协议文本为准。如果不同意火狐策略对本协议相关条款所做的修改，用户应立即停止使用火狐策略平台服务。如果用户继续使用本平台服务，则视为用户接受火狐策略平台对本协议相关条款所做的增加、修改。</p>
         <p>4本协议自公布之日起生效。</p>

       </div>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: "user_agreement",
        methods: {
            onClickLeft() {

            },}
    }
</script>

<style scoped>
  .user_box_tiele {
    padding: 10px;
    color: #000000FF;
    font-weight: bold;
    font-size: 16px;
  }

  .user_box {
    background: linear-gradient(-140deg,rgba(255,135,55,1),rgba(254,104,58,1));
  }

  #user_agreement {
    background: rgba(246, 246, 246, 1);
    height: 100%;
  }

  .van-nav-bar {
    background: linear-gradient(-30deg,rgba(255,135,55,1),rgba(254,104,58,1));
  }

  .van-nav-bar .van-icon {
    color: white !important;
  }

  .van-nav-bar__title {
    color: white !important;
    font-weight: 500 !important;
  }
  .user_agreement_box{
    width: 95%;
    display: block;
    margin: auto;
    background-color: white;
    min-height: 250px;
  }
  h1{
    color: #1a1c1e;
    text-align: center;
    font-size: 18px;
  }
  p{
    font-size: 14px;
  }
  h4{
    font-size: 16px;
    color: #1a1c1e;
  }
</style>
<style>
  .van-nav-bar__text{
    color: white!important;
  }
</style>
