<template>
  <div>
     <router-view v-if="isRouterAlive"></router-view>
  </div>
</template>
<script>
  export default {
    name: "app",
    provide() {
      return {
        reload: this.reload,

      };
    },
    data() {
      return {
        isRouterAlive: true,
        screenWidth: document.body.clientWidth,
        scroll: "",
        timer: false
      };
    },
    watch: {
      screenWidth(val) {
        // 为了避免频繁触发resize函数导致页面卡顿，使用定时器
        if (!this.timer) {
          // 一旦监听到的screenWidth值改变，就将其重新赋给data里的screenWidth
          this.screenWidth = val;
          this.timer = true;
          let that = this;
          setTimeout(function () {
            // 打印screenWidth变化的值
            that.timer = false;
          }, 400);
        }
      }
    },
    mounted() {
      const that = this;
      window.addEventListener("scroll", this.menu);
      window.onresize = () => {
        return (() => {
          window.screenWidth = document.body.clientWidth;
          that.screenWidth = window.screenWidth;
        })();
      };
    },
    methods: {
      menu() {
        this.scroll =
          document.documentElement.scrollTop || document.body.scrollTop;
      },
      reload() {
        this.isRouterAlive = false;
        this.$nextTick(function () {
          this.isRouterAlive = true;
        });
      }
    }
  };
</script>

<style>
  .isScroll1 {
    overflow-x: scroll !important;
    /*width: 1200px;*/
  }

  .layout {
    height: 100%;
  }

  body {
    margin: 0px;
    background-color: #f6f6f6;
  }

  #app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
  }

  a,.a:link,.a:visited,.a:hover,.a:active{
    text-decoration: none;
    color:inherit;
  }

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }

  body {
    line-height: 1;
  }

  ol, ul {
    list-style: none;
  }

  blockquote, q {
    quotes: none;
  }

  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  body {
    margin: 0;
    font-family: Arial, 'Microsoft YaHei' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    /*背景颜色*/

    box-shadow:0 0 0 60px white inset;
    /*字的颜色*/
    -webkit-text-fill-color: #878787;}
</style>

