<template>
  <div class="home">
    <div class="contentCenter">
      <div class="login">
        <div class="loginBox">
          <div class="loginTittle">
            <span :class="{ 'isSelect': loginways===1}" @click="loginWay(1)">密码登录</span>
            <span :class="{ 'isSelect': loginways===2}" @click="loginWay(2)">短信登录</span>
          </div>
          <div class="loginConter" v-if="loginways==1">
            <div class="loginAccount">
              <i></i>
              <input type="text" placeholder="请输入手机号" v-model="formPass.uPhone"/>
            </div>
            <div class="loginPassword">
              <i></i>
              <input type="password" placeholder="请输入密码" v-model="formPass.uPwd"/>
              <span @click="()=>{$router.push('/forgetPassword')}">忘记密码</span>
            </div>
            <div class="registerBtn">
              <span @click="jumpTo1('/registered')">立即注册</span>
            </div>
            <button class="sumbitBut" @click="loginPass">登录</button>
            <p>
              登录既代表您已经同意
              <span>[用户协议]</span>
              <span>[隐私政策]</span>
            </p>
          </div>

          <div class="loginConter" v-if="loginways==2">
            <div class="loginAccount">
              <i></i>
              <input type="text" placeholder="请输入手机号" v-model="formSms.uPhone"/>
            </div>
            <div class="loginPassword">
              <i></i>
              <input type="password" placeholder="请输入验证码" v-model="formSms.code"/>
              <span @click="sendCode" v-show="show">获取验证码</span>
              <span v-show="!show">{{count}}秒</span>
            </div>
            <div class="registerBtn">
              <span @click="jumpTo1('/registered')">立即注册</span>
            </div>
            <button class="sumbitBut" @click="loginSms">登录</button>
            <p>
              登录既代表您已经同意
              <span>[用户协议]</span>
              <span>[隐私政策]</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {sendCode} from "../../api/api";
  import Cookies from "js-cookie";

  export default {
    name: "login",
    data() {
      return {
        //控制秒与时间的开关
        show: true,
        count: "",
        timer: null,
        activeIndex: "1",
        input3: "",
        select: "1",
        theGame: "homepage",
        loginways: 1,
        formPass: {
          type: 1,
          uPhone: "",
          uPwd: ""
        },
        formSms: {
          type: 2,
          uPhone: "",
          code: ""
        }
      };
    },
    mounted() {
    },
    components: {},
    methods: {
      //验证码获取
      sendCode() {
        if (this.formSms.uPhone == "") {
          this.$message.warning("手机号码不得为空");
          return false;
        }
        //设置验证时间为60S
        const TIME_COUNT = 60;
        //!this.timer==>true,计时器打开
        if (!this.timer) {
          this.count = TIME_COUNT;
          this.show = false;
          this.timer = setInterval(() => {
            if (this.count > 0 && this.count <= TIME_COUNT) {
              this.count--;
            } else {
              this.show = true;
              //情况计时器
              clearInterval(this.timer);
              this.timer = null;
            }
          }, 1000);
        }

        sendCode({
          type: 3,
          uPhone: this.formSms.uPhone
        })
          .then(res => {
            this.$message.success('验证码发送成功');
            return false;
          })
          .catch(err => {
            this.$message.error(err);
          });
      },
      loginWay(ways) {
        this.loginways = ways;
      },
      //短信登录
      loginSms(name) {
        if (this.formSms.uPhone == "") {
          this.$message.warning("手机号输入栏不得为空");
        } else if (this.formSms.code == "") {
          this.$message.warning("验证码输入栏不得为空");
        } else {
          this.$store
            .dispatch("LoginSms", this.formSms)
            .then(res => {
              if (res.data.flag) {
                this.$message.success(res.data.msg);
              } else {
                this.$message.success("登录成功");
                this.$router.push({path: "/homepage"});
              }
              if (Cookies.get("activeIndex") != null) {
                this.$router.push({path: Cookies.get("activeIndex")});
              } else {
                this.$router.push({path: "/homepage"});
              }
            })
            .catch(error => {

              this.$message.error(error);
            });
        }
      },
      //密码登录
      loginPass() {
        if (this.formPass.uPhone == "") {
          this.$message.warning("手机号输入栏不得为空");
        } else if (this.formPass.uPwd == "") {
          this.$message.warning("密码输入栏不得为空");
        } else {
          // console.log('ddd',Cookies.get("activeIndex"))
          this.$store
            .dispatch("Login", this.formPass)
            .then(res => {

              if (res.data.flag) {
                this.$message.success(res.data.msg);
              } else {
                this.$router.push({path: "/homepage"});
                this.$message.success("登录成功");
Ï              }

              if (Cookies.get("activeIndex") != null) {
                this.$router.push({path: Cookies.get("activeIndex")});
              } else {
                this.$router.push({path: "/homepage"});
              }
            })
            .catch(error => {
              this.$message.error(error);
            });
        }
      },
      jumpTo(addrees, game) {
        this.$router.push({
          path: addrees
        });
        this.theGame = game;
      },
      jumpTo1(addrees) {
        this.$router.push({
          path: addrees
        });
      }
    },
    created() {
      let that = this;
      document.onkeypress = function (e) {
        var keycode = document.all ? event.keyCode : e.which;
        if (keycode == 13) {
          that.loginPass();// 登录方法名   13433893292    kingserlin123
          return false;
        }
      };
    }
  };
</script>

<style lang="less" scoped>
  .home {
    .isActing {
      color: rgba(254, 95, 57, 1) !important;
    }

    .topLogoSearch {
      width: 100%;
      height: 80px;
      background-color: rgba(255, 255, 255, 1);

      .topLogoSearchCenter {
        width: 80%;
        height: 80px;
        margin: 0 auto;
        line-height: 80px;

        .logoDix {
          height: 80px;
          float: left;
          display: flex;
          align-items: center;

          #logoImg {
            width: 120px;
            height: 30px;
          }
        }

        .menuUi {
          margin-left: 20px;
          height: 80px;
          width: 50%;
          display: inline-block;
          padding-left: 120px;

          li {
            float: left;
            height: 80px;
            font-size: 16px;
            font-weight: bold;
            color: rgba(51, 51, 51, 1);
            width: 150px;
            text-align: center;
          }
        }

        .topLogoSearchCenterRight {
          height: 80px;
          float: right;
          display: flex;
          align-items: center;

          .input-with-select {
            float: right;

            input {
              background-color: rgb(246, 246, 246) !important;
              border: none;
            }
          }

          button {
            width: 51px;
            height: 40px;
            background: linear-gradient(-30deg,
            rgba(255, 135, 55, 1),
            rgba(254, 85, 58, 1));
            border-radius: 6px;
            outline: none;
            border: none;
            cursor: pointer;
            margin-left: 8px;

            img {
              display: inline-block;
              width: 15px;
              height: 15px;
            }
          }

          i {
            display: inline-block;
            margin-left: 50px;
            width: 40px;
            height: 40px;
            background-color: #f4f4f4;
            border-radius: 50%;

            #heads {
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }

    .contentCenter {
      height: 100%;
      width: 100%;

      .loginBox {
        width: 600px;
        height: 637px;
        border-radius: 12px;
        margin: auto;
        margin-top: 19px;

        .loginTittle {
          width: 100%;
          height: 85px;
          background: linear-gradient(-30deg,
          rgba(253, 137, 118, 1),
          rgba(255, 76, 106, 1));
          border-top-left-radius: 12px;
          border-top-right-radius: 12px;
          display: flex;
          align-items: center;
          justify-content: center;

          .isSelect {
            font-size: 24px !important;
            color: rgba(51, 51, 51, 1) !important;
            text-decoration: none;
          }

          span {
            cursor: pointer;
            margin-right: 28px;
            color: white;
            font-size: 16px;
            text-decoration: underline;
          }
        }

        .loginConter {
          width: 100%;
          height: 552px;
          background-color: #ffffff;
          border-bottom-left-radius: 12px;
          border-bottom-right-radius: 12px;
          display: flex;
          align-items: center;
          flex-direction: column;

          .loginAccount {
            display: flex;
            align-items: center;
            margin-top: 80px;
            height: 70px;
            width: 345px;
            border-bottom: 1px solid rgba(235, 235, 235, 1);

            i {
              width: 20px;
              height: 20px;
              display: inline-block;
              background-image: url("./../../assets/账号.png");
              background-repeat: no-repeat;
            }

            input {
              height: 66px;
              width: 320px;
              border: none;
              outline: none;
              font-size: 16px;
              color: rgba(178, 178, 178, 1);
              padding-left: 20px;
            }
          }

          .loginPassword {
            display: flex;
            align-items: center;
            margin-top: 30px;
            height: 70px;
            width: 345px;
            border-bottom: 1px solid rgba(235, 235, 235, 1);

            i {
              width: 20px;
              height: 20px;
              display: inline-block;
              background-image: url("./../../assets/密码.png");
              background-repeat: no-repeat;
            }

            input {
              height: 66px;
              width: 210px;
              margin-right: 10px;
              border: none;
              outline: none;
              font-size: 16px;
              color: rgba(178, 178, 178, 1);
              padding-left: 20px;
            }

            span {
              display: inline-block;
              padding-left: 10px;
              padding-right: 10px;
              text-align: center;
              height: 40px;
              line-height: 40px;
              font-size: 12px;
              cursor: pointer;
              background: #e8e8e8;
              color: black;
              border-radius: 5px;
            }
          }

          .registerBtn {
            margin-top: 15px;
            width: 345px;
            text-align: right;

            span {
              cursor: pointer;
              font-size: 14px;
              margin-right: 15px;
              color: rgba(102, 102, 102, 1);
            }
          }

          .sumbitBut {
            margin-top: 50px;
            margin-bottom: 15px;
            width: 343px;
            height: 47px;
            background: linear-gradient(-30deg,
            rgba(253, 137, 118, 1),
            rgba(255, 76, 106, 1));
            border-radius: 7px;
            outline: none;
            cursor: pointer;
            border: none;
            font-size: 16px;
            color: rgba(255, 255, 255, 1);
          }

          p {
            margin-top: 10px;
            color: rgba(153, 153, 153, 1);
            font-size: 12px;
            text-align: center;

            span {
              cursor: pointer;
              color: black;
            }
          }
        }
      }
    }
  }
</style>
