<template>
  <div class="home">
    <!-- 顶部logo搜索栏 -->
    <!-- <div class="topLogoSearch">
      <div class="topLogoSearchCenter">
        <div class="logoDix">
          <img src="./../../assets/logo.png" alt="logo图" id="logoImg" />
        </div>

        <ul class="menuUi">
          <li>首页</li>
          <li>大神推荐</li>
          <li>红人榜</li>
          <li>论坛版块</li>
        </ul>

        <div class="topLogoSearchCenterRight">
          <el-input placeholder v-model="input3" class="input-with-select">
            <el-select v-model="select" slot="prepend" placeholder>
              <el-option label="文章" value="1"></el-option>
            </el-select>
          </el-input>
          <button>
            <img src="./../../assets/搜索 (1).png" alt="搜索" />
          </button>
          <i>
            <img src="./../../assets/头像.png" alt="头像" id="heads" />
          </i>
        </div>
      </div>
    </div>-->

    <!-- 居中内容展示栏 -->
    <div class="contentCenter">
      <div class="registered">
        <div class="loginBox">
          <div class="loginTittle">
            <span>注册</span>
          </div>
          <div class="loginConter">
            <div class="loginAccount">
              <i></i>
              <input type="text" placeholder="请输入手机号" v-model="uPhone"/>
            </div>

            <div class="loginCode">
              <i></i>
              <input type="text" placeholder="请输入验证码" v-model="code"/>
              <span @click="sendCode" v-show="show">获取验证码</span>
              <span v-show="!show">{{count}}秒</span>
            </div>
            <div class="loginPassword">
              <i></i>
              <input type="password" placeholder="请输入密码" v-model="uPwd"/>
            </div>


            <!--            <div class="registerBtn">-->
            <!--              <span @click="jumpLogin">登录</span>-->
            <!--            </div>-->


            <button class="sumbitBut" @click="registered">确定</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
  //注册页面

  import {sendCode, registerUser} from "../../api/api";

  export default {
    name: "registered",
    data() {
      return {
        show: true,
        count: "",
        timer: null,
        activeIndex: "1",
        input3: "",
        select: "1",
        theGame: "homepage",
        uPhone: "",
        code: "",
        uPwd: "",
        //添加新的参数
        loginForm: {uPhone: '', uPwd: ''}
      };
    },
    mounted() {
    },
    components: {},
    methods: {
      jumpTo(addrees, game) {
        this.$router.push({
          path: addrees
        });
        this.theGame = game;
      },
      jumpLogin() {
        this.$router.push({path: "/"});
      },
      sendCode() {
        if (this.uPhone == "") {
          this.$message.warning("手机号码不得为空");
          return false;
        }

        const TIME_COUNT = 60;
        if (!this.timer) {
          this.count = TIME_COUNT;
          this.show = false;
          this.timer = setInterval(() => {
            if (this.count > 0 && this.count <= TIME_COUNT) {
              this.count--;
            } else {
              this.show = true;
              clearInterval(this.timer);
              this.timer = null;
            }
          }, 1000);
        }

        sendCode({
          type: 1,
          uPhone: this.uPhone
        })
          .then(res => {
            this.$message.success('验证码发送成功');
            return false;
          })
          .catch(err => {
            this.$message.error(err);
          });
      },
      registered() {
        this.loginForm.uPhone = this.uPhone
        this.loginForm.uPwd = this.uPwd
        // debugger;
        registerUser({
          uPwd: this.uPwd,
          code: this.code,
          uPhone: this.uPhone
        }).then(res => {
          console.log('注册成功')
          console.log(res);
          //修改代码插入，内容修改，注册成功后之前跳转到主页
          this.$store
            .dispatch("Login", this.loginForm)
            .then(res => {
              if (res.data.flag) {
                this.$router.push({path: "/homepage"});
                this.$message.success(res.data.msg);
                console.log('==>测试出口1')
              } else {
                console.log('==>测试出口2')
                this.$message.success("登录成功");
                this.$router.push({path: "/homepage"});
              }
            })
            .catch(error => {
              this.$message.error(error);
            })
          return false;
        })
          .catch(err => {
            this.$message.error(err);
          });
        return false;
      }
    }
  };
</script>

<style lang="less" scoped>
  .home {
    .isActing {
      color: rgba(254, 95, 57, 1) !important;
    }

    .topLogoSearch {
      width: 100%;
      height: 80px;
      background-color: rgba(255, 255, 255, 1);

      .topLogoSearchCenter {
        width: 80%;
        height: 80px;
        margin: 0 auto;
        line-height: 80px;

        .logoDix {
          height: 80px;
          float: left;
          display: flex;
          align-items: center;

          #logoImg {
            width: 120px;
            height: 30px;
          }
        }

        .menuUi {
          margin-left: 20px;
          height: 80px;
          width: 50%;
          display: inline-block;
          padding-left: 120px;

          li {
            float: left;
            height: 80px;
            font-size: 16px;
            font-weight: bold;
            color: rgba(51, 51, 51, 1);
            width: 150px;
            text-align: center;
          }
        }

        .topLogoSearchCenterRight {
          height: 80px;
          float: right;
          display: flex;
          align-items: center;

          .input-with-select {
            float: right;

            input {
              background-color: rgb(246, 246, 246) !important;
              border: none;
            }
          }

          button {
            width: 51px;
            height: 40px;
            background: linear-gradient(-30deg,
            rgba(255, 135, 55, 1),
            rgba(254, 85, 58, 1));
            border-radius: 6px;
            outline: none;
            border: none;
            cursor: pointer;
            margin-left: 8px;

            img {
              display: inline-block;
              width: 15px;
              height: 15px;
            }
          }

          i {
            display: inline-block;
            margin-left: 50px;
            width: 40px;
            height: 40px;
            background-color: #f4f4f4;
            border-radius: 50%;

            #heads {
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }

    .contentCenter {
      height: 100%;
      width: 100%;

      .registered {
        width: 600px;
        height: 637px;
        border-radius: 12px;
        margin: auto;
        margin-top: 19px;

        .registerBtn {
          margin-top: 10px;
          width: 345px;
          text-align: right;

          span {
            cursor: pointer;
            font-size: 16px;
            color: rgba(102, 102, 102, 1);
          }
        }

        .loginTittle {
          width: 100%;
          height: 85px;
          background: linear-gradient(-30deg,
          rgba(253, 137, 118, 1),
          rgba(255, 76, 106, 1));
          border-top-left-radius: 12px;
          border-top-right-radius: 12px;
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            color: rgba(51, 51, 51, 1);
            font-size: 24px;
          }
        }

        .loginConter {
          width: 100%;
          height: 552px;
          background-color: #ffffff;
          border-bottom-left-radius: 12px;
          border-bottom-right-radius: 12px;
          display: flex;
          align-items: center;
          flex-direction: column;

          .loginAccount {
            display: flex;
            align-items: center;
            margin-top: 80px;
            height: 70px;
            width: 345px;
            border-bottom: 1px solid rgba(235, 235, 235, 1);

            i {
              width: 20px;
              height: 20px;
              display: inline-block;
              background-image: url("./../../assets/账号.png");
              background-repeat: no-repeat;
            }

            input {
              height: 66px;
              width: 320px;
              border: none;
              outline: none;
              font-size: 16px;
              color: rgba(178, 178, 178, 1);
              padding-left: 20px;
            }
          }

          .loginCode {
            display: flex;
            align-items: center;
            margin-top: 30px;
            height: 70px;
            width: 345px;
            border-bottom: 1px solid rgba(235, 235, 235, 1);

            i {
              width: 20px;
              height: 20px;
              display: inline-block;
              background-image: url("./../../assets/密码.png");
              background-repeat: no-repeat;
            }

            input {
              height: 66px;
              width: 210px;
              margin-right: 10px;
              border: none;
              outline: none;
              font-size: 16px;
              color: rgba(178, 178, 178, 1);
              padding-left: 20px;
            }

            span {
              display: inline-block;
              padding-left: 10px;
              padding-right: 10px;
              text-align: center;
              height: 40px;
              line-height: 40px;
              font-size: 12px;
              color: rgba(0, 105, 235, 1);
              cursor: pointer;
              background: #e8e8e8;
              color: black;
              border-radius: 5px;
            }
          }

          .loginPassword {
            display: flex;
            align-items: center;
            margin-top: 30px;
            height: 70px;
            width: 345px;
            border-bottom: 1px solid rgba(235, 235, 235, 1);

            i {
              width: 20px;
              height: 20px;
              display: inline-block;
              background-image: url("./../../assets/密码.png");
              background-repeat: no-repeat;
            }

            input {
              height: 66px;
              width: 320px;
              margin-right: 10px;
              border: none;
              outline: none;
              font-size: 16px;
              color: rgba(178, 178, 178, 1);
              padding-left: 20px;
            }
          }

          .sumbitBut {
            margin-top: 50px;
            width: 343px;
            height: 47px;
            background: linear-gradient(-30deg,
            rgba(253, 137, 118, 1),
            rgba(255, 76, 106, 1));
            border-radius: 7px;
            outline: none;
            cursor: pointer;
            border: none;
            font-size: 16px;
            color: rgba(255, 255, 255, 1);
          }
        }
      }
    }
  }
</style>
